@import "src/constants/style";

.create-template {
  display: grid;
  grid-template-columns: $spacing--xs auto auto auto auto $spacing--xs;
  grid-template-rows: $spacing--xs auto auto auto auto 1fr auto $spacing--xs;
  grid-template-areas:
    ".  .          .           .             .       ."
    ".  .          dropdown    password      .       ."
    ".  .          info        info          .       ."
    ".  .          name        name          .       ."
    ".  .          description description   .       ."
    ".  columns    columns     columns       columns ."
    ".  .          .           buttons       .       ."
    ".  .          .           .             .       .";

  width: 100%;
  height: 100%;
}

.create-template__dropdown {
  grid-area: dropdown;
}

.create-template__password {
  grid-area: password;
}

.create-template__info {
  grid-area: info;
  display: flex;
  gap: $spacing--xs;

  &-icon {
    width: 28px;
    height: 28px;
  }

  &-text {
    font-size: $text--sm;
    font-weight: 400;
  }
}

.create-template__name {
  grid-area: name;
}

.create-template__description {
  grid-area: description;
}

.create-template__columns {
  grid-area: columns;
}

.create-template__buttons {
  grid-area: buttons;
}
