@use "constants/styles";
@use "../NoteAuthorList";

$skeleton-name-width: 92px;

.note-author-skeleton {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

.note-author-skeleton__avatar {
  width: NoteAuthorList.$avatar-size;
  height: NoteAuthorList.$avatar-size;
  border-radius: 100%;
  overflow: hidden;
  background-color: styles.$gray--300;
}

.note-author-skeleton__name {
  height: styles.$text-size--small;
  width: $skeleton-name-width;
  border-radius: 4px;
  background-color: styles.$gray--300;
}

[data-theme="dark"] {
  .note-author-skeleton__avatar {
    background-color: styles.$navy--600;

    img {
      background-blend-mode: luminosity;
      opacity: 0.8;
    }
  }

  .note-author-skeleton__name {
    background-color: styles.$navy--600;
  }
}
