@import "constants/style.scss";

$dropdown__width: 245px;
$dropdown__item-height: 48px;

.dropdown {
  box-sizing: border-box;
  position: absolute;
  width: $dropdown__width;
  max-height: 0;
  transition: none;
  overflow: hidden;
  padding: 0;
  margin: 0;
  background-color: $color-white;
  z-index: -1;
}
@media (prefers-color-scheme: dark) {
  .dropdown {
    background-color: $color-dark-mode-note;
  }
}
.dropdown-item--open .dropdown {
  height: auto;
  max-height: 500px;
  transition: max-height 0.5s linear;
}

.dropdown__main > ul,
.dropdown__footer > ul {
  list-style: none;
  padding: 0;
}
.dropdown__main {
  margin: 10px 0;
}
.dropdown__main:not(:last-child) {
  margin-bottom: 0;
}

.dropdown__footer {
  position: relative;
  border: {
    top: 1px solid;
    bottom: 0;
    color: $color-light-gray;
  }
  margin-bottom: 10px;
}

.dropdown__item,
.dropdown__item-button {
  height: $dropdown__item-height;
  width: 100%;
  background-color: $color-white;
  position: relative;
  box-sizing: border-box;
}
@media (prefers-color-scheme: dark) {
  .dropdown__item,
  .dropdown__item-button {
    background-color: $color-dark-mode-note;
  }
}

.dropdown__item-button > button {
  background-color: transparent;
  border: none;
  height: 100%;
  width: 100%;
  outline: 0;
}

.dropdown__item:hover,
.dropdown__item-button > button:focus,
.dropdown__item-button:hover {
  background-color: $hover-background-light;
}
@media (prefers-color-scheme: dark) {
  .dropdown__item:hover,
  .dropdown__item-button > button:focus,
  .dropdown__item-button:hover {
    background-color: $hover-background-dark;
  }
}
.dropdown__item:not(:last-child),
.dropdown__item-button:not(:last-child) {
  border: {
    bottom: 1px solid;
    top: 0;
    image: linear-gradient(to right, transparent 0px, transparent 49px, $color-light-gray 50px, $color-light-gray 240px) 1;
  }
}
