@use "constants/styles";

.dropdown {
  position: relative;

  cursor: pointer;
  user-select: none;

  // applying border-radius: $rounded-large leaves some pixels visible, when hovering,
  // but targeting the specific corners seems to work
  border-top-left-radius: styles.$rounded--large;
  border-top-right-radius: styles.$rounded--large;

  &:not(&--open) {
    border-bottom-left-radius: styles.$rounded--large;
    border-bottom-right-radius: styles.$rounded--large;
  }
}

.dropdown__option {
  display: flex;
  flex-direction: row;
  gap: styles.$spacing--base;
  align-items: center;

  box-sizing: border-box;
  padding: 14px styles.$spacing--md;

  font-size: styles.$text--base;
  font-weight: 700;

  overflow: hidden;

  // first item (active) always has top border radius,
  // but only bottom if the menu isn't expanded.
  &--active {
    border-top-right-radius: styles.$rounded--large;
    border-top-left-radius: styles.$rounded--large;
  }

  &:last-child {
    border-bottom-left-radius: styles.$rounded--large;
    border-bottom-right-radius: styles.$rounded--large;
  }
}

.dropdown__options-container {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;

  border-bottom-left-radius: styles.$rounded--large;
  border-bottom-right-radius: styles.$rounded--large;
}

.dropdown__option-icon {
  display: flex;
  justify-content: center;
  align-items: center;

  width: styles.$icon--large;
  height: styles.$icon--large;
}

.dropdown__option-arrow {
  display: flex;
  justify-content: center;
  align-items: center;

  width: styles.$icon--large;
  height: styles.$icon--large;

  margin-left: auto;

  &--up {
    transform: rotate(180deg);
  }
}

// color logic is separate to clarify what's going on:
// different styles for hovering options when dropdown is open or closed
// closed:
//  default: kinda opaque text, analogue to input fields
//  hover: more visible text
// open:
//  default: visible text by default
//  hover: color & background changes
.dropdown {
  background-color: styles.$gray--000;
}

// to help with border radius overlap
.dropdown__options-container {
  background-color: styles.$gray--000;
}

.dropdown__option {
  background-color: styles.$gray--000;
}

.dropdown {
  &--open {
    .dropdown__options-container {
      // clip top of box shadow, since it's absolute and below a different element
      box-shadow: 0 3px 12px rgba(styles.$navy--700, 0.12);
      clip-path: inset(0px -10px -10px -10px);
    }

    .dropdown__option {
      color: styles.$navy--500;

      &:hover {
        color: styles.$navy--500;
        background-color: styles.$gray--200;
      }
    }
  }

  &:not(&--open) {
    .dropdown__option {
      color: styles.$gray--800;

      &:hover {
        color: styles.$navy--500;
      }
    }
  }
}

// same goes for dark mode
[data-theme="dark"] {
  .dropdown {
    background-color: styles.$navy--400;
  }

  .dropdown__options-container {
    background-color: styles.$navy--400;
  }

  .dropdown__option {
    background-color: styles.$navy--400;
  }

  .dropdown {
    &--open {
      .dropdown__option {
        color: styles.$gray--000;

        &:hover {
          color: styles.$navy--500;
          background-color: styles.$gray--800;
        }
      }
    }

    &:not(&--open) {
      .dropdown__option {
        color: styles.$gray--800;

        &:hover {
          color: styles.$gray--000;
        }
      }
    }
  }
}
