@import "constants/style";

.dropdown {
  position: relative;
  border-radius: $rounded--large;

  background-color: $gray--000;

  cursor: pointer;
  user-select: none;

  &--open {
    .dropdown__options-container {
      // TODO fix box shadow
      // box-shadow: 0 3px 12px rgba(var(--navy--700-rgb), 0.12);
    }
  }
}

.dropdown__option {
  display: flex;
  flex-direction: row;
  gap: $spacing--base;
  align-items: center;

  padding: 14px $spacing--md;

  font-size: $text--base;
  font-weight: 700;

  color: $navy--400;

  overflow: hidden;
  background-color: $gray--000;

  // first item (active) always has top border radius,
  // but only bottom if the menu isn't expanded.
  &--active {
    border-top-right-radius: $rounded--large;
    border-top-left-radius: $rounded--large;
  }

  &:last-child {
    border-bottom-left-radius: $rounded--large;
    border-bottom-right-radius: $rounded--large;
  }

  &:hover {
    background-color: $gray--300;
  }
}

.dropdown__options-container {
  position: absolute;
  left: 0;
  right: 0;

  background-color: $gray--000;

  border-bottom-left-radius: $rounded--large;
  border-bottom-right-radius: $rounded--large;
}

.dropdown__option-icon {
  display: flex;
  justify-content: center;
  align-items: center;

  width: $icon--large;
  height: $icon--large;
}

.dropdown__option-arrow {
  display: flex;
  justify-content: center;
  align-items: center;

  width: $icon--large;
  height: $icon--large;

  margin-left: auto;

  &--up {
    transform: rotate(180deg);
  }
}
