@import "src/constants/style";
@import "../SettingsDialog";

.participants__search-input-wrapper {
  position: relative;
  height: 40px;
  width: 100%;

  &:hover::before,
  &:focus-within::before {
    content: "";
    position: absolute;
    top: -3px;
    right: -3px;
    bottom: -3px;
    left: -3px;
    border: 2px solid var(--accent-color);
    border-radius: $rounded--full;
    pointer-events: none;
  }
}
.participants__search-input {
  height: 40px;
  width: 100%;
  padding: 0 calc($padding--default + $icon--medium + $padding--small) 0 $padding--default;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: $letter-spacing--medium;
  color: $color-black;
  background-color: $color-white;
  border: none;
  border-radius: $rounded--full;
  outline: none;
}

.participants__search-icon {
  position: absolute;
  height: 100%;
  width: $icon--medium;
  color: $color-black;
  right: $padding--default;
}

.participants__filter-buttons {
  margin-top: $margin--small;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.participants__permisson-filter-button {
  height: 42px;
  background-color: $color-white;
  color: $color-black;
  border: none;
  border-radius: $rounded--full;
  padding: 0 10px;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: $letter-spacing--medium;
  cursor: pointer;

  &--active {
    background-color: var(--accent-color);
    color: $color-white;
  }
  &:focus {
    outline: 2px solid var(--accent-color);
  }
}
@media (hover: hover) {
  .participants__permisson-filter-button:hover {
    background-color: var(--accent-color--desaturated-light);
    color: $color-black;
  }
}
@media screen and (min-width: 920px) {
  .participants__permisson-filter-button {
    padding: 0 $padding--default;
  }
}

.participant__status-filter-button {
  height: 42px;
  width: 42px;
  border: none;
  border-radius: $rounded--full;
  background-color: $color-white;
  color: $color-black;
  padding: 0;
  cursor: pointer;

  &--active {
    background-color: var(--accent-color);
    color: $color-white;
  }
  &:focus {
    outline: 2px solid var(--accent-color);
  }
  > svg {
    height: $icon--medium;
    width: $icon--medium;
  }
}
@media (hover: hover) {
  .participant__status-filter-button:hover {
    background-color: var(--accent-color--desaturated-light);
    color: $color-black;
  }
}

.participants__list-wrapper {
  overflow: auto;
  margin: $margin--default 0px;
  border-radius: $rounded--default;
  margin-bottom: auto;

  @include scrollbar();
}

.participants__list {
  border-radius: $rounded--default;
  list-style-type: none;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.participants__list-scrollable {
  padding-right: $padding--medium;
}

.participants__list-item {
  height: 55px;
  background-color: $color-white;
  padding: $margin--small;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: $margin--small;

  &:not(:last-child) {
    border-bottom: 1px solid $color-lighter-gray;
  }
}

.participant__avatar {
  flex-shrink: 0;
}

.participant__name-role-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 4px;
  overflow: hidden;
}

.participant__name {
  font-size: 14px;
  font-weight: bold;
  letter-spacing: $letter-spacing--medium;
  line-height: 18px;
  color: $color-black;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.participant__role {
  height: 16px;
  font-size: $text-size--small;
  border-radius: $rounded--full;
  padding: 0 $padding--small;
  font-weight: 500;
  letter-spacing: $letter-spacing--medium;
  background-color: var(--accent-color);
  color: $color-white;
  width: fit-content;

  &:is(button) {
    line-height: 12px;
    background-color: $color-white;
    border: 2px solid var(--accent-color--desaturated-light);
    color: $color-black;
    cursor: pointer;
  }
  &:is(button):hover,
  &:is(button):focus {
    outline: none;
    border-color: var(--accent-color--desaturated-light);
    background-color: var(--accent-color--desaturated-light);
  }
  &--active:is(button),
  &--active:is(button):hover {
    cursor: default;
    border-color: var(--accent-color);
    background-color: var(--accent-color);
    color: $color-white;
  }
}

.participant__role-buttons {
  display: flex;
  flex-direction: row;
  gap: $margin--small;
}

.participants-reset-state-banner__container {
  margin-top: auto; // position at the very bottom
  margin-left: -$settings-dialog-container--sides-small;

  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;

  width: calc(100% + 2 * $settings-dialog-container--sides-small); // overflow over parent margin

  background-color: $color-lighter-gray;

  transform: translateY(100%);
  transition: transform ease-in-out 0.3s;
}

.participants-reset-state-banner__container--is-active {
  transform: translateY(0);
}

.participants-reset-state-banner__icon-and-text {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 4px;
}

.participants-reset-state-banner__check-icon {
  width: $icon--large;
  height: $icon--large;
  min-width: $icon--large;
  min-height: $icon--large;
}

.participants-reset-state-banner__text {
  color: $menu-icon-background-color--dark;
  font-weight: 600;
}

@media screen and (min-width: 920px) {
  // SettingsDialog changes margin here, so we have to do the same
  .participants-reset-state-banner__container {
    width: calc(100% + 2 * $settings-dialog-container--sides-large);
    margin-left: -$settings-dialog-container--sides-large;
  }
}

[theme="dark"] {
  .participants__search-input {
    background-color: $color-dark-mode-note;
    color: $color-white;
  }
  .participants__search-icon {
    color: $color-white;
  }
  .participants__permisson-filter-button,
  .participant__status-filter-button {
    background-color: $color-dark-mode-note;
    color: $color-white;
    &--active {
      background-color: var(--accent-color);
      color: $color-white;
    }
  }
  @media (hover: hover) {
    .participants__permisson-filter-button:hover,
    .participant__status-filter-button:hover {
      background-color: var(--accent-color--desaturated-dark);
      color: $color-white;
    }
  }
  .participants__list-item {
    background-color: $color-dark-mode-note;
    &:not(:last-child) {
      border-bottom: 1px solid $color-dark-one;
    }
  }
  .participant__name {
    color: $color-white;
  }
  .participant__role {
    &:is(button) {
      background-color: $color-dark-mode-note;
      border: 2px solid var(--accent-color--desaturated-dark);
      color: $color-white;
    }
    &:is(button):hover {
      background-color: var(--accent-color--desaturated-dark);
    }
    &--active:is(button),
    &--active:is(button):hover {
      background-color: var(--accent-color);
      border-color: var(--accent-color);
    }
  }

  .participants-reset-state-banner__container {
    background-color: $color-dark-mode-note;
  }

  .participants-reset-state-banner__check-icon,
  .participants-reset-state-banner__text {
    color: $color-white;
  }
}
