@import "src/constants/style.scss";

$note__border-radius: 16px;
$note__box-shadow-color: rgba(0, 87, 255, 0.16);
$note__box-shadow-color-dark-mode: rgba(0, 0, 0, 0.2);

$note__indicator-height: 34px;
$note__indicator-width: 3px;

$note__author-image-size: 26px;

.note__root {
  list-style-type: none;
  position: relative;
}

.note {
  cursor: pointer;
  padding: $padding--default $padding--medium;
  position: relative;
  border-radius: $note__border-radius;
  background-color: $color-white;
  box-shadow: 0 6px 9px 0 $note__box-shadow-color;
  transition: transform 0.1s ease-in-out, box-shadow 0.1s ease-in-out;
  z-index: $note-z-index;
}

.note .note__user-avatar {
  height: 34px;
  width: 34px;
  padding: 0;
  margin-bottom: 4px;
}

.note__in-stack {
  position: absolute;
  width: calc(100% - 16px);
  height: 100%;
  top: 8px;
  left: 8px;
  opacity: 0.95;
  border-radius: $note__border-radius;
  box-shadow: 0 6px 9px 0 $note__box-shadow-color;
  background-color: $color-white;
  z-index: $note-z-index - $base-z-index-step;
}
[theme="dark"] {
  .note__in-stack {
    background-color: $color-dark-mode-note;
    box-shadow: 0 6px 9px 0 $note__box-shadow-color-dark-mode;
  }
}

[theme="dark"] {
  .note {
    background-color: $color-dark-mode-note;
    box-shadow: 0 6px 9px 0 $note__box-shadow-color-dark-mode;
  }
}

.note:focus-within,
.note:focus {
  outline: 2px solid rgba(var(--accent-color-rgb), 0.5);
}
.note:hover {
  transform: scale(1.02);
}
.note--isDragging {
  opacity: 0.5;
}
.note--isOver {
  padding: 14px 18px;
  border: 2px solid var(--accent-color);
}
.note--own-card::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  width: $note__indicator-width;
  height: $note__indicator-height;
  border-radius: 0 $note__indicator-width $note__indicator-width 0;
  background: var(--accent-color);
}

.note__text {
  margin: 0;
  margin-bottom: $margin--small;
  min-height: 3 * $line-height--medium;
  width: 100%;
  color: $color-black;
  font-size: $text-size--medium;
  letter-spacing: $letter-spacing--medium;
  line-height: $line-height--medium;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  word-break: keep-all;
}
[theme="dark"] {
  .note__text {
    color: $color-white;
  }
}

.note__footer {
  position: relative;
  height: 26px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.note__author {
  display: inline-flex;
  align-items: center;
  // reset css from figure-element:
  margin: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  flex-grow: 0;
  height: 35px;
  padding: 0 $margin--default 0 0;
}

.note__author--self {
  background: var(--accent-color--desaturated-light);
  border-radius: 21px;
  padding-left: 2px;
}

.note__author--self > .note__user-avatar #Circle-Background {
  stroke: none;
}

.note__author--self > .note__author-name {
  color: $color-black;
}

[theme="dark"] {
  .note__author--self {
    background: var(--accent-color--desaturated-dark);
  }

  .note__author--self > .note__author-name {
    color: $color-white;
    font-weight: bold;
  }

}

.note__author-image {
  height: $note__author-image-size;
  width: $note__author-image-size;
  border-radius: 100%;
}

.note__author-name {
  margin-left: $margin--small;
  color: $color-dark-gray;
  font-size: $text-size--small;
  letter-spacing: $letter-spacing--small;
  line-height: $line-height--small;
}

.note__delete-button {
  display: none;
}

.note__delete-button--visible {
  display: block;
}

.note__root-disabled-click {
  cursor: not-allowed;
}

.note__disabled-click {
  pointer-events: none;
}
