@use "constants/styles";

.scrumlr-logo__paths {
  fill: styles.$blue--500;

  path {
    transition: all 0.08s ease-out;
  }
}

.scrumlr-logo {
  height: 48px;
  overflow: visible;
}

.scrumlr-logo__stop {
  stop-color: var(--accent-color--light);
}

[data-theme="dark"] {
  .scrumlr-logo__paths {
    fill: styles.$gray--000;
  }

  .scrumlr-logo__stop {
    stop-color: var(--accent-color--dark);
  }
}

.scrumlr-logo--mobile {
  min-width: 44px;
}

.scrumlr-logo--desktop {
  display: none;
}

@media screen and (min-width: 768px) {
  .scrumlr-logo--desktop {
    display: initial;
  }

  .scrumlr-logo--mobile {
    display: none;
  }
}
