// TODO these classes are just examples and can be removed in the future
.accent-color--red {
  --accent-color: red;
}

.accent-color--blue {
  --accent-color: blue;
}

.scrumlr-logo {
  fill: blue;
}

@media (prefers-color-scheme: dark) {
  .scrumlr-logo {
    fill: white;
  }
}
.scrumlr-logo__stop {
  stop-color: blue;
  stop-color: var(--accent-color);
}

@media (prefers-color-scheme: dark) {
  .scrumlr-logo__stop {
    stop-color: white;
    stop-color: var(--accent-color);
  }
}