@use "constants/style";

.access-settings__wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
}

.access-settings {
  display: flex;
  flex-direction: column;
  gap: style.$spacing--xl;
  overflow-y: auto;

  width: 37%;

  padding: 40px style.$spacing--xl style.$spacing--xl style.$spacing--xl;

  border-radius: style.$rounded--default;
  background-color: style.$gray--000;

  box-shadow: 0 6px 32px 0 rgba(style.$blue--500, 0.26);
}

.access-settings__header {
  display: flex;
  justify-content: center;
}

.access-settings__title {
  color: style.$navy--900;
  font-size: style.$text--lg;
  font-weight: 700;

  padding-bottom: style.$spacing--xxs;
  border-bottom: 3px solid style.$blue--500;
}

.access-settings__footer {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  gap: style.$spacing--md;
}

.access-settings__hint {
  color: style.$gray--800;
}

@media screen and (max-width: style.$breakpoint--smartphone) {
  .access-settings__wrapper {
    padding: style.$spacing--xs;
  }

  .access-settings {
    height: 90%;
    width: 85%;
    gap: style.$spacing--md;

    padding: style.$spacing--xl style.$spacing--base style.$spacing--base style.$spacing--base;
  }
}

[theme="dark"] {
  .access-settings {
    background-color: style.$navy--400;

    box-shadow: 0 6px 32px 0 rgba(style.$blue--400, 0.26);
  }

  .access-settings__title {
    color: style.$gray--000;
    border-color: style.$blue--400;
  }
}
