@use "constants/styles";

.access-settings__wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
}

.access-settings {
  display: flex;
  flex-direction: column;
  gap: styles.$spacing--xl;
  overflow-y: auto;

  width: 37%;

  padding: 40px styles.$spacing--xl styles.$spacing--xl styles.$spacing--xl;

  border-radius: styles.$rounded--default;
  background-color: styles.$gray--000;

  box-shadow: 0 6px 32px 0 rgba(styles.$blue--500, 0.26);
}

.access-settings__header {
  display: flex;
  justify-content: center;
}

.access-settings__title {
  color: styles.$navy--900;
  font-size: styles.$text--lg;
  font-weight: 700;

  padding-bottom: styles.$spacing--xxs;
  border-bottom: 3px solid styles.$blue--500;
}

.access-settings__footer {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  gap: styles.$spacing--md;
}

.access-settings__hint {
  color: styles.$gray--800;
}

@media screen and (max-width: styles.$breakpoint--smartphone) {
  .access-settings__wrapper {
    padding: styles.$spacing--xs;
  }

  .access-settings {
    height: 90%;
    width: 85%;
    gap: styles.$spacing--md;

    padding: styles.$spacing--xl styles.$spacing--base styles.$spacing--base styles.$spacing--base;
  }
}

[data-theme="dark"] {
  .access-settings {
    background-color: styles.$navy--400;

    box-shadow: 0 6px 32px 0 rgba(styles.$blue--400, 0.26);
  }

  .access-settings__title {
    color: styles.$gray--000;
    border-color: styles.$blue--400;
  }
}
