@use "constants/styles";

$card-width: 480px;
$card-height: 320px;
$icon-size: 80px;

.file-dropzone-card {
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: $card-width;
  height: $card-height;
  border-radius: styles.$rounded--default;
  border: 3px dashed styles.$blue--500;

  box-sizing: border-box; // prevent overflow
  padding: 0 40px 14px 40px;
  text-align: center;

  background-color: styles.$blue--50;

  cursor: pointer;

  &:hover {
    background-color: styles.$blue--100;
    box-shadow: 0 6px 32px 0 rgba(styles.$blue--500, 0.26);
  }

  &--dragging-over {
    background-color: styles.$blue--100;
    border-style: solid;
    box-shadow: 0 6px 32px 0 rgba(styles.$blue--500, 0.26);
  }

  &:active {
    background-color: styles.$blue--200;
  }
}

.file-dropzone-card__icon {
  width: $icon-size;
  height: $icon-size;
  color: styles.$blue--500;
}

.file-dropzone-card__title {
  font-size: styles.$text--lg;
  font-weight: 600;
  line-height: 28px;

  color: styles.$blue--500;
}

.file-dropzone-card__description {
  font-size: styles.$text--base;
  font-weight: 400;
  line-height: 24px;

  color: styles.$blue--500;
}

[data-theme="dark"] {
  .file-dropzone-card {
    background-color: rgba(styles.$blue--400, 0.08);
    border-color: styles.$blue--400;

    &:active {
      background-color: rgba(styles.$blue--400, 0.2);
    }
  }
}
