@import "constants/style";

$column-width: 158px;
$column-height: 340px;

.template-column {
  display: flex;
  flex-direction: column;
  gap: $spacing--xl;

  width: $column-width;
  height: $column-height;

  padding: $spacing--md $spacing--base;

  border: $spacing--xxs solid var(--accent-color--light);

  z-index: $base-z-index;

  &--even {
    background-color: $gray--200;
  }
  &--odd {
    background-color: $gray--100;
  }

  &--border {
    &-first {
      border-right: none;
    }
    &-center {
      border-left: none;
      border-right: none;
    }
    &-last {
      border-left: none;
    }
  }

  &--active-drag {
    border: $spacing--xxs dashed var(--accent-color--light);
    z-index: $base-z-index + $base-z-index-step; // display dragged item above others
  }
}

.template-column__name {
  align-self: flex-start; // only take as much space as needed
  padding-right: $spacing--xs; // extend border to the right

  font-size: $text--base;
  font-weight: 600;
  color: $gray--800;
  border-bottom: 2px solid var(--accent-color--light);
}

.template-column__menu {
  display: flex;
  flex-direction: column;
  gap: $spacing--xl; // TODO proper gaps
  align-items: center;
}

.template-column__icon {
  width: $icon--large;
  height: $icon--large;

  &--dnd {
    width: 22px;
    height: 15px;
  }
}

.template-column__drag-element {
  cursor: grab;

  &--dragging {
    cursor: grabbing;
  }
}

// temporary!
.template-column__color {
  width: 20px;
  height: 20px;
  border-radius: $rounded--full;
  background-color: var(--accent-color--light);
}
