@import "constants/style";

// hard coded for now
$column-width: 158px;
$column-height: 339px;

.template-column {
  display: flex;
  flex-direction: column;
  gap: $spacing--xl;

  width: $column-width;
  height: $column-height;

  padding: $spacing--md $spacing--base;

  border: $spacing--xxs solid var(--accent-color--light);

  z-index: $base-z-index;

  &--even {
    background-color: $gray--200;
  }
  &--odd {
    background-color: $gray--100;
  }

  &--border {
    &-first {
      border-right: none;
    }
    &-center {
      border-left: none;
      border-right: none;
    }
    &-last {
      border-left: none;
    }
  }

  &--active-drag {
    border: $spacing--xxs dashed var(--accent-color--light);
    z-index: $base-z-index + $base-z-index-step; // display dragged item above others
  }
}

.template-column__drag-element {
  cursor: grab;

  &--dragging {
    cursor: grabbing;
  }
}

// temporary!
.template-column__color {
  width: 20px;
  height: 20px;
  border-radius: $rounded--full;
  background-color: var(--accent-color--light);
}
