@import "constants/style";

$card-height: 220px;
$icon-size: 80px;

.create-board-card {
  all: unset;

  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: $card-height;
  border-radius: $rounded--default;
  border: 3px dashed #0057ff;

  box-sizing: border-box; // don't overflow
  padding: 0 40px 14px 40px; // non standard, I know

  background-color: #ccddff;

  cursor: pointer;

  &:hover {
    box-shadow: 0 6px 32px 0 rgba(0, 87, 255, 0.26);
  }

  &:focus {
    background-color: $color-white;
  }

  &:active {
    background-color: #99bcff;
  }

  &:disabled {
    background-color: #eeeff1;
    border-color: #8f95a1;
    box-shadow: none;
    cursor: unset;

    .create-board-card__icon,
    .create-board-card__title {
      color: #8f95a1;
    }
  }
}

.create-board-card__icon {
  width: $icon-size;
  height: $icon-size;
  color: #0057ff;
}

.create-board-card__title {
  font-size: $text--lg;
  font-weight: 600;
  line-height: 28px;

  color: #0057ff;
}
