@import "constants/style";

$padding--default: $spacing--base;
$padding--mobile: 12.5px $spacing--base;

.input__root {
  display: flex;
  flex-direction: column;
  gap: $spacing--xs;
}

.input {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: $spacing--xs;

  width: 100%;
  padding: $padding--default;
  border-radius: $rounded--full;

  background-color: $gray--000;

  &--height-normal {
    height: 60px;
  }

  &--height-larger {
    height: 64px;
  }

  &:not(&--disabled) {
    // TODO increase padding-left by 8px if no icon is present
    @include default-states($padding: $padding--default);

    .input__icon-container {
      &--error {
        color: $critical-carmine--light;
      }
    }

    // alternatively, this could be split up and put in their respective classes,
    // which might be more readable but also requires a little bit more code
    &:hover,
    &:focus-within {
      .input__icon-container--search-icon {
        color: $navy--600;
      }

      .input__input {
        color: $navy--600;
      }
    }

    &:has(.input__input--invalid) {
      @include invalid-state($padding: $padding--default);
    }
  }

  &--disabled {
    background-color: $gray--300;

    .input__icon-container {
      &--search-icon,
      &--clear-icon {
        color: $gray--800;
      }
    }
  }
}

.input__icon-container {
  width: $icon--large;
  height: $icon--large;

  &--search-icon {
    color: $gray--800;
  }

  &--clear-icon {
    cursor: pointer;
  }
}

.input__input {
  width: 100%;
  padding: 0;
  margin: 0;
  border: none;

  font-size: $text--base;
  font-weight: 600;
  line-height: $text--xl;

  color: $gray--800;
  background-color: $gray--000;

  &[type="password"] {
    font-size: $text--lg;
    font-weight: 900;
    letter-spacing: 0.125em;
  }

  &:focus {
    outline: none;

    color: $navy--600;
  }

  &::placeholder {
    opacity: 100%;
    font-size: $text--base;
    font-weight: 600;
    letter-spacing: initial;
  }

  &:disabled {
    background-color: $gray--300;
  }
}

.input__error {
  font-size: $text--xs;
  font-weight: 400;
  line-height: $text--sm;

  color: $critical-carmine--light;
}

@media screen and (max-width: $breakpoint--smartphone) {
  .input {
    padding: $padding--mobile;

    &:not(&--disabled) {
      @include default-states($padding: $padding--mobile);
    }
  }
}

[theme="dark"] {
  .input {
    background-color: $navy--400;

    &:not(&--disabled) {
      .input__icon-container {
        &--error {
          color: $critical-carmine--dark;
        }
      }

      &:hover,
      &:focus-within {
        .input__icon-container--search-icon {
          color: $gray--000;
        }

        .input__input {
          color: $gray--000;
        }
      }
    }

    &--disabled {
      background-color: $navy--700;

      .input__icon-container {
        &--search-icon,
        &--clear-icon {
          color: $navy--300;
        }
      }
    }
  }

  .input__input {
    color: $blue--50;
    background-color: $navy--400;

    &:disabled {
      color: $navy--300;
      background-color: $navy--700;
    }
  }

  .input__icon-container {
    &--search-icon,
    &--clear-icon {
      color: $blue--50;
    }
  }

  .input__error {
    color: $critical-carmine--dark;
  }
}
