@use "constants/style";

$padding--default: style.$spacing--base;
$padding--mobile: 12.5px style.$spacing--base;

.input__root {
  display: flex;
  flex-direction: column;
  gap: style.$spacing--xs;

  width: 100%;
}

.input {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: style.$spacing--xs;

  width: 100%;
  padding: $padding--default;
  border-radius: style.$rounded--full;

  background-color: style.$gray--000;

  &--height-normal {
    height: 60px;
  }

  &--height-larger {
    height: 64px;
  }

  &:not(&--disabled) {
    // TODO increase padding-left by 8px if no icon is present
    @include style.default-states($padding: $padding--default);

    .input__icon-container {
      &--error {
        color: style.$critical-carmine--light;
      }
    }

    // alternatively, this could be split up and put in their respective classes,
    // which might be more readable but also requires a little bit more code
    &:hover,
    &:focus-within {
      .input__icon-container--search-icon {
        color: style.$navy--600;
      }

      .input__input {
        color: style.$navy--600;

        &::selection {
          background-color: style.$blue--50;
        }
      }
    }

    &:has(.input__input--invalid) {
      @include style.invalid-state($padding: $padding--default);
    }
  }

  &--disabled {
    background-color: style.$gray--300;

    .input__icon-container {
      &--search-icon,
      &--clear-icon {
        color: style.$gray--800;
      }
    }
  }
}

.input__icon-container {
  width: style.$icon--large;
  height: style.$icon--large;

  &--search-icon {
    color: style.$gray--800;
  }

  &--clear-icon {
    cursor: pointer;
  }
}

.input__input {
  width: 100%;
  padding: 0;
  margin: 0;
  border: none;

  font-size: style.$text--base;
  font-weight: 600;
  line-height: style.$text--xl;

  color: style.$gray--800;
  background-color: style.$gray--000;

  &[type="password"] {
    font-size: style.$text--lg;
    font-weight: 900;
    letter-spacing: 0.125em;
  }

  &:focus {
    outline: none;

    color: style.$navy--600;
  }

  &::placeholder {
    opacity: 100%;
    font-size: style.$text--base;
    font-weight: 600;
    letter-spacing: initial;
  }

  &:disabled {
    background-color: style.$gray--300;
  }
}

.input__error {
  font-size: style.$text--xs;
  font-weight: 400;
  line-height: style.$text--sm;

  color: style.$critical-carmine--light;
}

@media screen and (max-width: style.$breakpoint--smartphone) {
  .input {
    padding: $padding--mobile;

    &:not(&--disabled) {
      @include style.default-states($padding: $padding--mobile);
    }
  }
}

[theme="dark"] {
  .input {
    background-color: style.$navy--400;

    &:not(&--disabled) {
      .input__icon-container {
        &--error {
          color: style.$critical-carmine--dark;
        }
      }

      &:hover,
      &:focus-within {
        .input__icon-container--search-icon {
          color: style.$gray--000;
        }

        .input__input {
          color: style.$gray--000;
        }
      }
    }

    &--disabled {
      background-color: style.$navy--700;

      .input__icon-container {
        &--search-icon,
        &--clear-icon {
          color: style.$navy--300;
        }
      }
    }
  }

  .input__input {
    color: style.$blue--50;
    background-color: style.$navy--400;

    &:disabled {
      color: style.$navy--300;
      background-color: style.$navy--700;
    }
  }

  .input__icon-container {
    &--search-icon,
    &--clear-icon {
      color: style.$blue--50;
    }

    &--password-hidden,
    &--password-visible {
      color: style.$gray--000;
    }
  }

  .input__error {
    color: style.$critical-carmine--dark;
  }
}
