@import "src/constants/style";

.onboarding-tooltip {
  border-radius: $rounded--default;
  padding: 1rem;
  min-width: 250px;
  max-width: 550px;
  display: flex;
  &.img-top {
    flex-direction: column;
  }
  &.img-right {
    flex-direction: row-reverse;
  }
  &.img-bottom {
    flex-direction: column-reverse;
  }
  &__img {
    overflow: hidden;
    display: inline-flex;
    justify-content: center;
    min-width: 90px;
    max-width: 90px;
    height: auto;
    & img,
    svg {
      width: 100%;
      height: auto;
    }
  }
  &__content {
    padding: 1rem;
    font-size: $text--md;
    // letter-spacing: $letter-spacing--medium;
    line-height: $line-height--medium;
    display: flex;
    flex-direction: column;
    &-text {
      margin-bottom: 1rem;
    }
    & .button {
      width: fit-content;
      border-radius: $rounded--default;
    }
  }
}
