@import "src/constants/style";

.onboarding-path-modal {
  display: grid;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 10000;
  transform: translate(-50%, -50%);
  padding: 1rem 1.5rem;
  width: 600px;

  border-top: 6px solid $color-retro-red;
  border-left: 6px solid $color-backlog-blue;
  border-right: 6px solid $color-online-orange;
  border-bottom: 6px solid $color-goal-green;
  border-radius: $rounded--default;
  background-color: $color-white;
  color: $color-dark-one;

  grid-template-areas:
    "title title"
    "content image";
  grid-template-columns: 1fr auto;

  &__title {
    grid-area: title;
    text-align: center;
    font-size: 24px;
    margin-bottom: 1rem;
    & h2 {
      margin: 0;
    }
  }
  &__content {
    grid-area: content;
    white-space: pre-wrap;
  }
  &__text {
    padding: 1rem;
    border-radius: $rounded--default;
    border-bottom-right-radius: 0;
    border: 3px solid $color-backlog-blue;
    white-space: pre-wrap;
    margin-bottom: 1rem;
  }
  &__img {
    grid-area: image;
    margin-left: 1rem;
    & svg {
      margin-top: 3.5rem;
      width: 100px;
      height: 100px;
    }
  }

  &__close {
    position: absolute;
    width: $icon--extralarge;
    height: $icon--extralarge;
    border-radius: $rounded--full;
    background-color: $color-white-one;
    color: $color-retro-red;
    border: 2px solid $color-retro-red;
    outline: none;
    padding: 0;
    top: -20px;
    right: -20px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.08s ease-out;
    &:hover {
      cursor: pointer;
      transform: scale(1.02);
      color: $color-white-one;
      background-color: $color-retro-red;
    }
    & > svg {
      height: 100%;
      width: 100%;
    }
  }
}

.onboarding-path__moderator {
  margin-left: 1rem;
  background-color: $color-retro-red;
}
.onboarding-path__participant {
  background-color: $color-retro-red-disabled;
  &:hover {
    cursor: not-allowed;
  }
}
.onboarding-retro_explanation {
  height: 2rem;
  background-color: transparent;
  border: 2px solid $color-backlog-blue;
  color: $color-backlog-blue;
  margin-top: 1rem;
}
