@import "src/constants/style";

.onboarding-tooltip {
  border-radius: $rounded--default;
  padding: 1rem;
  min-width: 250px;
  max-width: 550px;
  display: flex;
  &.img-top {
    flex-direction: column;
  }
  &.img-right {
    flex-direction: row-reverse;
  }
  &.img-bottom {
    flex-direction: column-reverse;
  }
  &__img {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-width: 90px;
    max-width: 90px;
    height: auto;
    & img,
    svg {
      width: 100%;
      height: auto;
    }
    & .button {
      width: fit-content;
      padding: 0 1.75rem;
      border-radius: $rounded--large;
    }
  }
  &__content {
    margin-left: 1rem;
    margin-top: 2rem;
    padding: 0.5rem;
    padding-bottom: 1rem;
    font-size: $text--md;
    line-height: $line-height--medium;
    white-space: pre-wrap;
    border-radius: $rounded--default;
    border-top-left-radius: 0;
    border: 3px solid $color-backlog-blue;
    height: fit-content;
  }
}

.onboarding-ok,
.onboarding-next {
  background-color: $color-backlog-blue;
  padding: 0 2rem;
  border-radius: $rounded--default;
}

.onboarding-skip {
  background-color: transparent;
  color: $color-backlog-blue;
  border: 1px solid $color-backlog-blue;
  height: 32px;
  margin-top: 0.5rem;
}
