@import "src/constants/style.scss";

$note__border-radius: 16px;

$color-backlog-blue-transparent: rgba(0, 87, 255, 0.25);

.print-view__portal {
  background-color: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(10px);
}

.print-view__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $color-white;
  overflow: visible;
  width: 870px;
  padding: $padding--large;
}

.print-view__title-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: $margin--large;
}

.print-view__title-text {
  color: $color-black;
  font-size: 32px;
  font-weight: bold;
  letter-spacing: $letter-spacing--large;
  line-height: 40px;
  margin: 0;
}

.print-view__title-date {
  font-size: $text-size--medium;
  color: $color-black;
}

.print-view__column-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: $margin--default;
}

.print-view__column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  background-color: $color-white;
  color: $color-black;
}

.print-view__column-header-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0;
  margin: $margin--small 0 $margin--default 0;
}

.print-view__column-header-text {
  font-size: $text-size--large;
  margin: 0;
  font-weight: bold;
  letter-spacing: $letter-spacing--large;
  line-height: $line-height--large;
  color: $color-black;
  border-bottom: solid 3px $color-backlog-blue;
}

.print-view__column-header-card-count {
  font-size: $text-size--medium;
  color: $color-darker-gray;
}

.print-view__note {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: $margin--small;
  padding: $padding--small;
  border: 2px solid $color-backlog-blue-transparent;
  border-radius: $note__border-radius;
}

.print-view__note-text {
  margin: 0 0 $margin--medium 0;
}

.print-view__note-info-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.print-view__note-info-author {
  margin-top: auto;
  color: $color-darker-gray;
}

.print-view__note-info-votes {
  border-radius: 50px;
  padding: $padding--small 12px;
  background: $color-backlog-blue-transparent;
  color: $color-backlog-blue;
  font-weight: bold;
}
