@import "src/constants/style.scss";

.note-text-content--url {
  display: inline-block;
  max-width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: top; /* align with the rest of the text */
  color: $color-board-reaction-name-self--light;
}
