---
version: 2
updates:
  # Client
  - package-ecosystem: npm
    allow:
      - dependency-type: "direct"
    directory: "/"
    schedule:
      interval: daily
    cooldown:
      default-days: 10
    open-pull-requests-limit: 10
    target-branch: "main"
    labels:
      - "Dependencies"
    versioning-strategy: increase
    commit-message:
      prefix: "yarn"
      include: "scope"

  # Server
  - package-ecosystem: "gomod"
    allow:
      - dependency-type: "direct"
    directory: "/server/src"
    schedule:
      interval: "daily"
    cooldown:
      default-days: 10
    open-pull-requests-limit: 10
    target-branch: "main"
    labels:
      - "Dependencies"
    commit-message:
      prefix: "go"
      include: "scope"
    groups:
      redis:
        patterns:
          - "github.com/redis/go-redis/*"
      bun:
        patterns:
          - "github.com/uptrace/bun"
          - "github.com/uptrace/bun/*"
      testcontainers:
        patterns:
          - "github.com/testcontainers/*"
      go/opentelemetry:
        patterns:
          - "go.opentelemetry.io/otel"
          - "go.opentelemetry.io/otel/*"
          - "go.opentelemetry.io/contrib/*"
