@import "constants/style";

@media screen and (min-width: 600px) and (max-width: 767px) {
  .timer-dialog {
    left: calc(50% - 139px + 28px + 18px - 200px);
    bottom: 100px;
    top: auto;
    right: auto;
    height: auto;
  }
  .timer-dialog::before {
    content: " ";
    position: absolute;
    left: calc(50% - 15px);
    top: 100%;
    border-width: 15px;
    border-style: solid;
    border-color: $color-planning-pink transparent transparent transparent;
  }
  .timer-dialog::after {
    content: " ";
    position: absolute;
    left: calc(50% - 11px);
    top: 100%;
    border-width: 11px;
    border-style: solid;
    border-color: $color-white-one transparent transparent transparent;
  }
  [theme="dark"] .timer-dialog::after {
    border-color: $color-dark-mode transparent transparent transparent;
  }
}
@media #{$tablet} {
  #portal {
    .timer-dialog {
      top: calc(50% - 105px - 25px + 46px);
      right: 100px;
      left: auto;
      bottom: auto;
      height: auto;
    }

    .timer-dialog::before {
      content: " ";
      position: absolute;
      left: 100%;
      top: 10px;
      border-width: 15px;
      border-style: solid;
      border-color: transparent transparent transparent $color-planning-pink;
    }

    .timer-dialog::after {
      content: " ";
      position: absolute;
      left: 100%;
      top: 15px;
      border-width: 10px;
      border-style: solid;
      border-color: transparent transparent transparent $color-white-one;
    }
  }

  [theme="dark"] {
    #portal .timer-dialog::after {
      border-color: transparent transparent transparent $color-dark-mode;
    }
  }
}

.timer-dialog__time-button {
  height: 32px;
  width: 32px;
  border: none;
  border-radius: 16px;
  background-color: transparent;
  cursor: pointer;
  position: absolute;
  top: 8px;
  padding: 0;
  transition: all 0.08s ease-out;

  &:first-of-type {
    right: 80px;
  }

  &:last-of-type {
    right: 24px;
  }

  &:hover {
    filter: brightness(1.4);
    transform: scale(1.1);
  }

  &:active {
    transform: scale(1);
  }
}

.timer-dialog__time-label {
  position: absolute;
  top: 8px;
  right: 56px;
  height: 32px;
  width: 24px;
  text-align: center;
  line-height: 32px;
  cursor: col-resize;
  font-size: $text-size--medium;
  user-select: none;
  -webkit-touch-callout: none;
  -webit-user-select: none;
}

.timer-dialog__button-icon {
  position: absolute;
  top: 8px;
  right: 24px;
}
