@import "src/constants/style";

.note-reaction-list__root {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: $reaction__gap-size;
}

.note-reaction-list__reaction-bar-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: $reaction__gap-size;

  padding-left: $reaction-list__left-spacing; // line up icon with Note header

  border-radius: $rounded--full;

  &--active {
    background-color: $color-lighter-gray;
  }
}

.note-reaction-list__add-reaction-sticker-container {
  all: unset; // button reset

  display: grid;
  place-content: center;

  width: $reaction__inner-size;
  height: $reaction__inner-size;

  padding: $reaction__padding--inner;

  border-radius: $rounded--full;
  background-color: $color-lighter-gray;

  cursor: pointer;

  &:hover {
    background-color: $hover-background-light;
  }
  &:focus-visible {
    outline: 2px solid rgba(var(--accent-color-rgb), 0.5);
  }
}

.note-reaction-list__add-reaction-sticker {
  width: $icon--medium;
  height: $icon--medium;
  color: $color-black;
}

.note-reaction-list__reaction-chips-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: $reaction__gap-size;

  user-select: none;
}

[theme="dark"] {
  .note-reaction-list__reaction-bar-container {
    &--active {
      background-color: $color-dark-one;
    }
  }

  .note-reaction-list__add-reaction-sticker-container {
    background-color: $color-dark-one;

    &:hover {
      background-color: $hover-background-dark;
    }
  }

  .note-reaction-list__add-reaction-sticker {
    color: $white--000;
  }
}
