@use "constants/styles";

.note-reaction-list__root {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: styles.$reaction__gap-size;
}

.note-reaction-list__reaction-bar-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: styles.$reaction__gap-size;

  padding-left: styles.$reaction-list__left-spacing; // line up icon with Note header

  border-radius: styles.$rounded--full;

  &--active {
    background-color: styles.$gray--300;
  }
}

.note-reaction-list__add-reaction-sticker-container {
  all: unset; // button reset

  display: grid;
  place-content: center;

  width: styles.$reaction__inner-size;
  height: styles.$reaction__inner-size;

  padding: styles.$reaction__padding--inner;

  border-radius: styles.$rounded--full;
  background-color: styles.$gray--300;

  cursor: pointer;

  &:hover {
    background-color: styles.$gray--500;
  }
  &:focus-visible {
    outline: 2px solid rgba(var(--accent-color--light-rgb), 0.5);
  }
}

.note-reaction-list__add-reaction-sticker {
  width: styles.$icon--medium;
  height: styles.$icon--medium;
  color: styles.$navy--900;
}

.note-reaction-list__reaction-chips-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: styles.$reaction__gap-size;

  user-select: none;
}

[data-theme="dark"] {
  .note-reaction-list__reaction-bar-container {
    &--active {
      background-color: styles.$navy--600;
    }
  }

  .note-reaction-list__add-reaction-sticker-container {
    background-color: styles.$navy--600;

    &:hover {
      background-color: styles.$navy--300;
    }
  }

  .note-reaction-list__add-reaction-sticker {
    color: styles.$gray--000;
  }
}
