@import "src/constants/style";

.note-reaction-list__root {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: $reaction__gap-size;
}

.note-reaction-list__reaction-bar-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: $reaction__gap-size;

  padding-left: $reaction__padding--outer-left-right;

  border-radius: $rounded--full;

  &--active {
    background-color: $color-lighter-gray;
  }
}

.note-reaction-list__add-reaction-sticker-container {
  all: unset; // button reset

  display: flex;
  justify-content: center;
  align-items: center;

  width: $reaction__inner-size;
  height: $reaction__inner-size;

  padding: $reaction__padding--inner;

  border-radius: $rounded--full;
  background-color: $color-lighter-gray;

  &:hover {
    background-color: $color-light-gray;
  }
}

.note-reaction-list__add-reaction-sticker {
  width: $icon--large;
  height: $icon--large;
}
