@use "constants/styles";

.login-providers {
  display: flex;
  gap: 8px;
}

.login-providers__button:first-child {
  flex: 1 1 auto;
}

.login-providers__icon {
  height: styles.$icon--medium;
  width: styles.$icon--medium;
  flex: 0 0 styles.$icon--medium;
}
