@use "constants/styles";

.primaryWrapper {
  flex: 1 1 auto;
}

.buttonWrapper {
  position: relative;
  display: flex;

  height: 100%;
  min-width: 0;
  .login-providers__button:nth-child(1) {
    flex: 1 1 auto;
    height: 100%;
    white-space: nowrap;
    overflow: hidden;
  }
  .login-providers__button:nth-child(2) {
    position: absolute;
    left: 0%;
    top: 50%;
    transform: translateY(-50%) scale(0.8);
    z-index: 1;
    pointer-events: none;
  }
}

.login-providers__button--icon-replacement {
  display: none;
}

// Responsive: when space is too tight, show only icon with blue background
@media (max-width: 480px) {
  .buttonWrapper {
    display: none;
  }

  .login-providers__button--icon-replacement {
    display: inline-flex;
  }
}

.login-providers {
  display: flex;
  gap: 8px;
}

.login-providers__button:first-child {
  flex: 1 1 auto;
}

.login-providers__icon {
  height: styles.$icon--medium;
  width: styles.$icon--medium;
  flex: 0 0 styles.$icon--medium;
}

[theme="dark"] {
  .buttonWrapper .login-providers__button:nth-child(2) {
    background-color: styles.$gray--000 !important;
  }
}
