@import "constants/style.scss";

.badge {
  position: absolute;
  left: -6px;
  right: -6px;
  bottom: -6px;
  cursor: default;
  align-items: center;
  display: inline-flex;
}

.badge > span {
  min-width: 30px;
  text-align: center;
  margin: auto;
  background-color: $color-backlog-blue;
  border-radius: 4px;
  font-size: 8px;
  color: $color-white;
  font-weight: bold;
  text-transform: uppercase;
  padding-left: 5px;
  padding-right: 5px;
}

[theme="dark"] {
  .badge > span {
    background-color: $color-planning-pink;
  }
}
