@import "constants/style";

.participants {
  position: absolute;
  top: 92px;
  right: 80px;
  width: 300px;
  border-radius: 16px;
  background-color: $color-backlog-blue;
  box-shadow: 0 16px 32px 0 rgba(0, 87, 255, 0.24);
  overflow: hidden;
  z-index: 200;
}
@media #{$smartphone} {
  .participants {
    right: calc(50% - 150px);
  }
}

.participants__header {
  color: white;
  height: 86px;
  padding-left: 20px;
  position: relative;
}
@media (prefers-color-scheme: dark) {
  .participants {
    background-color: $color-planning-pink;
    box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.2);
  }
}

.participants__header > h1 {
  margin: 0;
  font-weight: 500;
  font-size: 18px;
  line-height: 18px;
  letter-spacing: 0.25px;
  position: absolute;
  top: 20px;
}

.participants__header > input {
  background-color: transparent;
  color: $color-white;
  opacity: 1;
  font-size: 13px;
  letter-spacing: 0.27px;
  border: none;
  position: absolute;
  top: 44px;

  &::placeholder {
    opacity: 1;
    color: white;
  }
}

.participants__header > input:focus {
  outline: none;
  border-bottom: 1px solid white;
}

.participants__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  max-height: 240px;
  overflow: auto;
  scrollbar-color: $color-middle-gray #fff;
  background-color: #fff;
}

.participants__list::-webkit-scrollbar {
  width: 10px;
  background-color: #fff;
}

.participants__list::-webkit-scrollbar-track {
  border-radius: 8px;
}

.participants__list::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: $color-middle-gray;
}

@media (prefers-color-scheme: dark) {
  .participants__list {
    scrollbar-color: $color-darkest-gray $color-dark-mode-note;
  }
  .participants__list::-webkit-scrollbar {
    background-color: $color-dark-mode-note;
  }
  .participants__list::-webkit-scrollbar-thumb {
    background-color: $color-darkest-gray;
  }
}

.participants__list > li {
  background-color: white;
  position: relative;
  height: 48px;
  padding: 10px 10px 10px 20px;
  width: 285px;
}

@media (prefers-color-scheme: dark) {
  .participants__list > li {
    background-color: $color-dark-mode-note;
  }

  .participants__list > li:hover {
    background-color: #3d4555;
  }
}

.participants__list > li:not(:last-child)::after {
  content: "";
  height: 1px;
  width: 100%;
  background: linear-gradient(
    to right,
    rgba(173, 173, 173, 0) 0%,
    rgba(173, 173, 173, 0) 5%,
    rgba(173, 173, 173, 0.5) 25%,
    rgba(173, 173, 173, 0.5) 75%,
    rgba(173, 173, 173, 0) 95%,
    rgba(173, 173, 173, 0) 100%
  );
  position: absolute;
  bottom: 0;
  left: 0;
}

.participants__list figure {
  display: inline-flex;
  align-items: center;
  align-items: center;
  height: 28px;
  vertical-align: baseline;
  margin: 0;
}

.participants__list figcaption {
  display: inline-block;
  line-height: 28px;
  margin-left: 10px;
  font-size: 14px;
  letter-spacing: 0.5px;
  font-weight: 300;
  width: 190px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #111111;
}
@media (prefers-color-scheme: dark) {
  .participants__list figcaption {
    color: white;
  }
}

.participants__list img {
  height: 28px;
  width: 28px;
  border-radius: 100%;
}

.participant__permission-toggle {
  right: 0;
  transform: scale(0.8);
}
