@import "constants/style";

.participants {
  position: absolute;
  top: 92px;
  right: 80px;
  width: 300px;
  border-radius: 16px;
  background-color: $color-backlog-blue;
  box-shadow: 0 16px 32px 0 rgba(0, 87, 255, 0.24);
  overflow: hidden;
  z-index: 200;
}
@media #{$smartphone} {
  .participants {
    right: calc(50% - 150px);
  }
}

.participants__header {
  color: white;
  height: 86px;
  padding-left: 20px;
  position: relative;
}
@media (prefers-color-scheme: dark) {
  .participants {
    background-color: $color-planning-pink;
    box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.2);
  }
}

.participants__header > h4 {
  margin: 0;
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  letter-spacing: 0.25px;
  position: absolute;
  top: 24px;
}

.participants__header > input {
  background-color: transparent;
  color: $color-white;
  opacity: 1;
  font-size: 13px;
  letter-spacing: 0.27px;
  border: none;
  border-bottom: 1px solid transparent;
  position: absolute;
  bottom: 24px;

  &::placeholder {
    opacity: 1;
    color: white;
  }
}

.participants__header > input:focus {
  outline: none;
  border-bottom: 1px solid white;
}

.participants__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  max-height: 272px;
  overflow: auto;
  scrollbar-color: $color-middle-gray #fff;
  background-color: #fff;
}

.participants__list::-webkit-scrollbar {
  width: 10px;
  background-color: #fff;
}

.participants__list::-webkit-scrollbar-track {
  border-radius: 8px;
}

.participants__list::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: $color-middle-gray;
}

@media (prefers-color-scheme: dark) {
  .participants__list {
    scrollbar-color: $color-darkest-gray $color-dark-mode-note;
  }
  .participants__list::-webkit-scrollbar {
    background-color: $color-dark-mode-note;
  }
  .participants__list::-webkit-scrollbar-thumb {
    background-color: $color-darkest-gray;
  }
}

.list__header {
  height: 32px;
  position: relative;
}

.list__header > label {
  letter-spacing: 0.18px;
  color: #a3a6aa;
  opacity: 0.8;
  font-size: 12px;
  position: absolute;
  top: 16px;
}

.list__header > label:first-child {
  text-align: left;
  left: 20px;
}
.list__header > label:last-child {
  text-align: right;
  left: 244px;
}

.participants__list > li {
  background-color: white;
  position: relative;
  height: 48px;
}

@media (prefers-color-scheme: dark) {
  .participants__list > li {
    background-color: $color-dark-mode-note;
  }

  .participants__list > li:hover {
    background-color: #3d4555;
  }
}

.participants__list > li:not(:last-child)::after {
  content: "";
  height: 1px;
  width: calc(100% - 64px);
  background-color: #edeff2;
  position: absolute;
  bottom: 0;
  left: 64px;
}

.participants__list figure {
  margin: 0;
}

.participants__list img {
  height: 28px;
  width: 28px;
  border-radius: 100%;
  position: absolute;
  top: 10px;
  left: 20px;
}

.participants__list figcaption {
  display: inline-block;
  font-size: 14px;
  letter-spacing: 0.5px;
  font-weight: 300;
  width: 180px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #111111;
  position: absolute;
  top: 15px;
  left: 64px;
}
@media (prefers-color-scheme: dark) {
  .participants__list figcaption {
    color: white;
  }
}

.participant__permission-toggle {
  transform: scale(0.9);
  left: 244px;
  top: 12px;
}
