@import "constants/style.scss";

.participant {
  display: flex;
  background-color: white;
  height: 48px;

  margin: 0;
  padding: 0;
  width: 100%;

  align-items: center;
}

.participant:not(:last-child)::after {
  content: "";
  height: 1px;
  width: calc(100% - 48px);
  background-color: rgba(35, 35, 35, 0.1);
  position: absolute;
  bottom: 0;
  left: 48px;
}

.participant__avatar-and-name {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 12px;
  margin: 0;
  flex: 1 1 100%;
  overflow: hidden;
}

.participant .participant__avatar {
  height: 28px;
  width: 28px;
  min-height: 28px;
  min-width: 28px;
  font-size: 13px;
  margin: 0;
}

.participant__name {
  display: inline-block;
  font-size: 14px;
  letter-spacing: 0.5px;
  font-weight: 300;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #111111;
  margin-left: 8px;
}

.participant .participant__permission-toggle {
  position: relative;
  flex: 0 0 40px;
  margin-right: 20px;
}

@media (prefers-color-scheme: dark) {
  .participant {
    background-color: $color-dark-mode-note;
  }
  .participant:hover {
    background-color: #3d4555;
  }
  .participant:not(:last-child)::after {
    background-color: rgba(125, 125, 125, 0.1);
  }
  .participant__name {
    color: white;
  }
}
