@import "constants/style.scss";

.participant {
  background-color: white;
  position: relative;
  height: 48px;
}

.participant:not(:last-child)::after {
  content: "";
  height: 1px;
  width: calc(100% - 48px);
  background-color: rgba(35, 35, 35, 0.1);
  position: absolute;
  bottom: 0;
  left: 48px;
}

.participant__permission-toggle {
  transform: scale(0.9);
  left: 244px;
  top: 12px;
}

.participant figure {
  margin: 0;
}

.participant .participant__user-avatar {
  margin: 10px 0 0 12px;
  height: 28px;
  width: 28px;
  font-size: 13px;
}

.participant figcaption {
  display: inline-block;
  font-size: 14px;
  letter-spacing: 0.5px;
  font-weight: 300;
  width: 180px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #111111;
  position: absolute;
  top: 15px;
  left: 64px;
}
@media (prefers-color-scheme: dark) {
  .participant {
    background-color: $color-dark-mode-note;
  }
  .participant:focus,
  .participant:hover {
    background-color: #3d4555;
  }
  .participant:not(:last-child)::after {
    background-color: rgba(125, 125, 125, 0.1);
  }
  .participant figcaption {
    color: white;
  }
}
