@import "constants/style.scss";

$header-bottom_distance: 16px;
$header-left_distance: 24px;

.participants {
  position: absolute;
  top: 92px;
  right: 80px;
  width: 300px;
  border-radius: 16px;
  box-shadow: 0 16px 32px 0 rgba(0, 87, 255, 0.24);
  overflow: hidden;
  z-index: 200;
}
@media #{$smartphone} {
  .participants {
    right: calc(50% - 150px);
  }
}

.participants__header {
  color: white;
  height: 86px;
  position: relative;
  background-color: $color-backlog-blue;
}

.participants__header-text {
  margin: 0;
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  letter-spacing: 0.25px;
  position: absolute;
  top: 24px;
  left: $header-left_distance;
}

.participants__header-number {
  margin-top: 0;
  font-weight: bold;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.25px;
  position: absolute;
  top: -12px;
  right: -12px;
}

.participants__header-input {
  background-color: transparent;
  color: $color-white;
  font-size: 13px;
  letter-spacing: 0.27px;
  border: none;
  border-bottom: 1px solid transparent;
  position: absolute;
  bottom: $header-bottom_distance;
  left: $header-left_distance;
  padding-left: 24px;
  opacity: 0.8;

  &::placeholder {
    opacity: 1;
    color: white;
  }
}

.participants__header > input:focus {
  outline: none;
  border-bottom: 1px solid white;
}

.header__icon {
  position: absolute;
  bottom: $header-bottom_distance;
  left: $header-left_distance;
}

.participants__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  min-height: 80px;
  max-height: 272px;
  overflow: auto;
  scrollbar-color: $color-middle-gray #fff;
  background-color: #fff;
}

.participants__list::-webkit-scrollbar {
  width: 10px;
  background-color: #fff;
}

.participants__list::-webkit-scrollbar-track {
  border-radius: 8px;
}

.participants__list::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: $color-middle-gray;
}

.list__header {
  height: 32px;
  position: relative;
}

.list__header > label {
  letter-spacing: 0.18px;
  color: #a3a6aa;
  opacity: 0.8;
  font-size: 12px;
  position: absolute;
  top: 16px;
}

.list__header > label:nth-child(1) {
  text-align: left;
  left: 12px;
}
.list__header > label:nth-child(2) {
  text-align: right;
  left: 244px;
}

.participants__list-item {
  background-color: white;
  position: relative;
  height: 48px;
  padding-bottom: 52px;
}

.participants__list-item:not(:last-child)::after {
  content: "";
  height: 1px;
  width: calc(100% - 48px);
  background-color: rgba(35, 35, 35, 0.1);
  position: absolute;
  bottom: 0;
  left: 48px;
}

.participant__permission-toggle {
  transform: scale(0.9);
  left: 244px;
  top: 12px;
}

@media (prefers-color-scheme: dark) {
  .participants {
    box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.2);
  }
  .participants__header {
    background-color: $color-planning-pink;
  }
  .participants__list {
    scrollbar-color: $color-darkest-gray $color-dark-mode-note;
    background-color: $color-dark-mode-note;
  }
  .participants__list::-webkit-scrollbar {
    background-color: $color-dark-mode-note;
  }
  .participants__list::-webkit-scrollbar-thumb {
    background-color: $color-darkest-gray;
  }
  .list__header {
    background: $color-dark-mode-note;
  }
  .participants__list-item {
    background-color: $color-dark-mode-note;
  }
  .participants__list-item:hover {
    background-color: #3d4555;
  }
  .participants__list-item:not(:last-child)::after {
    background-color: rgba(125, 125, 125, 0.1);
  }
}
