@import "constants/style.scss";

$dropdown__box-shadow: var(--primaryColor) 3 d;

.dropdown-item--open {
  .menu-item__icon {
    color: $color-white;
    background-color: var(--secondaryColor);
  }
}

.dropdown-item--open .dropdown {
  transition-delay: 0.25s;
}

@include collapsedColumns(".menu-bars") {
  .dropdown-item--open,
  .menu-item--touch-hover.dropdown-item--open,
  .menu-item.dropdown-item--open:enabled:hover {
    .menu-item__tooltip {
      transition: all 0.25s 0s ease-out;
      width: 245px;
      min-width: 245px;
      opacity: 1;
      visibility: visible;
      border-top-left-radius: unset;
      border-top-right-radius: unset;
    }
  }

  .dropdown {
    bottom: 94px;
    left: 18px;
    transform: translateX(-50%);
    border-radius: 16px 16px 0 0;
    box-shadow: 0 8px 24px $dropdown__box-shadow;
  }

  @media screen and (max-width: 450px) {
    .menu-item:nth-child(1) {
      .dropdown {
        transform: translateX(-25%);
      }
    }
    .menu-item:nth-child(4) {
      .dropdown {
        transform: translateX(-75%);
      }
    }
  }
}

@include visibleColumns(".menu-bars") {
  .dropdown-item--open .menu-item__tooltip,
  .menu-item.dropdown-item--open:hover .menu-item__tooltip {
    width: 300px;
  }

  .dropdown-item--open.menu-item--left .tooltip__text,
  .dropdown-item--open.menu-item--left:enabled:hover .tooltip__text {
    right: 270px;
    transform: translateX(100%);
  }

  .dropdown-item--open.menu-item--right .tooltip__text,
  .dropdown-item--open.menu-item--right:enabled:hover .tooltip__text {
    left: 270px;
    transform: translateX(-100%);
  }

  .dropdown {
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
  }

  .admin-menu .dropdown {
    top: 36px;
    left: -265px;
    box-shadow: 0 8px 24px #ff00693d;
  }

  .user-menu .dropdown {
    top: 36px;
    right: -265px;
    box-shadow: 0 8px 24px #0057ff3d;
  }
}
