@import "constants/style.scss";

.menu-item:focus {
  outline: none;
}

// MOBILE
@media #{$menu-mobile} {
  $menu-item__first-position-left: 28px;

  @for $i from 1 through 6 {
    .menu-item:nth-child(#{$i}) {
      left: $menu-item__first-position-left + (($i - 1) * 58px);
    }
  }

  .menu-item {
    background-color: transparent;
    border: none;
    border-radius: 18px;
    padding: 0;
    position: absolute;
    width: 36px;
    top: 0;
    right: 0;
    bottom: 0;
    height: 64px;
  }

  .menu-item:hover,
  .menu-item:active {
    left: 0;
    height: 100%;
    width: 100%;
    z-index: $menu-item-z-index;
    transition: left 2s 0.25s;

    @media (prefers-color-scheme: light) {
      .menu-item__tooltip {
        background-color: var(--primaryColor);
      }
    }
    @media (prefers-color-scheme: dark) {
      .menu-item__tooltip {
        background-color: $color-white;
      }
    }
  }

  .menu-item:hover > .menu-item__tooltip,
  .menu-item:active > .menu-item__tooltip {
    height: 100%;
    width: 100%;
    transition: background-color 0.5s 0.25s ease, width 0.5s 0.25s ease, height 0.5s 0.25s ease;
  }

  .menu-item:hover > .menu-item__icon,
  .menu-item:active > .menu-item__icon {
    left: $menu-item__first-position-left;
    transition: left 2s 0.5s, visibility 0s 0.5s;
  }

  .menu-item:hover > .tooltip__text,
  .menu-item:active > .tooltip__text {
    margin-right: 48px;
  }

  .menu-item--active:hover > .menu-item__icon--end,
  .menu-item--active:active > .menu-item__icon--end {
    visibility: visible;
  }

  .menu-item--active:hover > .menu-item__icon--start,
  .menu-item--active:active > .menu-item__icon--start {
    visibility: hidden;
  }

  .menu-item__tooltip {
    box-sizing: border-box;
    display: inline-flex;
    align-items: center;
    font-size: 14px;
    font-weight: bold;
    height: 36px;
    letter-spacing: 1px;
    line-height: 16px;
    padding: 0;
    text-align: right;
    white-space: nowrap;
    width: 0;
    overflow: hidden;
    border-radius: 32px;
    transition-duration: 0s;
  }

  .tooltip__text {
    margin-left: 72px;
    text-transform: uppercase;
  }
  @media (prefers-color-scheme: light) {
    .tooltip__text {
      color: $color-white;
    }
  }
  @media (prefers-color-scheme: dark) {
    .tooltip__text {
      color: var(--primaryColor);
    }
  }

  .menu-item__icon {
    left: 0;
    position: absolute;
    top: 14px;
    border-radius: 100%;
    transition: left 0s;
  }
  @media (prefers-color-scheme: light) {
    .menu-item__icon {
      color: var(--primaryColor);
      background: $color-white;
    }
  }
  @media (prefers-color-scheme: dark) {
    .menu-item__icon {
      color: $color-white;
      background: var(--primaryColor);
    }
  }

  .menu-item__icon--end {
    visibility: hidden;
  }
}

// DESKTOP
@media #{$menu-desktop} {
  .menu-item {
    border: none;
    border-radius: 18px;
    padding: 0;
    background-color: transparent;
    height: 36px;
    width: 36px;
    position: relative;
    transition: background-color 0.25s ease-in-out, left 2s;
  }
  .menu-item:hover {
    @media (prefers-color-scheme: light) {
      .menu-item__icon {
        color: $color-white;
        background-color: var(--primaryColor);
      }
    }
    @media (prefers-color-scheme: dark) {
      .menu-item__icon {
        color: $color-white;
        background-color: var(--secondaryColor);
      }
    }
  }
  .menu-item:hover > .menu-item__tooltip {
    width: 230px;
  }
  .menu-item:hover > .menu-item__icon {
    animation: none;
  }
  .menu-item--left:hover > .menu-item__tooltip > .tooltip__text {
    margin-right: 48px;
  }
  .menu-item--right:hover > .menu-item__tooltip > .tooltip__text {
    margin-left: 48px;
  }
  .menu-item--active:hover > .menu-item__icon--end {
    display: inline;
  }
  .menu-item--active:hover > .menu-item__icon--start {
    display: none;
  }

  .menu-item__icon {
    top: 0;
    left: 0;
    border-radius: 100%;
  }
  @media (prefers-color-scheme: light) {
    .menu-item__icon {
      color: var(--primaryColor);
      background: $color-white;
    }
  }
  @media (prefers-color-scheme: dark) {
    .menu-item__icon {
      color: $color-white;
      background: var(--primaryColor);
    }
  }

  .menu-item__icon--end {
    display: none;
  }

  .menu-item__tooltip {
    position: absolute;
    animation: none;
    border-radius: 16px;
    box-sizing: border-box;
    display: inline-flex;
    align-items: center;
    font-size: 14px;
    font-weight: bold;
    height: 36px;
    letter-spacing: 1px;
    line-height: 16px;
    padding: 0;
    text-align: right;
    white-space: nowrap;
    width: 0;
    z-index: -1;
    overflow: hidden;
    right: 0;
    transition: width 0.25s ease-in-out;
  }
  .menu-item--left > .menu-item__tooltip {
    right: 0;
    top: 0;
  }
  .menu-item--right > .menu-item__tooltip {
    left: 0;
    top: 0;
  }
  @media (prefers-color-scheme: light) {
    .menu-item__tooltip {
      box-shadow: 0 16px 32px 0 rgba(0, 87, 255, 0.24);
      background-color: $color-white;
      color: var(--primaryColor);
    }
  }
  @media (prefers-color-scheme: dark) {
    .menu-item__tooltip {
      box-shadow: 0 6px 9px 0 rgba(0, 0, 0, 0.2);
      background-color: var(--primaryColor);
      color: $color-white;
    }
  }

  .tooltip__text {
    text-transform: uppercase;
    position: absolute;
  }
  .menu-item--right > .menu-item__tooltip > .tooltip__text {
    margin-left: 36px;
    transition: margin-left 0.5s ease-in-out;
    left: 0;
  }
  .menu-item--left > .menu-item__tooltip > .tooltip__text {
    margin-right: 36px;
    transition: margin-right 0.5s ease-in-out;
    right: 0;
  }
  @media (prefers-color-scheme: light) {
    .tooltip__text {
      color: var(--primaryColor);
    }
  }
  @media (prefers-color-scheme: dark) {
    .tooltip__text {
      color: $color-white;
    }
  }
}
