@use "constants/style";

.share-button {
  outline: none;
  border: 2px solid style.$navy--500;
  color: style.$navy--500;
  border-radius: 100%;
  height: 36px;
  width: 36px;
  margin-left: style.$spacing--base;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.08s ease-out;
  background: none;
  cursor: pointer;
  padding: 0;

  &:hover {
    transform: scale(1.1);
  }

  &:active {
    transform: scale(1);
  }

  &:focus-visible {
    box-shadow: 0 0 0 2px rgba(style.$navy--500, 0.32);
  }
}

.share-button > svg {
  height: 36px;
  width: 36px;
}

[theme="dark"] {
  .share-button {
    border: 2px solid style.$blue--200;
    color: style.$blue--200;

    &:focus-visible {
      box-shadow: 0 0 0 2px rgba(style.$blue--200, 0.48);
    }
  }
}

@media #{style.$smartphone} {
  .share-button {
    display: none;
  }
}
