.github
.git
.husky
.DS_Store
server
node_modules
deployment
build
Dockerfile
.dockerignore
.editorconfig
.env
.eslintignore
.eslintrc.json
.gitignore
.prettierrc
Dockerfile
LICENSE
README.md 
scrumlr.png
