/.vscode
/node_modules
/functions/node_modules
/coverage
/build
.DS_Store
.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.idea/
*.iml
src/**/*.css
.firebase
firebase-debug.log
/analytics
/features
/functions
/scripts
README.md
scrumlr.png
LICENSE
firebase.json
database.rules.json
browserstack.png
.travis.yml
.gitignore
.firebaserc