# Fix 'yarn build' issue on Windows by including the line below, see more here:
# https://github.com/kentcdodds/cross-env/issues/192#issuecomment-513341729
#
# script-shell = "C:\\windows\\System32\\WindowsPowerShell\\v1.0\\powershell.exe"
