rules_version = '2';
service cloud.firestore {
    match /databases/{database}/documents {
        match /users/{uid} {
            allow get: if request.auth.uid != null;
            allow list: if false;
            allow write: if request.auth.uid == uid;
        }

        match /boards/{id} {
            function isMember() {
            	return exists(/databases/$(database)/documents/boards/$(id)/members/$(request.auth.uid))
            }

            function isAdmin() {
            	return get(/databases/$(database)/documents/boards/$(id)).data.owner == request.auth.uid || (isMember() && get(/databases/$(database)/documents/boards/$(id)/members/$(request.auth.uid)).data.admin == true)
            }

            allow get: if isMember()
            allow list: if false
            allow create: if request.auth.uid != null && request.auth.uid == request.resource.data.owner
            allow update, delete: if isAdmin()

            match /applicants/{uid} {
                allow read: if isAdmin()
                allow create: if isAdmin() || request.auth.uid == uid
                allow update: if isAdmin()
                allow delete: if isAdmin() || request.auth.uid == uid
            }

            match /members/{uid} {
                allow read: if isMember()
                allow create: if isAdmin()
                allow update: if isAdmin()
                allow delete: if isAdmin() || request.auth.uid == uid
            }

            match /cards/{uid} {
                allow read: if isMember()
                allow create: if isMember() && request.resource.data.author == request.auth.uid
                allow update: if isAdmin() || resource.data.author == request.auth.uid
                allow delete: if isAdmin() || resource.data.author == request.auth.uid
            }

            match /settings/{uid} {
                allow read: if isMember()
                allow write: if isAdmin()
            }

            match /columns/{uid} {
                allow read: if isMember()
                allow write: if isAdmin()
            }
        }

        match /strings/{document=**} {
            allow read: if true;
            allow list: if true;
            allow write: if false;
        }
    }
}