@import "constants/style";

$stack-view-top-margin: 64px;

.stack-view__portal {
  background-color: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(10px) brightness(0.76) saturate(0);
  box-shadow: inset 0 0 0 $column__border-width var(--accent-color);
  background: rgba(var(--accent-color-rgb), 0.42);
}

.stack-view__portal-moderation-visible {
  box-shadow: inset 0 0 0 $column__border-width $color-goal-green;
}

.stack-view {
  margin-top: $stack-view-top-margin;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
}

.stack-view__disabled-click {
  pointer-events: none;
}

.stack-view__close-button {
  all: unset;
  position: absolute;
  top: 0;
  right: 0;
  margin: $margin--default;
  cursor: pointer;
  width: 42px;
  color: $color-white;
  transition: all 0.08s ease-out;

  &:hover {
    transform: scale(1.3);
  }

  &:active {
    transform: scale(1);
  }

  &:focus-visible {
    color: var(--accent-color);
  }
}

.stack-view__parent-note {
  margin: 0;
  width: calc(100vw - 3 * $column__border-width);
  max-width: 700px;
  font-size: $text-size--large;
  --note-footer-height: 36px;

  .note-dialog__note-content__text {
    line-height: $line-height--large;
  }

  .vote-button-add {
    margin: 0 0 0 $margin--small;
  }
}

[theme="dark"] {
  .stack-view__portal {
    backdrop-filter: blur(10px) brightness(0.24) saturate(0);
    box-shadow: inset 0 0 0 $column__border-width var(--accent-color--dark);
    background: rgba(var(--accent-color-rgb), 0.1);
  }
}

.stack-view__inception {
  z-index: 300;
}

.backdrop {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1000px;
  height: 600px;

  backdrop-filter: blur(10px) brightness(0.76) saturate(0);
  background: rgba(0, 87, 255, 0.42);
}

.dialog {
  display: flex;
  height: 283px;
  width: 596px;
  border-radius: 25px 0px 25px 25px;
  background: #ffffff;
  position: relative;
}

.dialog__quit {
  position: absolute;
  left: 100%;
  transform: translate(-50%, -50%);
  height: 44px;
  width: 44px;
  background: white;
  border-radius: 50%;
  box-shadow: 0px 16px 32px #0057ff3d;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dialog__quit:hover {
  cursor: pointer;
  background: blue;
}

.dialog__quit img {
  height: 28px;
  width: 28px;
}

.dialog__icon {
  width: 53px;
  height: 59px;
  margin: 43px 40px 0px 43px;
}

.dialog__content {
  display: flex;
  flex-direction: column;
  margin: 40px 37px 35px 0px;
}

.dialog__content h3 {
  margin: 0px 0px 15px 0px;
  font-size: 25px;
}

.dialog__content p {
  margin: 0;
}
.dialog__content-buttons {
  margin-top: auto;
  display: flex;
  gap: 20px;
}
.dialog__content-buttons-button {
  height: 50px;
  width: 100px;
  border-radius: 25px;
  border: 2px solid blue;
  color: blue;
  background: white;
  opacity: 0.6;
}

.dialog__content-buttons-button:hover {
  cursor: pointer;
  opacity: 1;
}

.primary {
  background: blue;
  color: white;
}
