@import "constants/style";

$stack-view-top-margin: 64px;

.stack-view__portal {
  background-color: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(10px) brightness(0.76);
  box-shadow: inset 0 0 0 $column__border-width var(--accent-color);
  background: rgba(var(--accent-color-rgb), 0.42);
}

.stack-view__portal-moderation-visible {
  box-shadow: inset 0 0 0 $column__border-width $color-goal-green;
}

.stack-view {
  margin-top: $stack-view-top-margin;
}

.stack-view__disabled-click {
  pointer-events: none;
}

.stack-view__close-button {
  all: unset;
  position: absolute;
  top: 0;
  right: 0;
  margin: $margin--default;
  cursor: pointer;
  width: 42px;
  color: $color-white;
  transition: all 0.08s ease-out;

  &:hover {
    transform: scale(1.3);
  }

  &:active {
    transform: scale(1);
  }

  &:focus-visible {
    color: var(--accent-color);
  }
}
