@use "constants/style";
@use "constants/mixins";

$stack-view__header-height: 164px;
$stack-view__navigation-height: 14vh;
$stack-view__min-height: 82px;

.stack-view__portal {
  backdrop-filter: blur(10px) brightness(0.76) saturate(0);
  background: rgba(var(--accent-color--light-rgb), 0.42);
  transition: background 0.2s ease-out;
}

.stack-view {
  display: grid;
  height: 100vh;
  grid-template-rows: $stack-view__header-height auto 1fr;
  justify-items: center;

  padding-top: style.$spacing--xl;
}

.stack-view__border {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  background: transparent;
  box-shadow: inset 0 0 0 style.$column__border-width var(--accent-color--light);
  transition: box-shadow 0.2s ease-out;
}

.stack-view__border--moderating {
  box-shadow: inset 0 0 0 style.$column__border-width style.$victory-verde--light;
}

.stack-view__content {
  position: relative;

  // subtracting header, navigation, and spacing from viewport height to limit extendable note
  height: calc(100vh - (style.$spacing--xl + $stack-view__header-height + $stack-view__navigation-height + style.$spacing--xl));
  width: 100vw;
  border-radius: style.$note__border-radius;

  overflow: visible;

  @include mixins.scrollbar();
}

// inner container preventing scrollbar flowing over border radius
.stack-view__inner-scrollbar {
  width: 100%;
  height: 100%;
  overflow: hidden scroll;
  box-sizing: border-box;
}

.stack-view__animation-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
}

.stack-view__notes {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  max-height: style.$stack-content-max-height;
  gap: style.$spacing--sm;
}

.stack-view__disabled-click {
  pointer-events: none;
}

.stack-view__close-button {
  all: unset;
  position: absolute;
  top: 0;
  right: 0;
  margin: style.$spacing--base;
  cursor: pointer;
  width: 42px;
  color: style.$gray--000;
  transition: all 0.08s ease-out;

  > svg {
    height: 100%;
    width: 100%;
  }

  &:hover {
    transform: scale(1.3);
  }

  &:active {
    transform: scale(1);
  }

  &:focus-visible {
    color: var(--accent-color--light);
  }
}

.stack-view__parent-note {
  margin: 0;
  max-width: 700px;
  font-size: style.$text-size--large;

  align-self: center;

  z-index: style.$request-z-index;
  --note-footer-height: 36px;

  .note-dialog__note-content__text {
    line-height: style.$line-height--large;
  }

  .vote-button-add {
    margin: 0 0 0 style.$spacing--xs;
  }
}

@media screen and (max-width: style.$breakpoint--desktop) {
  .stack-view__notes {
    flex-direction: column;
    max-height: initial;
  }

  .stack-view__parent-note .note-dialog__note-content-text {
    max-height: style.$stack-content-max-height--mobile; // initial for full height
  }

  .stack-view__child-note .note-dialog__note-content-text {
    max-height: style.$stack-content-max-height--mobile; // initial for full height
  }
}

[theme="dark"] {
  .stack-view__portal {
    backdrop-filter: blur(10px) brightness(0.24) saturate(0);
    box-shadow: inset 0 0 0 style.$column__border-width var(--accent-color--dark);
    background: rgba(var(--accent-color--light-rgb), 0.1);
  }

  .stack-view__border {
    box-shadow: inset 0 0 0 style.$column__border-width var(--accent-color--dark);
  }

  .stack-view__border--moderating {
    box-shadow: inset 0 0 0 style.$column__border-width style.$victory-verde--light;
  }
}
