@import "constants/style";

$stack-view__header-height: 14vh;
$stack-view__navigation-height: 14vh;
$stack-view__min-height: 82px;

.stack-view__portal {
  background-color: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(10px) brightness(0.76) saturate(0);
  background: rgba(var(--accent-color--light-rgb), 0.42);
  transition: all 0.2s ease-in-out;
}

.stack-view {
  display: flex;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  width: fit-content;
}

.stack-view__border {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  background: transparent;
  box-shadow: inset 0 0 0 $column__border-width var(--accent-color--light);
}

.stack-view__border--moderating {
  box-shadow: inset 0 0 0 $column__border-width $victory-verde--light;
}

.stack-view__content {
  height: auto;
  position: relative;
  flex-grow: 1;
  overflow-x: scroll;
}

.stack-view__animation-wrapper {
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.stack-view__disabled-click {
  pointer-events: none;
}

.stack-view__close-button {
  all: unset;
  position: absolute;
  top: 0;
  right: 0;
  margin: $spacing--base;
  cursor: pointer;
  width: 42px;
  color: $gray--000;
  transition: all 0.08s ease-out;

  > svg {
    height: 100%;
    width: 100%;
  }

  &:hover {
    transform: scale(1.3);
  }

  &:active {
    transform: scale(1);
  }

  &:focus-visible {
    color: var(--accent-color--light);
  }
}

.stack-view__parent-note {
  margin: 0;
  min-height: calc($stack-view__min-height * 2);
  width: calc(100vw - 3 * $column__border-width);
  max-width: 700px;
  font-size: $text-size--large;

  z-index: $request-z-index;
  --note-footer-height: 36px;

  .note-dialog__note-content__text {
    line-height: $line-height--large;
  }

  .vote-button-add {
    margin: 0 0 0 $spacing--xs;
  }
}

[theme="dark"] {
  .stack-view__portal {
    backdrop-filter: blur(10px) brightness(0.24) saturate(0);
    box-shadow: inset 0 0 0 $column__border-width var(--accent-color--dark);
    background: rgba(var(--accent-color--light-rgb), 0.1);
  }

  .stack-view__border {
    box-shadow: inset 0 0 0 $column__border-width var(--accent-color--dark);
  }

  .stack-view__border--moderating {
    box-shadow: inset 0 0 0 $column__border-width $victory-verde--light;
  }
}
