@use "constants/styles";

.note-reaction-chip-condensed__root {
  all: unset; // remove default buttons styling

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 8px;

  height: 18px;
  padding: 5px 8px 5px 7px;
  border-radius: styles.$rounded--full;
  background-color: styles.$gray--300;

  font-size: styles.$text--base;

  cursor: pointer;

  &:hover {
    background-color: styles.$gray--300;
  }
}

.note-reaction-chip-condensed__reactions-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 4px;
}

.note-reaction-chip-condensed__reaction {
  font-size: styles.$text--md;
}

.note-reaction-chip-condensed__amount {
  color: styles.$navy--900;
  font-size: styles.$text--sm;
  font-weight: 600;
}

.note-reaction-chip-condensed__tooltip-content {
  display: flex;
  flex-direction: column;
}

[data-theme="dark"] {
  .note-reaction-chip-condensed__root {
    background-color: styles.$navy--600;

    &:hover {
      background-color: styles.$navy--300;
    }
  }

  .note-reaction-chip-condensed__amount {
    color: styles.$gray--000;
  }
}
