@use "constants/styles";
@use "constants/mixins";

$content-gap: 10px;
$border-width: 2px;

.button {
  all: unset;
  outline: 0;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: $content-gap;

  height: styles.$button-height--default;
  box-sizing: border-box;

  @include mixins.compensate-padding(styles.$spacing--base styles.$spacing--xl, $border-width);
  border-radius: styles.$rounded--full;
  border-width: $border-width;
  border-style: solid;

  font-size: styles.$text-size--medium;
  font-weight: 700;

  & > * {
    pointer-events: none;
  }

  &--with-icon {
    @include mixins.compensate-padding(styles.$spacing--base 22px styles.$spacing--base 28px, $border-width);
  }

  &--small {
    height: styles.$button-height--small;
    gap: styles.$spacing--xxs;

    @include mixins.compensate-padding(6px styles.$spacing--base, $border-width);

    &.button--with-icon {
      // both have to be active to apply
      @include mixins.compensate-padding(6px styles.$spacing--sm 6px styles.$spacing--base, $border-width);
    }
  }

  &--icon-only {
    width: styles.$button-height--default;
    min-width: unset;
    padding: 0;
    gap: 0;

    &.button--small {
      width: styles.$button-height--small;
    }
  }

  &:enabled {
    cursor: pointer;

    &:hover {
      box-shadow: 0 3px 12px 0 rgba(var(--accent-color--light-rgb), 0.3);
    }
  }

  &--primary {
    color: styles.$gray--000;
    background-color: var(--accent-color--light);
    border-color: var(--accent-color--light);

    &:focus {
      border-color: var(--accent-color--300);
    }

    &:active {
      background-color: var(--accent-color--600);
      border-color: var(--accent-color--600);
    }

    &:disabled {
      color: styles.$gray--800;
      background-color: styles.$gray--300;
      border-color: styles.$gray--300;
    }
  }

  &--secondary {
    color: var(--accent-color--light);
    background-color: rgba(var(--accent-color--100-rgb), 0.6);
    border-color: var(--accent-color--light);

    &:focus {
      background-color: styles.$gray--000;
      border-color: var(--accent-color--light);
    }

    &:active {
      background-color: rgba(var(--accent-color--200-rgb), 0.8);
    }

    &:disabled {
      color: styles.$gray--800;
      background-color: styles.$gray--300;
      border-color: styles.$gray--800;
    }
  }

  &--tertiary {
    color: var(--accent-color--light);
    background-color: transparent;
    border-color: transparent;

    &:enabled:hover {
      box-shadow: none;
      text-shadow: 0 0 12px rgba(var(--accent-color--light-rgb), 0.3);
    }

    &:focus {
      text-decoration: underline;
    }

    &:active {
      color: var(--accent-color--600);
    }

    &:disabled {
      color: styles.$gray--800;
    }
  }

  &--ghost {
    color: var(--accent-color--light);
    background-color: styles.$gray--000;
    border-color: transparent;

    &:enabled:hover {
      box-shadow: 0 3px 12px 0 rgba(var(--accent-color--light-rgb), 0.3);
    }

    &:focus {
      border-color: var(--accent-color--300);
    }

    &:active {
      background-color: styles.$gray--200;
    }

    &:disabled {
      color: styles.$gray--800;
      background-color: styles.$gray--200;
    }
  }
}

[theme="dark"] {
  .button {
    &--primary {
      color: styles.$gray--000;
      background-color: var(--accent-color--dark);
      border-color: var(--accent-color--dark);

      &:focus {
        border-color: var(--accent-color--300);
      }

      &:active {
        background-color: var(--accent-color--dark);
        border-color: var(--accent-color--light);
      }

      &:disabled {
        color: styles.$gray--300;
        background-color: styles.$gray--800;
        border-color: styles.$gray--800;
      }
    }

    &--secondary {
      color: var(--accent-color--dark);
      background-color: rgba(var(--accent-color--light-rgb), 0.1);
      border-color: var(--accent-color--dark);

      &:focus {
        background-color: styles.$navy--600;
      }

      &:active {
        background-color: rgba(var(--accent-color--light-rgb), 0.28);
      }

      &:disabled {
        color: styles.$gray--800;
        background-color: styles.$gray--300;
        border-color: styles.$gray--800;
      }
    }

    &--tertiary {
      color: var(--accent-color--dark);

      &:active {
        color: var(--accent-color--600);
      }

      &:disabled {
        color: styles.$gray--800;
      }
    }

    &--ghost {
      color: var(--accent-color--dark);
      background-color: styles.$navy--400;
      border-color: transparent;

      &:enabled:hover {
        box-shadow: 0 3px 12px 0 rgba(var(--accent-color--light-rgb), 0.3);
      }

      &:focus {
        border-color: var(--accent-color--300);
      }

      &:active {
        background-color: styles.$navy--500;
      }

      &:disabled {
        color: styles.$gray--800;
        background-color: styles.$navy--800;
      }
    }
  }
}
