@use "constants/style";
@use "constants/mixins";

$content-gap: 10px;
$border-width: 2px;
$height--default: 52px;
$height--small: 46px;

.button {
  all: unset;
  outline: 0;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: $content-gap;

  height: $height--default;
  box-sizing: border-box;

  @include mixins.compensate-padding(style.$spacing--base style.$spacing--xl, $border-width);
  border-radius: style.$rounded--full;
  border-width: $border-width;
  border-style: solid;

  font-size: style.$text-size--medium;
  font-weight: 700;

  &--with-icon {
    @include mixins.compensate-padding(style.$spacing--base 22px style.$spacing--base 28px, $border-width);
  }

  &--small {
    height: $height--small;
    gap: style.$spacing--xxs;

    @include mixins.compensate-padding(6px style.$spacing--base, $border-width);

    &.button--with-icon {
      // both have to be active to apply
      @include mixins.compensate-padding(6px style.$spacing--sm 6px style.$spacing--base, $border-width);
    }
  }

  &:enabled {
    cursor: pointer;

    &:hover {
      box-shadow: 0 3px 12px 0 rgba(var(--accent-color--light-rgb), 0.3);
    }
  }

  &--primary {
    color: style.$gray--000;
    background-color: var(--accent-color--light);
    border-color: var(--accent-color--light);

    &:focus {
      border-color: var(--accent-color--300);
    }

    &:active {
      background-color: var(--accent-color--600);
      border-color: var(--accent-color--600);
    }

    &:disabled {
      color: style.$gray--800;
      background-color: style.$gray--300;
      border-color: style.$gray--300;
    }
  }

  &--secondary {
    color: var(--accent-color--light);
    background-color: rgba(var(--accent-color--100-rgb), 0.6);
    border-color: var(--accent-color--light);

    &:focus {
      background-color: style.$gray--000;
      border-color: var(--accent-color--light);
    }

    &:active {
      background-color: rgba(var(--accent-color--200-rgb), 0.8);
    }

    &:disabled {
      color: style.$gray--800;
      background-color: style.$gray--300;
      border-color: style.$gray--800;
    }
  }

  &--tertiary {
    color: var(--accent-color--light);
    background-color: transparent;
    border-color: transparent;

    &:enabled:hover {
      box-shadow: none;
      text-shadow: 0 0 12px rgba(var(--accent-color--light-rgb), 0.3);
    }

    &:focus {
      text-decoration: underline;
    }

    &:active {
      color: var(--accent-color--600);
    }

    &:disabled {
      color: style.$gray--800;
    }
  }
}

[theme="dark"] {
  .button {
    &--primary {
      color: style.$gray--000;
      background-color: var(--accent-color--dark);
      border-color: var(--accent-color--dark);

      &:focus {
        border-color: var(--accent-color--300);
      }

      &:active {
        background-color: var(--accent-color--dark);
        border-color: var(--accent-color--light);
      }

      &:disabled {
        color: style.$gray--300;
        background-color: style.$gray--800;
        border-color: style.$gray--800;
      }
    }

    &--secondary {
      color: var(--accent-color--dark);
      background-color: rgba(var(--accent-color--light-rgb), 0.1);
      border-color: var(--accent-color--dark);

      &:focus {
        background-color: style.$navy--600;
      }

      &:active {
        background-color: rgba(var(--accent-color--light-rgb), 0.28);
      }

      &:disabled {
        color: style.$gray--800;
        background-color: style.$gray--300;
        border-color: style.$gray--800;
      }
    }

    &--tertiary {
      color: var(--accent-color--dark);

      &:active {
        color: var(--accent-color--600);
      }

      &:disabled {
        color: style.$gray--800;
      }
    }
  }
}
