@use "constants/styles";
@use "constants/mixins";

$content-gap: 10px;
$border-width: 2px;

// button heights
$button-height--default: 52px;
$button-height--small: 46px;

.button {
  all: unset;
  font-family: inherit;
  outline: 0;

  display: flex;

  &--full-width {
    width: 100%;
  }

  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: $content-gap;

  height: $button-height--default;
  box-sizing: border-box;

  border-radius: styles.$rounded--full;
  border-width: $border-width;
  border-style: solid;

  font-size: styles.$text-size--medium;
  font-weight: 700;

  @include mixins.compensate-padding(6px styles.$spacing--xl, $border-width);

  &--small {
    height: $button-height--small;
    gap: styles.$spacing--xxs;

    @include mixins.compensate-padding(6px styles.$spacing--base, $border-width);

    &.button--with-icon {
      padding: 0;
    }
  }

  &--with-icon {
    padding: 0;
  }

  &--icon-only {
    width: $button-height--default;
    min-width: unset;
    padding: 0;
    gap: 0;

    &.button--small {
      width: $button-height--small;
    }
  }

  &:enabled {
    cursor: pointer;

    &:hover {
      box-shadow: 0 3px 12px 0 rgba(var(--accent-color--light-rgb), 0.3);
    }
  }

  &--primary {
    color: styles.$gray--000;
    background-color: var(--accent-color--light);
    border-color: var(--accent-color--light);

    &:focus {
      border-color: var(--accent-color--300);
    }

    &:active {
      background-color: var(--accent-color--600);
      border-color: var(--accent-color--600);
    }

    &:disabled {
      color: styles.$gray--800;
      background-color: styles.$gray--300;
      border-color: styles.$gray--300;
    }
  }

  &--secondary {
    color: var(--accent-color--light);
    background-color: rgba(var(--accent-color--100-rgb), 0.6);
    border-color: var(--accent-color--light);

    &:focus {
      background-color: styles.$gray--000;
      border-color: var(--accent-color--light);
    }

    &:active {
      background-color: rgba(var(--accent-color--200-rgb), 0.8);
    }

    &:disabled {
      color: styles.$gray--800;
      background-color: styles.$gray--300;
      border-color: styles.$gray--800;
    }
  }

  &--tertiary {
    color: var(--accent-color--light);
    background-color: transparent;
    border-color: transparent;

    &:enabled:hover {
      box-shadow: none;
      text-shadow: 0 0 12px rgba(var(--accent-color--light-rgb), 0.3);
    }

    &:focus {
      text-decoration: underline;
    }

    &:active {
      color: var(--accent-color--600);
    }

    &:disabled {
      color: styles.$gray--800;
    }
  }

  &--ghost {
    color: var(--accent-color--light);
    background-color: styles.$gray--000;
    border-color: transparent;

    &:enabled:hover {
      box-shadow: 0 3px 12px 0 rgba(var(--accent-color--light-rgb), 0.3);
    }

    &:focus {
      border-color: var(--accent-color--300);
    }

    &:active {
      background-color: styles.$gray--200;
    }

    &:disabled {
      color: styles.$gray--800;
      background-color: styles.$gray--200;
    }
  }
}

// helper for spaced icon alignment
$icon-edge-gap--default: 3px;
$icon-edge-gap--small: 2px;

.button__content-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  gap: $content-gap;

  @include mixins.compensate-padding(styles.$spacing--sm, $border-width);

  &[data-align="spaced"] {
    display: grid;
    width: 100%;
    padding: 0;
    column-gap: $content-gap;

    // default: icon on right
    grid-template-columns: 1fr auto;
    justify-items: center;
    padding-left: styles.$spacing--xs;

    .button__icon-background {
      margin-right: $icon-edge-gap--default;

      &[data-size="small"] {
        margin-right: $icon-edge-gap--small;
      }
    }

    //icon on left
    &[data-pos="left"] {
      grid-template-columns: auto 1fr;
      padding-left: 0;
      padding-right: styles.$spacing--xs;

      .button__icon-background {
        margin-right: 0;
        margin-left: $icon-edge-gap--default;

        &[data-size="small"] {
          margin-left: $icon-edge-gap--small;
        }
      }
    }
  }
}

.button__icon-background {
  --icon-size: #{$button-height--default * 0.85};

  width: var(--icon-size);
  height: var(--icon-size);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;

  &[data-size="small"] {
    --icon-size: #{$button-height--small * 0.85};
  }

  &--embedded {
    background-color: styles.$gray--000;
  }
}

[theme="dark"] {
  .button {
    &--primary {
      color: styles.$gray--000;
      background-color: var(--accent-color--dark);
      border-color: var(--accent-color--dark);

      &:focus {
        border-color: var(--accent-color--300);
      }

      &:active {
        background-color: var(--accent-color--dark);
        border-color: var(--accent-color--light);
      }

      &:disabled {
        color: styles.$gray--300;
        background-color: styles.$gray--800;
        border-color: styles.$gray--800;
      }
    }

    &--secondary {
      color: var(--accent-color--dark);
      background-color: rgba(var(--accent-color--light-rgb), 0.1);
      border-color: var(--accent-color--dark);

      &:focus {
        background-color: styles.$navy--600;
      }

      &:active {
        background-color: rgba(var(--accent-color--light-rgb), 0.28);
      }

      &:disabled {
        color: styles.$gray--800;
        background-color: styles.$gray--300;
        border-color: styles.$gray--800;
      }
    }

    &--tertiary {
      color: var(--accent-color--dark);

      &:active {
        color: var(--accent-color--600);
      }

      &:disabled {
        color: styles.$gray--800;
      }
    }

    &--ghost {
      color: var(--accent-color--dark);
      background-color: styles.$navy--400;
      border-color: transparent;

      &:enabled:hover {
        box-shadow: 0 3px 12px 0 rgba(var(--accent-color--light-rgb), 0.3);
      }

      &:focus {
        border-color: var(--accent-color--300);
      }

      &:active {
        background-color: styles.$navy--500;
      }

      &:disabled {
        color: styles.$gray--800;
        background-color: styles.$navy--800;
      }
    }
  }
}
