@use "sass:color";
@use "constants/style";
@use "constants/mixins";

$padding--default: style.$spacing--xxs style.$spacing--md style.$spacing--xxs style.$spacing--xxs;
$padding--mobile: 0 0 0 0;

$size-mobile: 56px;

.user-pill {
  all: unset;
  user-select: none;

  height: style.$icon--huge;
  padding: $padding--default;
  border-radius: style.$rounded--large;

  background-color: style.$gray--000;

  &:enabled {
    cursor: pointer;
  }

  &:disabled {
    background-color: style.$gray--300;

    .user-pill__avatar-overlay {
      background-color: color.change(#eeeff1, $alpha: 0.5);
    }

    .user-pill__name {
      color: style.$gray--800;
    }
  }
}

.user-pill__container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: style.$spacing--sm;
}

.user-pill__avatar-container {
  position: relative;

  width: style.$icon--huge;
  height: style.$icon--huge;
  border-radius: 100%;
  background-color: style.$blue--100;

  user-select: none;
}

.user-pill__avatar-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  border-radius: 100%;

  background-color: transparent;
}

.user-pill__avatar {
  width: style.$icon--huge;
  height: style.$icon--huge;
}

.user-pill__name {
  font-size: style.$text--base;
  font-weight: 700;

  color: style.$navy--600;
}

// desktop only styles
@media screen and (min-width: calc(style.$breakpoint--smartphone + 1px)) {
  .user-pill:enabled {
    // this is moved here as a desktop only style because it can't be overwritten by the mobile media query below
    @include mixins.default-states($padding: $padding--default);
  }
}

// mobile only styles
@media screen and (max-width: style.$breakpoint--smartphone) {
  .user-pill {
    height: $size-mobile;
    padding: $padding--mobile;
  }

  .user-pill__avatar-container,
  .user-pill__avatar {
    width: $size-mobile;
    height: $size-mobile;
  }

  .user-pill__name {
    display: none;
  }
}

[theme="dark"] {
  .user-pill {
    background-color: style.$navy--400;

    &:disabled {
      background-color: style.$navy--400;

      .user-pill__avatar-overlay {
        background-color: color.change(style.$navy--700, $alpha: 0.5);
      }

      .user-pill__name {
        color: style.$navy--700;
      }
    }
  }

  .user-pill__avatar-container {
    background-color: style.$navy--700;
  }

  .user-pill__name {
    color: style.$gray--000;
  }
}
