@import "constants/style";

$default-padding: $spacing--xxs $spacing--md $spacing--xxs $spacing--xxs;

.user-pill {
  all: unset;
  display: inline-block;

  padding: $default-padding;
  background-color: $color-white;
  border-radius: $rounded--large;

  cursor: pointer;
  user-select: none;

  @include default-states($padding: $default-padding);
}

.user-pill__container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: $spacing--sm;
}

.user-pill__avatar-container {
  width: $icon--huge;
  height: $icon--huge;
  border-radius: 100%;
  background-color: #ccddff;

  user-select: none;
}

.user-pill__avatar {
  width: $icon--huge;
  height: $icon--huge;
}

.user-pill__name {
  font-size: $text--base;
  font-weight: 700;

  color: #292f3b;
}
