@import "constants/style";

$description-line-height: $line-height--medium;

$settings-icon: 24px;

.column-details {
  display: flex;
  flex-direction: column;
  gap: $spacing--sm;
}

.column-details__name-and-settings-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.column-details__name-wrapper {
  display: flex;
  flex-direction: row;

  overflow: hidden;
}

.column-details__name {
  align-self: flex-start; // only take as much space as needed

  padding: 0 $spacing--xxs $spacing--xxs 0; // extend border space to bottom, and also slightly to the right

  font-size: $text--lg;
  font-weight: 700;

  color: $navy--900;

  border-bottom: 3px solid var(--accent-color--light);

  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.column-details__notes-count {
  color: $gray--800;
  font-size: $text--base;
  font-weight: 600;
}

.column-details__settings-icon-container {
  all: unset;

  width: $settings-icon;
  height: $settings-icon;

  cursor: pointer;
}
.column-details__settings-icon {
  width: $settings-icon;
  height: $settings-icon;

  transform: rotate(90deg);
}

.column-details__description-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.column-details__description {
  flex-grow: 1;
  color: $navy--900;
  font-size: $text--base;
  font-weight: 600;
  line-height: $description-line-height;
  max-height: 2 * $description-line-height;
  overflow: hidden;

  &--expanded {
    max-height: max-content;
  }

  &--placeholder {
    color: $gray--800;
  }
}

.column-details__description-expand-icon-container {
  all: unset;
  align-self: flex-start;

  width: $description-line-height;
  height: $description-line-height;

  cursor: pointer;
}

.column-details__description-expand-icon {
  width: $description-line-height;
  height: $description-line-height;

  &--expanded {
    transform: rotate(180deg);
  }
}
