@use "constants/style";

$overlap-margin: -10px;
$name-gap: 4px;
$stack-author-rest-author-gap: 8px;
$avatar-size: 28px;
$max-name-length: 112px;

// --self classes: indicates yourself as the stack author,
// which is highlighted by the accent color of that column

.note-author-list {
  display: flex;
  flex-direction: row;
  align-items: center;

  // If there's at least one additional author in the stack, apply the gap
  &:has(> .note-rest-authors__container > *) {
    gap: $stack-author-rest-author-gap;
  }
}

.note-author__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: $name-gap;
  border-radius: style.$rounded--full;
  overflow: hidden; // always try to fit content (by cutting the author name)
}

.note-author__container--self {
  background: var(--accent-color--100);
  padding-right: style.$spacing--base;
  width: max-content;
}

.note-rest-authors__container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.note__author {
  // reset css from figure-element:
  border: 0;

  font: inherit;
  height: $avatar-size;
  border-radius: style.$rounded--default;

  // reset margin and overlap avatars on top of each other
  margin: 0 0 0 $overlap-margin;

  &:first-of-type {
    // reset negative margin on first avatar
    margin: 0;
    // render above second avatar
    z-index: style.$note-z-index + 2;
  }

  &:nth-of-type(2) {
    // render above third avatar / rest bubble
    z-index: style.$note-z-index + 1;
  }
}

.note__user-avatar {
  width: $avatar-size;
  height: $avatar-size;
}

// the rest bubble should be about the same size as the avatars
.note-author-rest {
  display: inline-flex;
  width: style.$icon--medium;
  height: style.$icon--medium;
  font-size: style.$text--xs;
  color: style.$gray--000;
  background-color: style.$navy--500;

  // add 1px because it's a little bit off in comparison to .note__author margin
  margin: 0 calc($name-gap + 1px) 0 $overlap-margin;

  justify-content: center;
  align-items: center;

  border: 1.5px solid style.$gray--100;
  border-radius: style.$rounded--full;
}

.note-author-rest--self {
  border-color: style.$navy--500;
}

.note__author-name {
  color: style.$gray--800;
  font-size: style.$text--xs;
  letter-spacing: style.$letter-spacing--small;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.note__author--self > .note__user-avatar #Circle-Background {
  stroke: none;
}

.note__author-name--self {
  color: style.$navy--900;
}

[theme="dark"] {
  .note-author__container--self {
    background: rgba(var(--accent-color--dark-rgb), 0.32);
  }

  .note__author-name {
    color: style.$gray--000;
  }

  .note__author-name--self {
    font-weight: bold;
  }

  .note-author-rest {
    background-color: style.$blue--200;
    color: style.$navy--600;
    border-color: style.$navy--600;
  }

  .note-author-rest--self {
    border-color: style.$blue--200;
  }
}
