@import "src/constants/style";
@import "../SettingsDialog";

$settings__item-height: 48px;

.profile-settings {
  &__container {
    display: flex;
    flex-direction: column;
    gap: $margin--large;
    height: 100%;
    width: 100%;
    max-width: calc(100vw - (2 * #{$settings-dialog-container--sides-small}));

    @media screen and (min-width: 450px) {
      max-width: calc(380px - (2 * #{$settings-dialog-container--sides-small}));
    }

    @media screen and (min-width: 920px) {
      max-width: calc(544px - (2 * #{$settings-dialog-container--sides-large}));
    }

    &-wrapper {
      overflow-y: auto;
      overflow-x: hidden;
      padding-right: $padding--small;
      margin-right: calc(-1 * (#{$padding--small} + 10px));
      margin-bottom: $settings-dialog-container--bottom;

      @media screen and (min-width: 920px) {
        padding-right: $padding--medium;
        margin-right: calc(-1 * (#{$padding--medium} + 10px));
      }

      @include scrollbar();
    }

    > button {
      flex: 0;
    }
  }
}

.profile-settings__hotkey-settings {
  align-items: center;
  width: 100%;
  max-width: calc(544px - (2 * #{$settings-dialog-container--sides-large})); // Avatar settings width
}

.profile-settings__toggle-hotkeys-button {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: $settings__item-height;
  padding-right: $padding--medium;
}

.profile-settings__open-cheat-sheet-button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: $color-dark-gray;
  gap: $margin--small;
  margin-top: 2px;
  padding-left: $padding--medium;
  width: 100%;
  height: $settings__item-height;
  border: none;
  background: none;
  svg {
    width: $icon--medium;
    height: $icon--medium;
    margin-right: $margin--medium;
    g,
    line {
      stroke: $color-dark-gray;
    }
  }
  &:hover,
  &:focus-visible,
  &:active {
    background: none;
  }
}

[theme="dark"] {
  .profile-settings__open-cheat-sheet-button {
    background: none;
    color: $color-middle-gray;
    &:hover {
      background: none;
    }
    svg g,
    line {
      stroke: $color-middle-gray;
    }
  }
}
