@import "../SettingsDialog";

.profile-settings__user-name-button {
  justify-content: space-between;
  cursor: text;
}

.profile-settings__user-name-button span {
  cursor: inherit;
}

.profile-settings__user-name-button_input {
  background-color: transparent;
  border: none;
  padding: 16px 24px 16px 16px;
  font-weight: bold;
  letter-spacing: 0.5px;
  font-size: 14px;
  text-align: right;
  max-width: 150px;
  cursor: inherit;
}

.profile-settings__user-name-button_input:focus {
  outline: none;
}

.profile-settings__user-name-button_input::placeholder {
  font-weight: bold;
  letter-spacing: 0.5px;
  font-size: 14px;
  color: $color-black;
}

[theme="dark"] {
  .profile-settings__user-name-button_input,
  .profile-settings__user-name-button_input::placeholder {
    color: $color-white;
  }
}
