@import "src/constants/style";

.profile-settings__container {
  display: flex;
  flex-direction: column;
  gap: $margin--large;
  height: 100%;

  &-wrapper {
    overflow-y: auto;
    padding-right: 10px;
    margin-right: -20px;
    margin-bottom: $margin--large;

    @include scrollbar();

    @media screen and (min-width: 920px) {
      padding-right: 20px;
      margin-right: -30px;
      margin-bottom: $margin--large;
    }
  }
}

.profile-settings__container > button {
  flex: 0;
}

.profile-settings__user-name-button {
  justify-content: space-between;
  cursor: text;
}

.profile-settings__user-name-button span {
  cursor: inherit;
}

.profile-settings__user-name-button_input {
  background-color: transparent;
  border: none;
  padding: 16px 24px 16px 16px;
  font-weight: bold;
  letter-spacing: 0.5px;
  font-size: 14px;
  text-align: right;
  max-width: 150px;
  cursor: inherit;
}

.profile-settings__user-name-button_input:focus {
  outline: none;
}

.profile-settings__user-name-button_input::placeholder {
  font-weight: bold;
  letter-spacing: 0.5px;
  font-size: 14px;
  color: $color-black;
}

.profile-settings__avatar-icon {
  height: 120px;
  width: 100%;
  flex-shrink: 0;
}

.profile-settings__avatar-selection {
  background-color: $color-white;
  border-radius: 8px;

  > *:not(:last-child) {
    border-bottom: 1px solid $color-white;
  }
}

[theme="dark"] {
  .profile-settings__user-name-button_input,
  .profile-settings__user-name-button_input::placeholder {
    color: $color-white;
  }
  .profile-settings__avatar-selection {
    background-color: $color-dark-mode-note;
  }
}
