@import "../SettingsDialog";

.profile-settings__user-name-button {
  justify-content: space-between;
  cursor: text;
}

.profile-settings__user-name-button span {
  cursor: inherit;
}

.profile-settings__user-name-button_input {
  background-color: transparent;
  border: none;
  padding: $padding--default $padding--medium $padding--default $padding--default;
  font-weight: bold;
  letter-spacing: $letter-spacing--medium;
  font-size: 14px;
  text-align: right;
  width: 60%;
  cursor: inherit;
}

.profile-settings__user-name-button_input:focus {
  outline: none;
}

.profile-settings__user-name-button_input::placeholder {
  font-weight: bold;
  letter-spacing: $letter-spacing--medium;
  font-size: 14px;
  color: $color-black;
}

[theme="dark"] {
  .profile-settings__user-name-button_input,
  .profile-settings__user-name-button_input::placeholder {
    color: $color-white;
  }
}
