@import "constants/style.scss";
@import "components/Votes/VoteButtons/AddVoteButton.scss";
@import "./AssignAvatar.scss";

.assigning {
  margin-left: 10px;
  height: 100%;
  min-width: 40px;
  width: 100%;
  border-radius: 12px;
  padding: 2px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

label {
  font-size: inherit;
  font-weight: bold;
  text-align: center;
}

.assigning__avatar-button {
  background-color: transparent;
  border: none;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.avatar-on-note {
  margin-left: -12px;
}

.assining__pill {
  width: fit-content;
  border-radius: 100px;
  padding-left: 10px;
  padding-right: 10px;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;

  background-color: var(--accent-color--desaturated-light);
}

[theme="dark"] {
  .assining__pill {
    background-color: var(--accent-color--desaturated-dark);
  }

  & label {
    color: $color-white;
  }
}

.assining__pill-assign-label-small {
  display: inline-block;
}
.assining__pill-assign-label-large {
  display: none;
}

@media only screen and (max-width: 1970px) {
  .assining__pill-assign-label-small {
    display: none;
  }

  .assining__pill-assign-label-large {
    display: inline-block;
  }
}

@media only screen and (max-width: 1600px) {
  .assining__pill-assign-label-small {
    display: inline-block;
  }
  .assining__pill-assign-label-large {
    display: none;
  }
}

@media only screen and (max-width: 1391px) {
  .assining__pill-assign-label-small {
    display: none;
  }

  .assining__pill-assign-label-large {
    display: inline-block;
  }
}

@media only screen and (max-width: 880px) {
  .assining__pill-assign-label-small {
    display: inline-block;
  }
  .assining__pill-assign-label-large {
    display: none;
  }
}

@media only screen and (max-width: 760px) {
  .assining__pill-assign-label-small {
    display: none;
  }

  .assining__pill-assign-label-large {
    display: inline-block;
  }
}

@media only screen and (max-width: 510px) {
  .assining__pill-assign-label-small {
    display: inline-block;
  }
  .assining__pill-assign-label-large {
    display: none;
  }
}
