@import "constants/style.scss";

.external-avatar {
  width: 24px;
  height: 24px;
  border-radius: 12px;

  background-color: lightblue;

  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
