@use "constants/styles";
@use "constants/mixins";

$padding--default: 16px;
$padding--fitted: 8px;

$line-height--default: styles.$line-height--medium;
$border-width--default: 2px;
$border-width--thick: 3px;

.text-area {
  resize: none;
  @include mixins.scrollbar();

  width: 100%;

  --text-area-padding: #{$padding--default};
  --text-area-border-width: #{$border-width--default};

  &--fitted {
    --text-area-padding: #{$padding--fitted};
  }

  &--border {
    &-none {
      --text-area-border-width: 0;
      --text-area-padding: 0;
      border-radius: 0;
    }

    // used with non-embedded textareas to not mess with default state borders
    &-transparent {
      --text-area-border-width: #{$border-width--default};
      border-radius: styles.$rounded--default;
      border-color: transparent;
    }

    &-normal {
      --text-area-border-width: #{$border-width--default};
      border-radius: styles.$rounded--default;
    }

    &-thick {
      --text-area-border-width: #{$border-width--thick};
      border-radius: styles.$rounded--default;
    }
  }

  &--text-align {
    &-left {
      text-align: left;
    }

    &-center {
      text-align: center;
    }
  }

  $dynamic-height: calc(var(--text-area-rows) * $line-height--default + 2 * (var(--text-area-padding) + var(--text-area-border-width)));

  min-height: $dynamic-height;
  max-height: $dynamic-height;

  padding: var(--text-area-padding);
  margin: 0;
  outline: none;

  font-size: styles.$text--base;
  font-weight: 500;
  line-height: $line-height--default;

  color: styles.$navy--400;
  background-color: styles.$gray--000;

  &::placeholder {
    color: styles.$gray--800;
  }

  &--text-dim {
    color: styles.$gray--800;
    &:hover,
    &:focus-within {
      color: styles.$navy--400;
      &::placeholder {
        color: styles.$gray--800;
      }
    }
  }

  &--extendable {
    max-height: none;
  }

  &--embedded {
    background: none;
    border: var(--text-area-border-width) dashed var(--accent-color--light);
  }

  &--fitted {
    font-size: styles.$text--xs;
    padding: $padding--fitted;
    border-radius: 5px;
  }

  &:not(&--embedded) {
    @include mixins.default-states($padding: $padding--fitted);
  }
  &:not(&--embedded):not(&--fitted) {
    @include mixins.default-states($padding: $padding--default);
  }
}

[theme="dark"] {
  .text-area {
    color: styles.$gray--300;
    &:not(&--embedded) {
      background-color: styles.$navy--400;
    }

    &::placeholder {
      color: styles.$gray--800;
    }

    &:hover,
    &:focus-within {
      color: styles.$gray--300;
      &::placeholder {
        color: styles.$gray--300;
      }
    }

    &--embedded {
      border-color: var(--accent-color--dark);
    }
  }
}
