@import "constants/style";

$card-height: 220px;

.template-card {
  display: grid;
  grid-template-rows: 36px auto 10px 46px;
  grid-template-columns: 36px $spacing--xxs 1fr auto 36px;
  grid-template-areas:
    "fav-icon   .   head          head         menu-icon"
    ".          .   description   description   ."
    ".          .   .             .             ."
    "col-icon   .   columns       start         start";

  width: 100%;
  height: $card-height;
  border-radius: $rounded--default;
  padding: $spacing--lg;

  background-color: $gray--000;
}

.template-card__favourite {
  grid-area: fav-icon;
}

.template-card__icon {
  align-self: center;

  width: 36px;
  height: 36px;

  color: $navy--900;

  &--menu {
    grid-area: menu-icon;
    transform: rotate(90deg);
  }

  &--columns {
    grid-area: col-icon;
  }
}

.template-card__head {
  grid-area: head;
  align-self: center;

  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: $spacing--xxs;
}

.template-card__title {
  font-size: $text--lg;
  font-weight: 700;
  line-height: 32px;

  color: $navy--900;
}

.template-card__access-policy,
.template-card__access-policy-icon {
  width: 20px;
  height: 20px;
}

.template-card__description {
  grid-area: description;
  align-self: start;

  font-size: $text--sm;
  font-weight: 500;
  line-height: 20px;

  max-height: 4 * 20px;
  margin: 0;
  padding: 0;
  resize: none;

  border: none;

  color: $navy--900;
}

.template-card__columns {
  grid-area: columns;

  display: flex;
  flex-direction: column;
  justify-content: center;

  overflow: hidden;
}

.template-card__columns-title {
  font-size: $text--sm;
  font-weight: 600;
  line-height: 16px;

  color: $navy--400;
}

.template-card__columns-subtitle {
  font-size: $text--xs;
  font-weight: 600;
  line-height: 16px;

  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

  color: $gray--800;
}

.template-card__start-button {
  grid-area: start;
  justify-self: end;
}

[theme="dark"] {
  .template-card {
    background-color: $navy--400;
  }

  .template-card__title {
    color: $gray--000;
  }

  .template-card__description {
    color: $gray--000;
  }

  .template-card__columns-title {
    color: $gray--000;
  }

  .template-card__columns-subtitle {
    color: $gray--800;
  }

  .template-card__icon {
    &--menu,
    &--columns {
      color: $gray--000;
    }
  }
}
