@use "constants/mixins";

// selecting .tooltip-portal directly won't work because of CSS specificity
.tooltip-portal__root .tooltip-portal {
  @include mixins.tooltip--light;
}

[data-theme="dark"] {
  .tooltip-portal__root .tooltip-portal {
    @include mixins.tooltip--dark;
  }
}
