@import "constants/style";

@mixin conditional-transform($translateX, $translateY) {
  $apply-transform: if(var(--apply-transform) == "true", true, false);
  @if $apply-transform {
    transform: translate($translateX, $translateY);
  }
}

@mixin rotate($horizontal) {
  @if $horizontal == true {
    flex-direction: row;
  } @else {
    flex-direction: column;
  }
}

.mini-menu {
  --horizontal: true; /* default value */
  display: flex;
  flex-wrap: wrap;
  flex-direction: row; /* default direction */
  align-items: center;
  gap: $spacing--xxs;
  justify-content: center;

  width: fit-content;
  height: fit-content;
  min-height: 48px;
  padding-left: $spacing--xxs 2px;

  // Conditionally apply the transform property
  @include conditional-transform(calc(-50% - $spacing--xl), 2 * -$spacing--xxs);

  /* Change flex-direction based on the value of --horizontal */
  &[style*="--horizontal: true"] {
    flex-direction: row;
  }

  border-radius: $rounded--full;
  box-shadow: 0 0 20px rgba($navy--400, 0.12);

  background-color: $gray--000;

  &.mobile {
    flex-direction: column;
  }
}

.mini-menu-mobile {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: $spacing--xxs;
  justify-content: center;

  width: fit-content;
  height: fit-content;
  min-height: 48px;
  padding-left: $spacing--xxs 2px;

  // Conditionally apply the transform property
  @include conditional-transform(calc(-50% - $spacing--xl), 2 * -$spacing--xxs);

  border-radius: $rounded--full;
  box-shadow: 0 0 20px rgba($navy--400, 0.12);

  background-color: $gray--000;
}

.mini-menu__item {
  all: unset;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 40px;
  height: 40px;
  border-radius: $rounded--full;

  color: $navy--900;

  cursor: pointer;

  &:hover {
    background-color: $gray--300;
  }

  &--active {
    color: $gray--000;
    background-color: $navy--400;

    &:hover {
      background-color: $navy--600;
    }
  }
}

.mini-menu:first-child {
  padding-left: $spacing--xs;
}

[theme="dark"] {
  .mini-menu__item {
    color: $gray--000;

    &:hover {
      background-color: $navy--600;
    }

    &--active {
      color: $gray--000;
      background-color: $navy--600;

      &:hover {
        background-color: $navy--600;
      }
    }
  }
  .mini-menu {
    background-color: $navy--400;
  }
}
