@use "constants/styles";

$height--default: 48px;
$height--small: 36px;

.mini-menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: styles.$spacing--xxs;
  justify-content: center;

  width: fit-content;
  height: fit-content;
  min-height: $height--default;
  padding-left: styles.$spacing--xxs 2px;

  border-radius: styles.$rounded--full;
  box-shadow: 0 0 20px rgba(styles.$navy--400, 0.12);

  background-color: styles.$gray--000;

  &--transparent {
    background: none;
    box-shadow: none;
  }

  &--small {
    min-height: $height--small;
    height: $height--small;
    padding-left: 2px;
    padding-right: 2px;
  }
}
.mini-menu__item {
  all: unset;

  display: flex;
  justify-content: center;
  align-items: center;

  width: styles.$icon--default;
  height: styles.$icon--default;
  border-radius: styles.$rounded--full;

  color: styles.$navy--900;
  background-color: transparent;

  cursor: pointer;

  &--small {
    width: styles.$icon--small;
    height: styles.$icon--small;
  }

  &:hover {
    background-color: styles.$gray--300;
  }

  &:focus-visible {
    background-color: styles.$gray--300;
  }

  &--active {
    color: styles.$gray--000;
    background-color: styles.$navy--400;

    &:hover {
      background-color: styles.$navy--600;
    }
  }

  &:disabled {
    cursor: not-allowed;
    &:hover {
      background-color: transparent;
    }
  }
}

.mini-menu:first-child {
  padding-left: styles.$spacing--xxs;
}

.mini-menu:last-child {
  padding-right: styles.$spacing--xxs;
}

[data-theme="dark"] {
  .mini-menu__item {
    color: styles.$gray--000;

    &:hover {
      // TODO check if designs aligns with the other employed mini menus
      color: styles.$navy--400;
      background-color: styles.$gray--000;
    }

    &:focus-visible {
      background-color: styles.$navy--600;
    }

    &--active {
      color: styles.$gray--000;
      background-color: styles.$navy--600;

      &:hover {
        background-color: styles.$navy--600;
      }
    }

    &:disabled {
      &:hover {
        color: styles.$gray--000;
        background-color: transparent;
      }
    }
  }
  .mini-menu {
    background-color: styles.$navy--400;

    &--transparent {
      background: none; // reset transparent bgc
    }
  }
}

// Hacky way to not show delete column button if it's the last column
.column:only-of-type .mini-menu > button:nth-child(1) {
  display: none;
}

@media #{styles.$smartphone} {
  .mini-menu {
    &--wrap-to-column {
      // only wrap if activated
      flex-direction: column-reverse;
      align-content: center;
      position: absolute;
      right: 0;
      top: 0;

      &:first-child {
        padding: styles.$spacing--xxs;
      }
    }
  }
}
