@use "constants/style";

$height--default: 48px;
$height--small: 36px;

$icon--default: 40px;
style.$icon--small: 24px;

.mini-menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: style.$spacing--xxs;
  justify-content: center;

  width: fit-content;
  height: fit-content;
  min-height: $height--default;
  padding-left: style.$spacing--xxs 2px;

  border-radius: style.$rounded--full;
  box-shadow: 0 0 20px rgba(style.$navy--400, 0.12);

  background-color: style.$gray--000;

  &--transparent {
    background: none;
    box-shadow: none;
  }

  &--small {
    min-height: $height--small;
    height: $height--small;
    padding-left: 2px;
    padding-right: 2px;
  }
}
.mini-menu__item {
  all: unset;

  display: flex;
  justify-content: center;
  align-items: center;

  width: $icon--default;
  height: $icon--default;
  border-radius: style.$rounded--full;

  color: style.$navy--900;
  background-color: transparent;

  cursor: pointer;

  &--small {
    width: style.$icon--small;
    height: style.$icon--small;
  }

  &:hover {
    background-color: style.$gray--300;
  }

  &:focus-visible {
    background-color: style.$gray--300;
  }

  &--active {
    color: style.$gray--000;
    background-color: style.$navy--400;

    &:hover {
      background-color: style.$navy--600;
    }
  }

  &:disabled {
    cursor: not-allowed;
    &:hover {
      background-color: transparent;
    }
  }
}

.mini-menu:first-child {
  padding-left: style.$spacing--xxs;
}

.mini-menu:last-child {
  padding-right: style.$spacing--xxs;
}

[theme="dark"] {
  .mini-menu__item {
    color: style.$gray--000;

    &:hover {
      // TODO check if designs aligns with the other employed mini menus
      color: style.$navy--400;
      background-color: style.$gray--000;
    }

    &:focus-visible {
      background-color: style.$navy--600;
    }

    &--active {
      color: style.$gray--000;
      background-color: style.$navy--600;

      &:hover {
        background-color: style.$navy--600;
      }
    }

    &:disabled {
      &:hover {
        color: style.$gray--000;
        background-color: transparent;
      }
    }
  }
  .mini-menu {
    background-color: style.$navy--400;

    &--transparent {
      background: none; // reset transparent bgc
    }
  }
}

// Hacky way to not show delete column button if it's the last column
.column:only-of-type .mini-menu > button:nth-child(1) {
  display: none;
}

@media #{style.$smartphone} {
  .mini-menu {
    &--wrap-to-column {
      // only wrap if activated
      flex-direction: column-reverse;
      align-content: center;
      position: absolute;
      right: 0;
      top: 0;

      &:first-child {
        padding: style.$spacing--xxs;
      }
    }
  }
}
