@import "constants/style";

.mini-menu {
  position: absolute;

  display: flex;
  flex-direction: row;
  align-items: center;
  gap: $spacing--xs;

  width: fit-content;
  padding: $spacing--xs 2px;
  // place menu at the same place as the icon (including grid padding)
  transform: translateX(calc(-50% - $spacing--lg));

  border-radius: $rounded--default;
  box-shadow: 0 0 20px rgba($navy--400, 0.12);

  background-color: $gray--000;
}

.mini-menu__item {
  all: unset;

  display: flex;
  align-items: center;

  height: $icon--large;
  border-radius: $rounded--full;

  color: $navy--900;

  cursor: pointer;

  &:hover {
    background-color: $gray--300;
  }

  &--active {
    color: $gray--000;
    background-color: $navy--400;

    &:hover {
      background-color: $navy--100; // TODO find out color
    }
  }
}
