@use "sass:color";
@use "constants/styles";
@use "constants/mixins";

.info-bar {
  position: fixed;
  display: flex;
  align-items: center;
  bottom: auto;
  top: calc(styles.$column__border-width + styles.$header__height);
  left: 50%;
  transform: translateX(-50%);
  height: styles.$info-bar__height;
  justify-content: center;
  gap: styles.$spacing--xs;
  z-index: styles.$infobar-z-index;
}
.info-bar__icon {
  height: styles.$icon--large;
  display: flex;
  gap: styles.$spacing--xs;
  align-items: center;
}

.info-bar__return-to-shared-note-button {
  position: relative;
  border: 0;
  background-color: styles.$gray--000;
  @include mixins.box-shadow-light;
  border-radius: styles.$rounded--full;
  height: 42px;
  width: 42px;
  cursor: pointer;
  display: grid;
  place-content: center;
  outline: none;
  transition: background-color 150ms linear;
  color: styles.$navy--900;

  &:hover {
    background-color: mixins.getLightHoverBackground(styles.$gray--000);
  }

  &:focus-visible {
    outline: 2px solid styles.$blue--500;
  }
}
[theme="dark"] {
  .info-bar__icon {
    color: styles.$gray--000;
  }

  .info-bar__return-to-shared-note-button {
    color: styles.$gray--000;
    background-color: styles.$navy--500;

    &:hover {
      background-color: mixins.getDarkHoverBackground(styles.$navy--500);
    }

    &:focus-visible {
      outline: 2px solid styles.$pink--500;
    }
  }
}

@media (min-width: 400px) {
  .info-bar {
    gap: styles.$spacing--base;
  }
}
