@import "constants/style.scss";

.info-bar {
  position: fixed;
  display: flex;
  align-items: center;
  bottom: auto;
  top: calc($column__border-width + $header__height);
  left: 50%;
  transform: translateX(-50%);
  height: $info-bar__height;
  justify-content: center;
  gap: $spacing--xs;
  z-index: $infobar-z-index;
}

.info-bar__return-to-presented-note-button > svg {
  background-color: $menu-icon-background-color--dark;
  color: $color-white;
}
[theme="dark"] .info-bar__return-to-presented-note-button > svg {
  background-color: $color-white;
  color: $menu-icon-background-color--dark;
}
