@import "constants/style.scss";

.infobar {
  position: fixed;
  display: flex;
  align-items: center;
  bottom: 16px;
  left: 50%;
  transform: translateX(-50%);
  width: 270px;
  justify-content: center;
  z-index: $infobar-z-index;
}

@include collapsedColumns(".infobar") {
  bottom: auto;
  top: 98px;
}

.infobar > *:not(:last-child) {
  margin-right: 20px;
}
