@import "constants/style";

.avatar-settings {
  &__avatar-icon {
    height: 120px;
    width: 100%;
    flex-shrink: 0;
  }

  &__settings {
    background-color: $color-white;
    border-radius: 8px;

    &-group {
      &:not(:last-child) {
        border-bottom: 0.5px solid $color-white-one;
      }

      &-item {
        padding: $padding--extra-small 0;

        &:hover {
          background-color: $color-white-one;
        }
      }

      &-seperator {
        margin: 0;
        margin-left: 5%;
        width: 90%;
        border: 0;
        border-top: 0.5px solid $color-white-one;

        &:last-child {
          display: none;
        }
      }
    }
  }
}

[theme="dark"] {
  .avatar-settings {
    &__settings {
      background-color: $color-dark-mode-note;

      &-group {
        &:not(:last-child) {
          border-bottom: 0.5px solid $color-dark-one;
        }

        &-item:hover {
          background-color: $color-dark-one;
        }

        &-seperator {
          border-top: 0.5px solid $color-dark-one;
        }
      }
    }
  }
}
