@import "src/constants/style";
@import "../SettingsDialog";

// settings-dialog container
// $settings-dialog-container--sides-small: 32px;
// $settings-dialog-container--sides-large: 92px;
// $settings-dialog-container--bottom: 62px;

.settings-dialog__footer {
  margin-top: auto;
  padding: $padding--small $padding--medium;
  background-color: $color-lighter-gray;

  // overflow itsparent
  margin-left: -$settings-dialog-container--sides-small;
  width: calc(100% + 2 * $settings-dialog-container--sides-small);

  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;

  // Text
  color: $menu-icon-background-color--dark;
  letter-spacing: $letter-spacing--medium;
  font-weight: 600;
}

.settings-dialog__footer button {
  padding: 0 $padding--medium;
  height: 36px;
  background-color: $menu-icon-background-color--dark;
  color: $color-white;
  border: none;
  border-radius: $rounded--full;
  font-weight: bold;
  letter-spacing: $letter-spacing--medium;
  cursor: pointer;

  &:hover {
    background-color: $hover-background-dark;
    color: $color-white;
  }
}

@media screen and (min-width: 920px) {
  .settings-dialog__footer {
    width: calc(100% + 2 * $settings-dialog-container--sides-large);
    margin-left: -$settings-dialog-container--sides-large;
  }
}

[theme="dark"] {
  .settings-dialog__footer {
    background-color: $color-dark-mode-note;
    // text
    color: $color-white;
  }
  .settings-dialog__footer button {
    background-color: $color-dark-mode;

    &:hover {
      background-color: $hover-background-dark;
    }
  }
}
