@import "constants/style";

.settings-dropdown {
  display: flex;
  position: relative;
  align-items: center;
  color: $color-black;
}
[theme="dark"] .settings-dropdown {
  color: $color-white;
}

.settings-dropdown-button {
  background-color: inherit;
  color: inherit;
  font-size: $text-size--default;
  font-weight: bold;
  border: none;
  cursor: inherit;
  padding: $padding--default $padding--default $padding--default $padding--small;
}

[theme="dark"] {
  .settings-dropdown-button {
    color: $color-white;
  }
}

.settings-dropdown-content {
  position: absolute;
  width: calc(100% + 20px);
  top: 48px;
  left: -16px;
  border-radius: 8px 8px 8px 8px;
  padding: 0;
  margin: 0;
}

.settings-dropdown-content li {
  display: flex;
  align-items: center;
  width: 100%;
  color: $color-black;
  padding: $padding--default $padding--medium $padding--default $padding--default;
  font-size: $text-size--default;
  font-weight: bold;
  background-color: $color-white;
  gap: 12px;
  border-radius: 8px 8px 8px 8px;
}

[theme="dark"] {
  .settings-dropdown-content li {
    background-color: $color-dark-mode-note;
    color: $color-white;
  }
}

.settings-dropdown-content li:last-child {
  border-radius: 0px 0px 8px 8px;
}

.settings-dropdown-content li:hover {
  background-color: rgba(var(--accent-color-rgb), 0.1);
}

[theme="dark"] {
  .settings-dropdown-content li:hover {
    background-color: $color-dark-mode-note--hover;
  }
}

.settings-dropdown-flag {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.settings-dropdown-icon {
  height: 20px;
  width: 20px;
  transform: rotate(90deg);
}

[theme="dark"] {
  .settings-dropdown-icon {
    color: $color-white;
  }
}
