@import "src/constants/style.scss";

$header-menu-icon-width: 40px;
$header-menu__item-height: 48px;

$header-menu-button-height: 24px;
$header-menu-button-width: 24px;
$header-menu-toggle-button-height: 21px;
$header-menu-toggle-button-width: 21px;
$header-menu-toggle-height: 8px;
$header-menu-toggle-background-color: #c8c8c8;

.settings-toggle {
  width: $header-menu-icon-width;
  height: $header-menu__item-height;
  display: inline-flex;
}
.settings-toggle__switch {
  position: relative;
  display: inline-block;
}
.settings-toggle__switch::after {
  content: "";
  height: $header-menu-toggle-button-height;
  width: $header-menu-toggle-button-width;
  position: absolute;
  border-radius: 100%;
  top: calc(50% - #{$header-menu-toggle-button-height} / 2);
  transition: all 0.25s linear;
}
.settings-toggle__switch::before {
  content: "";
  height: $header-menu-toggle-height;
  width: 40px;
  background-color: $header-menu-toggle-background-color;
  position: absolute;
  border-radius: $header-menu-toggle-height;
  top: calc(50% - #{$header-menu-toggle-height} / 2);
}
.settings-toggle__switch--left::after {
  left: -1px;
  background-color: $color-middle-gray;
}
.settings-toggle__switch--right::after {
  left: $header-menu-toggle-button-width;
  background-color: var(--accent-color);
}
