@use "constants/style";

.settings-carousel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;

  &__text {
    display: flex;
    flex-direction: column;
    align-items: center;

    &-label {
      font-size: style.$text-size--small;
      font-weight: 500;
      color: rgba(style.$navy--900, 0.5);
    }
    &-value {
      font-size: style.$text-size--medium;
      font-weight: bold;
    }
  }

  &__button {
    display: flex;
    cursor: pointer;
    background-color: unset;
    justify-items: center;
    align-items: center;
    border: none;
    outline: none;
    color: var(--accent-color--light);
    transition: all 0.08s ease-out;

    &:hover > svg {
      background-color: var(--accent-color--100);
      transform: scale(1.1);
    }

    &:focus-visible > svg {
      background-color: var(--accent-color--100);
    }

    svg {
      border-radius: style.$rounded--full;
      width: style.$icon--large;
      height: style.$icon--large;
      padding: calc(style.$spacing--xs / 2);
    }
  }
}

[theme="dark"] {
  .settings-carousel {
    &__text {
      &-label {
        color: rgba(style.$gray--000, 0.65);
      }
    }

    &__button {
      color: var(--accent-color--light);

      &:hover > svg,
      &:focus-visible > svg {
        background-color: rgba(var(--accent-color--dark-rgb), 0.6);
      }
    }
  }
}
