@import "constants/style";

$header-menu__item-border-width: 1px;
$header-menu-hover-color--light: #f3f3f3;
$header-menu-button-height: 24px;
$header-menu-icon-width: 79px;
$header-menu-icon-height: 24px;
$settings__item-height: 48px;
$header-menu-border-bottom-color: #efefef;

.settings-option-button {
  display: flex;
  align-items: center;

  background-color: $color-white;
  border-radius: 8px;
  border: none;
  padding: 0;
  height: 100%;
  width: 100%;
  text-align: left;
  cursor: pointer;
}

.settings-option-button:focus-visible {
  outline: none;
}

.settings-option-button:focus-within,
.settings-option-button:hover {
  background-color: rgba(var(--accent-color-rgb), 0.1);
}

.settings-option-button__label {
  overflow: hidden;
  text-overflow: ellipsis;
  color: $color-black;
  font-size: 14px;
  letter-spacing: 0.5px;
  cursor: pointer;
  padding: 16px 24px;
  hyphens: auto;
  white-space: nowrap;
}

.settings-option-button__icon {
  width: $header-menu-icon-width;
  height: $header-menu-icon-height;
  color: var(--accent-color);
  vertical-align: middle;
  border-bottom: none !important;
}

.settings-option-button--disabled {
  cursor: default !important;
}

.settings-option-button--disabled:focus-within,
.settings-option-button--disabled:hover {
  cursor: default;
  background-color: $color-white;
}

[theme="dark"] {
  .settings-option-button {
    background-color: $color-dark-mode-note;
  }
  .settings-option-button:focus-within,
  .settings-option-button:hover {
    background-color: $color-dark-mode-note--hover;
  }

  .settings-option-button__label {
    color: $color-white;
  }

  .settings-option-button--disabled:focus-within,
  .settings-option-button--disabled:hover {
    background-color: $color-dark-mode-note;
  }

  .settings-option-button--expandable {
    background-color: $color-dark-mode-note;
  }
}
