@import "src/constants/style";

.accordion-item {
  width: 100%;

  &__header {
    width: 100%;
    height: 48px;
    font-size: 14px;
    display: flex;
    padding: $padding--small $padding--medium;
    background-color: unset;
    border: none;
    justify-content: space-between;
    align-items: center;
  }

  &__header-icon {
    height: 24px;
    color: var(--accent-color);
    transform: rotate(90deg);

    &--open {
      transform: rotate(-90deg);
    }
  }

  &__body {
    width: 100%;
    max-height: 0;
    overflow: hidden;

    &--open {
      max-height: 100vh;
    }
  }
}

[theme="dark"] {
  .accordion-item {
    // background-color: $color-dark-mode-note;

    &__header {
      color: $color-white;
    }
  }
}
