@import "src/constants/style";

$transition-time: 0.2s;

// CONTAINER
.request__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 12px;

  width: auto;
  height: 56px;

  padding: 0 5px;
  border-radius: 28px;

  background-color: $color-white;
  box-shadow: 0 3px 5px rgba($menu-icon-background-color--dark, 30%);

  transition: background-color $transition-time ease-out, margin-right $transition-time ease-out, padding-right $transition-time ease-out;

  #Circle-Background {
    stroke: $tooltip-background-color--light;
    transition: stroke $transition-time ease-out;
  }

  &:hover {
    background-color: $hover-background-orchid;
    padding-right: 10px;
    margin-right: -10px;

    #Circle-Background {
      stroke: $color-lean-lilac;
    }

    .request__info-container {
      opacity: 0;
    }
    .request__button {
      opacity: 100%;
    }
  }
}

// FIGURE
.request__request-figure {
  margin: 0;
}

// MIDDLE WRAPPER
.request__middle-wrapper {
  position: relative;
}

// NAME AND TEXT
.request__info-container {
  display: flex;
  flex-direction: column;
  font-size: $text-size--medium;

  transition: opacity 0.1s ease-out;
}

.request__participant-name {
  color: $menu-icon-background-color--dark;
  font-weight: bold;
}

.request__info-text {
  color: $menu-icon-background-color--dark;
  opacity: 50%;
}

// BUTTON
.request__button-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  column-gap: 6px;

  // position button over .request__info-container and center vertically
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.request__button {
  height: 40px;
  width: 100%;

  border: none;
  border-radius: 21px;

  font-weight: bold;
  font-size: $text-size--medium;

  opacity: 0;
  transition: opacity $transition-time linear;

  &:hover {
    cursor: pointer;
  }
}

// ICON
.request__icon-container {
  width: $icon--extralarge;
  height: $icon--extralarge;
}
