@import "src/constants/style";

$request-container-padding: 30px;

// CONTAINER
.request__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: $request-container-padding;

  width: fit-content;
  height: 56px;
  border-radius: 28px;

  padding: 0 $request-container-padding;

  background-color: $color-white;
  box-shadow: 0 3px 5px rgba($menu-icon-background-color--dark, 30%);
}

// FIGURE
.request__request-figure {
  margin: 0;
}

// NAME AND TEXT
.request__info-container {
  display: flex;
  flex-direction: column;
}

.request__participant-name {
  color: $menu-icon-background-color--dark;
  font-weight: bold;
}

.request__info-text {
  color: $menu-icon-background-color--dark;
  opacity: 50%;
}

// ICON
.request__icon {
  width: $icon--large;
  height: $icon--large;
}
