@import "constants/style";
@import "components/Column/Column";

.board {
  --visible-columns: 1;

  display: grid;
  grid-auto-flow: column;
  grid-template-columns: repeat(
    var(--board__columns),
    minmax(calc((100vw - #{$board__side-panel-width * 2}) / min(var(--board__columns), var(--visible-columns))), #{$column__max-width})
  );

  scroll-snap-type: x mandatory;
  scroll-snap-stop: always;
  scroll-padding: $board__side-panel-width;

  width: 100vw;
  height: 100%;

  -ms-overflow-style: none;
  scrollbar-width: none;

  overflow: hidden;
  overflow-x: scroll;
}
.board::-webkit-scrollbar {
  display: none;
}

.board > * {
  scroll-snap-align: start;
}

@media screen and (max-width: $column__min-width+2*$board__side-panel-width) {
  .board {
    grid-template-columns: repeat(var(--board__columns), calc(100% - #{$column__border-width * 2}));
    scroll-padding: $column__border-width;
  }
}

@for $i from 1 through 16 {
  @media screen and (min-width: $i*($column__min-width+2*$board__side-panel-width)) {
    .board {
      --visible-columns: #{$i};
    }
  }
}
