@use "constants/styles";
@use "constants/mixins";
@use "components/Column/Column";

.board {
  --visible-columns: 1;

  display: grid;
  grid-auto-flow: column;
  grid-template-columns:
    minmax(styles.$board__side-panel-width, 1fr)
    repeat(var(--board__columns), Min(calc((100% - #{styles.$board__side-panel-width * 2}) / min(var(--board__columns), var(--visible-columns))), #{styles.$column__max-width}))
    minmax(styles.$board__side-panel-width, 1fr);

  scroll-snap-type: x mandatory;
  scroll-snap-stop: always;
  scroll-padding: styles.$board__side-panel-width;

  width: 100vw;
  height: 100%;

  -ms-overflow-style: none;
  scrollbar-width: none;

  overflow: hidden;
  overflow-x: scroll;

  &::-webkit-scrollbar {
    display: none;
  }

  > * {
    scroll-snap-align: start;
  }

  &--dragging {
    scroll-snap-type: none; // disable snapping while dragging due to unwanted behavior with dnd-kit
  }
}

.board__spacer-left {
  @include mixins.inset-border($top: true, $left: true, $bottom: true);

  &.board__spacer--moderation-isActive {
    @include mixins.inset-border($top: true, $left: true, $bottom: true, $color: styles.$victory-verde--light);
  }
}
.board__spacer-right {
  @include mixins.inset-border($top: true, $right: true, $bottom: true);

  &.board__spacer--moderation-isActive {
    @include mixins.inset-border($top: true, $right: true, $bottom: true, $color: styles.$victory-verde--light);
  }
}

.board__spacer-left:nth-child(odd),
.board__spacer-right:nth-child(odd) {
  background-color: styles.$gray--200;
}

.board__spacer-left:nth-child(even),
.board__spacer-right:nth-child(even) {
  background-color: styles.$gray--100;
}

.column--hidden + .board__spacer-right,
.board__spacer-left:has(+ .column--hidden) {
  @include mixins.column-stripes-light;
}

[data-theme="dark"] {
  .board__spacer-left {
    @include mixins.inset-border($top: true, $left: true, $bottom: true, $color: var(--accent-color--400));
  }
  .board__spacer-right {
    @include mixins.inset-border($top: true, $right: true, $bottom: true, $color: var(--accent-color--400));
  }
  .board__spacer-left:nth-child(odd),
  .board__spacer-right:nth-child(odd) {
    background-color: styles.$navy--600;
  }

  .board__spacer-left:nth-child(even),
  .board__spacer-right:nth-child(even) {
    background-color: styles.$navy--500;
  }

  .column--hidden + .board__spacer-right,
  .board__spacer-left:has(+ .column--hidden) {
    @include mixins.column-stripes-dark;
  }
}

@media screen and (max-width: styles.$column__min-width+2*styles.$board__side-panel-width) {
  .board {
    grid-template-columns:
      styles.$column__border-width repeat(var(--board__columns), calc(100% - #{styles.$column__border-width * 2}))
      styles.$column__border-width;
    scroll-padding: styles.$column__border-width;
  }
}

@for $i from 1 through 16 {
  @media screen and (min-width: $i*(styles.$column__min-width+2*styles.$board__side-panel-width)) {
    .board {
      --visible-columns: #{$i};
    }
  }
}
