@import "constants/style.scss";

$timer-display-width: 114px;
$timer__content-height: 38px;
$timer__short-actions-height: 28px;

.timer {
  height: 100%;
  width: $timer-display-width;
  color: $color-white;
  background-color: $menu-icon-background-color--dark;
  border-radius: $rounded--full;
  position: relative;
  border: 2px solid $menu-icon-background-color--dark;
}
.timer > svg {
  position: absolute;
  height: 100%;
  background-color: $menu-icon-background-color--dark;
  border-radius: 100%;
}
[theme="dark"] .timer > svg {
  background-color: $color-white;
  color: $color-black;
}

.timer > span {
  position: absolute;
  right: 0;
  left: 0;
  height: 100%;
  width: 100%;
  padding-left: $timer__content-height;
  line-height: $timer__content-height;
  text-align: center;
  font-weight: bold;
}

.timer__progress-bar {
  position: absolute;
  top: 0;
  left: calc($timer__content-height / 2);
  height: $timer__content-height;
  border-top-right-radius: $rounded--full;
  border-bottom-right-radius: $rounded--full;
  background-color: $color-progress-circle;
}

.timer__short-actions {
  height: 100%;
  width: 100%;
  position: absolute;
  border-radius: calc($timer__content-height / 2);
  background-color: $menu-icon-background-color--dark;
  display: none;
  justify-content: end;
  align-items: center;
  gap: $margin--small;
  padding-right: 4px;
}

.timer:hover > .timer__short-actions {
  display: flex;
}

.short-actions__short-action {
  position: relative;
  height: $timer__short-actions-height;
  width: $timer__short-actions-height;
  border-radius: $rounded--full;
}

.short-action__button {
  height: $timer__short-actions-height;
  width: $timer__short-actions-height;
  border-radius: $rounded--full;
  background-color: $color-dark-gray;
  color: $menu-icon-background-color--dark;
  border: none;
  padding: 0;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.short-action__button > svg {
  position: absolute;
  height: $icon--small;
  width: $icon--small;
}
.short-action__button--ready > .short-action__cancel-icon,
.short-action__button--unready > .short-action__cancel-icon {
  visibility: hidden;
}
.short-action__button--ready:hover > .short-action__check-icon {
  visibility: hidden;
}
.short-action__button--ready:hover > .short-action__cancel-icon {
  visibility: visible;
}
.short-action__button > .short-action__check-icon {
  height: $timer__short-actions-height;
  width: $timer__short-actions-height;
}

.short-action__button:hover {
  background-color: $color-progress-circle;
  color: $color-white;
}

.short-action__tooltip {
  width: max-content;
  visibility: hidden;
  opacity: 0;
  transition: opacity 150ms linear;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  border-radius: $rounded--full;
  padding: $padding--small $padding--default;
  background-color: $tooltip-background-color--light;
  color: $menu-icon-background-color--dark;
  font-size: $text--base;
  font-weight: bold;
  bottom: calc(100% + 6px);
  box-shadow: $box-shadow--light;
  z-index: calc($infobar-z-index + 50);
}
@media (prefers-reduced-motion) {
  .short-action__tooltip {
    transition: none;
  }
}
.short-actions__short-action:hover > .short-action__tooltip {
  visibility: visible;
  opacity: 1;
}
[theme="dark"] .short-action__tooltip {
  background-color: $tooltip-background-color--dark;
  color: $color-white;
}

.short-action__tooltip::after {
  content: "";
  position: absolute;
  border: 4px solid;
  border-color: $tooltip-background-color--light transparent transparent transparent;
  left: 50%;
  transform: translateX(-50%);
  top: 100%;
}
[theme="dark"] .short-action__tooltip::after {
  border-color: $tooltip-background-color--dark transparent transparent transparent;
}

// Shake animation on expired timer
.timer--expired {
  animation: shake 0.5s;
  animation-iteration-count: 10;
}
@media (prefers-reduced-motion: reduce) {
  .timer--expired > span {
    animation: none;
  }
}
@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}
