@use "constants/style";

.board-option {
  background: style.$navy--500;
}

.board-option + .board-option {
  border-top: 1px solid style.$gray--300;
}

[theme="dark"] {
  .board-option + .board-option {
    border-color: style.$navy--600;
  }
}

.board-option:focus-visible,
.board-option:hover {
  background: style.$navy--400;
}
