@import "constants/style";
$header-menu__item-height: 48px;

.board-option-link {
  display: block;
  width: 100%;
  background: $color-white;
  text-decoration: none;
  outline: none;
  height: $header-menu__item-height;

  &:hover {
    filter: $darken--slightly;
  }

  &:focus-visible {
    background-color: $color-white-two;
  }
}

[theme="dark"] {
  .board-option-link {
    background-color: $color-dark-mode-note;

    &:hover {
      filter: $brighten--slightly;
    }

    &:focus-visible {
      background-color: $color-dark-mode-note--hover;
    }
  }
}

.board-option-link__label {
  margin: 0;
  text-align: center;
  line-height: $header-menu__item-height;
  color: $color-backlog-blue;
  font-weight: 600;
}

[theme="dark"] .board-option-link__label {
  color: $color-planning-pink;
}
