@use "constants/style";
$header-menu__item-height: 48px;

.board-option-link {
  display: block;
  width: 100%;
  background: style.$gray--000;
  text-decoration: none;
  outline: none;
  height: $header-menu__item-height;

  &:hover {
    filter: style.$darken--slightly;
  }

  &:focus-visible {
    background-color: style.$gray--200;
  }
}

[theme="dark"] {
  .board-option-link {
    background-color: style.$navy--500;

    &:hover {
      filter: style.$brighten--slightly;
    }

    &:focus-visible {
      background-color: style.$navy--400;
    }
  }
}

.board-option-link__label {
  margin: 0;
  text-align: center;
  line-height: $header-menu__item-height;
  color: style.$blue--500;
  font-weight: 600;
}

[theme="dark"] .board-option-link__label {
  color: style.$pink--500;
}
