@use "constants/styles";

.board-option {
  background: styles.$navy--500;
}

.board-option + .board-option {
  border-top: 1px solid styles.$gray--300;
}

[theme="dark"] {
  .board-option + .board-option {
    border-color: styles.$navy--600;
  }
}

.board-option:focus-visible,
.board-option:hover {
  background: styles.$navy--400;
}
