@import "constants/style";

$header-menu__item-border-width: 1px;
$header-menu-border-bottom-color: #efefef;

.share-qr-code-option__container {
  height: 0;
  width: 100%;
  background-color: $color-white;
  transition: height 0.5s ease-in-out;
  position: relative;
  overflow: hidden;
}
.share-qr-code-option__container--visible {
  box-sizing: border-box;
  height: 324px;
  border-bottom: $header-menu__item-border-width solid $header-menu-border-bottom-color;
}
