@use "constants/styles";
@use "constants/mixins";

$padding--default: styles.$spacing--xs;
$padding--mobile: 6px;

.switch {
  all: unset;
  user-select: none;

  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0;

  width: fit-content;
  padding: $padding--default;
  border-radius: styles.$rounded--large;

  background-color: styles.$gray--000;

  &:enabled {
    cursor: pointer;

    @include mixins.default-states($padding: $padding--default);
  }

  &:disabled {
    background-color: styles.$gray--000;

    .switch__item {
      color: styles.$gray--800;
      background-color: styles.$gray--000;

      &--active {
        background-color: styles.$gray--400;
      }
    }
  }
}

.switch__item {
  display: flex;
  align-items: center;

  padding: 14.5px styles.$spacing--base;
  border-radius: styles.$rounded--large;

  font-size: styles.$text--base;
  font-weight: 600;

  color: #292f3b;
  background-color: styles.$gray--000;

  transition:
    background-color 0.3s,
    color 0.3s;

  &--active {
    background-color: styles.$navy--600;
    color: styles.$gray--000;

    font-weight: 700;
  }
}

@media screen and (max-width: styles.$breakpoint--smartphone) {
  .switch {
    padding: $padding--mobile;

    &:enabled {
      @include mixins.default-states($padding: $padding--mobile);
    }
  }

  .switch__item {
    font-size: styles.$text--sm;
  }
}

[theme="dark"] {
  .switch {
    background-color: styles.$navy--600;

    &:disabled {
      background-color: styles.$navy--700;

      .switch__item {
        color: styles.$navy--300;
        background-color: styles.$navy--700;

        &--active {
          color: styles.$navy--300;
          background-color: styles.$gray--400;
        }
      }
    }
  }

  .switch__item {
    color: styles.$gray--000;
    background-color: styles.$navy--400;

    &--active {
      color: styles.$navy--600;
      background-color: styles.$gray--000;
    }
  }
}
