@import "constants/style";

.switch {
  display: flex;
  flex-direction: row;
  gap: 0;

  width: fit-content;
  padding: $spacing--xxs;
  border-radius: $rounded--large;

  background-color: $color-white;
}

.switch__item {
  display: flex;
  align-items: center;

  padding: $spacing--sm $spacing--base;
  border-radius: $rounded--large;

  font-size: $text--base;
  font-weight: 600;

  transition:
    background-color 0.3s,
    color 0.3s;

  &--active {
    background-color: #292f3b;
    color: white;
  }

  &:not(&--active) {
    cursor: pointer;
  }
}
