@import "constants/style";

$default-padding: $spacing--xs;

.switch {
  all: unset;
  user-select: none;

  display: flex;
  flex-direction: row;
  gap: 0;

  width: fit-content;
  padding: $default-padding;
  border-radius: $rounded--large;

  background-color: $color-white;

  &:enabled {
    @include default-states($padding: $default-padding);

    .switch__item {
      &:not(&--active) {
        cursor: pointer;
      }
    }
  }

  &:disabled {
    background-color: #eeeff1;

    .switch__item {
      color: #8f95a1;
      background-color: #eeeff1;

      &--active {
        background-color: #e9eaec;
      }
    }
  }
}

.switch__item {
  display: flex;
  align-items: center;

  padding: $spacing--sm $spacing--base;
  border-radius: $rounded--large;

  font-size: $text--base;
  font-weight: 600;

  transition:
    background-color 0.3s,
    color 0.3s;

  &--active {
    background-color: #292f3b;
    color: white;

    font-weight: 700;
  }
}
