@use "constants/styles";

.app-info {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  font-size: styles.$text-size--medium;

  text-decoration: none;
  color: styles.$gray--800;

  transition: all 0.08s ease-out;

  &:hover {
    color: styles.$gray--700;
  }

  &:focus-visible {
    outline: none;
    text-decoration: underline;
  }
}

.app-info__icon {
  width: 24px;
  height: 24px;
}

[theme="dark"] {
  .app-info {
    color: styles.$gray--700;

    &:focus-visible,
    &:hover {
      color: styles.$gray--000;
    }
  }
  .app-info__icon path {
    fill: styles.$gray--000;
  }
}
