@import "src/constants/style";

.note-reaction-chip__root {
  all: unset; // remove default buttons styling

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 3px;

  width: 34px;
  padding: 5px 8px; // total width: 50px
  border-radius: $rounded--full;
  background-color: $color-lighter-gray;

  font-size: $text--base;

  &:hover {
    background-color: $color-light-gray;
  }
}

.note-reaction-chip__root--self {
  background-color: var(--accent-color--desaturated-light);

  &:hover {
    background-color: var(--accent-color--desaturated-light-hover);
  }
}

.note-reaction-chip__reaction {
  font-size: $text--md;
}

.note-reaction-chip__amount {
  font-size: $text--sm;
  font-weight: 600;
}
