@use "constants/style";

.note-reaction-chip__root {
  all: unset; // remove default buttons styling

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 8px;

  // total dimensions: 50x28
  height: 18px;
  padding: 5px 8px 5px 7px;
  border-radius: style.$rounded--full;
  background-color: style.$gray--300;

  font-size: style.$text--base;

  user-select: none;
  cursor: pointer;

  &:hover {
    background-color: style.$gray--500;
  }
}

.note-reaction-chip__reaction {
  font-size: style.$text--md;
}

.note-reaction-chip__amount {
  font-size: style.$text--sm;
  font-weight: 600;
  line-height: 18px;
  color: style.$navy--900;
}

.note-reaction-chip__root--self {
  background-color: var(--accent-color--100);

  &:hover {
    background-color: var(--accent-color--200);
  }
}

// override
.note-reaction-chip__root--override-active {
  background-color: var(--accent-color--light);

  .note-reaction-chip__amount {
    color: style.$gray--000;
  }

  &:hover {
    background-color: var(--accent-color--light); // essentially no hover color when active.
  }
}

[theme="dark"] {
  .note-reaction-chip__root {
    background-color: style.$navy--600;

    &:hover {
      background-color: style.$navy--300;
    }
  }

  .note-reaction-chip__root--self {
    background-color: rgba(var(--accent-color--dark-rgb), 0.6);

    &:hover {
      background-color: rgba(var(--accent-color--dark-rgb), 0.8);
    }
  }

  .note-reaction-chip__root--override-active {
    background-color: rgba(var(--accent-color--dark-rgb), 0.8);
    &:hover {
      background-color: rgba(var(--accent-color--dark-rgb), 0.8);
    }
  }

  .note-reaction-chip__amount {
    color: style.$gray--000;
  }
}
