@use "constants/styles";
@use "constants/mixins";

.emoji-suggestions {
  &__container {
    position: absolute;
    top: calc(100% + styles.$spacing--xs);
    left: 0;
    width: 100%;
    border-radius: styles.$rounded--default;
    background-color: styles.$gray--300;
    max-height: min(styles.$emoji-suggestions__max-height, calc(100vh - var(--top-distance, 0px) - 2 * styles.$spacing--lg));
    color: styles.$navy--900;

    z-index: styles.$emoji-suggestions-z-index;
    overflow-y: auto;
    @include mixins.box-shadow-light;

    @include mixins.scrollbar();

    &--empty {
      display: none;
    }

    &--relative {
      position: relative;
      top: 0;
    }
  }

  &__list {
    padding: styles.$spacing--xs;
    margin: 0;
    list-style: none;
  }

  &__element {
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: styles.$spacing--xs;
    border-radius: styles.$rounded--small;
    line-height: styles.$line-height--medium;
  }

  &__element:hover,
  &__element--focus {
    background-color: rgba(var(--accent-color--light-rgb), 0.2);
  }

  &__emoji {
    margin-right: styles.$spacing--xs;
    user-select: none;
    font-size: styles.$text--md;
  }
}

[data-theme="dark"] {
  .emoji-suggestions {
    &__container {
      color: styles.$gray--000;
      background-color: styles.$navy--500;
    }

    &__element:hover,
    &__element--focus {
      background-color: #485064;
    }
  }
}
