@import "constants/style";

.emoji-suggestions {
  &__container {
    position: absolute;
    top: calc(100% + $spacing--xs);
    left: 0;
    width: 100%;
    border-radius: $rounded--default;
    background-color: $color-lighter-gray;
    max-height: min($emoji-suggestions__max-height, calc(100svh - var(--approx-top-distance, 0px)));
    color: $color-black;

    z-index: $emoji-suggestions-z-index;
    overflow-y: auto;
    box-shadow: $box-shadow--light;

    @include scrollbar();
  }

  &__list {
    padding: $spacing--xs;
    margin: 0;
    list-style: none;
  }

  &__element {
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: $spacing--xs;
    border-radius: $rounded--small;
    line-height: $line-height--medium;
  }

  &__element:hover,
  &__element--focus {
    background-color: rgba(var(--accent-color-rgb), 0.2);
  }

  &__emoji {
    margin-right: $spacing--xs;
    user-select: none;
    font-size: $text--md;
  }
}

[theme="dark"] {
  .emoji-suggestions {
    &__container {
      color: $color-white;
      background-color: $color-dark-mode-note;
    }

    &__element:hover,
    &__element--focus {
      background-color: #485064;
    }
  }
}
