@use "constants/style";

.emoji-suggestions {
  &__container {
    position: absolute;
    top: calc(100% + style.$spacing--xs);
    left: 0;
    width: 100%;
    border-radius: style.$rounded--default;
    background-color: style.$gray--300;
    max-height: min(style.$emoji-suggestions__max-height, calc(100vh - var(--top-distance, 0px) - 2 * style.$spacing--lg));
    color: style.$navy--900;

    z-index: style.$emoji-suggestions-z-index;
    overflow-y: auto;
    box-shadow: style.$box-shadow--light;

    @include style.scrollbar();

    &--empty {
      display: none;
    }

    &--relative {
      position: relative;
      top: 0;
    }
  }

  &__list {
    padding: style.$spacing--xs;
    margin: 0;
    list-style: none;
  }

  &__element {
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: style.$spacing--xs;
    border-radius: style.$rounded--small;
    line-height: style.$line-height--medium;
  }

  &__element:hover,
  &__element--focus {
    background-color: rgba(var(--accent-color--light-rgb), 0.2);
  }

  &__emoji {
    margin-right: style.$spacing--xs;
    user-select: none;
    font-size: style.$text--md;
  }
}

[theme="dark"] {
  .emoji-suggestions {
    &__container {
      color: style.$gray--000;
      background-color: style.$navy--500;
    }

    &__element:hover,
    &__element--focus {
      background-color: #485064;
    }
  }
}
