@use "constants/styles";
@use "constants/mixins";

.column {
  min-width: styles.$column__min-width;
  width: 100%;
  max-width: styles.$column__max-width;
  @include mixins.inset-border($top: true, $bottom: true);
  padding-top: calc(styles.$column__border-width + styles.$header__height + styles.$info-bar__height);
  height: 100%;
  overflow-y: auto;
  display: flex;
}
.column__moderation-isActive {
  @include mixins.inset-border($top: true, $bottom: true, $color: styles.$victory-verde--light);
}
.column:nth-child(odd) {
  background-color: styles.$gray--100;
}
.column:nth-child(even) {
  background-color: styles.$gray--200;
}
[theme="dark"] {
  .column:nth-child(even) {
    background-color: styles.$navy--600;
  }
  .column:nth-child(odd) {
    background-color: styles.$navy--500;
  }
}
.column--hidden {
  @include mixins.column-stripes-light;
}
[theme="dark"] {
  .column--hidden {
    @include mixins.column-stripes-dark;
  }
}

.column__content {
  max-height: 100%;
  max-width: 100%;
  padding: 0 0 styles.$column__border-width 0;
  display: flex;
  flex-direction: column;
  flex: 1;
  ::selection {
    background-color: rgba(var(--accent-color--400-rgb), 0.5);
  }
}

.column__header {
  display: flex;
  flex-direction: column;
  padding: 0 styles.$spacing--xl;

  z-index: styles.$column-header-z-index;
}

.column__header-title {
  display: flex;
  word-break: break-word;
  align-items: center;
  justify-content: space-between;
  margin-bottom: styles.$spacing--base;
  height: 48px;
  position: relative;
}

.column__header-text-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: auto;
  height: auto;
  border-bottom: solid 3px var(--accent-color--400);
  margin: 0 styles.$spacing--xs 0 0;
  overflow: hidden;
}

.column__header-text-wrapper--hidden {
  border-bottom-style: dashed;
}

.column__header-text {
  font-size: calc(#{styles.$text-size--large} + 0.4vw);
  margin: 0;
  font-weight: bold;
  letter-spacing: styles.$letter-spacing--large;
  line-height: styles.$line-height--large;
  color: styles.$navy--900;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.column__header-text--hidden {
  color: styles.$gray--700;
}

// tooltip requires parent selection because of specificity
.column__header-text-wrapper .column__tooltip {
  @include mixins.tooltip--light;
}

.column__header-input {
  display: flex;
  align-items: center;
  border: none;
  font-size: calc(#{styles.$text-size--large} + 0.4vw);
  color: styles.$navy--900;
  border-bottom: dashed 3px var(--accent-color--400);
  margin: 0 auto 0 0;
  font-weight: bold;
  letter-spacing: styles.$letter-spacing--large;
  line-height: styles.$line-height--large;
  background-color: transparent;
  padding: 0;
  outline: none;
  max-width: 300px;
  width: 50%;
}
[theme="dark"] {
  .column__header-input {
    color: styles.$gray--000;
  }
}

.column__header-card-number {
  margin-bottom: styles.$spacing--base;
  font-size: styles.$text-size--medium;
  color: styles.$gray--700;
  font-weight: 600;
  letter-spacing: styles.$letter-spacing--large;
  line-height: styles.$line-height--large;
  flex: 1 0 12px;
}

.column__notes-wrapper {
  overflow: auto;
  border-radius: 16px;
  border: 2px dashed transparent;
  transition: all 0.25s ease-in-out;
  flex: 1;
  outline: none;
  scrollbar-width: 10px;

  @include mixins.scrollbar();
}

.column__notes-wrapper.isOver {
  border-color: var(--accent-color--400);
  background-color: rgba(var(--accent-color--400-rgb), 0.2);
}

.column__note-list {
  margin: 0;
  // padding-top of 4px to display note outline focus correctly
  padding: 4px styles.$spacing--xl styles.$spacing--base styles.$spacing--xl;
  display: grid;
  grid-auto-flow: row;
  grid-row-gap: 20px;
  grid-column-gap: 24px;
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  list-style: none;
}

[theme="dark"] {
  .column {
    @include mixins.inset-border($top: true, $bottom: true, $color: var(--accent-color--400));
  }

  .column__header-text {
    color: styles.$gray--000;
  }

  .column__header-text--hidden {
    color: styles.$gray--700;
  }

  .column__header-text-wrapper .column__tooltip {
    @include mixins.tooltip--dark;
  }
}

.column__header-hidden-icon {
  height: styles.$icon--large;
  width: styles.$icon--large;
  min-width: styles.$icon--medium;
  min-height: styles.$icon--medium;
  margin: 0 styles.$spacing--xs 0 0;
  color: styles.$critical-carmine--light;
  cursor: pointer;
  transition: all 0.08s ease-out;
}

.column__header-hidden-icon:hover {
  color: styles.$navy--900;
}

[theme="dark"] {
  .column__header-hidden-icon:hover {
    color: styles.$gray--000;
  }
}

.column__header-edit-button {
  height: 24px;
  // Align with note-input__icon
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  transition: all 0.08s ease-out;
  flex: 0 0 24px;
  margin: auto calc(#{styles.$spacing--base} - 2px) auto styles.$spacing--base;

  &:hover > svg,
  &:focus-visible > svg {
    transform: translate(-0.64px, -0.64px);
    filter: drop-shadow(2px 2px 2px rgba(var(--accent-color--400-rgb), 0.24));
    color: var(--accent-color--400);
  }
}

.column__header-edit-button-icon {
  color: styles.$navy--900;
  height: 24px;
  width: 24px;
  transition: all 0.08s ease-out;
}

[theme="dark"] .column__header-edit-button-icon {
  color: styles.$gray--000;
}
