@import "constants/style";

.column {
  min-width: $column__min-width;
  width: 100%;
  max-width: $column__max-width;
  @include inset-border($top: true, $bottom: true);
  padding-top: $header__height;
  height: 100vh;
  display: flex;
}
.column:nth-child(odd) {
  background-color: $color-white-one;
}
.column:nth-child(even) {
  background-color: $color-white-two;
}
@media (prefers-color-scheme: dark) {
  .column:nth-child(even) {
    background-color: $color-dark-one;
  }
  .column:nth-child(odd) {
    background-color: $color-dark-two;
  }
}

.column__content {
  max-height: 100%;
  padding: $padding--large 0 $column__border-width 0;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.column__header {
  padding: 0 $padding--large;
}

.column__header-title {
  display: flex;
}

.column__header-text {
  font-size: 24px;
  color: $color-black;
  border-bottom: solid 3px var(--accent-color);
  margin-right: 10px;
  font-weight: bold;
  letter-spacing: $letter-spacing--large;
  line-height: $line-height--large;
}

.column__header-card-number {
  font-size: 20px;
  color: $color-middle-gray;
  font-weight: 600;
  letter-spacing: $letter-spacing--large;
  line-height: $line-height--large;
}

.column__notes-wrapper {
  overflow: auto;
  border-radius: 16px;
  border: 2px dashed transparent;
  transition: all 0.25s ease-in-out;
  flex: 1;
  margin-top: 10px;
  scrollbar-width: 10px;
  scrollbar-color: $color-middle-gray $color-white;
}

.column__notes-wrapper--isOver {
  border-color: var(--accent-color);
  background-color: rgba(var(--accent-color), 0.2);
}

.column__notes-wrapper::-webkit-scrollbar {
  width: 10px;
}

.column__notes-wrapper::-webkit-scrollbar-track {
  border-radius: 8px;
  background-color: $color-white;
}

.column__notes-wrapper::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: $color-middle-gray;
}

.column__note-list {
  margin: 0;
  padding: 0 $padding--large $padding--default $padding--large;
  display: grid;
  grid-auto-flow: row;
  grid-row-gap: 20px;
  grid-column-gap: 24px;
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
}

.column__header-toggle {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.column__header-toggle-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.column__header-toggle-button:hover > .column__header-toggle-button-icon {
  animation: none;
  color: var(--accent-color);
}

.column__header-toggle-button-icon {
  color: $color-black;
}

@media (prefers-color-scheme: dark) {
  .column__header-text {
    color: $color-white;
  }
  .column__header-toggle-button-icon {
    color: $color-white;
  }
  .column__notes-wrapper::-webkit-scrollbar-track {
    background-color: $color-dark-mode-note;
  }
  .column__notes-wrapper::-webkit-scrollbar-thumb {
    background-color: $color-darkest-gray;
  }
  .column__notes-wrapper {
    scrollbar-color: $color-darkest-gray $color-dark-mode-note;
  }
}
