@import "src/constants/style";

$container-height: 64px;
$reaction-size: 64px;

.board-reactions__root {
  position: absolute;
  display: flex;
  justify-content: center;
  left: 0;
  right: 0;
  bottom: $column__border-width;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  z-index: $menu-item-z-index;
}

.board-reactions__container {
  height: $container-height;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 8px;

  background-color: $color-white-one;
  border-radius: $rounded--large;
  box-shadow: $box-shadow--light;

  padding: 0 $spacing--base;

  user-select: none;

  z-index: $board-reaction-z-index;
}

.board-reactions__item {
  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
}

.board-reactions__reaction {
  all: unset; // reset button
  cursor: pointer;

  width: $reaction-size;
  height: 100%;

  font-size: $text--xl;

  border-radius: $rounded--full;

  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    background-color: $hover-background-light;
  }

  &:focus-visible {
    // lose focus after click
    background-color: $color-icon-light-blue;
  }

  &--disabled {
    filter: grayscale(100%);
    cursor: not-allowed;
  }
}

.board-reactions__close {
  all: unset;
  width: $icon--large;
  height: $icon--large;
  color: $color-dark-mode-note;
  border-radius: $rounded--full;

  &:focus {
    background-color: $color-icon-light-blue;
  }
}

[theme="dark"] {
  .board-reactions__container {
    background-color: $color-dark-mode-note;
    box-shadow: $box-shadow--dark;
  }

  .board-reactions__reaction {
    &:hover {
      background-color: $hover-background-dark;
    }

    &:focus-visible {
      background-color: $tooltip-background-color--dark;
    }
  }

  .board-reactions__close {
    color: $color-white;
  }
}

@media #{$smartphone} {
  .board-reactions__root {
    right: 24px;
    bottom: $column__border-width + $spacing--lg + 60px;
    margin-left: unset;
    margin-right: unset;
    left: unset;
  }

  .board-reactions__close {
    display: none;
  }
}

@media #{$mini-smartphone} {
  .board-reactions__root {
    right: 12px;
    bottom: $column__border-width + $spacing--lg + 42px;
  }

  .board-reactions__close {
    display: none;
  }
}

@media screen and (max-width: 400px) {
  .board-reactions__container {
    padding: 0 $spacing--xs;
    gap: 2px;
  }
}

@media screen and (max-width: 350px) {
  .board-reactions__reaction {
    width: 48px;
  }
}
