@use "constants/styles";
@use "constants/mixins";

$container-height: 64px;
$reaction-size: 48px;

.board-reactions-menu {
  position: fixed;
  height: $container-height;
  left: 0;
  right: 0;
  bottom: styles.$column__border-width;
  width: fit-content;
  margin-inline: auto;
  padding: 0 styles.$spacing--xs;
  display: flex;
  align-items: center;
  gap: styles.$spacing--xs;
  background-color: styles.$gray--100;
  border-radius: styles.$rounded--large;
  @include mixins.box-shadow-light;
  user-select: none;
  z-index: styles.$board-reaction-z-index;
}

.board-reactions-menu__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: $reaction-size;
  height: $reaction-size;
  padding: 0;
  border: none;
  border-radius: styles.$rounded--full;
  background-color: transparent;
  cursor: pointer;
  transition: backdrop-filter 80ms ease-in-out;
  font-size: styles.$text--lg;

  &:enabled:hover {
    backdrop-filter: brightness(90%);
  }
  &:enabled:active {
    transform: scale(0.95);
  }
  &:focus-visible {
    // lose focus after click
    outline: 2px solid styles.$blue--500;
    outline-offset: 2px;
  }
  &:disabled {
    filter: grayscale(100%);
    cursor: not-allowed;
  }
}

[data-theme="dark"] {
  .board-reactions-menu {
    background-color: styles.$navy--500;
    @include mixins.box-shadow-dark;
  }

  .board-reactions-menu__close {
    color: styles.$gray--000;
  }
}

@media #{styles.$smartphone} {
  .board-reactions-menu {
    bottom: styles.$column__border-width + styles.$spacing--lg + 72px;
  }
}

@media #{styles.$mini-smartphone} {
  .board-reactions-menu {
    bottom: styles.$column__border-width + styles.$spacing--lg + 48px;
    padding: 0 styles.$spacing--xs;
    gap: styles.$spacing--xxs;
  }
}
