@import "src/constants/style";

$container-height: 64px;
$reaction-size: 48px;

.board-reactions-menu {
  position: fixed;
  height: $container-height;
  left: 0;
  right: 0;
  bottom: $column__border-width;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;

  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;

  background-color: $color-white-one;
  border-radius: $rounded--large;
  box-shadow: $box-shadow--light;

  padding: 0 $spacing--xs;

  user-select: none;

  z-index: $board-reaction-z-index;
}

.board-reactions-menu__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: $reaction-size;
  height: $reaction-size;
  padding: 0;
  border: none;
  border-radius: $rounded--full;
  background-color: transparent;
  cursor: pointer;
  transition: backdrop-filter 80ms ease-in-out;

  &:hover {
    backdrop-filter: brightness(85%);
  }

  &:focus-visible {
    // lose focus after click
    outline: 2px solid $color-backlog-blue;
    outline-offset: 2px;
  }
}

.board-reactions-menu__reaction {
  font-size: $text--lg;
  &--disabled {
    filter: grayscale(100%);
    cursor: not-allowed;
  }
}

[theme="dark"] {
  .board-reactions-menu {
    background-color: $color-dark-mode-note;
    box-shadow: $box-shadow--dark;
  }

  .board-reactions-menu__close {
    color: $color-white;
  }
}

@media #{$smartphone} {
  .board-reactions-menu {
    bottom: $column__border-width + $spacing--lg + 72px;
  }

  .board-reactions__close {
    display: none;
  }
}

@media #{$mini-smartphone} {
  .board-reactions-menu {
    bottom: $column__border-width + $spacing--lg + 48px;
    padding: 0 $spacing--xs;
    gap: 2px;
  }
}

@media screen and (max-width: 350px) {
  .board-reactions-menu__reaction {
    width: 48px;
  }
}
