@import "src/constants/style";

.note-list {
  margin: 0;
  padding: 0 $padding--large $padding--default $padding--large;
  display: grid;
  grid-auto-flow: row;
  grid-row-gap: 20px;
  grid-column-gap: 24px;
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
}

[column-visibility="collapsed"] .note-list {
  padding-bottom: 72px;
}

.note-list--isDraggedOver {
  border: 2px dotted red;
}
