@use "constants/styles";

.loading-screen {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

[data-theme="dark"] {
  .loading-screen {
    background-color: styles.$navy--600;
  }
}
