@import "constants/style";

.favourite-button {
  all: unset;
  cursor: pointer;
}

.favourite-button__icon {
  width: 36px;
  height: 36px;

  color: rgba($navy--400, 0.5);

  &--active {
    color: var(--accent-color--light);
  }
}

// TODO other states, dark mode
