@use "constants/style";

$icon-size: 36px;

.favourite-button {
  all: unset;
  width: $icon-size;
  height: $icon-size;
  border: 2px solid transparent;
  border-radius: style.$rounded--full;

  color: rgba(style.$navy--400, 0.5);

  cursor: pointer;

  &:hover {
    color: style.$navy--600;
    background-color: style.$gray--300;
  }

  &--active {
    color: var(--accent-color--light);

    &:hover {
      color: var(--accent-color--light);
    }
  }
}

.favourite-icon {
  width: $icon-size;
  height: $icon-size;

  color: inherit;
}

[theme="dark"] {
  .favourite-button {
    color: rgba(style.$gray--000, 0.7);

    &:hover {
      color: style.$gray--000;
      background-color: style.$navy--600;
    }

    &--active {
      color: var(--accent-color--dark);

      &:hover {
        color: var(--accent-color--dark);
      }
    }
  }
}
