@import "constants/style";

.favourite-button {
  width: 36px;
  height: 36px;
  border: 2px solid transparent;
  border-radius: $rounded--full;

  color: rgba($navy--400, 0.5);

  cursor: pointer;

  &:hover {
    color: $navy--600;
    background-color: $gray--300;
  }

  &:focus {
    color: $navy--600;
    border-color: var(--accent-color--200);
  }

  &--active {
    color: var(--accent-color--light);

    &:hover,
    &:focus {
      color: var(--accent-color--light);
    }
  }
}

[theme="dark"] {
  .favourite-button {
    color: rgba($gray--000, 0.7);

    &:hover {
      color: $gray--000;
      background-color: $navy--600;
    }

    &:focus {
      color: $gray--000;
      border-color: var(--accent-color--200); // same as in light mode
    }

    &--active {
      color: var(--accent-color--dark);

      &:hover,
      &:focus {
        color: var(--accent-color--dark);
      }
    }
  }
}

// TODO other states, dark mode
