// @use "sass:list";
@use "sass:color";

// blue
$blue--800: #002366;
$blue--700: #003499;
$blue--600: #0046cc;
$blue--500: #0057ff;
$blue--400: #3379ff;
$blue--300: #669aff;
$blue--200: #99bcff;
$blue--100: #ccddff;

// pink
$pink--800: #66002a;
$pink--700: #99003f;
$pink--600: #cc0054;
$pink--500: #ff0069;
$pink--400: #ff3387;
$pink--300: #ff66a5;
$pink--200: #ff99c3;
$pink--100: #ffcce1;

// purple
$purple--800: #500e66;
$purple--700: #791599;
$purple--600: #a11ccc;
$purple--500: #c923ff;
$purple--400: #d44fff;
$purple--300: #df7bff;
$purple--200: #e9a7ff;
$purple--100: #f4d3ff;

// violet
$violet--800: #250062;
$violet--700: #380094;
$violet--600: #4a00c5;
$violet--500: #5d00f6;
$violet--400: #7d33f8;
$violet--300: #9e66fa;
$violet--200: #be99fb;
$violet--100: #dfccfd;

// green
$green--800: #0b5532;
$green--700: #107f4c;
$green--600: #16aa65;
$green--500: #1bd47e;
$green--400: #49dd98;
$green--300: #76e5b2;
$green--200: #a4eecb;
$green--100: #d1f6e5;

// yellow
$yellow--800: #666200;
$yellow--700: #999300;
$yellow--600: #ccc400;
$yellow--500: #fff500;
$yellow--400: #fff733;
$yellow--300: #fff966;
$yellow--200: #fffb99;
$yellow--100: #fffdcc;

// orange
$orange--800: #664300;
$orange--700: #996500;
$orange--600: #cc8600;
$orange--500: #ffa800;
$orange--400: #ffb933;
$orange--300: #ffcb66;
$orange--200: #ffdc99;
$orange--100: #ffeecc;

// navy
$navy--900: #111111;
$navy--800: #15171e;
$navy--700: #232732;
$navy--600: #292f3b;
$navy--500: #303745;
$navy--400: #373e4f;
$navy--300: #454e63;
$navy--200: #586073;
$navy--100: #6a7182;

// white
$white--800: #8f95a1;
$white--700: #a2a7b1;
$white--600: #b5b8c1;
$white--500: #dddfe3;
$white--400: #e9eaec;
$white--300: #eeeff1;
$white--200: #f4f4f6;
$white--100: #f9fafa;
$white--000: #ffffff;

// info states
// error
$critical-carmine--light: #fe3f3f;
$critical-carmine--dark: #fe5757;

// warning
$alert-amber--light: #ffa800;
$alert-amber--dark: #ffb933;

// success
$victory-verde--light: $green--500;
$victory-verde--dark: $green--400;

@mixin rgb($color--light, $color--dark) {
  --accent-color: #{$color--light};
  --accent-color-rgb: #{red($color--light)}, #{green($color--light)}, #{blue($color--light)};
  --accent-color--dark: #{color.change($color--dark, $lightness: 72%, $saturation: 99%)};
  --accent-color--desaturated-light: #{color.change($color--light, $lightness: 90%)};
  --accent-color--desaturated-light-hover: #{color.change($color--light, $lightness: 85%)};
  --accent-color--desaturated-dark: #{color.change($color--dark, $lightness: 39%, $saturation: 48%)};
  --accent-color--desaturated-dark-hover: #{color.change($color--dark, $lightness: 50%, $saturation: 48%)};
  --accent-color--background-light: #{color.change($color--light, $lightness: 80%, $alpha: 0.2, $saturation: 60%)};
  --accent-color--background-dark: #{color.change($color--dark, $lightness: 75%, $alpha: 0.04, $saturation: 75%)};
}

// accent colors for columns, note etc
.accent-color__backlog-blue {
  @include rgb($blue--500, $blue--400);
}
.accent-color__goal-green {
  @include rgb($green--500, $green--400);
}
.accent-color__poker-purple {
  @include rgb($purple--500, $purple--400);
}
.accent-color__online-orange {
  @include rgb($orange--500, $orange--400);
}
.accent-color__planning-pink {
  @include rgb($pink--500, $pink--400);
}
.accent-color__value-violet {
  @include rgb($violet--500, $violet--400);
}
.accent-color__yielding-yellow {
  @include rgb($yellow--500, $yellow--400);
}
// info states
.accent-color__error-ember {
  @include rgb($critical-carmine--light, $critical-carmine--dark);
}
.accent-color__alert-amber {
  @include rgb($alert-amber--light, $alert-amber--dark);
}
.accent-color__victory-verde {
  @include rgb($victory-verde--light, $victory-verde--dark);
}

// board & column constants
$board__side-panel-width: 64px;
$header__height: 92px;
$info-bar__height: 42px;
$column__min-width: 300px;
$column__max-width: 960px;
$column__border-width: 12px;
$action-bar__width: 64px;
$column-emoji-suggestions__max-height: 350px;
$column-emoji-suggestions__approx-top-distance: 320px;
$note-dialog-emoji-suggestions__approx-top-distance: 310px;

// icons
$icon--small: 16px;
$icon--medium: 24px;
$icon--large: 32px;
$icon--extralarge: 40px;
$icon--huge: 48px;

// reaction constants
$reaction__inner-size: $icon--medium;
$reaction__padding--inner: 2px; // total: 24px + 2*2px = 28px
$reaction__gap-size: 4px;
$reaction__gap-size--small: 2px;
$reaction__padding--outer-top-bottom: 5px;
$reaction__padding--outer-left-right: 6px;
$reaction-list__left-spacing: 6px;

// flexbox
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

// positioning
@mixin inset-0 {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

// border-radius
$note__border-radius: 16px;
$rounded--small: 8px;
$rounded--default: 16px;
$rounded--medium: 24px;
$rounded--large: 32px;
$rounded--full: 9999px;

// New spacing constants for flex gap, margin and padding
$spacing--xxs: 4px;
$spacing--xs: 8px;
$spacing--sm: 12px;
$spacing--base: 16px;
$spacing--md: 20px;
$spacing--lg: 24px;
$spacing--xl: 32px;
$spacing--2xl: 48px;
$spacing--3xl: 64px;

// font
$letter-spacing--small: 0.25px;
$letter-spacing--medium: 0.35px;
$letter-spacing--large: 0.75px;
$text-size--small: 12px;
$text-size--medium: 16px;
$text-size--large: 20px;
$line-height--small: 16px;
$line-height--medium: 20px;
$line-height--large: 32px;

// new font size constants
$text--xs: 0.75rem; // 12px
$text--sm: 0.875rem; // 14px
$text--base: 1rem; // 16px
$text--md: 1.25rem; // 20px
$text--lg: 1.5rem; // 24px
$text--xl: 2rem; // 32px
$text--2xl: 2.5rem; // 40px
$text--3xl: 3.875rem; // 62px

// filters
$darken--slightly: brightness(0.9);
$brighten--slightly: brightness(1.1);
$brighten--strongly: brightness(1.4);

// z-index
$base-z-index: 100;
$base-z-index-step: 10;
$note-z-index: $base-z-index + (2 * $base-z-index-step);
$note-input__emoji-suggestions-z-index: $note-z-index + $base-z-index-step;
$menu-z-index: $base-z-index + (8 * $base-z-index-step);
$menu-item-z-index: $menu-z-index + $base-z-index-step;
$board__navigation-button-z-index: $base-z-index + (6 * $base-z-index-step);
$backdrop-z-index: $base-z-index + (9 * $base-z-index-step);
$note-dialog-z-index: $base-z-index + (6 * $base-z-index-step);
$note-dialog__emoji-suggestions-z-index: $note-dialog-z-index + $base-z-index-step;
$infobar-z-index: $base-z-index + (5 * $base-z-index-step);
$request-z-index: $base-z-index + (9 * $base-z-index-step);
$tooltip-z-index: $request-z-index;
$board-reaction-z-index: $backdrop-z-index + $base-z-index-step;

// responsive: @media query
$mini-smartphone: "screen and (max-width: 480px)";
$smartphone: "screen and (max-width: 767px)";
$tablet: "screen and (min-width : 768px)";
$desktop: "screen and (min-width : 1280px)";
$menu-mobile: "screen and (max-width: 1343px)";
$menu-desktop: "screen and (min-width: 1344px)";

// responsive: @container query
$container__note: "note (max-width: 300px)";

// shadows
$box-shadow--light: 0px 5px 15px 0px rgba(0, 0, 0, 0.2);
$box-shadow--dark: 0px 5px 15px 0px rgba(0, 0, 0, 0.35);

// gradients
$column-stripes--light: repeating-linear-gradient(
  45deg,
  $white--100 calc(0px + var(--stripe-offset, 0px)),
  $white--100 calc(20px + var(--stripe-offset, 0px)),
  var(--accent-color--background-light) calc(20px + var(--stripe-offset, 0px)),
  var(--accent-color--background-light) calc(40px + var(--stripe-offset, 0px))
);

$column-stripes--dark: repeating-linear-gradient(
  45deg,
  $navy--600 calc(0px + var(--stripe-offset, 0px)),
  $navy--600 calc(20px + var(--stripe-offset, 0px)),
  var(--accent-color--background-dark) calc(20px + var(--stripe-offset, 0px)),
  var(--accent-color--background-dark) calc(40px + var(--stripe-offset, 0px))
);

// helper functions
@function inset-border($left: false, $right: false, $top: false, $bottom: false, $color: var(--accent-color)) {
  $props: ();
  $props: append($props, if($left, inset #{2 * $column__border-width} 0 0 #{-$column__border-width} #{$color}, null), comma);
  $props: append($props, if($right, inset #{-2 * $column__border-width} 0 0 #{-$column__border-width} #{$color}, null), comma);
  $props: append($props, if($top, inset 0 #{2 * $column__border-width} 0 #{-$column__border-width} #{$color}, null), comma);
  $props: append($props, if($bottom, inset 0 #{-2 * $column__border-width} 0 #{-$column__border-width} #{$color}, null), comma);
  @return $props;
}

@function getLightHoverBackground($backgroundColor) {
  @return color.scale($backgroundColor, $lightness: -10%);
}
@function getDarkHoverBackground($backgroundColor) {
  @return color.scale($backgroundColor, $lightness: 10%);
}

@mixin inset-border($left: false, $right: false, $top: false, $bottom: false, $color: var(--accent-color)) {
  box-shadow: inset-border($left, $right, $top, $bottom, $color);
}

// scrollbar
@mixin scrollbar($width: 10px, $border-radius: 8px) {
  &::-webkit-scrollbar {
    width: #{$width};
  }

  &::-webkit-scrollbar-track {
    border-radius: #{$border-radius};
  }

  &::-webkit-scrollbar-thumb {
    border-radius: #{$border-radius};
    background-color: rgba($white--600, 0.3);
  }

  [theme="dark"] & {
    &::-webkit-scrollbar-thumb {
      background-color: rgba($navy--900, 0.3);
    }
  }
}

// tooltip
@mixin tooltip {
  z-index: $tooltip-z-index;
  border-radius: $rounded--large;
  max-width: 80%;
  font-size: $text--sm;
}

@mixin tooltip--light {
  @include tooltip;
  color: $navy--900;
  background-color: $white--300;
}

@mixin tooltip--dark {
  @include tooltip;
  color: $white--000;
  background-color: $navy--300;
}
