@import "constants/style";

.board-header__logo {
  width: 25%;
}

.board-header__logo-img {
  margin-left: 60px;
  height: 50px;
  display: none;
  text-align: center;
  padding-right: 6px;
}

@media #{$smartphone} and (prefers-color-scheme: light) {
  .board-header__logo-light-small {
    display: block;
    margin-left: 30px;
  }
}
@media #{$smartphone} and (prefers-color-scheme: dark) {
  .board-header__logo-dark-small {
    display: block;
    margin-left: 30px;
  }
}
@media #{$tablet} and (prefers-color-scheme: light) {
  .board-header__logo-light {
    display: block;
  }
}
@media #{$tablet} and (prefers-color-scheme: dark) {
  .board-header__logo-dark {
    display: block;
  }
}
