@import "constants/style";

.voting-dialog__start-button {
  border: none;
  border-radius: 8px;
  height: 48px;
  width: 80%;
  background: $color-planning-pink;
  cursor: pointer;
}
.voting-dialog__start-button > label {
  font-weight: bold;
  font-size: 14px;
  color: $color-white;
  letter-spacing: 0.49px;
  cursor: pointer;
}

.voting-dialog__toggle {
  position: absolute;
  top: 12px;
  right: 24px;
}

.voting-dialog__vote-button {
  height: 24px;
  width: 24px;
  border: 2px solid $color-planning-pink;
  border-radius: 12px;
  background-color: transparent;
  color: $color-white;
  line-height: 20px;
  cursor: pointer;
  font-size: 20px;
  position: absolute;
  top: 12px;
}
.voting-dialog__vote-button:first-of-type {
  right: 72px;
}
.voting-dialog__vote-button:last-of-type {
  right: 24px;
}
.voting-dialog__vote-label {
  position: absolute;
  top: 12px;
  right: 48px;
  height: 24px;
  width: 24px;
  text-align: center;
  line-height: 24px;
  cursor: col-resize;
  user-select: none;
  -webkit-touch-callout: none;
  -webit-user-select: none;
}
