@import "constants/style";

#portal {
  position: fixed;
  height: 0;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.portal {
  position: fixed;
  width: calc(100vw - 24px);
  height: calc(100vh - 24px);
  // TODO
  // background: var(--accent-color);
  background: rgba(0, 0, 0, 0.8);
  z-index: $backdrop-z-index;
  top: 12px;
  left: 12px;
}

.portal__content {
  position: absolute;
  width: calc(100vw - 24px);
  height: calc(100vh - 24px);
  padding-top: $header__height;

  // enable scroll of content
  overflow: auto;

  // horizontal centering of content
  display: flex;
  justify-content: center;
}

@media #{$tablet} {
  .portal__content {
    padding: 128px 128px;
  }
}
