@import "constants/style";

#portal {
  position: fixed;
  height: 0;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: $backdrop-z-index;
}

.portal {
  position: fixed;
  width: 100%;
  height: 100%;
}

//@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
//  .portal {
//    background-color: #0057ff80;
//    backdrop-filter: blur(10px);
//    -webkit-backdrop-filter: blur(10px);
//  }
//}
//
///* slightly transparent fallback for Firefox (not supporting backdrop-filter) */
//@supports not ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
//  .portal {
//    background-color: #0057ff80;
//  }
//}

.portal__frame {
  position: absolute;
  width: calc(100vw - 24px);
  height: calc(100vh - 24px);
  padding-top: $header__height;

  // enable scroll of content
  overflow: auto;

  // horizontal centering of content
  display: flex;
  justify-content: center;
}

@media #{$tablet} {
  .portal__frame {
    padding: 128px 128px;
  }
}

.portal__content {
  height: fit-content;
  width: fit-content;
}

.portal__frame--hiddenOverflow {
  overflow: hidden;
}

.portal__frame--centered {
  width: calc(100vw);
  height: calc(100vh);
}

.portal__frame--disabledPadding {
  padding: 0;
}
