@use "constants/styles";

#portal {
  position: fixed;
  height: 0;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: styles.$backdrop-z-index;
}

.portal {
  position: fixed;
  width: 100%;
  height: 100%;

  user-select: none; // fix a bug where opening portal via touch action leads to weird selection behaviour
}

.portal__frame {
  position: absolute;
  width: 100vw;
  height: 100vh;
  padding-top: styles.$header__height;

  // enable scroll of content
  overflow: auto;

  // horizontal centering of content
  display: flex;
  justify-content: center;
}

@media #{styles.$tablet} {
  .portal__frame {
    padding: 128px 128px;

    &--disabled-padding {
      padding: 0;
    }
  }
}

.portal__content {
  height: fit-content;
  width: fit-content;
  ::selection {
    background-color: rgba(var(--accent-color--light-rgb), 0.5);
  }
}

.portal__frame--hiddenOverflow {
  overflow: hidden;
}

.portal__frame--align-here {
}
.portal__frame--align-center {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
}

.portal__frame--align-bottom {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  overflow-y: auto;
}

.portal__frame--backdrop {
  transition: background 0.2s ease-out;

  &-transparent {
  }

  &-blur {
    background-color: rgba($color: styles.$blue--500, $alpha: 0.1);
    backdrop-filter: blur(10px);
  }

  &-hardBlur {
    backdrop-filter: blur(10px) brightness(0.76) saturate(0);
    background: rgba(var(--accent-color--light-rgb), 0.42);
  }
}

.portal__frame--disabled-padding {
  padding: 0;
}

.portal__content-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
