@import "src/constants/style";

.template-editor {
  display: grid;
  grid-template-columns: $spacing--xs auto $spacing--xs 1fr $spacing--xs;
  grid-template-rows:
    $spacing--xs
    min-content // <- dropdown
    14px
    min-content // <- info
    16px
    min-content // <- name
    16px
    min-content // <- description
    36px
    min-content // <- debug
    min-content // <- columns config
    56px
    52px // <- buttons
    $spacing--xs;
  grid-template-areas:
    ".          .           .         .         ."
    ".          dropdown    .         password  ."
    ".          .           .         .         ."
    ".          info        info      info      ."
    ".          .           .         .         ."
    ".          name        name      name      ."
    ".          .           .         .         ."
    ".          description description description ."
    ".          .           .         .         ."
    ".          debug        debug      debug      ."
    ".          columns     columns   columns   ."
    ".          .           .         .         ."
    ".          buttons     buttons   buttons   ."
    ".          .           .         .         .";

  justify-items: stretch;

  width: 100%;
  max-width: 100%;
  height: 100%;

  overflow: hidden auto;
}

.template-editor__dropdown {
  grid-area: dropdown;
}

.template-editor__password-wrapper {
  grid-area: password;

  display: flex;
  flex-direction: row;
  gap: $spacing--base;
  align-items: center;

  .template-editor__shuffle-icon {
    min-width: $icon--large;
    min-height: $icon--large;

    color: $navy--400;
  }
}

.template-editor__info {
  grid-area: info;
  display: flex;
  align-items: center;
  gap: $spacing--xs;

  height: min-content;

  &-icon {
    width: 28px;
    height: 28px;
  }

  &-text {
    font-size: $text--sm;
    font-weight: 400;
  }
}

.template-editor__name {
  grid-area: name;
}

.template-editor__description {
  grid-area: description;
}

.template-editor__debug {
  grid-area: debug;
  color: $pink--500;
}

.template-editor__columns-configurator-wrapper {
  grid-area: columns;

  display: flex;
  flex-direction: column;
  justify-self: center;

  // lock scrolling
  max-width: 100%;
  height: max-content; // correct height!
}

.template-editor__columns-mini-view-wrapper {
  grid-area: mini;
  justify-self: center;

  max-width: 100%;

  display: none;
}

.template-editor__buttons {
  grid-area: buttons;
  justify-self: end;

  display: flex;
  flex-direction: row;
  gap: $spacing--base;
}

@media (screen and max-width: $breakpoint--smartphone) {
  .template-editor {
    grid-template-rows:
      $spacing--xs
      min-content // <- dropdown
      14px
      min-content // <- info
      16px
      min-content // <- name
      20px
      min-content // <- description
      46px
      min-content // <- debug
      min-content // <- columns config
      16px
      min-content // <- mini columns
      56px
      52px // <- buttons
      $spacing--xs;
    grid-template-areas:
      ".          .           .         .         ."
      ".          dropdown    .         password  ."
      ".          .           .         .         ."
      ".          info        info      info      ."
      ".          .           .         .         ."
      ".          name        name      name      ."
      ".          .           .         .         ."
      ".          description description description ."
      ".          .           .         .         ."
      ".          debug        debug      debug      ."
      ".          columns     columns   columns   ."
      ".          .           .         .         ."
      ".          mini        mini      mini      ."
      ".          .           .         .         ."
      ".          buttons     buttons   buttons   ."
      ".          .           .         .         .";
  }

  .template-editor__columns-mini-view-wrapper {
    display: initial;
  }
}
