@use "constants/styles";

$stable-content-width: 80%;

.template-editor {
  display: flex;
  flex-direction: column;
  gap: styles.$spacing--base;

  min-width: 0;
  width: 100%;
  max-width: 100%;

  overflow: visible;
}

// name, description, debug. contained width
.template-editor__header {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "name"
    "description";
  row-gap: styles.$spacing--base;
  align-self: center;

  min-width: 0;
  width: $stable-content-width;

  &--include-debug {
    grid-template-areas:
      "name"
      "description"
      "debug";
  }
}

.template-editor__name {
  grid-area: name;
}

.template-editor__name-input {
  .input__input {
    color: styles.$navy--600;

    &:focus {
      color: styles.$navy--600;
    }
  }
}
.template-editor__description {
  grid-area: description;
}
.template-editor__debug {
  grid-area: debug;
  justify-self: center;
  color: styles.$pink--500;
}

// columns, mini view. width extending up to inherited bleeding edges
.template-editor__columns {
  display: grid;
  grid-template-columns: subgrid;
  grid-column: bleed-start / bleed-end; // defined by parent grid
  grid-template-rows: min-content;
  row-gap: styles.$spacing--base;

  grid-template-areas: "columns";
}

// info, buttons. contained width like header
.template-editor__footer {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "info"
    "buttons";
  align-self: center;
  row-gap: styles.$spacing--lg;

  min-width: 0;
  width: $stable-content-width;
}

.template-editor__columns-configurator-wrapper {
  grid-area: columns;

  display: flex;
  flex-direction: column;
  justify-self: center;

  // lock scrolling
  max-width: 100%;
  height: max-content; // correct height!

  overflow-x: auto;
}

.template-editor__columns-mini-view-wrapper {
  grid-area: mini;
  justify-self: center;

  max-width: 100%;
  overflow-x: auto;

  display: none;
}

.template-editor__info {
  grid-area: info;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: styles.$spacing--xs;
}

.template-editor__info-text {
  color: styles.$navy--900;
  font-weight: 400;
}

.template-editor__buttons {
  grid-area: buttons;
  display: flex;
  justify-content: flex-end;
  gap: styles.$spacing--base;

  width: 100%;
}

@media (screen and max-width: styles.$breakpoint--smartphone) {
  // on smaller screens, align all content to bleeding edges
  .template-editor__header,
  .template-editor__footer {
    width: 100%; // override stable content width
    grid-template-columns: subgrid;
    grid-column: bleed-start / bleed-end;
  }

  .template-editor__columns {
    grid-template-rows: min-content min-content;

    grid-template-areas:
      "columns"
      "mini";
  }

  .template-editor__columns-mini-view-wrapper {
    display: initial;
  }
}

[data-theme="dark"] {
  .template-editor__info,
  .template-editor__info-text {
    color: styles.$gray--000;
  }

  .template-editor__name-input {
    .input__input {
      color: styles.$gray--000;

      &:focus {
        color: styles.$gray--000;
      }
    }
  }
}
