@use "sass:color";
@use "constants/styles";

$side-padding--desktop: 14vw;

.headerBar {
  display: flex;
  flex-direction: column;
  padding: styles.$spacing--lg $side-padding--desktop;
}

.headerBar__top-row {
  display: flex;
  align-items: flex-end;
  gap: styles.$spacing--sm;
  padding-bottom: styles.$spacing--xl;
  position: relative;
}

.headerBar__scrumlr-logo-container {
  flex-shrink: 0;
  align-self: flex-start;
}

.headerBar__user-pill {
  flex-shrink: 0;
  align-self: flex-start;
  margin-left: auto;
}

.headerBar__title {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 50%);
  bottom: styles.$spacing--xl;
  text-align: center;

  font-size: styles.$text--2xl;
  font-weight: 700;
  line-height: styles.$spacing--2xl;
  color: styles.$navy--900;
}

@media (max-width: styles.$breakpoint--desktop) {
  .headerBar {
    padding: styles.$spacing--lg styles.$spacing--2xl;
  }
}

@media screen and (max-width: styles.$breakpoint--smartphone) {
  .headerBar {
    padding: styles.$spacing--md styles.$spacing--md;
  }

  .headerBar__top-row {
    flex-wrap: wrap;
    padding-bottom: styles.$spacing--lg;
  }

  .headerBar__title {
    flex-basis: 100%;
    order: 3;
    font-size: styles.$text--lg;
    line-height: styles.$line-height--large;
  }
}

[theme="dark"] {
  .headerBar__title {
    color: styles.$gray--000;
  }
}
