@import "constants/style";

.appearance-container {
  display: flex;
  flex-direction: column;
  gap: 32px;
  height: 100%;
  margin-bottom: 62px;
}

.appearance-container > :last-child {
  margin-top: auto;
}

.appearance-container > button {
  flex: 0;
}

.appearance-settings_sync-button {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0px 24px;
}

.appearance-settings_sync-button_label p {
  color: $color-black;
  margin: 0;
  hyphens: auto;
}

[theme="dark"] {
  .appearance-settings_sync-button_label p {
    color: $color-white;
  }
}

.appearance-settings_sync-button_label p:first-child {
  font-size: 14px;
  letter-spacing: 0.5px;
  padding-top: 16px;
  margin-bottom: 6px;
}

.appearance-settings_sync-button_label p:last-child {
  font-size: 10px;
  letter-spacing: 0.25px;
  color: $color-middle-gray;
  padding-bottom: 16px;
}

.appearance-settings_notifications-button {
  justify-content: space-between;
  padding-right: 24px;
}

.appearance-settings_language-dropdown {
  justify-content: space-between;
  padding-right: 24px;
}
