@import "constants/style";
@import "../SettingsDialog";

.appearance-container {
  display: flex;
  flex-direction: column;
  gap: 32px;
  height: 100%;
  margin-bottom: $settings-dialog-container--bottom;
}

.appearance-container > button {
  flex: 0;
}

.appearance-settings__theme-container {
  background-color: $color-white;
  padding: $padding--default $padding--medium;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
}

.appearance-settings__theme-title {
  margin-bottom: $margin--default;
}

.appearance-settings__theme-options {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.appearence-settings__theme-option {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  cursor: pointer;

  transition: all 0.08s ease-out;

  &:hover {
    color: var(--accent-color);
  }

  > input {
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;

    &:checked + img {
      box-shadow: 0 0 0 2px var(--accent-color);
    }
  }

  > img {
    border-radius: 4px;
  }

  > span {
    display: flex;
    flex-direction: row;
    gap: 4px;
    line-height: $line-height--medium;
    font-weight: bold;
  }
}

.appearance-settings_sync-button {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0px 24px;
}

.appearance-settings_sync-button_label p {
  color: $color-black;
  margin: 0;
  hyphens: auto;
}

[theme="dark"] {
  .appearance-settings_sync-button_label p {
    color: $color-white;
  }

  .appearance-settings__theme-container {
    color: $color-white;
    background-color: $color-dark-mode-note;
  }

  .appearence-settings__theme-option:hover {
    color: var(--accent-color--desaturated-light);
  }
}

.appearance-settings_sync-button_label p:first-child {
  font-size: $text-size--medium;
  letter-spacing: $letter-spacing--small;
  padding-top: $padding--default;
  margin-bottom: $margin--small;
}

.appearance-settings_sync-button_label p:last-child {
  font-size: 10px;
  letter-spacing: $letter-spacing--small;
  color: $color-middle-gray;
  padding-bottom: 16px;
}

.appearance-settings_notifications-button {
  justify-content: space-between;
  padding-right: 24px;
}

.appearance-settings_language-dropdown {
  justify-content: space-between;
  padding-right: 24px;
}
