version: "3.9"

services:

  nats:
    image: nats:2-alpine
    ports:
      - "4222:4222"
    profiles:
      - dev
      - build

  database:
    image: postgres:14.1
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_USER=admin
      - POSTGRES_PASSWORD=supersecret
      - POSTGRES_DB=scrumlr
      - POSTGRES_INITDB_ARGS=--encoding=UTF-8 --lc-collate=C --lc-ctype=C
    profiles:
      - dev
      - build

  scrumlr:
    build: ./src
    ports:
      - "8080:8080"
    environment:
      - SCRUMLR_SERVER_PORT=8080
      - SCRUMLR_SERVER_NATS_URL=nats://nats:4222
      - SCRUMLR_SERVER_DATABASE_URL=postgres://admin:supersecret@database:5432/scrumlr?sslmode=disable
    depends_on:
      - nats
      - database
    profiles:
      - build
