@import "constants/style.scss";

$vote-dropdown__color-light: $color-black;
$vote-dropdown__color-dark: $color-white;

.vote-dropdown__item-button label {
  text-align: left;
  letter-spacing: 0.49px;
  font-size: 14px;
  color: $vote-dropdown__color-light;
  opacity: 1;
  position: absolute;
  left: 19px;
  top: 16px;
  outline: 0;
}
@media (prefers-color-scheme: dark) {
  .vote-dropdown__item-button label {
    color: $vote-dropdown__color-dark;
  }
}

.vote-dropdown__item-button div,
.vote-dropdown__item-button > button > button {
  display: inline-block;
  height: 24px;
  width: 24px;

  border: 2px solid var(--primaryColor);
  border-radius: 12px;
  background-color: transparent;

  position: absolute;
  top: 12px;
  right: 16px;

  color: var(--primaryColor);
  font-size: 14px;
  line-height: 20px;
  font-weight: 600;
}
.vote-dropdown__item-button > button > button {
  cursor: pointer;
  font-size: 20px;
}
.vote-dropdown__item-button > button > button:last-child {
  right: 72px;
}

.vote-dropdown__item-button > * > input {
  width: 24px;
  height: 24px;
  background-color: transparent;
  border: none;
  color: $vote-dropdown__color-light;
  border-bottom: 2px solid $vote-dropdown__color-light;
  border-radius: 2px;
  text-align: center;
  position: absolute;
  top: 12px;
  right: 44px;
}
@media (prefers-color-scheme: dark) {
  .vote-dropdown__item-button > * > input {
    color: $vote-dropdown__color-dark;
    border-bottom: 2px solid $vote-dropdown__color-dark;
  }
}
.vote-dropdown__item-button > * > input:focus {
  outline: none;
}

.vote-dropdown__vote-button {
  outline: none;
}

.vote-dropdown__vote-button:focus,
.vote-dropdown__vote-button:hover {
  transform: scale(1.2);
}
