@import "src/constants/style";

.note-reaction-bar__root {
  display: inline-flex;
  flex-direction: row;
  gap: $reaction__gap-size;
}

.note-reaction-bar__reaction {
  all: unset;

  display: inline-flex;
  justify-content: center;
  align-items: center;

  width: $reaction__inner-size;
  height: $reaction__inner-size;
  padding: $reaction__padding;

  border-radius: $rounded--full;
  font-size: $text--md;

  &:hover {
    background-color: $color-light-gray;
  }

  &--active {
    background-color: var(--accent-color--desaturated-light);

    &:hover {
      background-color: var(--accent-color--desaturated-light-hover);
    }
  }
}
