@use "constants/style";

$scale-factor: 120%;

.note-reaction-bar__root {
  display: inline-flex;
  flex-direction: row;
  gap: style.$reaction__gap-size;

  padding: style.$reaction__padding--outer-top-bottom style.$reaction__padding--outer-left-right style.$reaction__padding--outer-top-bottom 0; // left padding in NoteReactionList because of icon
}

.note-reaction-bar__reaction {
  all: unset;

  display: inline-flex;
  justify-content: center;
  align-items: center;

  width: style.$reaction__inner-size;
  height: style.$reaction__inner-size;
  padding: style.$reaction__padding--inner;

  border-radius: style.$rounded--full;
  font-size: style.$text--md;

  cursor: pointer;

  &:hover {
    background-color: style.$gray--300;
    transform: scale($scale-factor);
  }

  &--active {
    background-color: var(--accent-color--100);

    &:hover {
      background-color: var(--accent-color--200);
    }
  }

  &:focus {
    background-color: var(--accent-color--100);
  }
}

@container #{style.$container__note} {
  .note-reaction-bar__root {
    gap: style.$reaction__gap-size--small;
  }
}

[theme="dark"] {
  .note-reaction-bar__reaction {
    &:hover {
      background-color: style.$navy--300;
    }

    &--active {
      background-color: rgba(var(--accent-color--dark-rgb), 0.6);
      &:hover {
        background-color: rgba(var(--accent-color--dark-rgb), 0.8);
      }
    }

    &:focus {
      background-color: rgba(var(--accent-color--dark-rgb), 0.8);
    }
  }
}
