@import '../../constants/style';

$card-z-index: $base-z-index + $base-z-index-step * 2;
$card-font-size: 14px;
$card-line-height: 18px;
$icon__width: 24px;

.card__root {
  position: relative;

  width: 100%;
  height: 100%;
}

.card {
  color: $theme-color-font;
  background: $theme-color-background;

  box-sizing: border-box;
  padding: 16px 20px;

  box-shadow: 0 $base-unit $base-unit*2 0 transparentize($color-dark-gray, .85);

  position: relative;
  overflow: hidden;

  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  z-index: $card-z-index;
}

.card:hover {
  transform: scale(1.02);
  box-shadow: 0 $base-unit*2 $base-unit*4 0 transparentize($color-dark-gray, .85);
}

.card--focused {
  transform: scale(1.03);
  box-shadow: 0 $base-unit*4 $base-unit*8 0 transparentize($color-dark-gray, .85);
}

.card--drophover {
  border: 1px solid $color-mint;
}

.card--disabled {
  background: $theme-color-disabled;
}

.card-indicator {
  position: absolute;

  top: 16px;
  left: 0;
  width: 3px;
  height: 34px;

  border: 0;
  border-radius: 0 3px 3px 0;

  background: $theme-color-primary;
}

.card__selection-area:hover .card__admin-buttonbar {
  display: inherit;
}

.card__admin-buttonbar {
  position: absolute;
  top: $base-unit * 3;
  right: $base-unit * 5;
  display: none;

  margin: 0;
  padding: 0;

  z-index: $base-z-index + $base-z-index-step * 3;
}

.card__admin-button {
  border: none;
  background: none;
  cursor: pointer;
  padding: 0;
  outline: none;
}

.card__admin-button:hover > .card__admin-button-icon > svg g {
  fill: $color-dark-gray;
}

.card__admin-button:not(:first-child) {
  margin-left: $base-unit*2;
}

.card__admin-button-icon {
  width: $icon__width;
  height: $icon__width;
}

.card__admin-button-icon > svg {
  width: $icon__width;
  height: $icon__width;
}

.card__admin-button-icon g {
  fill: $color-alternative-gray;
}

.card--stacked {
  margin: 1em;
}

.card__author-image {
  flex: 0;
  width: $theme-icon-width;
  height: $theme-icon-height;
  border: 0;
  border-radius: 50%;
}

.card__content {
  position: relative;

  box-sizing: content-box;

  overflow: hidden;
  text-overflow: ellipsis;

  font-size: $card-font-size;
  font-weight: normal;
  line-height: $card-line-height;
  letter-spacing: 0;

  height: $card-line-height * 3;

  margin: 0;
  padding: 0;

  cursor: pointer;
}

.card__content > *:first-child {
  margin-top: 0;
  padding-top: 0;
}

.card__more-content-indicator {
  position: absolute;
  right: 0;
  bottom: 0;

  color: $color-alternative-gray;

  height: $card-line-height;
  width: $base-unit * 8;
  background: linear-gradient(
    to right,
    transparentize($color-white, 1) 0%,
    $theme-color-background 50%
  );

  text-align: right;
}

.card__text--edit-mode {
  width: 100%;
}

.card__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: $theme-icon-height;

  margin-top: 8px;
}

.card__footer-spacer {
  flex: 1 100 100%;
}

.card__details {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;

  margin-right: 1em;
  margin-left: 1em;
}

.card__stack {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.card__in-stack {
  box-sizing: border-box;
  position: absolute;

  // 100% - margin of $base-unit*2 on both sides of the stacked card
  width: calc(100% - #{$base-unit*4});
  height: 100%;

  right: $base-unit*2;
  bottom: -$base-unit*2;

  opacity: 0.95;
  box-shadow: 0 $base-unit $base-unit*2 0 transparentize($color-dark-gray, .85);

  z-index: $card-z-index - $base-z-index-step;
}

.card__author {
  text-transform: uppercase;
  font-weight: bold;
  font-size: .8em;
  color: $color-gray;

  max-width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  margin-right: 8px;

  flex: 1 1 100%;
}

.card__avatar.avatar {
  margin-right: 8px;
  height: 24px;
  width: 24px;
  min-width: 24px;
  line-height: 24px;
  font-size: 14px;
}
