.note-dialog__note-options {
  list-style-type: none;
  position: relative;
  display: inline-flex;
  height: 28px;
  width: 40px;
  padding: 0;
  margin: 0;
  justify-content: space-between;
  align-items: flex-end;
}

.note-dialog__note-option {
  padding-top: 0;
}
