@import "constants/style";
@import "./NoteDialogNoteOptions.scss";

.note-dialog__note-option__remove {
  height: $icon--large;
  width: $icon--large;
  display: flex;
  justify-content: center;
  align-items: center;
  // no background
  background-color: transparent !important;
  color: var(--accent-color--light);
  transition:
    background-color 150ms ease-in-out,
    color 150ms ease-in-out;
}
.note-dialog__note-option__remove:hover {
  background-color: var(--accent-color--light);
  color: $gray--000;
}
.note-dialog__note-option__remove:focus-visible {
  outline: 2px solid rgba(var(--accent-color--light-rgb), 0.5);
}

.note-dialog__note-option__remove-icon {
  color: inherit;
  height: $icon--medium;
  width: $icon--medium;
}
