@use "constants/styles";
@use "NoteDialogNoteOptions";

.note-dialog__note-option__remove {
  height: styles.$icon--large;
  width: styles.$icon--large;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--accent-color--600);
  transition:
    background-color 150ms ease-in-out,
    color 150ms ease-in-out;
}
.note-dialog__note-option__remove:hover {
  background-color: var(--accent-color--light);
  color: styles.$gray--000;
}
.note-dialog__note-option__remove:focus-visible {
  outline: 2px solid rgba(var(--accent-color--light-rgb), 0.5);
}

.note-dialog__note-option__remove-icon {
  color: inherit;
  height: styles.$icon--medium;
  width: styles.$icon--medium;
}
