@use "constants/style";
@use "NoteDialogNoteOptions";

.note-dialog__note-option__unstack {
  height: style.$icon--large;
  width: style.$icon--large;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(var(--accent-color--light-rgb), 0.2);
  color: var(--accent-color--light);
  transition:
    background-color 150ms ease-in-out,
    color 150ms ease-in-out;
}
.note-dialog__note-option__unstack:hover {
  background-color: var(--accent-color--light);
  color: style.$gray--000;
}
.note-dialog__note-option__unstack:focus-visible {
  outline: 2px solid rgba(var(--accent-color--light-rgb), 0.5);
}

.note-dialog__note-option__unstack-icon {
  height: style.$icon--medium;
  width: style.$icon--medium;
}
