@import "constants/style";
@import "./NoteDialogNoteOptions.scss";

.note-dialog__note-option__unstack {
  height: $icon--large;
  width: $icon--large;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(var(--accent-color-rgb), 0.2);
  color: var(--accent-color);
  transition: background-color 150ms ease-in-out, color 150ms ease-in-out;
}
.note-dialog__note-option__unstack:hover {
  background-color: var(--accent-color);
  color: $color-white;
}
.note-dialog__note-option__unstack:focus-visible {
  outline: 2px solid rgba(var(--accent-color-rgb), 0.5);
}

.note-dialog__note-option__unstack-icon {
  height: $icon--medium;
  width: $icon--medium;
}
