@import "constants/style";

.confirmation-dialog__background {
  position: fixed;
  @include inset-0;
  backdrop-filter: blur(10px);
}

.confirmation-dialog__wrapper {
  position: fixed;
  @include inset-0;
  @include flex-center;
}

.confirmation-dialog {
  background-color: $color-white;
  border-radius: $rounded--medium;
  width: 420px;
  padding: $padding--medium;
}
[theme="dark"] .confirmation-dialog {
  background-color: $color-dark-one;
}

.confirmation-dialog__title {
  font-size: $text-size--large;
}
.confirmation-dialog__buttons {
  display: flex;
  justify-content: flex-end;
  gap: $margin--small;
}
