@use "constants/styles";
@use "constants/mixins";

.confirmation-dialog__background {
  position: fixed;
  @include mixins.inset-0;
  background-color: rgba($color: styles.$blue--500, $alpha: 0.1);
  backdrop-filter: blur(10px);
}

.confirmation-dialog__wrapper {
  position: fixed;
  @include mixins.inset-0;
  @include mixins.flex-center;
}

.confirmation-dialog {
  min-width: 220px;
  max-width: 570px;
  color: styles.$navy--900;
  background-color: styles.$gray--000;
  border-radius: styles.$rounded--medium;
  padding: 40px 42px 35px 40px;
  border: 2px transparent;
  box-shadow: 0 16px 32px 0 rgba(styles.$blue--500, 0.24);
}

.confirmation-dialog__icon-content-wrapper {
  display: flex;
  width: 100%;
  gap: 16px;
}

.confirmation-dialog__icon {
  min-width: 75px;
  height: 100%;
  margin-left: -14px;
  color: var(--accent-color--light);
  opacity: 0.6;
}

.confirmation-dialog__content {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.confirmation-dialog__title {
  margin: 0px;
  letter-spacing: styles.$letter-spacing--small;
}

.confirmation-dialog__warning {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  margin: 12px 0px 0px 0px;
}
.confirmation-dialog__warning > svg {
  color: var(--accent-color--light);
  height: styles.$icon--medium;
  width: styles.$icon--medium;
  opacity: 0.8;
}
.confirmation-dialog__warning > p {
  margin: 0px;
  font-size: styles.$text-size--medium;
  letter-spacing: styles.$letter-spacing--small;
}

.confirmation-dialog__error-message {
  display: flex;
  align-items: center;
  gap: 4px;
  margin: 8px 0px 8px 0px;
  padding-left: 0;
  min-height: 28px;
  visibility: visible;
  color: styles.$critical-carmine--light;
}
.confirmation-dialog__error-message:empty {
  visibility: hidden;
}
.confirmation-dialog__error-message > svg {
  height: styles.$icon--medium;
  width: styles.$icon--medium;
  opacity: 0.8;
  margin-left: calc(0.5em - (styles.$icon--medium / 2));
  flex-shrink: 0;
}
.confirmation-dialog__error-message > p {
  margin: 0px;
  font-size: styles.$text-size--medium;
  letter-spacing: styles.$letter-spacing--small;
}

.confirmation-dialog__text {
  margin: 0px;
  font-size: styles.$text-size--medium;
  letter-spacing: styles.$letter-spacing--small;
  white-space: pre-line;
}

.confirmation-dialog__checkbox-wrapper {
  display: block;
  position: relative;
  margin: 0;
  cursor: pointer;
  font-size: styles.$text-size--medium;
  letter-spacing: styles.$letter-spacing--small;
}

.confirmation-dialog__checkbox {
  opacity: 0;
  z-index: -1;
}

.confirmation-dialog__checkbox-label {
  position: relative;
  display: block;
  padding-left: 1.5em;
}

// checkbox border
.confirmation-dialog__checkbox + .confirmation-dialog__checkbox-label::before {
  display: block;
  content: "";
  width: styles.$icon--small;
  height: styles.$icon--small;
  position: absolute;
  top: 0.1em;
  left: 0;
  overflow: hidden;
  border: 1px solid styles.$blue--500;
  background: styles.$gray--000;
  cursor: pointer;
  border-radius: 100%;
  transition: all 0.16s ease-out;
}

.confirmation-dialog__checkbox-wrapper:hover .confirmation-dialog__checkbox-label::before {
  box-shadow: 0 0 0 4px rgba(styles.$blue--500, 0.2);
}

.confirmation-dialog__checkbox:focus-visible + .confirmation-dialog__checkbox-label::before {
  box-shadow: 0 0 0 4px rgba(styles.$blue--500, 0.4);
}

// checkbox checkmark
.confirmation-dialog__checkbox + .confirmation-dialog__checkbox-label::after {
  content: "";
  width: 0.5em;
  height: 0.5em;
  position: absolute;
  top: 0.35em;
  left: 0.25em;
  background-color: rgba(styles.$blue--500, 0.75);
  transition: all 0.4s cubic-bezier(1, 0, 0.4, 1);
  transform: scale(0);
  border-radius: 100%;
}

.confirmation-dialog__checkbox:checked + .confirmation-dialog__checkbox-label::after {
  transform: scale(1);
}

@media #{styles.$mini-smartphone} {
  .confirmation-dialog__icon {
    display: none;
  }
  .confirmation-dialog__buttons {
    flex-wrap: wrap;
  }
  .confirmation-dialog__button {
    width: 100%;
  }
  .confirmation-dialog__warning {
    align-items: start;
  }
  .confirmation-dialog__error-message {
    align-items: start;
  }
  .confirmation-dialog {
    width: 80%;
  }
}

.confirmation-dialog__button {
  border: 2px solid styles.$blue--500;
  border-radius: styles.$rounded--full;
  padding: styles.$spacing--xs styles.$spacing--lg;
  font-size: styles.$text-size--medium;
  font-weight: bold;
  min-height: 48px;
  cursor: pointer;
  transition:
    transform 80ms linear,
    box-shadow 80ms linear;
  &:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 10px 0 rgba($color: styles.$blue--500, $alpha: 0.2);
  }
}
.confirmation-dialog__button--accept {
  color: styles.$gray--000;
  background-color: styles.$blue--500;
}
.confirmation-dialog__button--decline {
  color: styles.$blue--500;
  background-color: rgba($color: styles.$blue--500, $alpha: 0.1);
}
.confirmation-dialog__buttons {
  display: flex;
  justify-content: flex-end;
  gap: styles.$spacing--base;
}

.confirmation-dialog__close-button {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(50%, -50%);
  @include mixins.flex-center;
  color: styles.$blue--500;
  height: styles.$icon--extralarge;
  width: styles.$icon--extralarge;
  border-radius: styles.$rounded--full;
  border: 2px transparent;
  box-shadow: 0 16px 32px 0 rgba(styles.$blue--500, 0.24);
  padding: 0;
  background-color: styles.$gray--000;
  cursor: pointer;
  transition:
    color 80ms linear,
    background-color 80ms linear;
  &:hover {
    color: styles.$gray--000;
    background-color: styles.$blue--500;
  }
}
.confirmation-dialog__close-button > svg {
  height: 100%;
  width: 100%;
}
[theme="dark"] {
  .confirmation-dialog__background {
    background-color: rgba($color: styles.$pink--500, $alpha: 0.1);
  }

  .confirmation-dialog {
    color: styles.$gray--000;
    background-color: styles.$navy--600;
    border-color: styles.$pink--500;
    @include mixins.box-shadow-dark;
  }

  .confirmation-dialog__button {
    border-color: styles.$pink--500;
    &:hover {
      box-shadow: 0 4px 8px rgba($color: styles.$pink--500, $alpha: 0.2);
    }
  }
  .confirmation-dialog__button--accept {
    background-color: styles.$pink--500;
  }
  .confirmation-dialog__button--decline {
    color: styles.$pink--500;
    background-color: rgba($color: styles.$pink--500, $alpha: 0.1);
  }

  .confirmation-dialog__close-button {
    color: styles.$pink--500;
    background-color: styles.$navy--500;
    border-color: styles.$pink--500;
    @include mixins.box-shadow-dark;
    &:hover {
      color: styles.$gray--000;
      background-color: styles.$pink--500;
    }
  }

  .confirmation-dialog__checkbox + .confirmation-dialog__checkbox-label::before {
    border-color: styles.$pink--500;
    background: styles.$navy--600;
  }

  .confirmation-dialog__checkbox-wrapper:hover .confirmation-dialog__checkbox-label::before {
    box-shadow: 0 0 0 4px rgba(styles.$pink--500, 0.2);
  }

  .confirmation-dialog__checkbox:focus-visible + .confirmation-dialog__checkbox-label::before {
    box-shadow: 0 0 0 4px rgba(styles.$pink--500, 0.4);
  }

  .confirmation-dialog__checkbox + .confirmation-dialog__checkbox-label::after {
    background-color: rgba(styles.$pink--500, 0.75);
  }

  .confirmation-dialog__error-message {
    color: styles.$critical-carmine--dark;
  }
}
