.settings-dialog {
  position: fixed;
  width: 862px;
  height: 616px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 8px;
  box-shadow: 0 16px 32px #0057ff29;
  background: #ffffff;
  display: flex;
  flex-direction: row;
}

.settings-dialog__navigation {
  width: 318px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.settings-dialog__content {
  width: 544px;
  height: 100%;
  background: #f9fafb 0% 0% no-repeat padding-box;
  border-radius: 0px 8px 8px 0px;
}

.navigation__item {
  height: 56px;
  width: 252px;
  margin: 8px 32px;
  border-radius: 28px;
  text-align: center;
  text-decoration: none;
  color: black;
  position: relative;
}
.navigation__item > p {
  margin: 0;
  position: absolute;
  left: 64px;
}
.navigation__item > p:first-child {
  font-size: 14px;
  font-weight: 600;
  top: 12px;
}
.navigation__item > p:nth-child(2) {
  font-size: 12px;
  top: 30px;
  opacity: 50%;
}
.navigation__item:hover {
  background: #0057ff 0% 0% no-repeat padding-box;
  color: white;
}

.settings-dialog__close-button {
  position: absolute;
  top: -22px;
  right: -22px;
  width: 44px;
  height: 44px;
  background: #fff 0% 0% no-repeat padding-box;
  border-radius: 22px;
  box-shadow: 0px 16px 32px #0057ff3d;
  display: flex;
  justify-content: center;
  align-items: center;
}

.close-button__icon {
  width: 32px;
  height: 32px;
  cursor: pointer;
}
