@use "constants/styles";
@use "constants/mixins";

.settings-dialog__background {
  position: fixed;
  @include mixins.inset-0;
  background-color: rgba($color: styles.$blue--500, $alpha: 0.1);
  backdrop-filter: blur(10px);
}
[data-theme="dark"] .settings-dialog__background {
  background-color: rgba($color: styles.$pink--500, $alpha: 0.1);
}

.settings-dialog__wrapper {
  position: fixed;
  @include mixins.inset-0;
  @include mixins.flex-center;
}

// settings-dialog container
$settings-dialog-container--sides-small: 32px;
$settings-dialog-container--sides-large: 92px;
$settings-dialog-container--bottom: 62px;

.settings-dialog {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}

@media screen and (min-width: 450px) {
  .settings-dialog {
    height: 616px;
    width: auto;
    border-radius: styles.$rounded--small;
    box-shadow: 0 16px 32px #0057ff29;
  }
  [data-theme="dark"] .settings-dialog {
    box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.2);
  }
}

.settings-dialog__content {
  display: none;
  background: styles.$gray--100;
  width: 100%;
  padding-top: 50px;
  overflow-y: hidden; // so that reset state banner can flow out
}
[data-theme="dark"] .settings-dialog__content {
  background: styles.$navy--600;
}
.settings-dialog--selected .settings-dialog__content {
  display: block;
}
@media screen and (min-width: 450px) {
  .settings-dialog__content {
    width: 380px;
    height: calc(100% + 50px);
    border-radius: styles.$rounded--small;
  }
}
@media screen and (min-width: 920px) {
  .settings-dialog__content {
    display: block;
    width: 544px;
    height: 100%;
    border-radius: 0 styles.$rounded--small styles.$rounded--small 0;
    padding-top: 0;
  }
}

.settings-dialog__sidebar {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  background-color: styles.$gray--000;
}

[data-theme="dark"] .settings-dialog__sidebar {
  background-color: styles.$navy--500;
}
.settings-dialog--selected .settings-dialog__sidebar {
  display: none;
}

@media screen and (min-width: 450px) {
  .settings-dialog__sidebar {
    width: 380px;
    height: calc(100% + 50px);
    border-radius: styles.$rounded--small;
  }
}
@media screen and (min-width: 920px) {
  .settings-dialog--selected .settings-dialog__sidebar {
    display: flex;
  }
  .settings-dialog__sidebar {
    width: 318px;
    height: 100%;
    border-radius: styles.$rounded--small 0 0 styles.$rounded--small;
  }
}

.settings-dialog__scrumlr-logo {
  height: 40px;
  margin: styles.$spacing--xl;
}

.settings-dialog__navigation {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  gap: 8px;
}

.settings-dialog__close-button {
  position: absolute;
  top: 6px;
  right: 6px;
  color: styles.$blue--500;
  display: flex;
  justify-content: center;
  align-items: center;
  width: styles.$icon--extralarge;
  height: styles.$icon--extralarge;
  border-radius: styles.$rounded--full;
  transition: all 0.08s ease-out;
  border: 2px solid transparent;
  outline: none;

  &:hover {
    background-color: styles.$blue--500;
    color: styles.$gray--000;
    transform: scale(1.04);
  }

  &:active {
    transform: scale(1);
  }

  &:focus-visible {
    border: 2px solid styles.$blue--500;
  }
}
.settings-dialog__close-button > svg {
  height: 100%;
  width: 100%;
}
[data-theme="dark"] .settings-dialog__close-button {
  color: styles.$pink--500;

  &:hover {
    background-color: styles.$pink--500;
    color: styles.$gray--000;
  }

  &:focus-visible {
    border: 2px solid styles.$pink--500;
  }
}
@media screen and (min-width: 450px) {
  .settings-dialog__close-button {
    top: -22px;
    right: -22px;
    background-color: styles.$gray--000;
    box-shadow: 0 16px 32px #0057ff3d;
  }
  [data-theme="dark"] .settings-dialog__close-button {
    box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.2);
    background: styles.$navy--500;
  }
}

.settings-dialog__back-link {
  display: none;
}

@media screen and (max-width: 920px) {
  .settings-dialog__back-link {
    display: inline;
  }
  .settings-dialog__back-link > svg {
    position: absolute;
    top: 12px;
    left: 9px;
    color: styles.$blue--500;
    display: flex;
    justify-content: center;
    align-items: center;
    width: styles.$icon--huge;
    height: styles.$icon--huge;
    border-radius: styles.$rounded--full;
  }
  [data-theme="dark"] .settings-dialog__back-link > svg {
    color: styles.$pink--500;
  }
}

.navigation__item {
  height: 56px;
  width: 252px;
  margin: 0 styles.$spacing--xl;
  border-radius: styles.$rounded--full;
  text-decoration: none;
  color: styles.$navy--900;
  outline: none;
  display: flex;
  flex-direction: row;
  gap: 16px;
  padding: 8px;
  cursor: pointer;

  &:hover {
    background: rgba(var(--accent-color--light-rgb), 0.8);
    color: styles.$gray--000;
  }

  &:focus-visible {
    box-shadow: 0 0 0 2px var(--accent-color--light);
  }

  &--logout {
    margin-bottom: styles.$spacing--xl;
    border: none;
    background-color: transparent;

    &:hover {
      background-color: styles.$navy--200;
    }

    .navigation-item__icon {
      background: styles.$navy--400;
      color: styles.$gray--000;
    }
  }
}

.navigation-item__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  gap: 2px;
  overflow: hidden;
}

.navigation-item__name {
  font-size: styles.$text--base;
  line-height: styles.$text--md;
  font-weight: 700;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.navigation-item__description {
  font-size: styles.$text--xs;
  line-height: styles.$text--base;
  font-weight: 500;
  margin: 0;
  width: max-content;
}

[data-theme="dark"] .navigation__item {
  color: styles.$gray--000;

  &--logout {
    .navigation-item__icon {
      background: styles.$gray--000;
      color: styles.$navy--400;
    }
  }
}

.navigation__item--active {
  outline: none;
  background: var(--accent-color--light);
  color: styles.$gray--000;
}

.navigation-item__icon {
  width: 40px;
  height: 40px;
  border-radius: styles.$rounded--full;
  background: var(--accent-color--light);
  color: styles.$gray--000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.settings-dialog__container {
  margin: 0 $settings-dialog-container--sides-small;
  display: flex;
  flex-direction: column;
  height: 100%;
}

@media screen and (min-width: 920px) {
  .settings-dialog__container {
    margin: 0 $settings-dialog-container--sides-large;
  }
}

.settings-dialog__header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: styles.$spacing--xl 0;
}

@media screen and (min-width: 920px) {
  .settings-dialog__header {
    margin: styles.$spacing--xl 0;
  }
}

.settings-dialog__header-text {
  border-bottom: solid 3px var(--accent-color--light);
  padding-bottom: 8px;
  margin: 0;
}

.settings-dialog__header-subtitle {
  margin: styles.$spacing--sm 0 0 0;
  font-size: styles.$text--sm;
  color: styles.$navy--800;
}

.settings-dialog__separator {
  margin: 0 0 0 5%;
  width: 90%;
  border: 0;
  border-top: 0.5px solid styles.$gray--300;
}

.settings-dialog__group {
  display: flex;
  flex-direction: column;
  border-radius: styles.$rounded--small;
  background-color: styles.$gray--000;
}

[data-theme="dark"] {
  .settings-dialog__header-text {
    color: styles.$gray--000;
  }

  .settings-dialog__header-subtitle {
    color: styles.$gray--700;
  }

  .settings-dialog__separator {
    border-top: 0.5px solid styles.$navy--600;
  }

  .settings-dialog__group {
    background-color: styles.$navy--500;
  }
}
