@import "constants/style";

.settings-dialog {
  position: fixed;
  height: 616px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 8px;
  box-shadow: 0 16px 32px #0057ff29;
  background: #ffffff;
  display: flex;
  flex-direction: row;
}
.content__back-link {
  visibility: hidden;
}

@media screen and (max-width: 920px) {
  .content__back-link {
    visibility: visible;
  }
  .settings-dialog__content {
    display: none;
  }

  .settings-dialog--selected {
    .settings-dialog__scrumlr-logo {
      display: none;
    }
    .settings-dialog__navigation {
      display: none;
    }
    .settings-dialog__content {
      border-radius: 8px;
      display: block;
      width: 318px;
    }
  }
}

@media screen and (max-width: 450px) {
  .settings-dialog {
    height: 100%;
    width: 100%;
  }
}

.settings-dialog__scrumlr-logo {
  height: 40px;
  margin: 40px;
}

.settings-dialog__navigation {
  width: 318px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.settings-dialog__content {
  width: 544px;
  background: #f9fafb;
  border-radius: 0px 8px 8px 0px;
}

.navigation__item {
  height: 56px;
  width: 252px;
  margin: 0 32px;
  border-radius: 28px;
  text-align: center;
  text-decoration: none;
  color: black;
  position: relative;
  outline: none;
}
.navigation__item > p {
  margin: 0;
  position: absolute;
  left: 64px;
}
.navigation__item > p:first-child {
  font-size: 14px;
  font-weight: 600;
  top: 12px;
}
.navigation__item > p:nth-child(2) {
  font-size: 12px;
  top: 30px;
  opacity: 50%;
}
.navigation__item:hover {
  background: rgba(var(--accent-color-rgb), 0.8);
  color: white;
}
.navigation__item--active {
  outline: none;
  background: var(--accent-color);
  color: white;
}
.navigation-item__icon {
  position: absolute;
  top: 8px;
  left: 8px;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background: var(--accent-color);
  color: white;
}

.settings-dialog__close-button {
  position: absolute;
  top: -22px;
  right: -22px;
  width: 44px;
  height: 44px;
  background: #fff 0% 0% no-repeat padding-box;
  border-radius: 22px;
  box-shadow: 0px 16px 32px #0057ff3d;
  display: flex;
  justify-content: center;
  align-items: center;
}

.close-button__icon {
  width: 32px;
  height: 32px;
  cursor: pointer;
}
