0.0.0.0:80 {
    log {
        output stdout
    }
    @api {
        path /api*
    }
    reverse_proxy @api scrumlr-backend:8080

    @frontend {
        path / /static* /locales* /login* /board* /new* /assets/* /legal/* /manifest.json /service-worker.js
    }
    reverse_proxy @frontend scrumlr-frontend:8080
}
