@import "constants/style";
@import "components/Note/Note.scss";
@import "components/TooltipButton/TooltipButton.scss";
@import "components/Votes/Votes.scss";

.note-dialog__note-footer {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-left: -$reaction-list__left-spacing; // a little to the left, the icon in NoteReactionList lines up

  height: var(--note-footer-height);

  &--collapsed {
    height: 0;
  }
}
