@use "constants/style";
@use "components/Note/Note";
@use "components/TooltipButton/TooltipButton";
@use "components/Votes/Votes";

.note-dialog__note-footer {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-left: -(style.$reaction-list__left-spacing); // a little to the left, the icon in NoteReactionList lines up

  height: var(--note-footer-height);

  &--collapsed {
    height: 0;
  }
}
