@import "constants/style";
@import "components/Note/Note.scss";
@import "routes/StackView/StackView.scss";

.note-dialog__note-content {
  display: flex;
  width: 100%;
  max-height: 20vh;
  flex: 1;
  overflow: hidden;
  justify-content: center;
  position: relative;

  &:has(&--image) {
    padding: $padding--small;
  }
  &:has(&--image-zoom) {
    overflow: visible;
  }
}

.note-dialog__note-content--text {
  background: none;
  margin: 0;
  overflow-y: scroll;
  @include scrollbar();
  width: 100%;
  color: $color-black;
  letter-spacing: $letter-spacing--medium;
  line-height: $line-height--medium;
  margin-bottom: $margin--small;
  border: 2px dashed transparent;
  border-radius: 5px;
  transition: border-color 150ms ease-in-out;
  outline: none;
  resize: none;
  word-wrap: break-word;
  padding: 0 4px;
  font-size: $text-size--large;

  &:not(:disabled) {
    &:hover,
    &:focus-visible {
      border-color: var(--accent-color--desaturated-dark);
    }
  }
}

.note-dialog__note-content--image {
  height: 100%;
  object-fit: contain;
  cursor: zoom-in;
  position: absolute;
  margin-left: calc(100% / 12);

  &-zoom {
    transform: scale(2);
    z-index: $request-z-index;
    cursor: zoom-out;
  }
}

[theme="dark"] {
  .note-dialog__note-content--text {
    color: $color-white;
  }
}
