@import "constants/style";
@import "components/Note/Note.scss";
@import "routes/StackView/StackView.scss";

$text-line-height: 1.5rem;
$text-border-width: 2px;
$min-lines: 3;

.note-dialog__note-content {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  flex: 1;
  overflow-y: visible;
  justify-content: flex-start;
  flex-direction: column;

  &:has(&--image) {
    padding: $spacing--xs;
  }

  &:has(&--image-zoom) {
    overflow: visible;
  }
}

.note-dialog__note-content-text {
  width: 100%;
  min-height: calc($min-lines * $text-line-height + 2 * $text-border-width); // also include border
  // since the note height limit is defined here, the sibling elements are subtracted (header, footer, margins, and gap)
  max-height: calc($stack-content-max-height - 36px - 36px - 2 * ($spacing--base + $spacing--sm));
  margin: 0;
  padding: 0 $spacing--xxs;
  //overflow-y: scroll;
  resize: none;
  word-wrap: break-word;

  color: $navy--900;
  letter-spacing: $letter-spacing--medium;
  font-size: $text--md;
  line-height: $text-line-height;

  background: none;
  outline: none;

  box-sizing: border-box;

  border: $text-border-width dashed transparent;
  border-radius: 5px;
  transition: border-color 150ms ease-in-out;

  @include scrollbar();

  // also subtract edited marker
  &--edited {
    max-height: calc($stack-content-max-height - 20px - 36px - 36px - 2 * ($spacing--base + $spacing--sm));
  }

  &:not(:disabled) {
    &:hover,
    &:focus-visible {
      border-color: rgba(var(--accent-color--dark-rgb), 0.6);
    }
  }
}

.note-dialog__marker-edited {
  color: $gray--700;
  font-size: $text--base;
  padding: 0 $spacing--xxs;
}

.note-dialog__note-content--image {
  object-fit: contain;
  cursor: zoom-in;
  position: relative;
  margin-left: calc(100% / 12);

  &-zoom {
    object-fit: contain;
    max-height: 80vh;
    max-width: 80vw;
    min-height: 80vh;
    min-width: 80vw;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    z-index: $request-z-index;
    cursor: zoom-out;
    position: fixed;

    animation: fade 0.1s ease-in-out;
  }
}

.note-dialog__note-content--image-zoom-backdrop {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  cursor: zoom-out;
  backdrop-filter: blur(10px) brightness(0.76) saturate(0);
  background: rgba(var(--accent-color--light-rgb), 0.42);

  animation: fade 0.1s ease-in-out;
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

[theme="dark"] {
  .note-dialog__note-content-text {
    color: $gray--000;
  }
}
