@use "constants/style";

.legal {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: style.$spacing--base;
}

.legal a {
  color: style.$pink--500;
  font-weight: bold;
  text-decoration: none;
  transition: all 0.08s ease-out;
  outline: none;

  &:hover {
    filter: style.$brighten--strongly;

    > svg .scrumlr-logo__paths path:first-of-type {
      transform: scale(1.08);
    }
  }

  &:hover,
  &:focus-visible {
    text-decoration: underline;

    > svg {
      filter: style.$brighten--strongly;
    }
  }
}

.legal__text {
  text-align: justify;
}

[theme="dark"] {
  .legal {
    color: style.$gray--000;
  }
}

@media #{style.$tablet} {
  .legal {
    padding: style.$spacing--xl;
  }
}
