@import "constants/style";
@import "./VoteButton.scss";

.vote-button-add {
  display: flex;
  justify-content: center;
  align-items: center;

  height: $vote-button-height;
  width: $vote-button-width;

  background-color: rgba(var(--accent-color-rgb), 0.2);
  color: var(--accent-color);
}

.vote-button-add__icon {
  height: $vote-button-icon-height;
  width: $vote-button-icon-width;
  color: var(--accent-color);
}

.vote-button-add:not([disabled]):hover {
  background-color: var(--accent-color);

  .vote-button-add__icon {
    color: $color-white;
  }
}
