@import "src/constants/style";

.vote-button-add {
  display: flex;
  justify-content: center;
  align-items: center;

  height: $icon--large;
  width: $icon--large;

  background-color: rgba(var(--accent-color-rgb), 0.2);
  color: var(--accent-color);
  transition: background-color 150ms ease-in-out, color 150ms ease-in-out;
}
.vote-button-add:disabled {
  opacity: 0.5;
}

.vote-button-add__icon {
  height: $icon--medium;
  width: $icon--medium;
  color: inherit;
  pointer-events: none;
}
.vote-button-add:enabled:hover {
  background-color: var(--accent-color);
  color: $color-white;
}
.vote-button-add:focus-visible {
  outline: 2px solid rgba(var(--accent-color-rgb), 0.5);
}

[theme="dark"] {
  .vote-button-add {
    background-color: rgba(var(--accent-color-rgb), 0.25);
  }
}
