@import "constants/style";
@import "./VoteButton.scss";

.vote-button-add {
  height: $vote-button-height;
  width: $vote-button-width;
  position: absolute;
  right: -5px;
  background-color: rgba(var(--accent-color), 0.2);
  color: var(--accent-color);
}

.vote-button-add__icon {
  position: absolute;
  top: $vote-button-top;
  left: $vote-button-left;
  height: $vote-button-icon-height;
  width: $vote-button-icon-width;
  fill: var(--accent-color);
}

.vote-button-add:not([disabled]):hover {
  background-color: var(--accent-color);

  .vote-button-add__icon {
    fill: $color-white;
  }
}
