@import "src/constants/style";
@import "./VoteButton.scss";

.vote-button-remove {
  position: relative;
  height: $vote-button-height;
  width: $vote-button-width;
  background-color: rgba(var(--accent-color-rgb), 0.2);
  color: var(--accent-color);
}

.vote-button-remove:not([disabled]) {
  background-color: var(--accent-color);
  color: $color-white;
}

.vote-button-remove:not([disabled]):focus > .vote-button-remove__folded-corner,
.vote-button-remove:not([disabled]):hover > .vote-button-remove__folded-corner {
  border-width: 12px 0 0 12px;
}
.vote-button-remove:not([disabled]):active {
  transform: none;
}
.vote-button-remove:disabled {
  cursor: default;
}

.vote-button-remove__folded-corner {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  right: 0;
  border-width: 0;
  border-style: solid;
  background: rgba(234, 234, 234, 0.5);
  box-shadow: 2px -2px 0px $color-white, 0 1px 1px rgba(0, 0, 0, 0.1), -1px 1px 1px rgba(0, 0, 0, 0.1);
  border-radius: 0 0 0 16px;
  border-color: $color-white $color-white transparent transparent;
  transition: border-width 0.15s ease-in-out;
}
[theme="dark"] {
  .vote-button-remove__folded-corner {
    box-shadow: 2px -2px 0px $color-dark-mode-note, 0 1px 1px rgba(0, 0, 0, 0.1), -1px 1px 1px rgba(0, 0, 0, 0.1);
    border-color: $color-dark-mode-note $color-dark-mode-note transparent transparent;
  }
}
