@import "constants/style";

.vote-button-add {
  position: absolute;
  right: 0;
  background-color: rgba(var(--accent-color-rgb), 0.2);
  color: var(--accent-color);
}

.vote-button-add-icon {
  position: absolute;
  top: 5px;
  left: 5px;
  height: 18px;
  width: 18px;
  fill: var(--accent-color);
}

.vote-button-add:not([disabled]):hover {
  background-color: var(--accent-color);

  .vote-button-add-icon {
    fill: $color-white;
  }
}
