@import "constants/style";

/**
    POSITIONING & SIZING
*/

.menu-button {
  background-color: transparent;
  border: none;
  border-radius: 18px;
  height: 36px;
  padding: 0;
  position: relative;
  width: 36px;
}

.menu-button__tooltip {
  border-radius: 16px;
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-family: 'Raleway', serif;
  font-size: 14px;
  font-weight: bold;
  height: 36px;
  width: auto;
  letter-spacing: 1px;
  line-height: 16px;
  position: absolute;
  text-align: center;
  visibility: hidden;
  white-space: nowrap;
  z-index: -1;

}

.menu-button__icon {
  left: 0;
  position: absolute;
  top: 0;
  z-index: 3;
}

.menu-button__icon--close {
  display: none;
}

@media #{$desktop} {
  .menu-button--left {
    .menu-button__tooltip {
      direction: rtl;
      padding-right: 56px;
      padding-left: 20px;
      right: 0;
      top: 0;
    }
  }

  .menu-button--right {
    .menu-button__tooltip {
      direction: ltr;
      left: 0;
      padding-right: 20px;
      padding-left: 56px;
      top: 0
    }
  }
}

/**
    TRANSITIONS
*/
.menu-button:hover {

  .menu-button__tooltip {
    visibility: visible;
  }
}

.menu-button:focus {
  outline: none;
}

/**
    COLORING
*/
@media (prefers-color-scheme: light) {
  .menu-button__icon--white {
    display: none;
  }

  .menu-button__tooltip {
    box-shadow: 0 16px 32px 0 rgba(0, 87, 255, 0.24);
    background-color: #FFFFFF;
    color: #FF0069;
  }

  .menu-button--active:hover {
    background-color: #FF0069;

    .menu-button__icon--close {
      display: inline;
    }

    .menu-button__icon--white {
      display: none;
    }

  }

  .menu-button--disabled:hover {
    background-color: #FF0069;

    .menu-button__icon--red {
      display: none;
    }

    .menu-button__icon--white {
      display: inline;
    }
  }
  
}

@media (prefers-color-scheme: dark) {
  .menu-button__icon--red {
    display: none;
  }

  .menu-button:hover {
    background-color: #7C123E;
  }

  .menu-button--active:hover {
    .menu-button__icon--close {
      display: inline;
    }

    .menu-button__icon--white {
      display: none;
    }
  }

  .menu-button--disabled:hover {
    .menu-button__icon--red {
      display: none;
    }

    .menu-button__icon--white {
      display: inline;
    }
  }

  .menu-button__tooltip {
    box-shadow: 0 6px 9px 0 rgba(0, 0, 0, 0.2);
    background-color: #FF0069;
    color: #FFFFFF;

  }
}