@import "constants/style";

/**
    POSITIONING & SIZING
*/

.menu-button {
  background-color: transparent;
  border: none;
  border-radius: 18px;
  height: 36px;
  padding: 0;
  position: relative;
  width: 36px;

  transition: background-color 0.25s ease-in-out;
}

.menu-button__tooltip {
  border-radius: 16px;
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  font-family: 'Raleway', serif;
  font-size: 14px;
  font-weight: bold;
  height: 36px;
  letter-spacing: 1px;
  line-height: 16px;
  padding: 0;
  text-align: right;
  white-space: nowrap;
  width: 0;
  z-index: -1;

  position: absolute;
  right: 0;
  transition: width 0.25s ease-in-out;
  overflow: hidden;

}

.tooltip-text {
  margin-right: 36px;
  transition: margin-right 0.5s ease-in-out;
}

.menu-button__icon {
  left: 0;
  position: absolute;
  top: 0;
  z-index: 3;
}

.menu-button__icon--close {
  display: none;
}

@media #{$desktop} {
  .menu-button__tooltip {
    position: absolute;
    animation: none;
  }

  .menu-button--left {
    .menu-button__tooltip {
      direction: rtl;

      right: 0;
      top: 0;
    }
  }

  .menu-button--right {
    .menu-button__tooltip {
      direction: ltr;
      left: 0;

      top: 0
    }
  }
}

/**
    TRANSITIONS
*/

.menu-button:active {
  .menu-button__tooltip {
    visibility: visible;
    width: 200px;
  }
}

.menu-button:hover {

  .menu-button__tooltip {
    width: 220px;
  }

  .tooltip-text {
    margin-right: 48px;
  }
}

.menu-button:focus {
  outline: none;
}

/**
    COLORING
*/
@media (prefers-color-scheme: light) {
  .menu-button__icon--white {
    display: none;
  }

  .menu-button__tooltip {
    box-shadow: 0 16px 32px 0 rgba(0, 87, 255, 0.24);
    background-color: #FFFFFF;
    color: #FF0069;
  }

  .menu-button--active:hover {

    .menu-button__icon--close {
      display: inline;
    }

    .menu-button__icon--white {
      display: none;
    }

  }

  .menu-button--disabled:hover {
    background-color: #FF0069;

    .menu-button__icon--red {
      display: none;
    }

    .menu-button__icon--white {
      display: inline;
    }
  }
  
}

@media (prefers-color-scheme: dark) {
  .menu-button__icon--red {
    display: none;
  }

  .menu-button:hover {
    background-color: #7C123E;
  }

  .menu-button--active:hover {
    .menu-button__icon--close {
      display: inline;
    }

    .menu-button__icon--white {
      display: none;
    }
  }

  .menu-button--disabled:hover {
    .menu-button__icon--red {
      display: none;
    }

    .menu-button__icon--white {
      display: inline;
    }
  }

  .menu-button__tooltip {
    box-shadow: 0 6px 9px 0 rgba(0, 0, 0, 0.2);
    background-color: #FF0069;
    color: #FFFFFF;

  }
}