@import "src/constants/style";

/* fixed wrapper in the top right containing all request */
.requests__wrapper {
  position: fixed;
  top: 110px;
  right: 30px;
  z-index: $request-z-index;
}

.requests__main {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  row-gap: 15px;

  width: 100%;
  height: auto;
}

/*@keyframes fly-in-top {
  0% {
    top: -200px;
    opacity: 0;
    visibility: hidden;
  }
  100% {
    top: 60px;
    opacity: 1;
    visibility: visible;
  }
}
@keyframes fly-in-right {
  0% {
    right: -500px;
    opacity: 0;
    visibility: hidden;
  }
  100% {
    right: 92px;
    opacity: 1;
    visibility: visible;
  }
}
*/
