@import "constants/style";

.search-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: $spacing--xs;

  width: 100%;
  padding: $spacing--base;
  border-radius: $rounded--full;

  background-color: $color-white;
}

.search-bar__logo {
  width: $icon--large;
  height: $icon--large;
}

.search-bar__logo-container {
  width: $icon--large;
  height: $icon--large;
}

.search-bar__input {
  width: 100%;
  padding: 0;
  margin: 0;
  border: none;
}
