@import "constants/style";

.header-menu {
  height: 230px;
  width: 288px;
  border-radius: 16px;

  position: fixed;
  left: calc(50% - 144px);
  top: 92px;

  background-color: $color-backlog-blue;
  box-shadow: 0 16px 32px 0 rgba(0, 87, 255, 0.24);

  z-index: 150;
  overflow: hidden;

  list-style-type: none;
  padding: 0;
}
@media (prefers-color-scheme: dark) {
  .header-menu {
    background-color: $color-planning-pink;
    box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.2);
  }
}

.header-menu__info {
  position: relative;
  top: 0;
  left: 0;
  height: 86px;
}
.info__board-name {
  position: absolute;
  top: 20px;
  left: 20px;
  height: 19px;
  width: 180px;
  color: #ffffff;
  font-family: Raleway;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0.25px;
  line-height: 18px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  background-color: transparent;
  border: none;
  border-bottom: 1px dashed #ffffff;
  padding: 0 0 5px 0;
  outline: 0;
  transition: border-color 0.1s linear;
}
.info__board-name:disabled {
  border-color: transparent;
}

.info__access-mode {
  position: absolute;
  top: 44px;
  left: 20px;
  height: 18px;
  width: 174px;
  border: none;
  background-color: transparent;
  padding: 0;
  text-align: left;
  color: #fff;
  opacity: 0.8;
  font-family: Raleway;
  font-size: 13px;
  letter-spacing: 0.27px;
  line-height: 18px;
  cursor: pointer;
}
.info__access-mode:disabled {
  cursor: default;
}
.info__access-mode-lock {
  display: inline-block;
  position: relative;
  width: 10px;
  height: 10px;
  border: 2px solid #fff;
  background-color: #fff;
  opacity: 0.8;
  border-radius: 2px;
  margin-right: 5px;
}
.info__access-mode-lock::before {
  content: "";
  position: absolute;
  height: 5px;
  width: 5px;
  background-color: $color-backlog-blue;
  border-radius: 2.5px;
  top: 0.5px;
  left: 0.5px;
}
@media (prefers-color-scheme: dark) {
  .info__access-mode-lock::before {
    background-color: $color-planning-pink;
  }
}
.info__access-mode-lock::after {
  position: absolute;
  content: "";
  width: 5px;
  height: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border: 1px solid #fff;
  border-bottom: 0;
  top: -6px;
  left: 0.5px;
  transition: transform 0.3s linear;
}
.info__access-mode-lock--unlocked::after {
  transform: rotate(-45deg) translate(0, -1px);
}

.info__edit-button {
  position: absolute;
  height: 24px;
  width: 50px;
  border: 1.5px solid #f9fafb;
  border-radius: 32px;
  background-color: transparent;
  color: #ffffff;
  cursor: pointer;
  top: 18px;
  left: 212px;
  transition: scale 0.1s ease-in-out;
}
.info__edit-button:active {
  scale: 0.95;
}

.header-menu__item {
  height: 48px;
  width: 100%;
  background-color: $color-white;
  transition: background-color 0.15s ease-in-out;
}
.header-menu__item:hover {
  background-color: rgb(243, 243, 243);
}
@media (prefers-color-scheme: dark) {
  .header-menu__item {
    background-color: $color-dark-mode-note;
  }
  .header-menu__item:hover {
    background-color: rgb(61, 69, 85);
  }
}

.menu__item-button {
  background-color: transparent;
  border: none;
  padding: none;
  height: 100%;
  width: 100%;
  text-align: left;
  cursor: pointer;
}
.menu__item-button:focus,
.menu__item-button:hover {
  outline: none;
}
.item-button__icon {
  width: 79px;
  height: 24px;
  color: #a3a6aa;
  vertical-align: middle;
}

.item-button__label {
  height: 24px;
  width: 180px;
  color: #111111;
  font-family: Raleway;
  font-size: 14px;
  letter-spacing: 0.5px;
  line-height: 24px;
  vertical-align: middle;
  cursor: pointer;
}
@media (prefers-color-scheme: dark) {
  .item-button__label {
    color: $color-white;
  }
}

.item-button__toggle-container {
  width: 79px;
  height: 48px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
}
.item-button__toggle {
  width: 24px;
  height: 24px;
  position: relative;
  display: inline-block;
}
.item-button__toggle::after {
  content: "";
  height: 12px;
  width: 12px;
  position: absolute;
  border-radius: 100%;
  top: calc(50% - 6px);
  transition: all 0.25s ease-in-out;
}

.item-button__toggle::before {
  content: "";
  height: 3px;
  width: 24px;
  background-color: rgb(200, 200, 200);
  position: absolute;
  border-radius: 3px;
  top: calc(50% - 1.5px);
}

.item-button__toggle--left::after {
  left: 0;
  background-color: $color-backlog-blue;
}

.item-button__toggle--right::after {
  left: 12px;
  background-color: $color-planning-pink;
}
