@import "constants/style";

#portal {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 0;
}

.backdrop {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8);
  z-index: $backdrop-z-index;
}

.backdrop__content {
  position: fixed;
  width: 100vw;
  height: 100vh;
  padding: $header__height $margin--default;

  // enable scroll of content
  overflow: auto;

  // horizontal centering of content
  display: flex;
  justify-content: center;
}
