@import "constants/style";

/**
    POSITIONING & SIZING
*/

.admin-menu {
  border-radius: 34.5px;
  bottom: 8px;
  height: 64px;
  left: 50%;
  margin-left: -134px;
  position: fixed;
  width: 268px;
}

.admin-menu__items {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  height: 100%;
  justify-content: space-between;
  padding: 0 28px;
}

.admin-menu__item {
  background: transparent;
  border: 0;
  border-radius: 18px;
  height: 36px;
  padding: 0;
  width: 36px;
}

@media #{$desktop} {
  .admin-menu {
    border-radius: 34.5px;
    height: 268px;
    left: auto;
    margin-top: -134px;
    right: 8px;
    top: 50%;
    width: 64px;
  }

  .admin-menu__items {
    flex-direction: column;
    padding: 28px 0;
  }
}

/**
    TRANSITIONS
*/
.admin-menu__item:hover {
  transition-duration: 0.5s;
}

.admin-menu__item:focus {
  outline: none;
}

/**
    COLORING
*/

@media (prefers-color-scheme: light) {
  .admin-menu {
    background-color: #FFFFFF;
    box-shadow: 0 16px 32px 0 rgba(0, 87, 255, 0.24);
  }

  .admin-menu__item:hover {
    background-color: #FF0069;

    .admin-menu__item-icon--red {
      display: none;
    }

    .admin-menu__item-icon--white {
      display: inline;
    }
  }

  .admin-menu__item-icon--white {
    display: none;
  }
}

@media (prefers-color-scheme: dark) {
  .admin-menu {
    background-color: #FF0069;
    box-shadow: 0 6px 9px 0 rgba(0, 0, 0, 0.2);
  }

  .admin-menu__item:hover {
    background-color: #7c123e;
  }

  .admin-menu__item-icon--red {
    display: none;
  }
}
