.admin-menu {
  position: fixed;
  height: 268px;
  width: 64px;
  border-radius: 34.5px;
  background-color: #FF0069;
  right: 8px;
  top: 50%;
  margin-top: -134px;
  box-shadow: 0 6px 9px 0 rgba(0,0,0,0.2);
}