@import "constants/style";

$card-height: 220px;
$icon-size: 80px;

.create-template-card {
  all: unset;

  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: $card-height;
  border-radius: $rounded--default;
  border: 3px dashed #0057ff;

  box-sizing: border-box; // don't overflow
  padding: 0 40px 14px 40px; // non standard, I know

  background-color: $blue--100;

  cursor: pointer;

  &:hover {
    box-shadow: 0 6px 32px 0 rgba(0, 87, 255, 0.26);
  }

  &:focus {
    background-color: $gray--000;
  }

  &:active {
    background-color: $blue--200;
  }

  &:disabled {
    background-color: $gray--300;
    border-color: $gray--800;
    box-shadow: none;
    cursor: unset;

    .create-template-card__icon,
    .create-template-card__title {
      color: $gray--800;
    }
  }
}

.create-template-card__icon {
  width: $icon-size;
  height: $icon-size;
  color: $blue--500;
}

.create-template-card__title {
  font-size: $text--lg;
  font-weight: 600;
  line-height: 28px;

  color: $blue--500;
}
