@use "constants/style";

$list-style-type: "– ";

/*
 * layout:
 * | icon text |
 * | **** list |
 */
.hint-hidden-columns__grid-container {
  display: grid;
  align-items: center;

  grid-gap: style.$spacing--xs style.$spacing--base;
  margin-top: style.$spacing--lg;
  padding: 0 style.$spacing--base;
  line-height: style.$line-height--medium;
}

.hint-hidden-columns__info-icon {
  width: style.$icon--large;
  height: style.$icon--large;
  color: style.$critical-carmine--light;
}

.hint-hidden-columns__info-text {
  grid-column-start: 2; // top right
}

.hint-hidden-columns__columns-list-container {
  grid-column-start: 2; // bottom right
}

.hint-hidden-columns__columns-list {
  margin: 0;
  padding-left: style.$spacing--lg;
  list-style-type: $list-style-type;
}

[theme="dark"] {
  .hint-hidden-columns__info-text,
  .hint-hidden-columns__columns-list {
    color: style.$gray--000;
  }
}
