@use "constants/styles";
@use "constants/colors";

/*
 * layout:
 * | icon text |
 * | **** list |
 */
.hint-hidden-columns__grid-container {
  display: grid;
  align-items: center;

  grid-gap: 0 styles.$spacing--xxs;
  padding: styles.$spacing--xs;
  line-height: styles.$line-height--medium;

  border-radius: styles.$rounded--default;

  background-color: colors.$yellow--100;

  color: colors.$navy--500;
  font-weight: 500;
}

.hint-hidden-columns__info-icon {
  align-self: flex-start;

  width: styles.$icon--large;
  height: styles.$icon--large;

  color: colors.$navy--400;
}

.hint-hidden-columns__info-text {
  grid-column-start: 2; // top right
}

.hint-hidden-columns__columns-list-container {
  grid-column-start: 2; // bottom right
}

.hint-hidden-columns__columns-list {
  margin: 0;
  padding-left: styles.$spacing--sm;
}

.hint-hidden-columns__columns-list-item {
  display: flex;
  align-items: center;
  gap: styles.$spacing--xs;

  // custom enumeration bullet which can be resized
  &::before {
    content: "•";
    font-size: 1em;
  }
}

[data-theme="dark"] {
  .hint-hidden-columns__grid-container {
    color: colors.$gray--400;
    background-color: rgba(colors.$yellow--400, 0.2);
  }

  .hint-hidden-columns__info-icon {
    color: colors.$gray--000;
  }
}
