@use "constants/styles";

$list-style-type: "– ";

/*
 * layout:
 * | icon text |
 * | **** list |
 */
.hint-hidden-columns__grid-container {
  display: grid;
  align-items: center;

  grid-gap: styles.$spacing--xs styles.$spacing--base;
  margin-top: styles.$spacing--lg;
  padding: 0 styles.$spacing--base;
  line-height: styles.$line-height--medium;
}

.hint-hidden-columns__info-icon {
  width: styles.$icon--large;
  height: styles.$icon--large;
  color: styles.$critical-carmine--light;
}

.hint-hidden-columns__info-text {
  grid-column-start: 2; // top right
}

.hint-hidden-columns__columns-list-container {
  grid-column-start: 2; // bottom right
}

.hint-hidden-columns__columns-list {
  margin: 0;
  padding-left: styles.$spacing--lg;
  list-style-type: $list-style-type;
}

[theme="dark"] {
  .hint-hidden-columns__info-text,
  .hint-hidden-columns__columns-list {
    color: styles.$gray--000;
  }
}
