@import "constants/style";

$header-menu-color--light: $color-backlog-blue;
$header-menu-color--dark: $color-planning-pink;
$header-menu__item-height: 48px;
$header-menu__item-border-width: 1px;
$header-menu-border-bottom-color: #efefef;
$header-menu-toggle-background-color: #c8c8c8;
$header-menu-icon-width: 79px;
$header-menu-icon-height: 24px;
$header-menu-toggle-button-height: 12px;
$header-menu-toggle-button-width: 12px;
$header-menu-toggle-height: 3px;
$header-menu-button-height: 24px;
$header-menu-button-width: 24px;

.board-settings {
  position: relative;
  height: 64px;
  background-color: $header-menu-color--light;
}

.board-settings__board-name {
  position: absolute;
  top: 20px;
  left: 20px;
  height: 19px;
  width: 160px;
  color: $color-white;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0.25px;
  line-height: 18px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  background-color: transparent;
  border: none;
  border-bottom: $header-menu__item-border-width dashed $color-white;
  padding: 0 0 5px 0;
  outline: 0;
  transition: border-color 0.1s linear;
}
.board-settings__board-name:disabled {
  border-color: transparent;
}

.board-settings__edit-button {
  position: absolute;
  height: $header-menu-button-height;
  box-shadow: 0 0 0 0.1em #f9fafb;
  border-color: transparent;
  border-radius: 32px;
  background-color: transparent;
  color: $color-white;
  cursor: pointer;
  top: 18px;
  right: 16px;
  transition: scale 0.1s ease-in-out;
}
.board-settings__edit-button:focus {
  outline: 0;
}
.board-settings__edit-button:active {
  scale: 0.95;
}

[theme="dark"] {
  .header-menu {
    box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.2);
  }
  .board-settings {
    background-color: $header-menu-color--dark;
  }
}
