@import "constants/style";

$header-menu-color--light: $color-backlog-blue;
$header-menu-color--dark: $color-planning-pink;
$header-menu__item-height: 48px;
$header-menu__item-border-width: 1px;
$header-menu-hover-color--dark: #3d4555;
$header-menu-hover-color--light: #f3f3f3;
$header-menu-border-bottom-color: #efefef;
$header-menu-toggle-background-color: #c8c8c8;
$header-menu-icon-width: 79px;
$header-menu-icon-height: 24px;
$header-menu-toggle-button-height: 12px;
$header-menu-toggle-button-width: 12px;
$header-menu-toggle-height: 3px;
$header-menu-button-height: 24px;
$header-menu-button-width: 24px;

.header-menu__export-container {
  height: 0;
  width: 100%;
  background: $color-white;
  transition: height 0.5s ease-in-out;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 10px;
}
.header-menu__export-container--visible {
  box-sizing: border-box;
  height: 90px;
  border-bottom: $header-menu__item-border-width solid $header-menu-border-bottom-color;
}

.header-menu__info {
  position: relative;
  height: 86px;
  background-color: $header-menu-color--light;
}

.info__board-name {
  position: absolute;
  top: 20px;
  left: 20px;
  height: 19px;
  width: 180px;
  color: $color-white;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0.25px;
  line-height: 18px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  background-color: transparent;
  border: none;
  border-bottom: $header-menu__item-border-width dashed $color-white;
  padding: 0 0 5px 0;
  outline: 0;
  transition: border-color 0.1s linear;
}
.info__board-name:disabled {
  border-color: transparent;
}

.info__access-mode {
  position: absolute;
  top: 44px;
  left: 20px;
  height: 18px;
  width: max-content;
  border: none;
  background-color: transparent;
  text-align: left;
  color: $color-white;
  opacity: 0.8;
  font-size: 13px;
  letter-spacing: 0.27px;
  line-height: 18px;
  cursor: pointer;
  border-bottom: $header-menu__item-border-width dashed $color-white;
  padding: 0 0 5px 0;
  transition: border-color 0.1s linear;
}
.info__access-mode:disabled {
  cursor: default;
  border-color: transparent;
}
.info__access-mode-lock {
  display: inline-block;
  position: relative;
  width: 10px;
  height: 10px;
  border: 2px solid $color-white;
  background-color: $color-white;
  opacity: 0.8;
  border-radius: 3px;
  margin-right: 5px;
}
.info__access-mode-lock::before {
  content: "";
  position: absolute;
  height: 6px;
  width: 6px;
  background-color: $header-menu-color--light;
  border-radius: 3px;
}

.info__access-mode-lock::after {
  position: absolute;
  content: "";
  width: 6px;
  height: 6px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border: $header-menu__item-border-width solid $color-white;
  border-bottom: 0;
  top: -7px;
  left: 0;
  transition: transform 0.3s linear;
}
.info__access-mode-lock--unlocked::after {
  transform: rotate(-45deg) translate(0, -1px);
}

.info__edit-button {
  position: absolute;
  height: $header-menu-button-height;
  width: 50px;
  box-shadow: 0 0 0 0.1em #f9fafb;
  border-color: transparent;
  border-radius: 32px;
  background-color: transparent;
  color: $color-white;
  cursor: pointer;
  top: 18px;
  left: 212px;
  transition: scale 0.1s ease-in-out;
}
.info__edit-button:focus {
  outline: 0;
}
.info__edit-button:active {
  scale: 0.95;
}

.header-menu__item {
  height: $header-menu__item-height;
  background-color: $color-white;
  transition: background-color 0.15s ease-in-out;
  box-sizing: border-box;
  border-bottom: $header-menu__item-border-width solid $header-menu-border-bottom-color;
}
.header-menu__item:hover {
  background-color: $header-menu-hover-color--light;
}

.item-button__icon {
  width: $header-menu-icon-width;
  height: $header-menu-icon-height;
  color: #a3a6aa;
  vertical-align: middle;
}

.item-button__label {
  height: $header-menu-button-height;
  width: 180px;
  color: $color-black;
  font-size: 14px;
  letter-spacing: 0.5px;
  line-height: $header-menu-button-height;
  vertical-align: middle;
  cursor: pointer;
}

.item-button__toggle-switch-container {
  width: $header-menu-icon-width;
  height: $header-menu__item-height;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
}
.item-button__toggle-switch {
  width: $header-menu-button-width;
  height: $header-menu-button-height;
  position: relative;
  display: inline-block;
}
.item-button__toggle-switch::after {
  content: "";
  height: $header-menu-toggle-button-height;
  width: $header-menu-toggle-button-width;
  position: absolute;
  border-radius: 100%;
  top: calc(50% - #{$header-menu-toggle-button-height} / 2);
  transition: all 0.25s linear;
}
.item-button__toggle-switch::before {
  content: "";
  height: $header-menu-toggle-height;
  width: 24px;
  background-color: $header-menu-toggle-background-color;
  position: absolute;
  border-radius: $header-menu-toggle-height;
  top: calc(50% - #{$header-menu-toggle-height} / 2);
}
.item-button__toggle-switch--left::after {
  left: 0;
  background-color: $color-backlog-blue;
}
.item-button__toggle-switch--right::after {
  left: $header-menu-toggle-button-width;
  background-color: $color-planning-pink;
}

.header-menu__qrcode-container {
  height: 0;
  width: 100%;
  background-color: $color-white;
  transition: height 0.5s ease-in-out;
  position: relative;
  overflow: hidden;
}
.header-menu__qrcode-container--visible {
  box-sizing: border-box;
  height: 324px;
  border-bottom: $header-menu__item-border-width solid $header-menu-border-bottom-color;
}
.qrcode-container__qrcode {
  position: absolute;
  top: 13px;
  left: 13px;
}

.qrcode-container__copy-to-clipboard {
  position: absolute;
  height: $header-menu-button-height;
  width: 144px;
  border: $header-menu__item-border-width solid $color-black;
  border-radius: 32px;
  background-color: transparent;
  color: $color-black;
  cursor: pointer;
  left: 72px;
  top: 288px;
}
.qrcode-container__copy-to-clipboard:focus {
  outline: 0;
}
.qrcode-container__copy-to-clipboard:active {
  scale: 0.95;
}

.header-menu__delete-container {
  height: 0;
  width: 100%;
  transition: height 0.5s ease-in-out;
  background-color: $color-white;
  position: relative;
  overflow: hidden;
}

.header-menu__delete-container--visible {
  box-sizing: border-box;
  height: 120px;
}
.delete-container__warning-label {
  position: absolute;
  top: 13px;
  left: 13px;
  color: $color-waring-red;
}
.delete-container__delete-board {
  position: absolute;
  top: 80px;
  left: 72px;
  height: $header-menu-button-height;
  width: 144px;
  border: $header-menu__item-border-width solid $color-waring-red;
  border-radius: 32px;
  background-color: transparent;
  color: $color-waring-red;
  cursor: pointer;
}
.delete-container__delete-board :focus {
  outline: 0;
}
.delete-container__delete-board :active {
  scale: 0.95;
}

@media (prefers-color-scheme: dark) {
  .header-menu {
    box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.2);
  }
  .header-menu__info {
    background-color: $header-menu-color--dark;
  }
  .header-menu__delete-container {
    background-color: $color-dark-mode-note;
  }
  .item-button__label {
    color: $color-white;
  }
  .header-menu__item {
    background-color: $color-dark-mode-note;
  }
  .header-menu__item:hover {
    background-color: #3d4555;
  }
  .header-menu__export-container {
    background-color: $color-dark-mode-note;
  }
}
