@import "constants/style";

.templates {
  display: flex;
  flex-direction: row;
  flex: 1;
  // use margin below instead to accommodate for stan, otherwise the --saved container would be missing the space
  // gap: $spacing--md;

  position: relative;
}

.templates__container {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: $spacing--lg;

  padding: $spacing--xl $spacing--xl 0 $spacing--xl;
  border-radius: $rounded--default;

  background-color: #dde8ff;

  &--saved {
    margin-right: $spacing--md; // instead of gap, see above
  }
}

.templates__container-title {
  word-break: break-word; // because the word "Recommendations" is too long, TODO find better solution for this
  font-size: $text--lg;
  font-weight: 700;

  color: #292f3b;
}

.templates__stan {
  position: absolute;

  width: auto;
  height: 100%;

  // align right edge of stan to the left edge of the container
  transform: translateX(-100%);
}
