@import '../../../constants/style';

.title {
  margin: $large-margin $default-margin $default-margin;
}

@media #{$desktop} {
  .title {
    margin-left: $large-margin;
    margin-right: $large-margin;
    margin-top: $large-margin + $default-margin;
  }

  .title__navigation {
    display: none;
  }
}

.title__hr {
  background: $color-dark-gray;
  height: 4px;
  border: none;
}

.title__title-wrapper {
  display: flex;
}

.title__title {
  flex: 1;
  margin: 0;

  font-family: Heebo;
  font-weight: bold;
  font-size: 36px;
  color: $color-dark-gray;
  letter-spacing: 1px;
  line-height: 54px;
}

.title__count {
  float: right;
  font-family: Heebo;
  font-size: 36px;
  font-weight: bold;
  margin-left: $default-margin;
  color: $color-stone-gray;
  line-height: 54px;
  vertical-align: middle;
}

.title__navigation {
  align-self: center;

  border: 0;
  background: none;
  outline: none;
}

.title__navigation:focus *,
.title__navigation:hover * {
  fill: $color-mint !important;
}

.title__navigation:disabled * {
  fill: $color-alternative-gray !important;
}