@import "../constants/style";

.column {
  min-width: $column__min-width;
  width: 100%;
  max-width: $column__max-width;

  height: 100%;

  @include inset-border($top: true, $bottom: true);
}

.column__content {
  padding: 32px;
}