@use "sass:color";
@use "constants/style";

.rejection-page__root {
  height: 100%;
  width: 100%;
  padding: style.$spacing--xs 0 0 style.$spacing--lg;
  overflow-x: hidden;
  background: linear-gradient(320deg, color.change(style.$blue--500, $alpha: 0.2), color.change(style.$gray--000, $alpha: 0.3));
}

.rejection-page__background {
  position: relative;
}

.rejection-page__background-form {
  // position the form to overlap in the upper left corner.
  // depending on screen size we tweak those numbers a bit
  position: absolute;
  top: -440px;
  left: -960px;
}

.rejection-page__background-details {
  position: fixed;
  width: 100%;
  height: 100%;
}

.rejection-page__header {
  position: absolute;
}

.rejection-page__main {
  display: flex;
  flex-direction: column-reverse; // in mobile, stan is above the content
  gap: 0;

  height: 100%;

  justify-content: center;
  align-items: center;
}

// content (left)
.rejection-page__content {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 0 style.$spacing--base;

  z-index: style.$base-z-index; // layer content over background, using any z-index works
}

.rejection-page__title {
  font-weight: 700;
  font-size: style.$text--2xl;
}

.rejection-page__description {
  margin-top: 12px;

  font-weight: 400;
  font-size: style.$text--md;
  line-height: style.$line-height--large;
}

.rejection-page__return-button {
  margin-top: style.$spacing--base;

  padding: style.$spacing--base style.$spacing--xl;
  color: style.$gray--000;
  background: #ff0069;

  font-weight: 700;
  font-size: style.$text--base;
  letter-spacing: style.$letter-spacing--medium;

  border: none;
  border-radius: style.$rounded--full;
  box-shadow: 0 5px 4px color.change(style.$pink--500, $alpha: 0.25);

  cursor: pointer;
}

// default look is for very small screens and works its way up to match larger screen sizes (could theoretically do it the other way around)
@media screen and (min-height: 600px) {
  .rejection-page__description {
    margin-top: style.$spacing--base;
  }

  .rejection-page__return-button {
    margin-top: style.$spacing--xl + style.$spacing--xs; // 40px
  }
}

@media screen and (min-width: 450px) {
  .rejection-page__root {
    padding: style.$spacing--base;
  }

  .rejection-page__background-form {
    top: -400px;
    left: -900px;
  }

  .rejection-page__main {
    gap: style.$spacing--lg;
  }

  .rejection-page__title {
    font-size: style.$text--3xl;
  }

  .rejection-page__description {
    font-size: style.$text--lg;
    line-height: 40px;
  }
}

// this looks better with min-width: 920px instead because of line breaks, but this is consistent with the logo
@media screen and (min-width: 768px) {
  .rejection-page__background-form {
    top: -100px;
    left: -800px;
  }

  .rejection-page__main {
    flex-direction: row; // in desktop, stan is next to the content
  }

  .rejection-page__content {
    align-items: flex-start; // prevent button from taking the whole space
  }

  .rejection-page__logo-stan {
    width: clamp(200px, 50vw, 1000px);
  }
}

@media screen and (min-width: 2048px) {
  .rejection-page__background-form {
    top: -100px;
    left: 0;
  }
}

// display or hide light/dark logos.
[theme="light"] {
  .rejection-page__background-form--dark,
  .rejection-page__logo-stan--dark {
    display: none;
  }
}

[theme="dark"] {
  .rejection-page__background-form--light,
  .rejection-page__logo-stan--light {
    display: none;
  }

  .rejection-page__root {
    background: linear-gradient(
      320deg,
      color.change(style.$blue--500, $lightness: 12%, $saturation: 25%) 6%,
      color.change(style.$blue--500, $lightness: 14%, $saturation: 35%) 30%,
      color.change(style.$blue--500, $lightness: 37%, $saturation: 23%) 60%,
      color.change(style.$blue--500, $lightness: 56%, $saturation: 28%) 80%
    );
  }

  .rejection-page__content {
    color: style.$gray--000;
  }
}
