@import "constants/style";

.join-request {
  position: fixed;
  min-width: 300px;
  max-width: 400px;
  border-radius: 8px;
  top: 60px;
  left: 10px;
  right: 10px;
  z-index: 140;
  overflow: hidden;
  animation: fly-in-top 0.5s ease-out;
  box-shadow: 0 16px 32px 0 rgba(0, 87, 255, 0.24);
}

@media screen and (min-width: 420px) {
  .join-request {
    left: calc(50% - 200px);
    width: 400px;
  }
}
@media #{$tablet} {
  .join-request {
    right: 92px;
    left: auto;
    animation: fly-in-right 0.5s ease-out;
  }
}
@media (prefers-color-scheme: dark) {
  .join-request {
    box-shadow: 0 6px 9px 0 rgba(0, 0, 0, 0.2);
  }
}

.request__button {
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 0.23px;
  line-height: 24px;
  border: none;
  outline: none;
  margin: 0;
  padding: 0;
  background-color: transparent;
  color: $color-backlog-blue;
  cursor: pointer;
}

.request__button + .request__button {
  margin-left: 16px;
}

@media (prefers-color-scheme: dark) {
  .request__button {
    color: $color-planning-pink;
  }
}

.request__header {
  height: 42px;

  font-size: 12px;
  line-height: 24px;
  letter-spacing: 0.25px;
  font-weight: 600;
  position: relative;
  padding-top: 9px;
  padding-left: 15px;
  color: $color-white;
  background-color: $color-backlog-blue;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@media (prefers-color-scheme: dark) {
  .request__header {
    background-color: $color-planning-pink;
  }
}

@media screen and (min-width: 375px) {
  .request__header {
    font-size: 14px;
  }
}

.request__main {
  width: 100%;
  height: auto;
  background-color: $color-white;
  border-radius: 0;
}

@media (prefers-color-scheme: dark) {
  .request__main {
    background-color: $color-dark-mode-note;
  }
}

.join-request__unique-request-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 16px;
}

.join-request__unique-request-container + .join-request__unique-request-container {
  margin-top: 4px;
}

.join-request__request-figure {
  margin: 0;
  padding: 0;
  border: 0;
  display: flex;
  align-items: center;
  vertical-align: baseline;
}

.join-request__request-name {
  margin-left: 12px;
  color: $color-black;
  font-size: 13px;
  letter-spacing: 0.15px;
  line-height: 18px;
}
@media (prefers-color-scheme: dark) {
  .join-request__request-name {
    color: $color-white;
  }
}
.join-request__request-image {
  height: 40px;
  width: 40px;
  border-radius: 100%;
}

.request__requests-preview {
  height: 64px;
  display: flex;
  flex-direction: row;
}
.join-request__preview-names {
  line-height: 64px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #111111;
  font-size: 13px;
  letter-spacing: 0.15px;
  margin: 0 12px;
}
@media (prefers-color-scheme: dark) {
  .join-request__preview-names {
    color: $color-white;
  }
}
.join-request__preview-image {
  height: 42px;
  width: 42px;
  border: 2px solid $color-white;
  border-radius: 100%;
  position: relative;
  top: 9px;
}
@media (prefers-color-scheme: dark) {
  .join-request__preview-image {
    border-color: $color-dark-mode-note;
  }
}
.join-request__preview-image:first-child {
  z-index: 7;
  margin-left: 14px;
}
.join-request__preview-image:nth-child(2) {
  z-index: 6;
  margin-left: -8px;
}

.join-request__preview-rest {
  height: 39px;
  min-width: 39px;
  max-width: 39px;
  outline: 2px solid $color-white;
  border: 1px solid $color-black;
  border-radius: 100%;
  margin-top: 12px;
  position: relative;
  margin-left: -8px;
  text-align: center;
  line-height: 37px;
  font-size: 16px;
  color: #111111;
}
@media (prefers-color-scheme: dark) {
  .join-request__preview-rest {
    outline-color: $color-dark-mode-note;
    border-color: $color-white;
    color: $color-white;
  }
}

.request__requests {
  list-style-type: none;
  margin: 0;
  padding: 10px 0;
  border-top: 1px solid #d4d9dd;
  border-bottom: 1px solid #d4d9dd;
  max-height: 130px;
  overflow-y: auto;
}
@media (prefers-color-scheme: dark) {
  .request__requests {
    border-color: rgba(212, 217, 221, 0.2);
  }
}

.join-request__request-display-name {
  height: 18px;
  color: $color-black;
  font-size: 13px;
  letter-spacing: 0.15px;
  line-height: 18px;
  width: 144px;
  margin-right: 16px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
  margin-left: 8px;
}
@media screen and (max-width: 375px) {
  .join-request__request-display-name {
    width: 96px;
  }
}
@media (prefers-color-scheme: dark) {
  .join-request__request-display-name {
    color: $color-white;
  }
}

.join-request__footer {
  display: flex;
  justify-content: flex-end;
  padding: 0 16px;

  background-color: $color-white;
  height: 48px;
}

@media (prefers-color-scheme: dark) {
  .join-request__footer {
    background-color: $color-dark-mode-note;
  }
}

@keyframes fly-in-top {
  0% {
    top: -200px;
    opacity: 0;
    visibility: hidden;
  }
  100% {
    top: 60px;
    opacity: 1;
    visibility: visible;
  }
}
@keyframes fly-in-right {
  0% {
    right: -500px;
    opacity: 0;
    visibility: hidden;
  }
  100% {
    right: 92px;
    opacity: 1;
    visibility: visible;
  }
}
