@use "sass:color";
@use "constants/style";

$side-padding--desktop: 14vw;

.boards {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(180deg, color.change(style.$blue--500, $alpha: 0.075), color.change(style.$gray--000, $alpha: 0.2));
}

.boards__grid {
  display: grid;

  // split the central `1fr` column into `1fr 8fr 1fr`.
  // this creates an 80% content area with 10% gutters on each side.
  grid-template-columns:
    $side-padding--desktop
    [bleed-start] auto // logo
    auto // left gutter for breakout
    1fr
    auto // right gutter for breakout
    auto [bleed-end] // user
    $side-padding--desktop;

  grid-template-rows: style.$spacing--lg 56px 48px 1fr style.$spacing--lg;

  grid-template-areas:
    ".  .      .      .      .      .     ."
    ".  logo   title  title  title  user  ."
    ".  .      title  title  title  .     ."
    ".  main   main   main   main   main  ."
    ".  .      .      .      .      .     .";

  height: 100vh;

  &--view-type-overview {
    grid-template-columns: $side-padding--desktop auto auto style.$spacing--base 1fr auto auto $side-padding--desktop;
    grid-template-rows: style.$spacing--lg 56px 48px 64px 1fr style.$spacing--lg; // using the actual component heights seems to yield the best results
    grid-template-areas:
      ".  .    .       .       .       .       .      ."
      ".  logo title   title   title   title   user   ."
      ".  .    title   title   title   title   .      ."
      ".  .    switch  search  search  search  .      ."
      ".  main main    main    main    main    main   ."
      ".  .    .       .       .       .       .      .";
  }
}

.boards__scrumlr-logo-container {
  grid-area: logo;
}

.boards__user-pill {
  grid-area: user;
  justify-self: flex-end;
}

.boards__title {
  grid-area: title;
  align-self: center;
  justify-self: center;

  font-size: style.$text--2xl;
  font-weight: 700;
  line-height: 48px; // TODO use constant
  color: style.$navy--900;
}

.boards__switch {
  grid-area: switch;
}

.boards__search-bar {
  grid-area: search;
  width: 100%;
}

.boards__search-button {
  all: unset;
  display: none;

  grid-area: search;

  cursor: pointer;
}

.boards__search-button-icon-container {
  width: style.$icon--large;
  height: style.$icon--large;
  padding: style.$spacing--sm;
  border-radius: 100%;

  color: style.$navy--600;
  background-color: style.$gray--000;

  &--active {
    color: style.$gray--000;
    background-color: style.$navy--600;
  }
}

.boards--search-button-logo {
  width: style.$icon--large;
  height: style.$icon--large;
}

.boards__mobile-search-bar {
  display: none;
}

.boards__outlet {
  grid-area: main;
  display: flex;
  justify-content: stretch;

  overflow-y: auto;

  &--extended-top {
    margin-top: style.$spacing--xl;
  }
}

@media (max-width: style.$breakpoint--desktop) {
  .boards__grid {
    grid-template-columns: style.$spacing--2xl auto auto style.$spacing--base 1fr auto auto style.$spacing--2xl;
    grid-template-areas:
      ".  .      .       .       .       .       .      ."
      ".  logo   title   title   title   title   user   ."
      ".  .      title   title   title   title   .      ."
      ".  search search  search  search  search  search ."
      ".  main   main    main    main    main    main   ."
      ".  .      .       .       .       .       .      .";

    &--view-type-edit {
      grid-template-rows: style.$spacing--lg 56px 48px 1fr style.$spacing--lg;
      grid-template-columns: style.$spacing--2xl auto 1fr auto style.$spacing--2xl;
      grid-template-areas:
        ".  .      .      .     ."
        ".  logo   title  user  ."
        ".  .      title  .     ."
        ".  main   main   main  ."
        ".  .      .      .     .";
    }
  }
}

@media screen and (max-width: style.$breakpoint--smartphone) {
  .boards__grid {
    // stretch main to full width
    grid-template-columns: style.$spacing--md auto auto 1fr auto auto style.$spacing--md;
    // adds a row where the mobile search bar resides,
    grid-template-rows: style.$spacing--md 56px style.$spacing--sm 32px style.$spacing--md 57px auto 1fr;
    grid-template-areas:
      ".    .        .       .       .       .        ."
      ".    logo     .       .       .       user     ."
      ".    .        .       .       .       .        ."
      ".    title    title   title   title   title    ."
      ".    .        .       .       .       .        ."
      ".    search2  search2 search2 search2 search2  ."
      ".    .        .       .       .       .        ."
      "main main     main    main    main    main     main";

    &--view-type-edit {
      grid-template-columns: style.$spacing--md auto auto 1fr auto auto style.$spacing--md;
      grid-template-rows: style.$spacing--md 56px style.$spacing--sm 32px style.$spacing--md 1fr style.$spacing--md;
      grid-template-areas:
        ".    .        .       .       .       .        ."
        ".    logo     .       .       .       user     ."
        ".    .        .       .       .       .        ."
        ".    title    title   title   title   title    ."
        ".    .        .       .       .       .        ."
        ".    main     main    main    main    main     ."
        ".    .        .       .       .       .        .";
    }
  }

  .boards__title {
    font-size: style.$text--lg;
    line-height: 32px; // TODO use constant
  }

  .boards__search-button {
    display: inline-block;
    margin-right: style.$spacing--sm;
  }

  .boards__search-bar {
    display: none;
  }

  .boards__mobile-search-bar {
    display: flex;
    grid-area: search2;
  }
}

[theme="dark"] {
  .boards {
    background: linear-gradient(161deg, style.$navy--600 16.78%, style.$navy--700 49.35%, style.$navy--800 81.65%);
  }

  .boards__title {
    color: style.$gray--000;
  }

  .boards__search-button-icon-container {
    color: style.$gray--000;
    background-color: style.$navy--400;

    &--active {
      color: style.$navy--400;
      background-color: style.$gray--000;
    }
  }
}
