@use "constants/styles";

.column-configurator-column-name-details__name-wrapper {
  display: flex;
  flex-direction: column;
  gap: styles.$spacing--xs;

  &:hover {
    // affect both with prio
    .column-configurator-column-name-details__name,
    .column-configurator-column-name-details__inline-description {
      color: styles.$navy--400;
    }
  }
}

// TODO input style wip
.column-configurator-column-name-details__name {
  all: unset;

  align-self: flex-start; // only take as much space as needed
  // extend border to bottom and right
  padding: 0 styles.$spacing--xs styles.$spacing--xs 0;
  max-width: 100%;

  font-size: styles.$text--base;
  font-weight: 600;
  color: styles.$navy--600;
  border-bottom: 2px solid var(--accent-color--light);

  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

  &:focus {
    color: styles.$navy--600;
    outline: none;
  }

  &::placeholder {
    color: styles.$gray--800;
  }

  // not only when focused, but also when description is being edited
  &--editing {
    border-bottom-style: dashed; // TODO dash spacing
  }
}

.column-configurator-column-name-details__inline-description {
  color: styles.$gray--800;
  font-size: styles.$text--xs;
  font-weight: 500;

  // if in visual feedback mode, show as multiline, else in one line
  &:not(&--visual-feedback) {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  &--has-content {
    font-size: 12px;
    font-weight: 500;
    color: styles.$navy--900;
  }
}

.column-configurator-column-name-details__description-wrapper {
  display: flex;
  flex-direction: column;
}

.column-configurator-column-name-details__description-mini-menu {
  margin-left: auto; // couldn't get align-self: flex-end to work so whatever
}

[data-theme="dark"] {
  .column-configurator-column-name-details__name-wrapper {
    &:hover {
      // affect both with prio
      .column-configurator-column-name-details__name,
      .column-configurator-column-name-details__inline-description {
        color: styles.$gray--000;
      }
    }
  }

  .column-configurator-column-name-details__name {
    color: styles.$gray--000;

    border-bottom-color: var(--accent-color--dark);
  }

  .column-configurator-column-name-details__inline-description {
    color: styles.$gray--700;

    &--has-content {
      font-size: 12px;
      font-weight: 500;
      color: styles.$gray--000;
    }
  }
}
