@import "constants/style";
@import "components/Note/Note.scss";

$note-dialog__scrollbar-height: calc(100vh - #{$header__height} - #{$padding--default} - #{$margin--default} - #{$margin--large});

.note-dialog__scrollbar {
  max-height: calc(#{$note-dialog__scrollbar-height} - 100px);
  overflow-y: auto;

  overflow: auto;
  padding-left: 15px;
}

.note-dialog__note-wrapper {
  padding-right: 30px;
}

.note-dialog__note-wrapper .note-dialog__note:last-child {
  margin-bottom: 0;
}

.note-dialog__note-animation {
  animation: fadeout 1s 1;
}

@keyframes fadeout {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
