@import "constants/style";
@import "components/Note/Note.scss";
@import "components/NoteDialog/NoteDialog.scss";

$note-dialog__scrollbar-height: calc(100vh - #{$header__height} - #{$padding--default} - #{$margin--default} - #{$margin--large});

.note-dialog__scrollbar {
  max-height: calc(#{$note-dialog__scrollbar-height} - #{$note-dialog-top-margin});
  overflow: auto;
  padding-left: $note-dialog-spacing-side;
  scrollbar-color: $color-middle-gray $color-white;

  @include scrollbar();
}

.note-dialog__note-wrapper {
  padding-right: #{$note-dialog-spacing-side};
}

.note-dialog__note-wrapper .note-dialog__note:last-child {
  margin-bottom: 0;
}

[theme="dark"] {
  .note-dialog__scrollbar {
    scrollbar-color: $color-darkest-gray $color-dark-mode-note;
  }
}
