@import "constants/style";
@import "components/NoteDialog/NoteDialog.scss";

.note-dialog__header {
  font-size: 48px;
  color: $color-white;
  width: max-content;
  border-bottom: solid 3px var(--accent-color);
  padding-bottom: $padding--default;
  margin: $margin--default 0 $margin--large $note-dialog-padding-side;
  letter-spacing: $letter-spacing--large;
  line-height: $line-height--large;
}
