@use "constants/styles";

$bottom-start-pos: 10vh;
$bottom-end-pos: 60vh;

$name-max-height: 5em;
$name-max-length: 20em;

.board-reaction__root {
  position: absolute;
  left: 50vw;
  display: flex;
  flex-direction: column;
  align-items: center;

  animation: fly-top 5s linear;

  z-index: styles.$board-reaction-z-index;
  pointer-events: none;
}

.board-reaction__emoji-container {
  font-size: styles.$text--xl;
}

.board-reaction__name-container {
  padding: styles.$spacing--xs styles.$spacing--base;
  font-size: styles.$text--base;
  max-width: $name-max-length;
  max-height: $name-max-height;
  font-weight: 600;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: styles.$navy--900;
  background-color: styles.$gray--300;
  border-radius: styles.$rounded--large;

  &--self {
    color: styles.$gray--000;
    background-color: styles.$blue--500;
  }
}

@keyframes fly-top {
  from {
    bottom: $bottom-start-pos;
    opacity: 100%;
  }
  to {
    bottom: $bottom-end-pos;
    opacity: 0;
  }
}

[theme="dark"] {
  .board-reaction__name-container {
    color: styles.$gray--000;
    background-color: styles.$navy--200;

    &--self {
      background-color: styles.$blue--300;
    }
  }
}
