@use "constants/styles";

$stan-height: 70vh;
$max-card-width: 500px;

.templates__portal {
  backdrop-filter: blur(10px);
  background: rgba(styles.$blue--500, 0.1);
  transition: background 0.2s ease-out;
}

.templates {
  display: flex;
  flex-direction: row;
  flex: 1;
}

.templates__container {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: styles.$spacing--lg;

  border-radius: styles.$rounded--default;
  background-color: styles.$blue--50;

  &--saved {
    margin-left: styles.$spacing--md; // instead of gap, see above
  }
}

.templates__container-header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 0;
  padding: styles.$spacing--xl styles.$spacing--xl 0 styles.$spacing--xl;
}

.templates__container-title {
  word-break: break-word; // because the word "Recommendations" is too long, TODO find better solution for this
  font-size: styles.$text--lg;
  font-weight: 700;
  line-height: 32px; // TODO use constant

  color: styles.$navy--600;
}

.templates__container-arrow-button {
  all: unset;
}

.templates__container-arrow {
  display: none;

  &--disabled {
    color: styles.$gray--800;
  }
}

.templates__card-container {
  display: grid;
  // place cards next to each other if width limit is exceeded
  grid-template-columns: repeat(auto-fit, minmax(min(100%, $max-card-width), 1fr));
  gap: styles.$spacing--md;
  overflow-y: scroll;
  scrollbar-width: none;
  padding: 0 styles.$spacing--xl styles.$spacing--xl styles.$spacing--xl;
}

.templates__stan-container {
  position: absolute;
  width: auto;
  height: $stan-height;
  // align right edge of stan to the left edge of the container
  transform: translateX(-100%);
}

.templates__stan {
  height: 100%;

  &--dark {
    display: initial;
  }

  &--light {
    display: none;
  }
}

@media screen and (max-width: styles.$breakpoint--desktop) {
  .templates__stan-container {
    display: none;
  }
}

@media screen and (max-width: styles.$breakpoint--smartphone) {
  // instead of the both containers sitting on one screen we want them to be full width each, and make the main container scrollable.
  .templates {
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
  }

  .templates__container {
    flex: 0 0 100%; // no growing, no shrinking, and take up the whole width
    scroll-snap-align: center;
  }

  .templates__container-header {
    justify-content: center;
    gap: styles.$spacing--md;
  }

  .templates__container-title {
    font-size: styles.$text--md;
    line-height: 24px; // TODO use constant
  }

  .templates__container-arrow {
    display: inline-block;
    width: 36px;
    height: 36px;
  }
}

[theme="dark"] {
  .templates__container {
    background-color: styles.$navy--700;
  }

  .templates__container-title {
    color: styles.$blue--50;
  }

  .templates__stan {
    &--dark {
      display: none;
    }

    &--light {
      display: initial;
    }
  }

  .templates__container-arrow {
    color: styles.$blue--50;

    &--disabled {
      color: styles.$navy--300;
    }
  }
}
