@use "constants/styles";

.drag-lock-indicator {
  position: absolute;
  bottom: -(styles.$spacing--sm);
  right: -(styles.$spacing--sm);
  z-index: styles.$tooltip-z-index + 1;
  pointer-events: none;
}
