@import "constants/style";

.dialog {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  border-radius: 8px;
  box-shadow: 0 16px 32px #0057ff29;
  background: $color-white-one;
}
[theme="dark"] .dialog {
  box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.2);
  background: $color-dark-one;
}

.dialog__content {
  margin: 40px 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.dialog__close-button {
  position: absolute;
  top: -22px;
  right: -22px;
  color: $color-planning-pink;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 22px;
  background-color: $color-white;
  box-shadow: 0px 16px 32px #0057ff3d;
  border: none;
}
[theme="dark"] .dialog__close-button {
  color: $color-planning-pink;
  box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.2);
  background: $color-dark-mode;
}
.close-button__icon {
  width: 44px;
  height: 44px;
  cursor: pointer;
}

.dialog__header-text {
  border-bottom: solid 3px $color-planning-pink;
  padding-bottom: 8px;
  margin: 0;
}
[theme="dark"] {
  .dialog__header-text {
    color: $color-white;
  }
}
