@use "constants/styles";
@use "components/TooltipButton/TooltipButton";

$votes-button-size: 28px;

.votes {
  display: inline-flex;
  height: var(--note-footer-height, $votes-button-size);
  justify-content: flex-end;
  gap: 6px;
}
