@import "src/constants/style";

.votes {
  display: inline-flex;
  position: relative;
  width: calc($icon--large * 2 + 4px);
  height: $icon--large;
  justify-content: flex-end;
}

.votes > * + * {
  margin-left: 4px;
}
