@import "constants/style";

$description-line-height: $line-height--medium;

.column-name-details {
  display: flex;
  flex-direction: column;
  gap: $spacing--sm;
}

.column-name-details__name-wrapper {
  display: flex;
  flex-direction: row;
}

.column-name-details__name {
  align-self: flex-start; // only take as much space as needed

  padding: 0 $spacing--xxs $spacing--xxs 0; // extend border space to bottom, and also slightly to the right

  font-size: $text--lg;
  font-weight: 700;

  color: $navy--900;

  border-bottom: 3px solid var(--accent-color--light);
}

.column-name-details__notes-count {
  color: $gray--800;
  font-size: $text--base;
  font-weight: 600;
}

.column-name-details__description-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.column-name-details__description {
  flex-grow: 1;
  color: $navy--900;
  font-size: $text--base;
  font-weight: 600;
  line-height: $description-line-height;
  max-height: 2 * $description-line-height;
  overflow: hidden;

  &--expanded {
    max-height: max-content;
  }

  &--placeholder {
    color: $gray--800;
  }
}

.column-name-details__description-expand-icon-container {
  all: unset;
  align-self: flex-start;

  width: $icon--large;
  height: $icon--large;

  cursor: pointer;
}

.column-name-details__description-expand-icon {
  width: $icon--large;
  height: $icon--large;

  &--expanded {
    transform: rotate(180deg);
  }
}
