@import "src/constants/style";

$FEEDBACK_OPTION_HEIGHT: 96px;
$FEEDBACK_OPTION_WIDTH: 80px;

.settings-dialog__feedback-options {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: $padding--medium;
  height: $FEEDBACK_OPTION_HEIGHT;
}

.settings-dialog__feedback-option > input {
  width: 0;
  height: 0;
  opacity: 0;
}

.settings-dialog__feedback-option > label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4px;
  height: $FEEDBACK_OPTION_HEIGHT;
  width: $FEEDBACK_OPTION_WIDTH;
  padding: $padding--small;
  border-radius: 8px;
  cursor: pointer;
  text-align: center;
  font-size: $text-size--small;
  font-weight: 500;
  color: $color-black;
  background-color: $color-white;
  position: relative;
  top: -19px;
  &:hover {
    background-color: var(--accent-color--desaturated-light);
  }
}
.feedback-option__input:checked + .feedback-option__label {
  color: $color-white;
  background-color: var(--accent-color);
}
[theme="dark"] .settings-dialog__feedback-option > label {
  color: $color-white;
  background-color: $color-dark-mode-note;
  &:hover {
    background-color: var(--accent-color--desaturated-dark);
  }
}

.settings-dialog__feedback-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: $padding--medium;
}

.feedback-form__submit-button {
  padding: $padding--small $padding--medium;
  border-radius: 32px;
  background-color: var(--accent-color);
  color: $color-white;
  border: none;
  width: 260px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
  &:active {
    transform: scale(0.95);
  }
  &:hover {
    background-color: rgba(var(--accent-color-rgb), 0.8);
  }
}

.feedback-form__settings-button {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: auto;
  gap: $padding--small;
}
.feedback-form__settings-button > span {
  padding-bottom: 0;
  width: 100%;
}

.feedback-form__feedback-textarea {
  background-color: transparent;
  border: none;
  outline: none;
  resize: none;
  width: calc(100% - (2 * $margin--medium));
  height: 80px;
  margin-top: 0;
  margin-bottom: $margin--default;
  margin-left: $margin--medium;
  margin-right: $margin--medium;
  padding: 0;
}
[theme="dark"] .feedback-form__feedback-textarea {
  color: white;
}

.feedback-form__contact-input {
  background-color: transparent;
  border: none;
  outline: none;
  width: calc(100% - (2 * $margin--medium));
  margin-top: 0;
  margin-bottom: $margin--default;
  margin-left: $margin--medium;
  margin-right: $margin--medium;
  padding: 0;
}
[theme="dark"] .feedback-form__contact-input {
  color: $color-white;
}

.settings-dialog__error-message {
  margin-top: $margin--default;
  color: $color-warning-red;
  width: 100%;
  text-align: center;
}
