@import "constants/style";

.dot-button {
  border-radius: 100%;
  border: none;
  transition: all 0.15s ease-in-out;
  padding: 0;
  font-size: 14px;
  line-height: 28px;
  font-weight: 600;
  cursor: pointer;
  outline: none;
}
.dot-button:disabled {
  cursor: default;
}
.dot-button:not([disabled]):active {
  transform: scale(0.9);
}
