@import "constants/style";

$dot-button-radius: $base-unit * 7;
$dot-button-color: #eaeaea;

.dot-button {
  height: $dot-button-radius;
  width: $dot-button-radius;
  border-radius: 100%;
  background-color: rgba(var(--accent-color-rgb), 0.2);
  border: none;
  transition: all 0.25s ease-in-out;
  padding: 0;
  font-size: 14px;
  line-height: 28px;
  font-weight: 600;
  color: var(--accent-color);
}
.dot-button:hover {
  background-color: var(--accent-color);
  box-shadow: 0 0 0 4px $dot-button-color;
}
.dot-button:active {
  transform: scale(0.9);
}
