@import "constants/style";

// the namings "single" and "mutli" refer the two types of toasts.
// The single line toast or a toast that spans multiple lines of content

// .Toastify__toast-container {
// }

.Toastify__toast {
  min-height: 56px;
  width: 460px;
  height: var(--toast-height);
  border-radius: var(--toast-border-radius);
  margin-left: -160px;
  padding: 0px;
  box-shadow: $box-shadow--light;
  overflow: inherit;
  cursor: default;
}
.Toastify__toast-icon {
  display: none;
}
.Toastify__toast-body {
  padding: 0;
  height: 100%;
  > div {
    height: 100%;
  }
}
.Toastify__close-button {
  display: none;
}

//-----------------------------------------

.toast-single {
  display: flex;
  padding: 7px 8px 7px 8px;
  align-items: center;
  height: 100%;
}
.toast-single:hover .toast__button-single {
  background-color: blue;
}
.toast-multi {
  padding: 30px 54px 24px 54px;
}
.toast__icon-info {
  background-color: $menu-icon-background-color--dark; // add duplicate with new name?
}
.toast__icon-success {
  background-color: $color-grooming-green;
}
.toast__icon-error {
  background-color: $color-retro-red;
}
.toast__icon-single {
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 28px;
  width: 44px;
  height: 100%;

  > svg {
    height: 30px;
    width: 30px;
    fill: white;
    > g path {
      //uniform svgs
      fill: white;
    }
  }
}
.toast__icon-multi {
  position: absolute;
  top: 0px;
  left: 0px;
  transform: translate(-40%, -40%);

  width: 64px;
  height: 64px;
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;

  > svg {
    height: 46px;
    width: 46px;
    fill: white;
    > g path {
      // uniform svgs
      fill: white;
    }
  }
}
.toast__close-icon-single {
  width: 40px;
  height: 40px;
  margin-left: 4px;
  border-radius: 50%;
}
.toast__close-icon-multi {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 10px;
  right: 15px;
  border-radius: 50%;
}
.toast__close-icon-single:hover,
.toast__close-icon-multi:hover {
  cursor: pointer;
  background-color: lightgrey;
}
.toast__title-single {
  font-size: 16px;
  line-height: 16px;
  margin: 0px 15px;
  font-weight: 700;
  color: #333948;
}
.toast__title-multi {
  font-size: 16px;
  line-height: 16px;
  margin-bottom: 8px;
  font-weight: 700;
  color: #333948;
}

//message naming multi?
.toast__message {
  margin-bottom: 16px;
  font-size: 14px;
  line-height: 18px;
  font-weight: 500;
  color: #333948;
}

//hint naming multi?
.toast__hint {
  margin-bottom: 16px;
}

.toast__buttons-multi {
  display: flex;
  gap: 10px;
}

.toast__button-single {
  height: 100%;
  padding: 14px 24px;
  border: none;
  background: #333948 0% 0% no-repeat padding-box;
  color: white;
  font-weight: bold;
  border-radius: 28px;
  margin-left: auto;
  cursor: pointer;
  border: none;
}
.toast__button-multi {
  background: #333948 0% 0% no-repeat padding-box;
  color: white;
  padding: 14px 24px;
  border-radius: 28px;
  cursor: pointer;
  font-weight: bold;
  border: none;
}
.toast__button-multi:hover,
.toast__button-single:hover {
  background-color: grey;
}
