@import "constants/style";

// The namings "single" and "mutli" refer to the two types of toasts.
// The single line toast or a toast that spans multiple lines of content

// .Toastify__toast-container {
// }

.Toastify__toast:has(div.toast-single) {
  min-height: 56px;
  width: 460px;
  height: 56px;
  border-radius: 28px;
  margin-left: -160px;
  padding: 0px;
  box-shadow: $box-shadow--light;
  overflow: inherit;
  cursor: default;
  background-color: $color-white;
}
.Toastify__toast:has(div.toast-multi) {
  min-height: 56px;
  width: 460px;
  height: fit-content;
  border-radius: 16px;
  margin-left: -160px;
  padding: 0px;
  box-shadow: $box-shadow--light;
  overflow: inherit;
  cursor: default;
  background-color: $color-white;
}
.Toastify__toast-icon {
  display: none;
}
.Toastify__toast-body {
  padding: 0;
  height: 100%;
  > div {
    height: 100%;
  }
}
.Toastify__close-button {
  display: none;
}
//-----------------------------------------

.toast-single {
  display: flex;
  padding: 7px 8px 7px 8px;
  align-items: center;
  height: 100%;
}
.toast-multi {
  padding: 30px 54px 24px 54px;
}
.toast__icon-info-single {
  background-color: $menu-icon-background-color--dark;
  svg {
    height: 28px;
    width: 28px;
  }
}
.toast__icon-success-single {
  background-color: #17bf71;
  svg {
    height: 22px;
    width: 22px;
  }
}
.toast__icon-error-single {
  background-color: #ff0069;
  svg {
    height: 32px;
    width: 32px;
  }
}
.toast__icon-single {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 28px;
  min-width: 44px;
  min-height: 100%;
  svg {
    color: $color-white;
  }
}
.toast__icon-info-multi {
  background-color: $menu-icon-background-color--dark;
  svg {
    height: 36px;
    width: 36px;
    path {
      stroke: rgba($color-white, 0.7);
    }
  }
}
.toast__icon-success-multi {
  background-color: #17bf71;
  svg {
    height: 30px;
    width: 30px;
  }
}
.toast__icon-error-multi {
  background-color: #ff0069;
  svg {
    height: 42px;
    width: 42px;
  }
}
.toast__icon-multi {
  position: absolute;
  top: 0px;
  left: 0px;
  transform: translate(-38%, -31%);
  width: 64px;
  height: 64px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  svg {
    color: $color-white;
  }
}
.toast__close-icon {
  min-width: 40px;
  min-height: 40px;
  border-radius: 50%;
  color: #bfc1c5;
  transition: all 0.1s ease-in-out;
}
.toast__close-icon-single {
  margin: 0px 6px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.toast__close-icon-multi {
  position: absolute;
  top: 10px;
  right: 15px;
}
.toast__close-icon-single:hover,
.toast__close-icon-multi:hover {
  cursor: pointer;
  transform: scale(1.08);
}
.toast__title-single {
  font-size: 16px;
  line-height: 19px;
  // margin: 0px auto 0px 18px;
  font-weight: 700;
  color: #333948;
}
.toast__title-multi {
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 8px;
  font-weight: 700;
  color: #333948;
}

.toast__message {
  margin-bottom: 13px;
  font-size: 14px;
  line-height: 18px;
  font-weight: 500;
  color: #333948;
}

.toast__buttons-multi {
  display: flex;
  gap: 12px;
  margin-top: 20px;
}
.toast__button {
  font-size: 14px;
  line-height: 16px;
  padding: 13px 24px;
  border-radius: 28px;
  cursor: pointer;
  font-weight: bold;
  transition: all 0.1s ease-in-out;
  display: flex;
  align-items: center;
}
.toast__button:hover {
  transform: scale(1.04);
}
.toast__title-button-single-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;

  margin-left: 18px;
  margin-right: auto;
}
.toast__button-single {
  height: 100%;
  border: none;
  background: $menu-icon-background-color--dark;
  color: white;
  margin-left: auto;
}
.toast__button-multi-primary {
  padding: 13px 32px;
  color: $color-white;
  background-color: $menu-icon-background-color--dark;
  border: 2px solid $menu-icon-background-color--dark;
}
.toast__button-multi-secondary {
  padding: 13px 32px;
  background: $color-white;
  border: 2px solid $menu-icon-background-color--dark;
}
.toast-single:hover .toast__button-single.toast__button-info,
.toast__button-multi-primary.toast__button-info:hover {
  border-color: $color-backlog-blue;
  background-color: $color-backlog-blue;
  color: $color-white;
}
.toast__button-multi-secondary.toast__button-info:hover {
  color: $color-backlog-blue;
  border-color: $color-backlog-blue;
}
.toast-single:hover .toast__button-single.toast__button-error,
.toast__button-multi-primary.toast__button-error:hover {
  border-color: #ff0069;
  background-color: #ff0069;
  color: $color-white;
}
.toast__button-multi-secondary.toast__button-error:hover {
  color: #ff0069;
  border-color: #ff0069;
}
.toast-single:hover .toast__button-single.toast__button-success,
.toast__button-multi-primary.toast__button-success:hover {
  border-color: #17bf71;
  background-color: #17bf71;
  color: $color-white;
}
.toast__button-multi-secondary.toast__button-success:hover {
  color: #17bf71;
  border-color: #17bf71;
}
// --------------------------------------------

//--------------------
// hint checkbox
.toast__hint {
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  display: grid;
  grid-template-columns: 16px auto;
  gap: 10px;
  // margin-bottom: 19px;
  color: $color-middle-gray;
}
input[type="checkbox"] {
  /* Add if not using autoprefixer */
  -webkit-appearance: none;
  appearance: none;
  /* For iOS < 15 to remove gradient background */
  background-color: #fff;
  /* Not removed via appearance */
  margin: 0;
  font: inherit;
  color: $color-light-gray;
  width: 1.125em;
  height: 1.125em;
  border: 0.15em solid currentColor;
  border-radius: 0.2em;
  // transform: translateY(-0.075em);

  display: grid;
  place-content: center;
}

input[type="checkbox"]::before {
  content: "";
  width: 0.625em;
  height: 0.625em;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  background-color: $color-light-gray;
}

input[type="checkbox"]:checked::before {
  transform: scale(1);
}
//-------------------
[theme="dark"] {
  .Toastify__toast {
    background-color: $menu-icon-background-color--dark;
  }
  .toast__icon-info-single,
  .toast__icon-info-multi {
    background-color: $color-white;
    svg path {
      stroke: $menu-icon-background-color--dark;
    }
  }
  .toast__title-multi,
  .toast__title-single,
  .toast__message {
    color: $color-white;
  }
  .toast__button-multi-primary {
    background-color: $color-white;
    color: $menu-icon-background-color--dark;
  }
  .toast__button-multi-secondary {
    background-color: $menu-icon-background-color--dark;
    border-color: $color-white;
    color: $color-white;
  }
  .toast__button-single {
    border: none;
    background: $color-white;
    color: $menu-icon-background-color--dark;
  }
}

// --------------------------------------
// @media #{$tablet} {
// }

@media #{$smartphone} {
  .Toastify__toast:has(div.toast-multi) {
    width: calc(100vw - 38px);
    max-height: 210px; // needed???
    min-height: 172px;
    // margin: 0px auto calc(5vw) auto; ??
    margin: 0px auto 19px auto;
  }
  .Toastify__toast:has(div.toast-single) {
    width: calc(100vw - 38px);
    max-height: 60px;
    min-height: 60px;
    margin: 0px auto 19px auto;
  }
  .Toastify__toast-body {
    margin: 0px;
    // min-height: 172px;
    height: auto;
  }
  .toast-multi {
    padding: 39px 34px 17px 31px;
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  .toast__icon-multi {
    height: 55px;
    width: 55px;
    transform: translate(-28%, -32%);
  }
  .toast__icon-info-multi {
    background-color: $menu-icon-background-color--dark;
    svg {
      height: 29px;
      width: 29px;
    }
  }
  .toast__close-icon-multi {
    width: 38px;
    height: 38px;
    top: 7px;
    right: 8px;
  }
  .toast__title-multi {
    // font-weight: 700;
    // font-size: 16px;
    // line-height: 19px;
    margin-bottom: 5px;
  }
  .toast__message {
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 13px;
  }

  .toast__buttons-multi {
    max-height: 42px;
    margin-top: auto;
  }
  .toast__button {
    padding: 12px 30px;
  }
  .toast__button-single {
    padding: 0px;
    background-color: $color-white;
    color: $color-backlog-blue;
    margin-left: 0px;
    line-height: 16px;
    font-weight: 600;
    margin-top: 3px;
  }

  // TODO changes color on click of button - not smart
  .toast-single:hover .toast__button-single.toast__button-info {
    border-color: $color-white;
    background-color: $color-white;
    color: $color-backlog-blue;
  }
  .toast-single:hover .toast__button-single.toast__button-error {
    border-color: $color-white;
    background-color: $color-white;
    color: #ff0069;
  }
  .toast-single:hover .toast__button-single.toast__button-success {
    border-color: $color-white;
    background-color: $color-white;
    color: #17bf71;
  }

  .toast__title-button-single-wrapper {
    display: block;
  }

  [theme="dark"] {
    .Toastify__toast.Toastify__toast:has(div.toast-multi),
    .Toastify__toast.Toastify__toast:has(div.toast-single) {
      background-color: $menu-icon-background-color--dark;
    }
    .toast__icon-info-single,
    .toast__icon-info-multi {
      background-color: $color-white;
      svg path {
        stroke: $menu-icon-background-color--dark;
      }
    }
    .toast__title-multi,
    .toast__title-single,
    .toast__message {
      color: $color-white;
    }
    .toast__button-multi-primary {
      background-color: $color-white;
      color: $menu-icon-background-color--dark;
    }
    .toast__button-multi-secondary {
      background-color: $menu-icon-background-color--dark;
      border-color: $color-white;
      color: $color-white;
    }
    // .toast__button-single {
    //   background: $menu-icon-background-color--dark;
    //   color: #6B9CFF; // darkmode blue as variable also for rest of variables (red,green, .. Darkmode)?
    // }

    // TODO changes color on click of button - not smart
    .toast-single:hover .toast__button-single.toast__button-info {
      background: $menu-icon-background-color--dark;
      color: #6b9cff;
    }
    .toast-single:hover .toast__button-single.toast__button-error {
      background-color: $color-white;
      color: #ff0069;
    }
    .toast-single:hover .toast__button-single.toast__button-success {
      background-color: $color-white;
      color: #17bf71;
    }
  }
}
