@import "constants/style.scss";

$action-bar-width: 64px;
$background-color-light: $color-white;
$background-color-dark: #333948;
$box-shadow: 0px 10px 20px #00000026;

.menu-bars {
  z-index: $menu-z-index;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  bottom: $margin--small;
}

@media print {
  .menu-bars {
    display: none !important;
  }
}

.menu {
  z-index: $menu-z-index;
  border-radius: calc($action-bar-width / 2);
  background-color: $color-white;
  box-shadow: $box-shadow;
  padding-left: $padding--medium;
  padding-right: $padding--medium;
  height: $action-bar-width;
  width: auto;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  bottom: 0;
}

.menu:first-child:last-child {
  position: static;
}
.user-menu {
  transform: translateY(calc(-1 * $action-bar-width));
}
.admin-menu {
  transform: translateY($action-bar-width);
}

.menu__items {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: $padding--default;
  height: 100%;
}

.menu-bars__switch {
  background-color: $background-color-light;
  box-shadow: $box-shadow;
  height: $action-bar-width;
  width: $action-bar-width;
  padding: 0;
  border: 0;
  border-radius: 100%;
  transition: background-color 0.25s ease-in-out, filter 0.08s ease-out;
  // 206px is the width of the horizontal action bar
  margin-left: calc(206px + $margin--small);
  position: relative;
  cursor: pointer;
  display: none;
}
.menu-bars__switch:hover {
  filter: brightness(1.4);
}
.switch__icon {
  position: absolute;
  top: 0;
  left: 0;
  transform: rotate(0deg);
  transition: opacity 0.5s, visibility 0.5s, transform 1s;
  color: $color-black;
}
.menu-animation {
  transition: transform 400ms, opacity 400ms, visibility 400ms;
}

@include onMobile(".menu-bars") {
  &.menu-bars--user > .user-menu {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
  }
  &.menu-bars--user > .admin-menu {
    visibility: hidden;
    opacity: 0;
    transform: translateY($action-bar-width);
  }
  &.menu-bars--admin > .admin-menu {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
  }
  &.menu-bars--admin > .user-menu {
    visibility: hidden;
    opacity: 0;
    transform: translateY(calc(-1 * $action-bar-width));
  }
  &.menu-bars--user > .menu-bars__switch > .switch__icon--add {
    visibility: hidden;
    opacity: 0;
    transform: rotate(360deg);
  }
  &.menu-bars--admin > .menu-bars__switch > .switch__icon--settings {
    visibility: hidden;
    opacity: 0;
    transform: rotate(-360deg);
  }
  .menu-bars__switch {
    display: block;
  }
}

@include onDesktop(".menu-bars") {
  &.menu-bars {
    position: static;
    transform: none;
    left: auto;
    bottom: auto;
  }
  .menu {
    padding: $padding--medium 0;
    width: $action-bar-width;
    height: auto;
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    bottom: auto;
    visibility: visible;
    opacity: 1;
  }
  .user-menu {
    left: 12px;
  }
  .admin-menu {
    right: 12px;
  }
  .menu__items {
    flex-direction: column;
    height: auto;
  }
}

[theme="dark"] {
  .menu,
  .menu-bars__switch {
    background-color: $background-color-dark;
    box-shadow: $box-shadow;
  }
  .switch__icon {
    color: $color-white;
  }
}

.menu-bars__navigation {
  display: none;
  position: absolute;
  top: calc(100% + 22px);
  left: 12px;

  width: 42px;
  height: 42px;

  background: white;
  border: none;
  border-radius: 100%;
  outline: none;
  box-shadow: $box-shadow;
  color: $color-black;
}

.menu-bars__navigation:enabled {
  cursor: pointer;
}

.menu-bars__navigation:focus {
  outline: 2px solid #00000050;
}

.menu-bars__navigation:enabled:hover {
  border: 3px solid #d3daf0;
}

.menu-bars__navigation:disabled {
  color: $color-light-gray;
}

[theme="dark"] {
  .menu-bars__navigation {
    background: #333948;
    color: $color-white;
  }

  .menu-bars__navigation:focus {
    outline: 2px solid #ffffff50;
  }

  .menu-bars__navigation:enabled:hover {
    border: 3px solid #485064;
  }

  .menu-bars__navigation:disabled {
    color: $color-dark-mode;
  }
}

.menu-bars__navigation-icon {
  height: 24px;
  width: 24px;
}

@include onMobile(".menu-bars__navigation") {
  & {
    display: none;
  }
}

@include onDesktop(".menu-bars__navigation") {
  &.menu-bars__navigation--visible {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
