@use "constants/styles";
@use "constants/mixins";

$tooltip-gap: 12px;
$menu-mobile__width: 72px;

.menu-bars-mobile {
  display: none;
  z-index: styles.$menu-z-index;
  position: fixed;
  transition:
    bottom 0.25s,
    right 0.25s;
}

.menu-bars-mobile__options {
  list-style-type: none;
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  opacity: 0.25;

  &--vertical {
    flex-direction: column-reverse;
    justify-content: flex-start;
    grid-row: 1 / 2;
    grid-column: 2 / 3;
  }

  &--horizontal {
    flex-direction: row-reverse;
    justify-content: flex-start;
    grid-row: 2 / 3;
    grid-column: 1 / 2;
  }

  &--isExpanded,
  &--hasActiveButton {
    opacity: 1;
  }
}

.menu-bars-mobile__fab {
  background: styles.$gray--000;
  border-radius: styles.$rounded--full;
  cursor: pointer;
  width: $menu-mobile__width;
  height: $menu-mobile__width;
  border: none;
  @include mixins.box-shadow-light;
  z-index: styles.$menu-item-z-index + styles.$base-z-index-step;
  transition: all 0.2s ease-out;

  svg {
    path {
      fill: styles.$navy--900;
    }
  }
}

.menu-bars-mobile__fab-option {
  .tooltip-button__icon {
    border-radius: styles.$rounded--full;
    margin: 0;

    &--active {
      background-color: styles.$navy--500;
    }
  }

  &:nth-child(1) {
    z-index: styles.$menu-item-z-index;
  }

  &:nth-child(1) {
    z-index: styles.$menu-item-z-index - 1 * styles.$base-z-index-step;
  }

  &:nth-child(2) {
    z-index: styles.$menu-item-z-index - 2 * styles.$base-z-index-step;
  }

  &:nth-child(3) {
    z-index: styles.$menu-item-z-index - 3 * styles.$base-z-index-step;
  }

  &--vertical:first-child {
    margin-bottom: styles.$spacing--xs;
  }

  &--horizontal:first-child {
    margin-right: styles.$spacing--xs;
  }
}

[theme="dark"] {
  .menu-bars-mobile__fab {
    background: styles.$navy--500;
  }

  .menu-bars-mobile__fab-option .tooltip-button__icon {
    &--active {
      background-color: styles.$gray--000;
    }
  }
}

.menu-bars-mobile__fab-main {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-row: 2 / 3;
  grid-column: 2 / 3;
}

.menu-bars-mobile__fab-main--isExpanded {
  background: styles.$navy--500;

  svg {
    color: styles.$gray--000;
    width: styles.$icon--huge;
    height: styles.$icon--huge;
  }
}

[theme="dark"] {
  .menu-bars-mobile__fab svg path {
    fill: styles.$gray--000;
  }

  .menu-bars-mobile__fab-main--isExpanded {
    background: styles.$gray--000;

    svg {
      color: styles.$navy--900;
    }
  }
}

@media #{styles.$smartphone} {
  $menu-mobile__width: 64px;

  .menu-bars .menu {
    display: none;
  }

  .menu-bars-mobile {
    display: grid;
    grid-template-columns: 0 $menu-mobile__width;
    grid-template-rows: 0 $menu-mobile__width;
    bottom: styles.$spacing--lg;
    right: styles.$spacing--lg;
  }

  .menu-bars-mobile__fab {
    height: $menu-mobile__width;
    width: $menu-mobile__width;
  }
}

@media #{styles.$mini-smartphone} {
  .menu-bars-mobile {
    bottom: 1vw;
    right: 1vw;
  }
}

.menu-bars {
  position: static;
  transform: none;
}

@media print {
  .menu-bars {
    display: none !important;
  }
}

.menu__container {
  z-index: styles.$menu-z-index;
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  bottom: auto;

  &:has(.user-menu) {
    left: 10px;
  }
  &:has(.admin-menu) {
    right: 10px;
  }
}

.menu {
  border-radius: calc($menu-mobile__width / 2);
  background-color: styles.$gray--000;
  @include mixins.box-shadow-light;
  padding: styles.$spacing--lg 0;
  width: styles.$action-bar__width;
  height: auto;
  visibility: visible;
  opacity: 1;
}

.menu:first-child:last-child {
  position: static;
}

.admin-menu.admin-menu--empty {
  background: none !important;
  box-shadow: none !important;
  margin: 0 !important;
  padding: 0 !important;
}

.menu__items {
  list-style-type: none;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: styles.$spacing--base;
  height: auto;
  padding: 0;
  margin: 0;
}

[theme="dark"] {
  .menu {
    background-color: styles.$navy--500;
    @include mixins.box-shadow-light;
  }
}

.menu-bars__navigation {
  display: none;
  width: 42px;
  height: 42px;

  background: styles.$gray--000;
  border: none;
  border-radius: 100%;
  outline: none;
  @include mixins.box-shadow-light;
  color: styles.$navy--900;
}
@media #{styles.$tablet} {
  .menu-bars__navigation {
    position: absolute;
    top: calc(100% + 16px);
    left: 50%;
    transform: translateX(-50%);
  }
}

.menu-bars__navigation.menu-bars__navigation--visible {
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-bars__navigation.menu-bars__navigation--empty {
  top: 0;
}

.menu-bars__navigation:enabled {
  cursor: pointer;
}

.menu-bars__navigation:focus-visible {
  outline: 2px solid rgba(styles.$navy--900, 0.5);
}

.menu-bars__navigation:enabled:hover {
  background-color: mixins.getLightHoverBackground(styles.$gray--000);
}

.menu-bars__navigation:disabled {
  color: styles.$gray--600;
}

[theme="dark"] {
  .menu-bars__navigation {
    background: styles.$navy--500;
    color: styles.$gray--000;
  }

  .menu-bars__navigation:focus-visible {
    outline: 2px solid rgba(styles.$gray--000, 0.5);
  }

  .menu-bars__navigation:enabled:hover {
    background-color: mixins.getDarkHoverBackground(styles.$navy--500);
  }

  .menu-bars__navigation:disabled {
    color: styles.$navy--700;
  }
}

.menu-bars__navigation-icon {
  height: 100%;
  width: 100%;
}

@media #{styles.$tablet} {
  .menu:first-child:last-child {
    position: fixed;
  }
}
