@import "constants/style.scss";

$action-bar-width: 64px;
$background-color-light: $color-white;
$background-color-dark: #333948;
$box-shadow: 0px 10px 20px #00000026;

.menu-bars {
  z-index: $menu-z-index;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  bottom: $margin--small;
}
@media print {
  .menu-bars {
    display: none !important;
  }
}

.menu {
  z-index: $menu-z-index;
  border-radius: calc($action-bar-width / 2);
  background-color: $color-white;
  box-shadow: $box-shadow;
  padding-left: $padding--medium;
  padding-right: $padding--medium;
  height: $action-bar-width;
  width: auto;
  visibility: hidden;
  opacity: 0;
  position: absolute;
}
.user-menu {
  bottom: calc(-1 * $action-bar-width);
}
.admin-menu {
  bottom: $action-bar-width;
}

.menu__items {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: $padding--default;
  height: 100%;
}

.menu-bars__switch {
  background-color: $background-color-light;
  box-shadow: $box-shadow;
  height: $action-bar-width;
  width: $action-bar-width;
  padding: 0;
  border: 0;
  border-radius: 100%;
  transition: background-color 0.25s ease-in-out, filter 0.08s ease-out;
  // 206px is the width of the horizontal action bar
  margin-left: calc(206px + $margin--small);
  position: relative;
  cursor: pointer;
  display: none;
}
.menu-bars__switch:hover {
  filter: brightness(1.4);
}
.switch__icon {
  position: absolute;
  top: 0;
  left: 0;
  transform: rotate(0deg);
  transition: opacity 0.5s, visibility 0.5s, transform 1s;
  color: $color-black;
}
.menu-animation {
  transition: bottom 0.4s, opacity 0.6s, visibility 0.6s;
}

@include collapsedColumns(".menu-bars") {
  &.menu-bars--user > .user-menu {
    visibility: visible;
    opacity: 1;
    bottom: 0;
  }
  &.menu-bars--user > .admin-menu {
    visibility: hidden;
    opacity: 0;
    bottom: $action-bar-width;
  }
  &.menu-bars--admin > .admin-menu {
    visibility: visible;
    opacity: 1;
    bottom: 0;
  }
  &.menu-bars--admin > .user-menu {
    visibility: hidden;
    opacity: 0;
    bottom: calc(-1 * $action-bar-width);
  }
  &.menu-bars--user > .menu-bars__switch > .switch__icon--add {
    visibility: hidden;
    opacity: 0;
    transform: rotate(360deg);
  }
  &.menu-bars--admin > .menu-bars__switch > .switch__icon--settings {
    visibility: hidden;
    opacity: 0;
    transform: rotate(-360deg);
  }
  .menu-bars__switch {
    display: block;
  }
}

@include visibleColumns(".menu-bars") {
  &.menu-bars {
    position: static;
    transform: none;
    left: auto;
    bottom: auto;
  }
  .menu {
    padding-top: $padding--medium;
    padding-bottom: $padding--medium;
    padding-left: 0;
    padding-right: 0;
    width: $action-bar-width;
    height: auto;
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    bottom: auto;
    visibility: visible;
    opacity: 1;
  }
  .user-menu {
    left: $margin--small;
  }
  .admin-menu {
    right: $margin--small;
  }
  .menu__items {
    flex-direction: column;
    height: auto;
  }
}

[theme="dark"] {
  .menu,
  .menu-bars__switch {
    background-color: $background-color-dark;
    box-shadow: $box-shadow;
  }
  .switch__icon {
    color: $color-white;
  }
}
