@import "constants/style.scss";

.menu,
.menu-bars {
  z-index: $menu-z-index;
}

.menu-bars--bottom {
  &.menu-bars {
    position: fixed;
    left: calc(50% - 134px);
    bottom: 8px;
    -webkit-touch-callout: none;
  }
  &.menu-bars--isAdmin {
    left: calc(50% - 168px);
  }
  &.menu-bars--user {
    @media (prefers-color-scheme: light) {
      .menu-bars__switch {
        background-color: $color-white;
        box-shadow: 0 16px 32px 0 rgba(0, 87, 255, 0.24);
      }
      .menu-bars__switch > .switch__icon {
        color: $menu-color-admin--primary;
      }
    }
    @media (prefers-color-scheme: dark) {
      .menu-bars__switch {
        background-color: $menu-color-admin--primary;
        box-shadow: 0 6px 9px 0 rgba(0, 0, 0, 0.2);
      }
      .menu-bars__switch > .switch__icon {
        color: $color-white;
      }
    }
  }
  &.menu-bars--user > .user-menu {
    visibility: visible;
    opacity: 1;
    bottom: 8px;
  }
  &.menu-bars--user > .admin-menu {
    visibility: hidden;
    opacity: 0;
    bottom: 72px;
  }
  &.menu-bars--user > .menu-bars__switch > .switch__icon--add {
    visibility: hidden;
    opacity: 0;
    transform: rotate(360deg);
  }

  &.menu-bars--admin {
    @media (prefers-color-scheme: light) {
      .menu-bars__switch {
        background-color: $color-white;
        box-shadow: 0 16px 32px 0 rgba(0, 87, 255, 0.24);
      }
      .menu-bars__switch > .switch__icon {
        color: $menu-color-regular--primary;
      }
    }
    @media (prefers-color-scheme: dark) {
      .menu-bars__switch {
        background-color: $menu-color-regular--primary;
        box-shadow: 0 6px 9px 0 rgba(0, 0, 0, 0.2);
      }
      .menu-bars__switch > .switch__icon {
        color: #ffffff;
      }
    }
  }
  &.menu-bars--admin > .admin-menu {
    visibility: visible;
    opacity: 1;
    bottom: 8px;
  }
  &.menu-bars--admin > .user-menu {
    visibility: hidden;
    opacity: 0;
    bottom: -56px;
  }
  &.menu-bars--admin > .menu-bars__switch > .switch__icon--settings {
    visibility: hidden;
    opacity: 0;
    transform: rotate(-360deg);
  }
  .menu-bars__switch {
    height: 64px;
    width: 64px;
    padding: 0;
    border: 0;
    border-radius: 100%;
    transition: background-color 0.25s ease-in-out;
    margin-left: 272px;
    position: relative;
  }
  .menu-bars__switch:focus {
    outline: none;
  }

  .switch__icon {
    position: absolute;
    top: calc(50% - 18px);
    left: calc(50% - 18px);
    transform: rotate(0deg);
    transition: opacity 0.5s, visibility 0.5s, transform 1s;
  }
}

.user-menu {
  --primaryColor: #0057ff;
  --secondaryColor: #253f71;
}

.admin-menu {
  --primaryColor: #ff0069;
  --secondaryColor: #7c123e;
}

.menu-bars--bottom {
  .menu {
    border-radius: 35px;
    height: 64px;
    // overflow: hidden;
    width: 268px;
    visibility: hidden;
    opacity: 0;
    position: fixed;
    margin-right: 64px;
  }

  .menu-animation {
    transition: bottom 0.4s, opacity 0.6s, visibility 0.6s;
  }

  .admin-menu {
    bottom: 72px;
  }

  .user-menu {
    bottom: -56px;
  }

  .menu__items {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    height: 100%;
    justify-content: space-between;
    padding: 0 28px;
    position: relative;
  }
}

.menu-bars:not(.menu-bars--bottom) {
  .menu-bars__switch {
    display: none;
  }

  .user-menu {
    left: 8px;
  }

  .admin-menu {
    right: 8px;
  }

  .menu {
    border-radius: 35px;
    height: 268px;
    top: calc(50% - 134px);
    width: 64px;
    overflow: visible;
    position: fixed;
  }

  .menu__items {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    padding: 28px 0;
    position: relative;
  }
}

@media (prefers-color-scheme: light) {
  .menu {
    background-color: $color-white;
    box-shadow: 0 16px 32px 0 rgba(0, 87, 255, 0.24);
  }
}

@media (prefers-color-scheme: dark) {
  .menu {
    box-shadow: 0 6px 9px 0 rgba(0, 0, 0, 0.2);
  }

  .user-menu {
    background-color: $menu-color-regular--primary;
  }

  .admin-menu {
    background-color: $menu-color-admin--primary;
  }
}
