@use "constants/styles";
@use "constants/mixins";
@use "../SettingsDialog";

.board-settings__container-wrapper {
  overflow-y: auto;
  padding-right: styles.$spacing--xs;
  margin-right: calc(-1 * (styles.$spacing--xs + 10px));
  padding-bottom: SettingsDialog.$settings-dialog-container--bottom;

  @include mixins.scrollbar();

  &:focus-visible {
    outline: 2px dashed rgba(var(--accent-color--light-rgb), 0.5);
    border-radius: 8px;
  }
}

@media screen and (min-width: 920px) {
  .board-settings__container-wrapper {
    padding-right: styles.$spacing--lg;
    margin-right: calc(-1 * (styles.$spacing--lg + 10px));
  }
}

.board-settings__container {
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: 100%;
  max-width: calc(100vw - (2 * #{SettingsDialog.$settings-dialog-container--sides-small}));
  padding-bottom: styles.$spacing--xs;
}

@media screen and (min-width: 450px) {
  .board-settings__container {
    max-width: calc(380px - (2 * #{SettingsDialog.$settings-dialog-container--sides-small}));
  }
}

@media screen and (min-width: 920px) {
  .board-settings__container {
    max-width: calc(544px - (2 * #{SettingsDialog.$settings-dialog-container--sides-large}));
  }
}

.board-settings__board-name-button {
  justify-content: space-between;
  cursor: text;
}

.board-settings__board-name-button span {
  cursor: inherit;
}

.board-settings__board-name-button_input {
  background-color: transparent;
  border: none;
  padding: styles.$spacing--base styles.$spacing--lg styles.$spacing--base styles.$spacing--base;
  font-weight: bold;
  letter-spacing: styles.$letter-spacing--medium;
  font-size: styles.$text-size--medium;
  text-align: right;
  max-width: 150px;
  cursor: inherit;
  text-overflow: ellipsis;
}

.board-settings__board-name-button_input:focus-visible {
  outline: none;
}

.board-settings__board-name-button_input::placeholder {
  font-weight: bold;
  letter-spacing: styles.$letter-spacing--medium;
  font-size: styles.$text-size--medium;
  color: styles.$navy--800;
}

[data-theme="dark"] {
  .board-settings__board-name-button_input {
    color: styles.$gray--000;
  }

  .board-settings__board-name-button_input::placeholder {
    color: styles.$gray--000;
  }
}

.board-settings__group-and-button {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.board-settings__policy-button {
  display: flex;
  justify-content: space-between;
}

.board-settings__policy-button span {
  cursor: inherit;
  flex: 1;
}

.board-settings__policy-button_value {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
}

.board-settings__policy-button_value span {
  padding: styles.$spacing--base styles.$spacing--lg styles.$spacing--base 4px;
  font-weight: bold;
  letter-spacing: styles.$letter-spacing--medium;
  font-size: styles.$text-size--medium;
  letter-spacing: 0.5px;
  color: styles.$navy--800;
}

@media screen and (max-width: 920px) {
  .board-settings__policy-button_value span {
    max-width: min-content;
    text-align: right;
  }
}

[data-theme="dark"] {
  .board-settings__policy-button_value span {
    color: styles.$gray--000;
  }
}

.board-settings__policy-button_value svg {
  width: styles.$icon--medium;
  height: styles.$icon--medium;
  color: var(--accent-color--light);
}

.board-settings__password-button {
  justify-content: space-between;
  padding-right: 24px;
  position: relative;
  cursor: text;
}

.board-settings__password-button span {
  cursor: inherit;
}

.board-settings__password-button_value {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.board-settings__password-button_value svg {
  width: styles.$icon--medium;
  height: styles.$icon--medium;
}

.board-settings__show-password-button--enabled {
  color: var(--accent-color--light);
  cursor: pointer;
  transition: all 0.08s ease-out;

  &:hover {
    filter: brightness(1.4);
    transform: scale(1.1);
  }

  &:active {
    transform: scale(1);
  }

  &:focus-visible {
    transform: scale(1.1);
  }
}

.board-settings__show-password-button--disabled {
  color: styles.$navy--800;
  cursor: default;
}

[data-theme="dark"] {
  .board-settings__show-password-button--disabled {
    color: styles.$gray--000;
  }
}

.board-settings__password-button_value-input {
  background-color: transparent;
  border: none;
  padding: styles.$spacing--base;
  font-weight: bold;
  letter-spacing: styles.$letter-spacing--medium;
  font-size: styles.$text-size--medium;
  text-align: right;
  max-width: 120px;
}

[data-theme="dark"] {
  .board-settings__password-button_value-input {
    color: styles.$gray--000;
  }
}

.board-settings__password-button_value-input:focus-visible {
  outline: none;
}

.board-settings__password-management-button,
.board-settings__password-input-hint {
  display: flex;
  align-items: center;
  padding: 0 styles.$spacing--lg;
  height: 30px;
  border: none;
  background-color: inherit;
  color: var(--accent-color--light);
  align-self: center;
}

.board-settings__password-management-button {
  cursor: pointer;
  transition: all 0.08s ease-out;
  outline: none;

  &:hover {
    filter: brightness(1.4);
    transform: scale(1.01);
  }

  &:active {
    transform: scale(1);
  }

  &:focus-visible {
    text-decoration: underline;
  }
}

.board-settings__remove-protection-button svg {
  width: styles.$icon--medium;
  height: styles.$icon--medium;
  color: var(--accent-color--light);
}

.board-settings__generate-password-button svg {
  // TODO remove margin when icon gets updated
  width: styles.$icon--medium;
  height: styles.$icon--medium;
  color: var(--accent-color--light);
}

.board-settings__password-management-text {
  padding-left: 4px;
  font-weight: bold;
  font-size: styles.$text-size--medium;
  letter-spacing: styles.$letter-spacing--medium;
}

.board-settings__delete-button span {
  color: styles.$critical-carmine--light;
  font-weight: bold;
}

[data-theme="dark"] {
  .board-settings__delete-button span {
    color: styles.$critical-carmine--light;
  }
}

.board-settings__delete-button svg {
  color: styles.$critical-carmine--light;
}

.board-settings__confirmation-dialog {
  z-index: 0;
}

.button--centered {
  align-self: center;
}

.board-settings__hotkey-settings {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.board-settings__toggle-hotkeys-button {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-right: styles.$spacing--lg;
}

.board-settings__open-cheat-sheet-button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: styles.$gray--800;
  gap: styles.$spacing--xs;
  margin: styles.$spacing--xs;
  padding: styles.$spacing--xs;
  transition: transform 0.08s ease-in-out;

  > svg {
    width: styles.$icon--medium;
    height: styles.$icon--medium;
  }

  > p {
    margin: 0;
  }

  &:hover {
    transform: scale(1.06);
  }

  &:active {
    transform: scale(1);
  }

  &:focus-visible {
    border-radius: styles.$rounded--full;
    outline: 2px solid var(--accent-color--light);
  }
}

[data-theme="dark"] {
  .board-settings__open-cheat-sheet-button {
    color: styles.$gray--700;

    &:focus-visible {
      outline: 2px solid rgba(var(--accent-color--light-rgb), 0.5);
    }
  }
}
