@import "constants/style";

.error-page {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@media (prefers-color-scheme: dark) {
  .error-page {
    background-color: $color-white-one;
  }
}
