@use "constants/styles";
@use "constants/mixins";

.note-dialog__scrollbar {
  display: flex;
  flex-direction: column;

  //border-radius: $note__border-radius;

  overflow: hidden;
  @include mixins.scrollbar();
}

// inner container preventing scrollbar flowing over border radius
.note-dialog__inner-scrollbar {
  width: 100%;
  height: 100%;
  overflow: hidden scroll;
  box-sizing: border-box;
}

.note-dialog__note-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: styles.$spacing--base;
}

@media #{styles.$smartphone} {
  .note-dialog__scrollbar {
    padding-left: 0;
  }
}

@media screen and (max-width: styles.$breakpoint--desktop) {
  .note-dialog__scrollbar {
    padding-bottom: styles.$spacing--xl;
  }
}
