@import "src/constants/style";
@import "src/components/Note/Note.scss";

$row-gap: 3px;

.note-dialog__note {
  --note-footer-height: 28px;

  // TODO: fix NoteReactionList pushing away NoteDialogNoteOptions on smaller screens (#3499)
  display: grid;
  grid-template-areas:
    "head head"
    "content options"
    "foot options";
  grid-template-columns: 11fr 1fr;
  grid-template-rows: 1fr 4fr 1fr;
  row-gap: $row-gap;

  margin-bottom: $margin--default;
  padding: $padding--default $padding--medium;
  position: relative;
  border-radius: $note__border-radius;
  background-color: $color-white;
  transition:
    transform 0.3s ease-in-out,
    box-shadow 0.3s ease-in-out;
  list-style-type: none;
  z-index: $note-dialog-z-index;
  min-width: calc(240px);
  width: 100vw;
  max-width: 380px;
}

.note-dialog-note__header {
  grid-area: head;
}

.note-dialog-note__main {
  grid-area: content;
  overflow: auto;
}

.note-dialog-note__options {
  grid-area: options;
  align-self: end;
}

.note-dialog-note__footer {
  grid-area: foot;
}

@media #{$tablet} {
  .note-dialog__note {
    max-width: 415px;
  }
}

@media #{$smartphone} {
  .note-dialog__note {
    width: calc(100vw - 5 * $column__border-width);
  }
}

@media #{$mini-smartphone} {
  .note-dialog__note {
    padding: $padding--default $padding--default $padding--default $padding--small;
  }
}

[theme="dark"] {
  .note-dialog__note {
    background-color: $color-dark-mode-note;
    box-shadow: 0 6px 9px 0 $note__box-shadow-color-dark-mode;
  }
}
