@import "constants/style";
@import "routes/StackView/StackView.scss";

.note-dialog-header {
  display: flex;
  min-height: $stack-view__min-height;
  flex-direction: column;
  flex-shrink: 0;
  align-items: center;
  gap: $spacing--base;

  max-width: 80vw;

  color: $gray--000;

  letter-spacing: $letter-spacing--large;
  text-align: center;
  cursor: initial;
}

.note-dialog-header__name {
  width: 100%;

  font-size: calc($text--2xl + 0.8vw);
  font-weight: 700;

  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

  border-bottom: 6px solid var(--accent-color--light);
}

.note-dialog-header__description {
  font-size: $text--lg;
  font-weight: 600;
  line-height: 30px;

  // i might be abusing our sweet text area component for our purpose here,
  // so i have to override some styles from outside
  color: $gray--000;
  &:hover {
    color: $gray--000;
  }
}

@media screen and (max-width: $breakpoint--smartphone) {
  .note-dialog-header {
    max-width: calc(100vw - 60px);
  }
}

[theme="dark"] {
  .note-dialog-header > h2::after {
    background: var(--accent-color--dark);
  }
}
