@import "constants/style";
@import "components/Note/Note.scss";
@import "routes/StackView/StackView.scss";

.note-dialog__scrollbar {
  height: calc(100vh - #{$stack-view__header-height} - #{$stack-view__navigation-height} - #{$stack-view__parent-note-height});
  width: calc(100vw - (2 * $column__border-width));
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-color: $color-middle-gray $color-white;
  margin-bottom: $column__border-width;
  padding-top: $spacing--xl;
  padding-left: 10px;
  box-sizing: border-box;

  @include scrollbar();
}

.note-dialog__note-wrapper {
  margin: 0 $spacing--base $spacing--xl 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: $spacing--base;
}

@media #{$smartphone} {
  .note-dialog__scrollbar {
    padding-left: 0;
  }
}

[theme="dark"] {
  .note-dialog__scrollbar {
    scrollbar-color: $color-darkest-gray $color-dark-mode-note;
  }
}
