@import "constants/style";
@import "routes/StackView/StackView.scss";

.note-dialog-header {
  font-size: calc(24px + 0.8vw);
  color: $gray--000;
  width: fit-content; // change to constant value for overflow ellipsis
  // height: $stack-view__header-height;
  min-height: $stack-view__min-height;
  max-width: 80vw;
  letter-spacing: $letter-spacing--large;
  text-align: center;
  cursor: initial;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-shrink: 0;
  gap: $spacing--base;
}

.note-dialog-header__name {
  width: 100%;
  margin: $spacing--lg 0 0 0;

  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

  &::after {
    content: " ";
    display: block;
    height: 6px;
    background: var(--accent-color--light);
    border-radius: $rounded--full;
    margin-top: $spacing--base;
  }
}

.note-dialog-header__description {
  width: 60%;
  font-size: $text--lg;
  font-weight: 600;
  line-height: 30px;

  // i might be abusing our sweet text area component for our purpose here,
  // so i have to override some styles from outside
  color: $gray--000;
  &:hover {
    color: $gray--000;
  }
}

@media screen and (max-width: $breakpoint--smartphone) {
  .note-dialog-header {
    max-width: calc(100vw - 60px);
  }
}

[theme="dark"] {
  .note-dialog-header > h2::after {
    background: var(--accent-color--dark);
  }
}
