@import "constants/style";
@import "components/Note/Note.scss";
@import "routes/StackView/StackView.scss";

.note-dialog__scrollbar {
  padding-left: 10px;
  box-sizing: border-box;

  flex-grow: 1;
  overflow: hidden scroll;
  @include scrollbar($color: var(--accent-color)); // TODO scrollbar visibility
}

.note-dialog__note-wrapper {
  margin: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: $spacing--base;
}

@media #{$smartphone} {
  .note-dialog__scrollbar {
    padding-left: 0;
  }
}

[theme="dark"] {
  .note-dialog__scrollbar {
    // scrollbar-color: $color-darkest-gray $color-dark-mode-note;
  }
}
