@import '../../../constants/style';


.feedback-modal__content {
  min-width: 200px;
  min-height: 100px;
  display: flex;
}

.feedback-modal__intro-panel {
  flex: 1 1 100%;
}

.feedback-modal__message-panel {
  flex: 1 1 100%;
}

.feedback-modal__headline {
  align-self: flex-start;
  margin-top: $default-margin;
}

.feedback-modal__textarea {
  box-sizing: border-box;
  padding-top: 60px;
  padding-left: $default-padding;
}