@import '../../../constants/style';

.password-modal__transfer-button {
  border: 0;
  background: none;
  outline: none;
  width: 100%;

  font-size: $theme-font-size;
  font-weight: bold;
  text-transform: uppercase;

  padding: $default-padding $large-padding;

  margin-top: $default-margin;
  margin-bottom: $default-margin;
  color: $color-white;
  background: $color-mint;

  transition: background .2s ease-in-out, box-shadow .2s ease-in-out;
}

.password-modal__transfer-button:not(:disabled):focus,
.password-modal__transfer-button:not(:disabled):hover {
  background: darken($color-mint, 15%);
  box-shadow: 0 $base-unit*2 $base-unit*4 0 transparentize($color-dark, .85);
}

.password-modal__transfer-button:disabled {
  background: $color-alternative-gray !important;
}

.password-modal__logout-btn {
  border: 0;
  background: none;
  outline: none;

  font-size: $theme-font-size;
  font-weight: bold;
  text-transform: uppercase;

  padding: $default-padding $large-padding;

  margin-top: $default-margin;
  margin-bottom: $default-margin;
  color: $color-white;
  background: $color-mint;

  transition: background .2s ease-in-out, box-shadow .2s ease-in-out;

  min-height: 50px;
  height: 50px;
  width: inherit;

  margin-left: $default-margin;
  margin-right: auto;
  align-self: center;
}

.password-modal__logout-btn:focus,
.password-modal__logout-btn:hover {
  color: $color-dark-mint;
  border-color: $color-dark-mint;
}


.password-modal__login-data {
  display: inline-flex;
  box-sizing: border-box;
  width: 100%;
}

.password-modal__username {
  align-self: center;
  white-space: nowrap;
}

.password-modal__avatar {
  align-self: center;
  margin-left: 8px;
}