@use "constants/styles";

// by default, avatars are slightly larger than their background, making the forehead/hair stick out of the border.
// additionally, the background color is set to a default value.
// we want to make sure that the avatar is centered within its container, and change the background color to our design accent colors.
// as the avatar svg components use dynamic ids, but we know how the svg composition, the only way to target them is relatively.
.avatar {
  height: 100%;
  width: 100%;
  overflow: visible;

  // center
  > g:first-of-type {
    transform: translateY(-20px);
    > g:last-of-type {
      transform: scale(0.85) translate(23px, 55px);
    }
  }

  // background color
  > g:last-of-type > g:first-of-type > g:last-of-type {
    fill: var(--accent-color--light);
  }
}
