@import "constants/style";

.avatar {
  width: 48px;
  height: 48px;
  overflow: visible;

  #Avataaar #Avataaar {
    transform: scale(0.85) translate(23px, 57px);
  }
}

.avatar #Circle-Background,
.avatar #Color\/Palette\/Blue-01 {
  fill: var(--accent-color);
}
