@use "constants/style";

.tooltip-container .tooltip {
  background-color: style.$blue--100;
  border-radius: style.$rounded--full;
  color: style.$navy--900;
  font-size: style.$text--sm;
  font-weight: 600;
  padding: style.$spacing--xs style.$spacing--base;
  z-index: 9999;
  word-wrap: break-word;
  white-space: normal;
  max-width: 250px;

  &--colored {
    background-color: var(--accent-color--100);
  }
}

[theme="dark"] .tooltip-container .tooltip {
  background-color: style.$navy--300;
  color: style.$gray--000;
}
