@import "constants/style.scss";

.tooltip-container .tooltip {
  background-color: $hover-background-light;
  border-radius: $rounded--full;
  color: $color-black;
  font-size: $text--sm;
  font-weight: 600;
  padding: $spacing--xs $spacing--base;
  z-index: 9999;
}

[theme="dark"] .tooltip-container .tooltip {
  background-color: $hover-background-dark;
  color: $white--000;
}
