@use "constants/styles";

.tooltip-container .tooltip {
  background-color: styles.$blue--100;
  border-radius: styles.$rounded--full;
  color: styles.$navy--900;
  font-size: styles.$text--sm;
  font-weight: 600;
  padding: styles.$spacing--xs styles.$spacing--base;
  z-index: 9999;
  word-wrap: break-word;
  white-space: normal;
  max-width: 250px;

  &--colored {
    background-color: var(--accent-color--100);
  }
}

[data-theme="dark"] .tooltip-container .tooltip {
  background-color: styles.$navy--300;
  color: styles.$gray--000;
}
