@import "constants/style.scss";

.tooltip-container .tooltip {
  background-color: #e4e8f6;
  border-radius: $rounded--full;
  color: $color-black;
  font-size: $text--sm;
  font-weight: 600;
  padding: $spacing--xs $spacing--base;
}

[theme="dark"] .tooltip-container .tooltip {
  background-color: #5a647d;
  color: $color-white;
}
