@import "constants/style";

$note-dialog-top-margin: 100px;
$note-dialog-padding-side: 15px;

.note-dialog {
  margin-top: $note-dialog-padding-side;
}

.note-dialog__pointer-moderator {
  cursor: pointer;
}

.note-dialog__disabled-pointer {
  cursor: not-allowed;
}

.note-dialog__disabled-click {
  pointer-events: none;
}
