@import "constants/style";

$note-dialog-top-margin: 100px;
$note-dialog-spacing-side: 15px;

.note-dialog__portal {
  background-color: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(10px);
}

.note-dialog__portal-moderation-visible {
  box-shadow: inset 0 0 0 $column__border-width $color-goal-green;
}

.note-dialog {
  margin-top: $note-dialog-top-margin;
}

.note-dialog__pointer-moderator {
  cursor: pointer;
}

.note-dialog__disabled-pointer {
  cursor: not-allowed;
}

.note-dialog__disabled-click {
  pointer-events: none;
}
