@import "constants/style";
@import "components/Note/Note.scss";

.note-dialog__header {
  font-size: 48px;
  color: $color-white;
  width: max-content;
  border-bottom: solid 3px var(--accent-color);
  padding-bottom: $padding--default;
  margin: $margin--default 0 $margin--large 0;
  letter-spacing: $letter-spacing--large;
  line-height: $line-height--large;
}

.note-dialog__note {
  margin-bottom: 25px;
  padding: $padding--default $padding--medium;
  position: relative;
  border-radius: $note__border-radius;
  background-color: $color-white;
  box-shadow: 0 6px 9px 0 $note__box-shadow-color;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  list-style-type: none;
  z-index: $note-dialog-z-index;
  min-width: calc(240px + 10vw);
  width: calc(100vw - 36px);
  max-width: 380px;
}
@media (prefers-color-scheme: dark) {
  .note-dialog__note {
    background-color: $color-dark-mode-note;
    box-shadow: 0 6px 9px 0 $note__box-shadow-color-dark-mode;
  }
}
@media #{$menu-desktop} {
  .note-dialog__note {
    max-width: 440px;
    width: calc(100vw - 32px);
  }
}

.note-dialog__note--own-card::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  width: $note__indicator-width;
  height: $note__indicator-height;
  border-radius: 0 $note__indicator-width $note__indicator-width 0;
  background: var(--accent-color);
}

.note-dialog__content {
  display: flex;
  width: 100%;
}

.note-dialog__text {
  background: none;
  margin: 0;
  min-height: 3 * $line-height--medium;
  width: 100%;
  color: $color-black;
  font-size: $text-size;
  letter-spacing: $letter-spacing--medium;
  line-height: $line-height--medium;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  margin-bottom: $note__text-margin-bottom;
  padding: 5px;
  border: 1px dashed transparent;
  border-radius: 5px;
  transition: border-color 0.5s ease-in-out;
  outline: none;
}

.note-dialog__note--own-card .note-dialog__text:hover,
.note-dialog__note--own-card .note-dialog__text:focus {
  border-color: #adadad;
}
@media (prefers-color-scheme: dark) {
  .note-dialog__text {
    color: $color-white;
  }
}

.note-dialog__author {
  display: flex;
  align-items: center;
  // reset css from figure-element:
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

.note-dialog__author-image {
  height: $note__author-image-size;
  width: $note__author-image-size;
  border-radius: 100%;
}

.note-dialog__author-name {
  margin-left: $note__author-margin-left;
  color: $color-dark-gray;
  font-size: $note__author-name-size;
  letter-spacing: $letter-spacing--small;
  line-height: $line-height--small;
}

//Options
.note-dialog__options {
  list-style-type: none;
  position: absolute;
  margin: 0;
  bottom: 10px;
  right: 25px;
}

@media #{$menu-desktop} {
  .note-dialog__options {
    top: 0;
    right: -80px - $margin--default;
  }
}

.note-dialog__option {
  box-sizing: border-box;
  display: block;
}

.note-dialog__option--not-editable {
  display: none;
}

.note-dialog__option + .note-dialog__option {
  margin-top: $margin--small;
}

.note-dialog__option-button {
  height: 32px;
}

.note-dialog__options-icon {
  display: flex;
  justify-content: center;
  width: 32px;
  height: 32px;
}

.note-dialog__options-icon svg {
  fill: #fff;
  width: 20px;
  height: 20px;
  align-self: center;
}
