@import "constants/style";
@import "components/Note/Note.scss";

.note-dialog__pointer-moderator {
  cursor: pointer;
}

.note-dialog__disabled-pointer {
  cursor: not-allowed;
}

.note-dialog__disabled-click {
  pointer-events: none;
}
