@import "constants/style.scss";
// TODO: rework some of the sizes (rem for (fontsize) scaling stuff, px for non-scaling stuff)
// -> make sure things look right even with zooming (make more mindful unit choices)

.onboarding-controller {
  position: absolute;
  top: auto;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 2rem;
  z-index: 1000;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  justify-content: space-between;
}

.onboarding-icon-button {
  border-radius: 50%;
  border: none;
  background-color: $color-white;
  border: 2.5px solid $color-white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 0;
  width: 70px;
  height: 70px;
  transition: ease-in-out 0.1s;
  transform: scale(1);
  &:hover {
    transform: scale(1.05);
    cursor: pointer;
  }
  &_pulse {
    animation: onboarding-pulse 2s infinite;
  }
  & svg {
    width: 70px;
    height: 70px;
    margin: 0;
    padding: 0;
    border-radius: 50%;
  }
}

@keyframes onboarding-pulse {
  0% {
    background-color: $color-white;
    border-color: $color-white;
  }
  60% {
    border-color: $color-retro-red;
    background-color: $color-retro-red;
  }
  100% {
    background-color: $color-white;
    border-color: $color-white;
  }
}

.onboarding-button {
  align-self: center;
  color: $color-white;
  background-color: transparent;
  border: none;
  height: fit-content;
  font-size: $text--md;
  padding: 0.5rem 0;
}

.onboarding-back-button,
.onboarding-next-button {
  background-color: $color-retro-red;
  color: $color-white;
  border: 2.5px solid $color-white;
  &:hover {
    cursor: pointer;
    background-color: $color-white;
    color: $color-retro-red;
    border: 2px solid $color-retro-red;
  }
}
.onboarding-next-button {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  margin-left: -1rem;
  padding-right: 2rem;
  padding-left: 1.5rem;
}
.onboarding-back-button {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  margin-right: -1rem;
  padding-left: 2rem;
  padding-right: 1.5rem;
}
.onboarding-button-disabled {
  background-color: $color-retro-red-disabled;
  &:hover {
    cursor: not-allowed;
    background-color: $color-retro-red-disabled;
    color: $color-white;
    border: 2px solid $color-white;
  }
}

.onboarding-new_board {
  position: absolute;
  top: 4rem;
  right: 6rem;
}

.floater {
  background-color: $color-white;
  color: $color-dark-one;
  min-width: 300px;
  min-height: 100px;
  z-index: 10000;
  border-top: 6px solid $color-retro-red;
  border-left: 6px solid $color-backlog-blue;
  border-right: 6px solid $color-online-orange;
  border-bottom: 6px solid $color-goal-green;
}

.onboarding-img {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}
.onboarding-content {
  margin-bottom: 1rem;
}
.onboarding-actions {
  display: inline-flex;
  justify-content: space-around;
}

#react-floater-portal div {
  z-index: 10000 !important;
}
