@import "constants/style.scss";

.onboarding-controller-wrapper {
  position: absolute;
  top: auto;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 2rem;
}

.onboarding-controller {
  background-color: $color-retro-red;
  color: $color-white;
  display: inline-flex;
  border-radius: 20px;
  padding: 0 2rem;
}

.onboarding-icon-button {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: none;
  background-color: $color-white;
}

.floater {
  z-index: 1000;
  background-color: $color-white;
  color: $color-dark-one;
  min-width: 300px;
  min-height: 100px;
  border: 3px solid $color-backlog-blue;
}

.onboarding-base {
  border-radius: 15px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.onboarding-img {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}
.onboarding-content {
  margin-bottom: 1rem;
}
.onboarding-actions {
  display: inline-flex;
  justify-content: space-around;
}

.onboarding-skip {
  background-color: transparent;
  color: $color-backlog-blue;
  border: 1px solid $color-backlog-blue;
}
.onboarding-ok, .onboarding-next {
  background-color: $color-backlog-blue;
  padding: 0 2rem;
}

.close-floater {
  position: absolute;
  top: -12px;
  right: -12px;
  color: $color-backlog-blue;
  display: flex;
  justify-content: center;
  align-items: center;
  width: $icon--extralarge;
  height: $icon--extralarge;
  border-radius: $rounded--full;
  transition: all 0.08s ease-out;
  border: 2px solid transparent;
  outline: none;

  &:hover {
    background-color: $color-backlog-blue;
    color: $color-white;
    cursor: pointer;
    transform: scale(1.04);
  }

  &:active {
    transform: scale(1);
  }

  &:focus-visible {
    border: 2px solid $color-backlog-blue;
  }
}

.close-floater>svg {
  height: 100%;
  width: 100%;
}
