@import "constants/style.scss";

// Button
.icon-button {
  cursor: pointer;
  position: relative;
  height: 36px;
  width: 36px;
  padding: 0;
  background-color: transparent;
  border: 1px solid $color-white;
  border-radius: 18px;
  transition: background-color 0.25s ease-in-out, left 2s;
  box-shadow: 0 6px 9px 0 rgba(0, 0, 0, 0.2);
}
.icon-button:hover {
  background-color: $color-white;
}
@media (prefers-color-scheme: dark) {
  .icon-button:hover {
    background-color: $color-white;
  }
}

.icon-button:focus {
  outline: none;
}

// Icon
.icon-button__icon {
  color: var(--accent-color);
}
@media (prefers-color-scheme: dark) {
  .icon-button__icon {
    color: $color-white;
  }
}

@media #{$menu-desktop} {
  .icon-button__icon {
    color: $color-white;
  }
}

.icon-button:hover > .icon-button__icon {
  animation: none;
  color: var(--accent-color);
}
@media (prefers-color-scheme: dark) {
  .icon-button:hover > .icon-button__icon {
    color: var(--accent-color);
  }
}

.icon-button__icon--end {
  display: none;
}
.icon-button--active:hover > .icon-button__icon--end {
  display: inline;
}
.icon-button--active:hover > .icon-button__icon--start {
  display: none;
}

// Tooltip
.icon-button__tooltip {
  position: absolute;
  animation: none;
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;

  height: 36px;
  width: 36px;
  padding: 0;
  white-space: nowrap;

  font-size: 14px;
  font-weight: bold;
  letter-spacing: 1px;
  line-height: 16px;
  text-align: right;

  border: 1px solid $color-white;
  border-radius: 18px;

  z-index: -1;
  overflow: hidden;
  color: var(--accent-color);
  background-color: white;
  box-shadow: 0 6px 9px 0 rgba(0, 0, 0, 0.2);
  transition: width 0.25s ease-in-out;
}
@media (prefers-color-scheme: dark) {
  .icon-button__tooltip {
    background-color: transparent;
  }
}
@media #{$menu-desktop} {
  .icon-button__tooltip {
    background-color: transparent;
  }
}
@media screen and (max-width: 600px) {
  .icon-button__tooltip {
    display: none;
  }
}

.icon-button--left > .icon-button__tooltip {
  right: -1px;
  top: -1px;
}
.icon-button--right > .icon-button__tooltip {
  left: -1px;
  top: -1px;
}

.icon-button__text {
  text-transform: uppercase;
  position: absolute;
}
.icon-button__tooltip > .tooltip__text {
  color: var(--accent-color);
}
@media (prefers-color-scheme: dark) {
  .icon-button__tooltip > .tooltip__text {
    color: $color-white;
  }
}
@media #{$menu-desktop} {
  .icon-button__tooltip > .tooltip__text {
    color: $color-white;
  }
}
.icon-button--right > .icon-button__tooltip > .tooltip__text {
  margin-left: 36px;
  transition: margin-left 0.5s ease-in-out;
  left: 0;
}
.icon-button--left > .icon-button__tooltip > .tooltip__text {
  margin-right: 36px;
  transition: margin-right 0.5s ease-in-out;
  right: 0;
}
.icon-button:hover > .icon-button__tooltip {
  width: 150px;
}
.icon-button--left:hover > .icon-button__tooltip > .tooltip__text {
  margin-right: 48px;
}
.icon-button--right:hover > .icon-button__tooltip > .tooltip__text {
  margin-left: 48px;
}
