@use "constants/styles";

$stan-height: 70vh;

.login-boardN {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.login-boardN__wrapper {
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: styles.$spacing--lg;
  justify-content: flex-start;
  align-items: center;
}

.login-boardN__stan-container {
  position: absolute;
  height: $stan-height;
  // Anchor to left edge of content, vertically centered
  top: 50%;
  pointer-events: none;

  &--left {
    left: 0;
    transform: translate(-100%, -50%);
  }

  &--right {
    right: 0;
    transform: translate(100%, -50%);
  }
}

.login-boardN__stan {
  height: 100%;

  &--dark {
    display: initial;
  }

  &--light {
    display: none;
  }
}

@media screen and (max-width: styles.$breakpoint--desktop) {
  .login-boardN__stan-container {
    display: none;
  }
}

.login-boardN__card {
  position: relative;
  width: 100%;
  flex: 1;
  max-width: 920px;
  max-height: 920px;
  border-radius: styles.$rounded--default;
  background-color: styles.$blue--50;

  padding: styles.$spacing--base;

  display: flex;
  flex-direction: column;
  align-items: center;

  & h1 {
    font-size: styles.$line-height--large;
  }
}

.login-boardN__features {
  display: flex;
  flex-direction: column;
  gap: styles.$spacing--md;
}

.login-boardN__feature {
  display: flex;
  align-items: center;
  gap: styles.$spacing--sm;
}

.login-boardN__feature-icon {
  width: styles.$icon--medium;
  height: styles.$icon--medium;
  flex-shrink: 0;
}

.login-board__divider {
  margin-top: styles.$spacing--xl;
  margin-bottom: styles.$spacing--base;
  padding: 0;
  overflow: visible;
  border: none;
  border-top: 1px solid styles.$gray--700;
  color: styles.$gray--700;
  text-align: center;
}

.login-board__divider::after {
  content: attr(data-label);
  display: inline-block;
  position: relative;
  top: -0.625em;
  padding: 0 styles.$spacing--base;
  background: styles.$blue--50;
}

.login-boardN__input-wrapper {
  display: flex;
  gap: styles.$spacing--sm; // or 8px, 12px, etc.
  align-items: center;
  width: 100%;
}

.login-boardN__input-wrapper .input__root {
  flex: 1; // input takes all available space
}

.login-boardN__refreshButton {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: unset; // override any min-width from Button
  background-color: styles.$gray--000;
  border: none;

  &:active {
    background-color: styles.$gray--200;
  }
}

.login-boardN__anonymous-toggle {
  text-align: center;
  cursor: pointer;
  text-decoration: underline;

  &:hover:not(.login-boardN__anonymous-toggle--active) {
    text-decoration: underline;
  }

  &--active {
    cursor: default;
    text-decoration: none;
  }
}

//todo probably remove but need to check first
.login-providers__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  min-width: auto;
  padding: 0;
  background: styles.$gray--300;
  border-radius: styles.$rounded--full;
}
.login-providers__button > span {
  display: none;
}

.login-providers__icon {
  height: styles.$icon--medium;
  width: styles.$icon--medium;
  flex: 0 0 styles.$icon--medium;
}

.login-board__terms a {
  color: styles.$pink--500;
  font-weight: bold;
  text-decoration: none;
  transition: all 0.08s ease-out;

  &:hover {
    filter: brightness(1.4);
    text-decoration: underline;
  }
}

.login-board__terms-label {
  position: relative;
  display: block;
  padding-left: 1.5em;

  a:focus-visible {
    text-decoration: underline;
  }
}

.login-board__terms:hover .login-board__terms-label::before {
  box-shadow: 0 0 0 4px rgba(styles.$blue--500, 0.2);
}

.login-board__anonymous-login-button {
  margin-top: 2em;
  width: 100%;
  height: 48px; //todo fix that with button height constant
}

[theme="dark"] {
  .login-board__dialog {
    color: styles.$gray--000;
    background: #1a2232;
  }

  .login-board__divider {
    border-color: styles.$gray--700;
    color: styles.$gray--700;
  }

  .login-board__divider::after {
    color: styles.$gray--700;
    background: #1a2232;
  }

  .login-board__terms:hover .login-board__terms-label::before {
    box-shadow: 0 0 0 4px rgba(styles.$gray--000, 0.2);
  }

  .login-board__terms:focus-visible.login-board__terms-label::before {
    box-shadow: 0 0 0 4px rgba(styles.$gray--000, 0.4);
  }

  @media #{styles.$tablet} {
    .login-board__form-wrapper,
    .login-board__divider::after {
      background: styles.$navy--600;
    }
  }
}

@media #{styles.$tablet} {
  .login-board {
    display: flex;
    justify-content: center;
    align-items: center;

    min-height: 100vh;
  }

  .login-board__dialog {
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    overflow: hidden;
  }

  .login-board__illustration {
    display: initial;
    flex: 0 1 640px;

    padding: 64px;
  }

  .login-board__form-wrapper {
    height: 100vh;
    padding: 64px;

    display: flex;
    justify-content: center;
    align-items: center;

    flex: 1 1 100%;
    box-shadow: 0 2px 16px 8px rgba(styles.$navy--900, 0.2);
    overflow: auto;
  }

  .login-board__form {
    max-width: 640px;
  }
}
