@use "constants/styles";

$stan-height: 70%;

.login-board {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.login-board__wrapper {
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: styles.$spacing--lg;
  justify-content: center;
  align-items: center;
  padding-bottom: styles.$spacing--md;
}

.login-board__card {
  position: relative;
  width: 100%;
  flex: 1;
  max-width: 920px;
  max-height: 920px;
  border-radius: styles.$rounded--default;
  background-color: styles.$blue--50;
  padding: styles.$spacing--base;
  padding-top: styles.$spacing--xl;

  display: flex;
  flex-direction: column;
  align-items: center;

  & h1 {
    font-size: styles.$line-height--large;
    text-align: center;
    margin: 0;
  }
}

.login-board__stan-container {
  position: absolute;
  height: $stan-height;
  top: 50%;
  pointer-events: none;

  &--left {
    left: 0;
    transform: translate(-100%, -50%);
  }

  &--right {
    right: 0;
    transform: translate(100%, -50%);
  }
}

@media screen and (max-width: styles.$breakpoint--desktop) {
  .login-board__stan-container {
    display: none;
  }
}

.login-board__stan {
  height: 100%;

  &--dark {
    display: initial;
  }

  &--light {
    display: none;
  }
}

.login-board__form-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: fit-content;
  flex: 1;
}

.login-board__form {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: styles.$spacing--lg;
}

.login-board__providers-section {
  display: flex;
  flex-direction: column;
  gap: styles.$spacing--lg;
}

.login-board__anonymous-section {
  display: flex;
  flex-direction: column;
  gap: styles.$spacing--lg;
}

.login-board__anonymous-content {
  display: flex;
  flex-direction: column;
  gap: styles.$spacing--lg;
}

.login-board__features {
  display: flex;
  flex-direction: column;
  gap: styles.$spacing--md;
}

.login-board__feature {
  display: flex;
  align-items: center;
  gap: styles.$spacing--sm;
}

.login-board__feature-icon {
  width: styles.$icon--medium;
  height: styles.$icon--medium;
  flex-shrink: 0;
}

.login-board__divider {
  margin: 0;
  margin-top: 1.1em; // to center the line with the text
  margin-bottom: 0px;

  padding: 0;
  overflow: visible;
  border: none;
  border-top: 1px solid styles.$gray--700;
  color: styles.$gray--700;
  text-align: center;
}

.login-board__divider::after {
  content: attr(data-label);
  display: inline-block;
  position: relative;
  top: -0.625em;
  padding: 0 styles.$spacing--base;
  background: styles.$blue--50;
}

.login-board__anonymous-toggle {
  text-align: center;
  cursor: pointer;
  text-decoration: underline;
  color: styles.$navy--700;
  margin: 0;

  &:hover:not(.login-board__anonymous-toggle--active) {
    text-decoration: underline;
  }

  &--active {
    cursor: default;
    text-decoration: none;
  }
}

.login-board__input-wrapper {
  display: flex;
  gap: styles.$spacing--xs;
  align-items: center;
  width: 100%;
}

.login-board__input-wrapper .input__root {
  flex: 1;
}

.login-board__anonymous-login-button {
  width: 100%;
}

.login-board__terms-label {
  width: 0;
  min-width: 100%;
  position: relative;
  bottom: auto;
  padding-top: styles.$spacing--lg;
  padding-bottom: 0;
  text-align: center;
  color: styles.$navy--700;
  font-size: styles.$text--sm;

  & a {
    font-weight: bold;
    text-decoration: underline;
    color: inherit;

    &:visited {
      color: inherit;
    }
  }
}

[theme="dark"] {
  .login-board__divider {
    border-color: styles.$gray--700;
    color: styles.$gray--700;
  }

  .login-board__divider::after {
    color: styles.$gray--700;
    background: styles.$orange--100;
  }

  .login-board__card {
    background-color: styles.$navy--700;
  }

  .login-board__providers-section {
    color: styles.$gray--000;
  }

  .login-board__anonymous-toggle {
    color: styles.$gray--800;
  }

  .login-board__terms-label {
    color: styles.$gray--000;
  }

  @media #{styles.$tablet} {
    .login-board__divider::after {
      background: styles.$navy--700;
    }
  }
}

@media screen and (max-width: 1020px) {
  .login-board__card {
    width: 90%;
    max-width: 920px;
  }
}

@media #{styles.$tablet} {
  .login-board__card {
    width: 90%;
    max-width: 640px;
  }
}

@media screen and (min-width: styles.$breakpoint--desktop) {
  .login-board__card {
    min-width: 920px;
  }

  .login-board__form {
    width: 505px;
  }
}

@media screen and (max-width: styles.$breakpoint--desktop) and (min-width: 1021px) {
  .login-board__card {
    width: 920px;
  }
}
