@use "constants/style";
@use "routes/StackView/StackView";

.stack-view__navigation {
  height: StackView.$stack-view__navigation-height;
  min-height: StackView.$stack-view__min-height;
  width: 82vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: min(4vw, 48px);
  flex-shrink: 0;
}

.stack-view__navigation-button {
  width: 42px;
  height: 42px;

  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.5;
  background: style.$gray--000;
  border: 3px solid transparent;
  border-radius: 100%;
  outline: none;
  box-shadow: style.$box-shadow--light;
  color: style.$navy--900;
  padding: 0;
  margin: 0;

  transition: all 0.08s ease-out;

  > svg {
    height: style.$icon--large;
    width: style.$icon--large;
  }

  &:enabled {
    cursor: pointer;
    opacity: 1;

    &:hover {
      transform: scale(1.1);
    }

    &:focus-visible {
      background: var(--accent-color--light);
      color: style.$gray--000;
    }

    &:active {
      transform: scale(1);
    }
  }
}

[theme="dark"] {
  .stack-view__navigation-button {
    background: style.$navy--500;
    color: style.$gray--000;

    &:enabled:focus-visible {
      background: var(--accent-color--dark);
      color: style.$navy--900;
    }

    &:disabled {
      color: style.$navy--700;
    }
  }
}

@media #{style.$tablet} {
  .stack-view__navigation {
    width: 42vw;
  }
}
