@import "constants/style";

.board-header {
  position: fixed;
  display: flex;
  height: $header__height;
  width: calc(100vw - 20px);
  margin: 10px 10px 0 10px;
}

.board-header > * {
  align-self: center;
}

.board-header__infos {
  width: 50%;
  display: flex;
  justify-content: center;
}

.info-block {
  width: max-content;
  padding: 5px 20px;
  border-radius: 16px;
  transition: background-color 0.2s ease-in-out;
}
.info-block--hoverable {
  cursor: pointer;
}
.info-block--hoverable:hover {
  background-color: rgba(0, 87, 255, 0.06);
}
@media (prefers-color-scheme: dark) {
  .info-block--hoverable:hover {
    background-color: rgba(255, 0, 105, 0.15); // Ask designer for correct color
  }
}

.board-header__status {
  color: $color-middle-gray;
  font-family: Raleway;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 0.25px;
  line-height: 16px;
  margin: auto;
  text-align: center;
}

.board-header__title-block {
  display: flex;
  justify-content: center;
}

.board-header__title {
  color: $color-black;
  font-family: Raleway;
  font-size: 32px;
  font-weight: bold;
  letter-spacing: 0.5px;
  line-height: 40px;
  margin: 0;

  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: calc(100vw - 260px);
  max-width: 28vw;
}
@media (prefers-color-scheme: dark) {
  .board-header__title {
    color: $color-white;
  }
}

.board-header__status-image {
  width: 24px;
  height: 24px;
  align-self: center;
  margin-right: 10px;
  display: none;
}
@media #{$tablet} {
  .board-header__status-image {
    display: block;
  }
}

.board-header__users {
  width: 25%;
  display: flex;
  flex-direction: row-reverse;
}
