@import "constants/style";

$board-header__hover-padding-top-bottom: 5px;
$board-header__hover-padding: $board-header__hover-padding-top-bottom $padding--large;

.board-header {
  position: absolute;
  left: 30px;
  right: 30px;
  top: 10px;
}

.board-header__link {
  position: absolute;
  left: 0;
  top: 20px;
  padding: $board-header__hover-padding;
  border-radius: 16px;
  width: max-content;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  outline: none;
  background-color: transparent;
  border: none;
}

.board-header__link:focus,
.board-header__link:hover {
  background-color: rgba(0, 87, 255, 0.06);
}

[theme="dark"] {
  .board-header__link:focus,
  .board-header__link:hover {
    background-color: rgba(255, 0, 105, 0.15);
  }
}

.board-header__name-and-settings {
  margin: $margin--default auto 0;
}

.board-header__users {
  position: absolute;
  right: 0;
  top: calc(24px - #{$board-header__hover-padding-top-bottom});
  border-radius: 16px;
  padding: $board-header__hover-padding-top-bottom $padding--large $board-header__hover-padding-top-bottom $padding--large;

  display: flex;
  flex-direction: row;

  background: none;
  border: none;
  outline: none;

  cursor: pointer;
}

.board-header__users:focus,
.board-header__users:hover {
  background-color: rgba(0, 87, 255, 0.06);
}

[theme="dark"] {
  .board-header__users:focus,
  .board-header__users:hover {
    background-color: rgba(255, 0, 105, 0.15);
  }
}

.board-header__share-button {
  color: $color-backlog-blue;
  border: 2px solid $color-backlog-blue;
  border-radius: 100%;
  height: 41.14px;
  width: 41.14px;
  margin-top: 5px;
  margin-left: $margin--default;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.08s ease-out;

  background: none;
  cursor: pointer;

  &:hover {
    filter: brightness(1.4);
    transform: scale(1.04);
  }

  &:active {
    transform: scale(1);
  }
}

[theme="dark"] {
  .board-header__share-button {
    color: $color-planning-pink;
    border: 2px solid $color-planning-pink;
  }
}

.board-header__name-and-settings {
  display: flex;
  justify-content: center;
}

.board-header_name-and-settings-button {
  width: max-content;
  padding: $board-header__hover-padding;
  border-radius: 16px;
  transition: background-color 0.2s ease-in-out;

  outline: 0;
  border: 0;
  background: none;

  cursor: pointer;
}

.board-header_name-and-settings-button:focus,
.board-header_name-and-settings-button:hover {
  background-color: rgba(0, 87, 255, 0.06);
}

[theme="dark"] {
  .board-header_name-and-settings-button:focus,
  .board-header_name-and-settings-button:hover {
    background-color: rgba(255, 0, 105, 0.15); // Ask designer for correct color
  }
}

.board-header__access-policy-status {
  color: $color-middle-gray;
  font-size: $text-size--medium;
  font-weight: bold;
  letter-spacing: $letter-spacing--small;
  line-height: $line-height--small;
  margin: auto;
  text-align: center;
}

.board-header__name-container {
  position: relative;
}

.board-header__name {
  display: inline-block;

  color: $color-black;
  font-size: 32px;
  font-weight: bold;
  letter-spacing: $letter-spacing--large;
  line-height: 40px;
  margin: 0;

  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  max-width: 28vw;
}

[theme="dark"] {
  .board-header__name {
    color: $color-white;
  }
}

.board-header__access-policy-status-icon {
  display: inline;
  vertical-align: bottom;

  width: 20px;
  height: 20px;
  align-self: center;
  margin-right: 2px;
}

.board-header__access-policy-status-icon * {
  color: $color-middle-gray;
}

@media #{$tablet} {
  .board-header {
    left: 60px;
    right: 60px;
  }

  .board-header__name-container {
    min-height: 40px;
    min-width: 240px;
  }
}
