@import '../../../constants/style';


.column-name {
  flex: 1;
  margin: 0;

  font-family: Heebo, sans-serif;
  font-weight: bold;
  font-size: calc(24px + .4vw);
  color: $color-dark-gray;
  letter-spacing: 1px;
  line-height: 54px;
}

.column-name__count {
  margin-left: $default-margin;

  display: inline-block;
  width: 32px;
  height: 32px;
  line-height: 32px;
  vertical-align: middle;
  text-align: center;


  font-family: Heebo, sans-serif;
  font-size: 16px;
  font-weight: bold;

  color: $color-dark;
  background: $color-stone-gray;
  border-radius: 16px;
}