@import "constants/style";

.board-guard {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  &__denied-link {
    color: $color-planning-pink;
  }
}

.board-guard__info {
  font-size: $text-size--large;
}

[theme="dark"] {
  .board-guard {
    background-color: $color-dark-one;
  }

  .board-guard__info {
    color: $color-white;
  }
}
