@import "constants/style";

.board-guard {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.board-guard__info {
  font-size: 20px;
}

[theme="dark"] {
  .board-guard {
    background-color: $color-dark-one;
  }

  .board-guard__info {
    color: white;
  }
}
