@use "sass:color";
@use "constants/styles";
@use "constants/mixins";

$vote-display-width: 114px;
$vote-display__content-height: 38px;
$vote-display__short-actions-height: 28px;

$vote-display__progress-bar-color: #6096ff;
$vote-display__progress-bar-color--depleted-light: #1bd47e;
$vote-display__progress-bar-color--depleted-dark: #4ae89f;

.vote-display {
  height: 100%;
  width: $vote-display-width;
  color: styles.$navy--500;
  background-color: styles.$gray--000;
  border-radius: styles.$rounded--full;
  position: relative;
  border: 2px solid styles.$gray--000;
  @include mixins.box-shadow-light;

  &:has(:focus-visible) {
    outline: 2px solid styles.$blue--500;
  }
}

.vote-display > svg {
  position: absolute;
  height: $vote-display__content-height;
  width: $vote-display__content-height;
  background-color: styles.$navy--500;
  color: styles.$gray--000;
  border-radius: 100%;
}

.vote-display > span {
  position: absolute;
  right: 0;
  left: 0;
  height: 100%;
  width: 100%;
  padding-left: $vote-display__content-height;
  line-height: $vote-display__content-height;
  text-align: center;
  font-weight: bold;
}

.vote-display__progress-bar {
  position: absolute;
  top: 0;
  left: 19px;
  height: $vote-display__content-height;
  border-top-right-radius: styles.$rounded--full;
  border-bottom-right-radius: styles.$rounded--full;
  background-color: $vote-display__progress-bar-color;
}

.vote-display--votes-depleted {
  animation: shake 1s;

  .vote-display__progress-bar {
    background-color: $vote-display__progress-bar-color--depleted-light;
  }
  [data-theme="dark"] .vote-display__progress-bar {
    background-color: $vote-display__progress-bar-color--depleted-dark;
  }
}

.vote-display__short-actions {
  height: 100%;
  width: 100%;
  position: absolute;
  border-radius: styles.$rounded--full;
  background-color: styles.$gray--000;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: styles.$spacing--xs;
  padding-right: 4px;
  list-style: none;
  margin: 0;
  opacity: 0;
}

.vote-display:has(:focus-visible) > .vote-display__short-actions,
.vote-display:hover > .vote-display__short-actions {
  opacity: 1;
}

.short-actions__short-action {
  position: relative;
  height: $vote-display__short-actions-height;
  width: $vote-display__short-actions-height;
  border-radius: styles.$rounded--full;
}

.short-action__button {
  height: $vote-display__short-actions-height;
  width: $vote-display__short-actions-height;
  border-radius: styles.$rounded--full;
  background-color: styles.$gray--300;
  color: styles.$navy--500;
  border: none;
  padding: 0;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 150ms linear;

  &:hover {
    background-color: mixins.getLightHoverBackground(styles.$gray--300);
  }

  &:focus-visible {
    outline: 2px solid styles.$blue--500;
  }
}

.short-action__button > svg {
  position: absolute;
  height: 100%;
  width: 100%;
}
.short-action__button > .short-action__flag-icon {
  height: styles.$icon--medium;
  width: styles.$icon--medium;
}
.short-action__cancel-icon {
  visibility: hidden;
}
.short-action__button--ready:hover {
  > .short-action__check-icon {
    visibility: hidden;
  }
  > .short-action__cancel-icon {
    visibility: visible;
  }
}

[data-theme="dark"] {
  .vote-display {
    color: styles.$gray--000;
    background-color: styles.$navy--500;
    border-color: styles.$navy--500;

    &:has(:focus-visible) {
      outline: 2px solid styles.$pink--500;
    }
  }

  .vote-display > svg {
    background-color: styles.$gray--000;
    color: styles.$navy--500;
  }

  .vote-display__short-actions {
    background-color: styles.$navy--500;
  }

  .vote-display--votes-depleted .vote-display__progress-bar {
    background-color: $vote-display__progress-bar-color--depleted-dark;
  }

  .short-action__button {
    background-color: styles.$navy--600;
    color: styles.$gray--000;

    &:hover {
      background-color: mixins.getDarkHoverBackground(styles.$navy--600);
    }

    &:focus-visible {
      outline: 2px solid styles.$pink--500;
    }
  }
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

@media (hover: none) {
  .vote-display__short-actions {
    display: none;
  }
}
