@import "constants/style";

.hero-illustration {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  // set max rows to display
  grid-template-rows: repeat(2, 1fr);
  // set height of invisible rows
  grid-auto-rows: 0;
  // disable overflow
  overflow: hidden;

  gap: 16px;
}

.hero-illustration__tile {
  width: 100%;
}

.hero-illustration__tile-image {
  width: 100%;
  height: 100%;
}

@media #{$tablet} {
  .hero-illustration {
    grid-template-rows: repeat(4, 1fr);
  }
}
