@import "constants/style";

$header-menu-color--light: $color-backlog-blue;
$header-menu-color--dark: $color-planning-pink;
$header-menu-width: 288px;
$header-menu__item-height: 48px;

.header-menu__export-container {
  height: 0px;
  width: 100%;
  background-color: $color-white;
  transition: height 0.5s ease-in-out;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 10px;
}
.header-menu__export-container--visible {
  box-sizing: border-box;
  height: 90px;
  border-bottom: 1px solid #efefef;
}

.header-menu__export-container > .menu__item-button {
  background-color: transparent;
  border: none;
  padding: none;
  height: 30px;
  width: 80%;
  border: 1px solid #111111;
  border-radius: 32px;
  background-color: transparent;
  color: #111111;
  cursor: pointer;

  &:hover {
    background-color: #f3f3f3;
  }
}

@media (prefers-color-scheme: dark) {
  .header-menu__export-container {
    background-color: $color-dark-mode-note;
  }

  .header-menu__export-container > .menu__item-button:hover {
    background-color: #3d4555;
  }
}

.header-menu__info {
  position: relative;
  height: 86px;
}

.info__board-name {
  position: absolute;
  top: 20px;
  left: 20px;
  height: 19px;
  width: 180px;
  color: $color-white;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0.25px;
  line-height: 18px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  background-color: transparent;
  border: none;
  border-bottom: 1px dashed $color-white;
  padding: 0 0 5px 0;
  outline: 0;
  transition: border-color 0.1s linear;
}
.info__board-name:disabled {
  border-color: transparent;
}

.info__access-mode {
  position: absolute;
  top: 44px;
  left: 20px;
  height: 18px;
  width: max-content;
  border: none;
  background-color: transparent;
  text-align: left;
  color: $color-white;
  opacity: 0.8;
  font-size: 13px;
  letter-spacing: 0.27px;
  line-height: 18px;
  cursor: pointer;
  border-bottom: 1px dashed $color-white;
  padding: 0 0 5px 0;
  transition: border-color 0.1s linear;
}
.info__access-mode:disabled {
  cursor: default;
  border-color: transparent;
}
.info__access-mode-lock {
  display: inline-block;
  position: relative;
  width: 10px;
  height: 10px;
  border: 2px solid $color-white;
  background-color: $color-white;
  opacity: 0.8;
  border-radius: 3px;
  margin-right: 5px;
}
.info__access-mode-lock::before {
  content: "";
  position: absolute;
  height: 6px;
  width: 6px;
  background-color: $header-menu-color--light;
  border-radius: 3px;
}
@media (prefers-color-scheme: dark) {
  .info__access-mode-lock::before {
    background-color: $header-menu-color--dark;
  }
}
.info__access-mode-lock::after {
  position: absolute;
  content: "";
  width: 6px;
  height: 6px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border: 1px solid $color-white;
  border-bottom: 0;
  top: -7px;
  left: 0px;
  transition: transform 0.3s linear;
}
.info__access-mode-lock--unlocked::after {
  transform: rotate(-45deg) translate(0, -1px);
}

.info__edit-button {
  position: absolute;
  height: 24px;
  width: 50px;
  border: 1.5px solid #f9fafb;
  border-radius: 32px;
  background-color: transparent;
  color: $color-white;
  cursor: pointer;
  top: 18px;
  left: 212px;
  transition: scale 0.1s ease-in-out;
}
.info__edit-button:focus {
  outline: 0;
}
.info__edit-button:active {
  scale: 0.95;
}

.header-menu__item {
  height: $header-menu__item-height;
  background-color: $color-white;
  transition: background-color 0.15s ease-in-out;
  box-sizing: border-box;
  border-bottom: 1px solid #efefef;
}
.header-menu__item:hover {
  background-color: #f3f3f3;
}
@media (prefers-color-scheme: dark) {
  .header-menu__item {
    background-color: $color-dark-mode-note;
  }
  .header-menu__item:hover {
    background-color: #3d4555;
  }
}

.menu__item-button {
  background-color: transparent;
  border: none;
  padding: none;
  height: 100%;
  width: 100%;
  text-align: left;
  cursor: pointer;
}
.menu__item-button:focus,
.menu__item-button:hover {
  outline: none;
}
.item-button__icon {
  width: 79px;
  height: 24px;
  color: #a3a6aa;
  vertical-align: middle;
}

.item-button__label {
  height: 24px;
  width: 180px;
  color: #111111;
  font-size: 14px;
  letter-spacing: 0.5px;
  line-height: 24px;
  vertical-align: middle;
  cursor: pointer;
}
@media (prefers-color-scheme: dark) {
  .item-button__label {
    color: $color-white;
  }
}

.item-button__toggle-container {
  width: 79px;
  height: 48px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
}
.item-button__toggle {
  width: 24px;
  height: 24px;
  position: relative;
  display: inline-block;
}
.item-button__toggle::after {
  content: "";
  height: 12px;
  width: 12px;
  position: absolute;
  border-radius: 100%;
  top: calc(50% - 6px);
  transition: all 0.25s linear;
}
.item-button__toggle::before {
  content: "";
  height: 3px;
  width: 24px;
  background-color: #c8c8c8;
  position: absolute;
  border-radius: 3px;
  top: calc(50% - 1.5px);
}
.item-button__toggle--left::after {
  left: 0;
  background-color: $color-backlog-blue;
}
.item-button__toggle--right::after {
  left: 12px;
  background-color: $color-planning-pink;
}

.header-menu__qrcode-container {
  height: 0px;
  width: 100%;
  background-color: $color-white;
  transition: height 0.5s ease-in-out;
  position: relative;
  overflow: hidden;
}
.header-menu__qrcode-container--visible {
  box-sizing: border-box;
  height: 324px;
  border-bottom: 1px solid #efefef;
}
.qrcode-container__qrcode {
  position: absolute;
  top: 13px;
  left: 13px;
}

.qrcode-container__copy-to-clipboard {
  position: absolute;
  height: 24px;
  width: 144px;
  border: 1px solid #111111;
  border-radius: 32px;
  background-color: transparent;
  color: #111111;
  cursor: pointer;
  left: 72px;
  top: 288px;
}
.qrcode-container__copy-to-clipboard:focus {
  outline: 0;
}
.qrcode-container__copy-to-clipboard:active {
  scale: 0.95;
}

.header-menu__delete-container {
  height: 0px;
  width: 100%;
  transition: height 0.5s ease-in-out;
  background-color: $color-white;
  position: relative;
  overflow: hidden;
}
@media (prefers-color-scheme: dark) {
  .header-menu__delete-container {
    background-color: $color-dark-mode-note;
  }
}
.header-menu__delete-container--visible {
  box-sizing: border-box;
  height: 120px;
}
.delete-container__warning-label {
  position: absolute;
  top: 13px;
  left: 13px;
  color: #e5534b;
}
.delete-container__delete-board {
  position: absolute;
  top: 80px;
  left: 72px;
  height: 24px;
  width: 144px;
  border: 1px solid #e5534b;
  border-radius: 32px;
  background-color: transparent;
  color: #e5534b;
  cursor: pointer;
}
.delete-container__delete-board :focus {
  outline: 0;
}
.delete-container__delete-board :active {
  scale: 0.95;
}
