name: Continuous Integration

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_run:
    workflows: ["Package"]
    branches: [ main ]
    types:
      - completed

concurrency:
  group: ${{ github.ref }}
  cancel-in-progress: true

jobs:
  test:
    name: Build and Test
    runs-on: ubuntu-latest
    steps:
      - name: checkout repository
        uses: actions/checkout@v3

      - name: Get yarn cache directory path
        id: yarn-cache-dir-path
        run: echo "::set-output name=dir::$(yarn cache dir)"

      - uses: actions/cache@v3
        id: yarn-cache
        with:
          path: ${{ steps.yarn-cache-dir-path.outputs.dir }}
          key: ${{ runner.os }}-yarn-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-yarn-

      - uses: actions/setup-go@v3
        with:
          go-version: '^1.18'

      - name: Build server
        working-directory: ./server
        run: |
          make test
          make build-alpine

      - name: Build client
        run: |
          yarn install
          CI=false yarn build

      - name: Lint code
        run: yarn lint --max-warnings 0

      - name: Test with coverage
        run: yarn test --coverage --watchAll=false --passWithNoTests

  package:
    needs: test
    uses: inovex/scrumlr.io/.github/workflows/package.yml@main
  
  deploy_to_dev_cluster:
    needs: package
    if: ${{ github.event_name == 'pull_request' && github.actor != 'dependabot[bot]' }}
    
    # TODO change to @main before merging
    uses: inovex/scrumlr.io/.github/workflows/deploy_to_dev_cluster.yml@hotfix/branch-name-too-long
    secrets: inherit
    with: 
      frontend_image_tag: ${{ needs.package.outputs.frontend-image-tag }}
      server_image_tag: ${{ needs.package.outputs.server-image-tag }}