name: Continuous Integration

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  merge_group:
    types: [checks_requested]
  workflow_run:
    workflows: ["Package"]
    branches: [main]
    types:
      - completed

permissions:
  contents: read

env:
  BASE_URL: https://${{ github.event.pull_request.number || 'main' }}.development.scrumlr.fra.ics.inovex.io

concurrency:
  group: ${{ github.ref }}
  cancel-in-progress: true

jobs:
  test-frontend:
    name: Build and Test – Frontend
    runs-on: ubuntu-latest
    steps:
      - name: Start Energy Measurement
        uses: green-coding-solutions/eco-ci-energy-estimation@v5
        with:
          task: start-measurement
        continue-on-error: true

      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Measure Checkout
        uses: green-coding-solutions/eco-ci-energy-estimation@v5
        with:
          task: get-measurement
          label: 'repo checkout'
        continue-on-error: true

      - name: Get yarn cache directory path
        id: yarn-cache-dir-path
        run: echo "dir=$(yarn cache dir)" >> $GITHUB_OUTPUT

      - uses: actions/cache@v4
        id: yarn-cache
        with:
          path: ${{ steps.yarn-cache-dir-path.outputs.dir }}
          key: ${{ runner.os }}-yarn-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-yarn-

      - name: Build client
        run: |
          yarn install
          CI=false yarn build

      - name: Measure Build
        uses: green-coding-solutions/eco-ci-energy-estimation@v5
        with:
          task: get-measurement
          label: 'yarn install & build'
        continue-on-error: true

      - name: Lint code
        run: yarn lint --max-warnings 0

      - name: Measure Lint
        uses: green-coding-solutions/eco-ci-energy-estimation@v5
        with:
          task: get-measurement
          label: 'lint'
        continue-on-error: true

      - name: Test with coverage
        run: yarn test --coverage --watchAll=false --passWithNoTests

      - name: Measure Tests
        uses: green-coding-solutions/eco-ci-energy-estimation@v5
        with:
          task: get-measurement
          label: 'frontend tests'
        continue-on-error: true

      - name: Show Energy Results
        uses: green-coding-solutions/eco-ci-energy-estimation@v5
        with:
          task: display-results
        continue-on-error: true

  test-backend:
      name: Build and Test – Backend
      runs-on: ubuntu-latest
      steps:
      - name: Start Energy Measurement
        uses: green-coding-solutions/eco-ci-energy-estimation@v5
        with:
          task: start-measurement
        continue-on-error: true

      - name: Checkout
        uses: actions/checkout@v4

      - name: Measure Checkout
        uses: green-coding-solutions/eco-ci-energy-estimation@v5
        with:
          task: get-measurement
          label: 'repo checkout'
        continue-on-error: true

      - uses: actions/setup-go@v5
        with:
          go-version: "^1.25"
          cache: false

      - name: Cache Go Modules
        id: cache-go-modules
        uses: actions/cache@v4
        with:
          path: |
            ~/.cache/go-build
            /go/pkg/mod
          key: ${{ runner.os }}-go-${{ hashFiles('server/src/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-

      - name: Download Go Modules
        if: steps.cache-go-modules.outputs.cache-hit != 'true'
        working-directory: ./server/src
        run: go mod download

      - name: Verify Go Modules
        working-directory: ./server/src
        run: go list -m all

      - name: Measure Go Setup
        uses: green-coding-solutions/eco-ci-energy-estimation@v5
        with:
          task: get-measurement
          label: 'go setup'
        continue-on-error: true

      - name: Check Go formatting
        working-directory: ./server
        run: make format-check

      - name: Measure Format Check
        uses: green-coding-solutions/eco-ci-energy-estimation@v5
        with:
          task: get-measurement
          label: 'format check'
        continue-on-error: true

      - name: Go lint
        uses: golangci/golangci-lint-action@v8
        with:
          version: v2.5.0
          skip-cache: true
          working-directory: ./server/src/

      - name: Measure Lint
        uses: green-coding-solutions/eco-ci-energy-estimation@v5
        with:
          task: get-measurement
          label: 'go lint'
        continue-on-error: true

      - name: Build server
        working-directory: ./server
        run: |
          make test
          make build-alpine

      - name: Measure Build & Test
        uses: green-coding-solutions/eco-ci-energy-estimation@v5
        with:
          task: get-measurement
          label: 'backend test & build'
        continue-on-error: true

      - name: Show Energy Results
        uses: green-coding-solutions/eco-ci-energy-estimation@v5
        with:
          task: display-results
        continue-on-error: true

  sonarqube:
    name: SonarQube
    runs-on: ubuntu-latest
    if: ${{ github.actor != 'dependabot[bot]' }}
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0  # Shallow clones should be disabled for a better relevancy of analysis

      - uses: actions/setup-go@v6
        with:
          go-version: "^1.25"
          cache: false

      - name: Cache Go Modules
        id: cache-go-modules
        uses: actions/cache@v4
        with:
          path: |
            ~/.cache/go-build
            /go/pkg/mod
          key: ${{ runner.os }}-go-${{ hashFiles('server/src/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-

      - name: Download Go Modules
        if: steps.cache-go-modules.outputs.cache-hit != 'true'
        working-directory: ./server/src
        run: go mod download

      - name: Verify Go Modules
        working-directory: ./server/src
        run: go list -m all

      - name: Get coverage report
        id: coverage
        working-directory: ./server
        run: |
          make test
          sed -i 's|scrumlr.io/server/|server/src/|g' src/coverage.txt

      - name: SonarQube Scan
        uses: SonarSource/sonarqube-scan-action@v6
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}

      - name: SonarQube Quality Gate
        uses: SonarSource/sonarqube-quality-gate-action@v1
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}

  package:
    if: github.event.pull_request.head.repo.fork == false
    needs: [test-frontend, test-backend]
    permissions:
      contents: read
      packages: write
    uses: ./.github/workflows/package.yml

  deploy_to_dev_cluster:
    needs: package
    permissions:
      id-token: write
      contents: read
      actions: read
      pull-requests: write
    if: ${{ github.event_name == 'pull_request' && github.event.pull_request.user.login != 'dependabot[bot]' || github.ref_name == 'main' }}
    uses: ./.github/workflows/deploy_to_dev_cluster.yml
    secrets: inherit
    with:
      frontend_image_tag: ${{ needs.package.outputs.frontend-image-tag }}
      server_image_tag: ${{ needs.package.outputs.server-image-tag }}

  docs_changes:
    if : ${{ github.event_name == 'pull_request' && github.event.pull_request.user.login != 'dependabot[bot]' && github.event.pull_request.head.repo.fork == false || github.ref_name == 'main' }}
    runs-on: ubuntu-latest
    steps:
      - name: checkout repository
        uses: actions/checkout@v4
      - name: paths-filter
        id: docs_changes
        uses: dorny/paths-filter@v3
        with:
          filters: |
            docs:
              - 'docs/**'
      - name: set-output
        id: set-output
        run: echo "docs_changed=${{ steps.docs_changes.outputs.docs }}" >> $GITHUB_OUTPUT
    outputs:
      docs_changed: ${{ steps.set-output.outputs.docs_changed }}

  deploy_github_pages:
    permissions:
      contents: read
      pages: write
      id-token: write
    needs: docs_changes
    if: ${{ needs.docs_changes.outputs.docs_changed == 'true' }}
    uses: ./.github/workflows/deploy_docs.yml
    secrets: inherit

  deployment_health_check:
    needs: deploy_to_dev_cluster
    if: ${{ github.event_name == 'pull_request' && github.event.pull_request.user.login != 'dependabot[bot]' || github.ref_name == 'main' }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Reachability check
        uses: ./.github/actions/deployment_health_check
        with:
          HEALTH_URL: ${{ env.BASE_URL }}/api/health

  e2e_tests:
    if: ${{ github.event_name == 'pull_request' && github.event.pull_request.user.login != 'dependabot[bot]' }}
    needs: deployment_health_check
    runs-on: ubuntu-latest
    steps:
      - name: Start Energy Measurement
        uses: green-coding-solutions/eco-ci-energy-estimation@v5
        with:
          task: start-measurement
        continue-on-error: true

      - name: Checkout
        uses: actions/checkout@v4

      - name: Measure Checkout
        uses: green-coding-solutions/eco-ci-energy-estimation@v5
        with:
          task: get-measurement
          label: 'repo checkout'
        continue-on-error: true

      - uses: actions/setup-go@v5
        with:
          go-version: "^1.25"
          cache: true
          cache-dependency-path: server/e2e-tests/go.sum

      - name: Measure Go Setup
        uses: green-coding-solutions/eco-ci-energy-estimation@v5
        with:
          task: get-measurement
          label: 'go setup'
        continue-on-error: true

      - name: Run E2E tests
        working-directory: ./server/e2e-tests
        env:
            E2E_BASE_URL: ${{ env.BASE_URL }}/api
            E2E_INSECURE_SKIP_VERIFY: "true"
        run: go test ./...

      - name: Measure E2E Tests
        uses: green-coding-solutions/eco-ci-energy-estimation@v5
        with:
          task: get-measurement
          label: 'e2e tests'
        continue-on-error: true

      - name: Show Energy Results
        uses: green-coding-solutions/eco-ci-energy-estimation@v5
        with:
          task: display-results
        continue-on-error: true

  cypress_end_to_end_test:
    name: Cypress End to End Test
    if: ${{ github.event_name == 'pull_request' && github.event.pull_request.user.login != 'dependabot[bot]' }}
    needs: deployment_health_check
    runs-on: ubuntu-latest
    steps:
      - name: Start Energy Measurement
        uses: green-coding-solutions/eco-ci-energy-estimation@v5
        with:
          task: start-measurement
        continue-on-error: true

      - name: Checkout
        uses: actions/checkout@v4

      - name: Measure Checkout
        uses: green-coding-solutions/eco-ci-energy-estimation@v5
        with:
          task: get-measurement
          label: 'repo checkout'
        continue-on-error: true

      - name: Start server
        run: docker compose --profile build up -d
        working-directory: server

      - name: Measure Server Start
        uses: green-coding-solutions/eco-ci-energy-estimation@v5
        with:
          task: get-measurement
          label: 'docker compose up'
        continue-on-error: true

      - name: Setup client and run tests
        uses: cypress-io/github-action@v6
        with:
          browser: chrome
          start: |
            yarn install
            yarn run start
          working-directory: ./
          wait-on: 'http://localhost:3000'

      - name: Measure Cypress Tests
        uses: green-coding-solutions/eco-ci-energy-estimation@v5
        with:
          task: get-measurement
          label: 'cypress tests'
        continue-on-error: true

      - name: Show Energy Results
        uses: green-coding-solutions/eco-ci-energy-estimation@v5
        with:
          task: display-results
        continue-on-error: true
