name: Package

on:
  workflow_call:
    outputs:
      sha-tag:
        description: The SHA tag of the pushed image
        value: ${{ jobs.package.outputs.sha-tag }}

jobs:
  package:
    outputs:
      sha-tag: ${{ steps.meta-frontend.outputs.tags }}
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Log in to GitHub container registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: scrumlr.io - Frontend image meta information
        id: meta-frontend
        uses: docker/metadata-action@v4
        with:
          images: |
            ghcr.io/inovex/scrumlr.io/scrumlr-frontend
          tags: |
            type=semver,pattern={{version}}
            type=semver,pattern={{major}}.{{minor}}
            type=semver,pattern={{major}}
            type=raw,value=latest
            type=sha,prefix=sha-,format=short
          labels: |
            org.opencontainers.image.authors=info@scrumlr.io
            org.opencontainers.image.url=https://github.com/inovex/scrumlr.io/pkgs/container/scrumlr.io%2Fscrumlr-frontend
            org.opencontainers.image.source=https://github.com/inovex/scrumlr.io
            org.opencontainers.image.vendor=inovex
            org.opencontainers.image.licenses=MIT
            org.opencontainers.image.title=scrumlr.io Frontend
            org.opencontainers.image.description=The web client for scrumlr.io

      - name: scrumlr.io - Server image meta information
        id: meta-server
        uses: docker/metadata-action@v4
        with:
          images: |
            ghcr.io/inovex/scrumlr.io/scrumlr-server
          tags: |
            type=semver,pattern={{version}}
            type=semver,pattern={{major}}.{{minor}}
            type=semver,pattern={{major}}
            type=raw,value=latest
            type=sha,prefix=sha-,format=short
          labels: |
            org.opencontainers.image.authors=info@scrumlr.io
            org.opencontainers.image.url=https://github.com/inovex/scrumlr.io/pkgs/container/scrumlr.io%2Fscrumlr-server
            org.opencontainers.image.source=https://github.com/inovex/scrumlr.io
            org.opencontainers.image.vendor=inovex
            org.opencontainers.image.licenses=MIT
            org.opencontainers.image.title=scrumlr.io Server
            org.opencontainers.image.description=The server for scrumlr.io

      - name: Set up Docker buildx
        uses: docker/setup-buildx-action@v2

      - name: Push frontend image
        id: push-frontend
        uses: docker/build-push-action@v4

        with:
          push: true
          tags: ${{ steps.meta-frontend.outputs.tags }}
          labels: ${{ steps.meta-frontend.outputs.labels }}

      - name: Push server image
        uses: docker/build-push-action@v4
        with:
          context: ./server/src
          push: true
          tags: ${{ steps.meta-server.outputs.tags }}
          labels: ${{ steps.meta-server.outputs.labels }}