name: Package

on:
  workflow_call:
    outputs:
      frontend-image-tag:
        description: The tag of the frontend image
        value: ${{ jobs.package-frontend.outputs.frontend-image-tag }}
      server-image-tag:
        description: The tag of the server image
        value: ${{ jobs.package-server.outputs.server-image-tag }}

jobs:
  determine-platforms:
    runs-on: ubuntu-latest
    outputs:
      platforms: ${{ steps.platforms.outputs.platforms }}
    steps:
      - name: Set platforms
        id: platforms
        run: |
          if [ "${{ github.event_name }}" == "release" ]; then
            echo "platforms=linux/amd64,linux/arm64" >> $GITHUB_OUTPUT
          else
            echo "platforms=linux/amd64" >> $GITHUB_OUTPUT
          fi
  package-frontend:
    needs: determine-platforms
    outputs:
      frontend-image-tag: ${{ steps.outputs.outputs.frontend-image-tag }}
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to GitHub container registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: scrumlr.io - Frontend image meta information
        id: meta-frontend
        uses: docker/metadata-action@v5
        with:
          images: |
            ghcr.io/inovex/scrumlr.io/scrumlr-frontend
          tags: |
            type=semver,pattern={{version}}
            type=semver,pattern={{major}}.{{minor}}
            type=semver,pattern={{major}}
            type=raw,value=latest
            type=sha,prefix=sha-,format=short
          labels: |
            org.opencontainers.image.authors=info@scrumlr.io
            org.opencontainers.image.url=https://github.com/inovex/scrumlr.io/pkgs/container/scrumlr.io%2Fscrumlr-frontend
            org.opencontainers.image.source=https://github.com/inovex/scrumlr.io
            org.opencontainers.image.vendor=inovex
            org.opencontainers.image.licenses=MIT
            org.opencontainers.image.title=scrumlr.io Frontend
            org.opencontainers.image.description=The web client for scrumlr.io

      - name: Build and push frontend images
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./Dockerfile
          platforms: ${{ needs.determine-platforms.outputs.platforms }}
          push: true
          tags: ${{ steps.meta-frontend.outputs.tags }}
          labels: ${{ steps.meta-frontend.outputs.labels }}
          cache-from: type=registry,ref=ghcr.io/inovex/scrumlr.io/scrumlr-frontend:cache
          cache-to: type=registry,ref=ghcr.io/inovex/scrumlr.io/scrumlr-frontend:cache,mode=max

      - name: Set outputs
        id: outputs
        run: |
          echo $DOCKER_METADATA_OUTPUT_TAGS
          echo _____________________________________________________
          echo frontend-image-tag=$(echo "$(echo $DOCKER_METADATA_OUTPUT_TAGS | grep -oP 'sha-[a-f0-9]+')" ) >> $GITHUB_OUTPUT

  package-server:
    needs: determine-platforms
    outputs:
      server-image-tag: ${{ steps.outputs.outputs.server-image-tag }}
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to GitHub container registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: scrumlr.io - Server image meta information
        id: meta-server
        uses: docker/metadata-action@v5
        with:
          images: |
            ghcr.io/inovex/scrumlr.io/scrumlr-server
          tags: |
            type=semver,pattern={{version}}
            type=semver,pattern={{major}}.{{minor}}
            type=semver,pattern={{major}}
            type=raw,value=latest
            type=sha,prefix=sha-,format=short
          labels: |
            org.opencontainers.image.authors=info@scrumlr.io
            org.opencontainers.image.url=https://github.com/inovex/scrumlr.io/pkgs/container/scrumlr.io%2Fscrumlr-server
            org.opencontainers.image.source=https://github.com/inovex/scrumlr.io
            org.opencontainers.image.vendor=inovex
            org.opencontainers.image.licenses=MIT
            org.opencontainers.image.title=scrumlr.io Server
            org.opencontainers.image.description=The server for scrumlr.io

      - name: Build and push server images
        uses: docker/build-push-action@v5
        with:
          context: ./server/src
          file: ./server/src/Dockerfile
          platforms: ${{ needs.determine-platforms.outputs.platforms }}
          push: true
          tags: ${{ steps.meta-server.outputs.tags }}
          labels: ${{ steps.meta-server.outputs.labels }}
          cache-from: type=gha
          cache-to: type=gha,mode=max

      - name: Set outputs
        id: outputs
        run: |
          echo $DOCKER_METADATA_OUTPUT_TAGS
          echo _____________________________________________________
          echo server-image-tag=$(echo "$(echo $DOCKER_METADATA_OUTPUT_TAGS | grep -oP 'sha-[a-f0-9]+')" ) >> $GITHUB_OUTPUT
