name: Security Tools Scan

on:
  push:
    branches:
      - "feat/scan_tools"
  pull_request:
    branches:
      - main

jobs:
  security-scans:
    runs-on: ubuntu-22.04
    steps:
      - name: Code auschecken
        uses: actions/checkout@v3

      - name: Go installieren
        uses: actions/setup-go@v4
        with:
          go-version: '1.20'

      - name: Go Bin zum PATH hinzuf端gen
        run: echo "$HOME/go/bin" >> $GITHUB_PATH

      - name: Semgrep ausf端hren
        uses: returntocorp/semgrep-action@v1
        with:
          config: "p/r2c-ci"

      - name: GoSec installieren
        run: go install github.com/securego/gosec/v2/cmd/gosec@latest

      - name: GoSec ausf端hren
        run: $HOME/go/bin/gosec ./...

      - name: Go-Critic installieren
        run: go install github.com/go-critic/go-critic/cmd/gocritic@latest

      - name: Go-Critic ausf端hren
        run: $HOME/go/bin/gocritic check-project ./...