@import "constants/style.scss";

.board-users {
  display: flex;
  flex-direction: row;
  gap: $margin--default;
}

.board-users__button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 16px;

  &--others {
    flex-direction: row-reverse;
    padding-left: $padding--default;
  }

  &:focus-visible {
    box-shadow: 0 0 0 2px rgba($color-backlog-blue, 0.48);
  }

  &:hover {
    .board-users__avatar {
      filter: brightness(1.1);
      transform: scale(1.08);
    }

    .rest-users {
      color: $color-white;
      background-color: $color-backlog-blue;
    }
  }
}

.board-users__avatar {
  transition: all 0.08s ease-out;

  &--others {
    margin-left: -12px;
  }
}

.rest-users {
  position: relative;
  height: $icon--extralarge;
  width: $icon--extralarge;
  border-radius: $border-radius--round;
  border: 2px solid $color-black;
  background-color: $color-black;
  fill: $color-backlog-blue;
  color: $color-white;
  font-weight: bold;

  &__count {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

@media #{$mini-smartphone} {
  .board-users__button--others {
    display: none;
  }
}

[theme="dark"] {
  .rest-users {
    border-color: $color-planning-pink;
    color: $color-white;
  }

  .board-users__button {
    &:focus-visible {
      box-shadow: 0 0 0 2px rgba($color-planning-pink, 0.48);
    }

    &:hover .rest-users {
      background-color: $color-planning-pink;
    }
  }
}
