.users {
    position: absolute;
    right: 90px;
    top: 40px;
}

.user-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    align-self: center;
}

.user-list li {
    display: inline;
    margin-right: 5px;
}