@import "constants/style.scss";

.board-users {
  list-style-type: none;
  align-self: center;
  display: flex;
  flex-direction: row-reverse;
  width: max-content;
  padding: 0;
  margin: 0;
}

.board-users li {
  display: inline;
}

.board-users__other-avatars {
  box-sizing: border-box;
  background: none;
  border: none;
  display: flex;
  flex-direction: row-reverse;

  cursor: pointer;
  padding-left: $padding--default;
  border-radius: 16px;

  & .user-avatar,
  & .rest-users {
    transition: all 0.08s ease-out;
  }

  &:hover {
    & > .rest-users {
      color: $color-white;
      background-color: $color-backlog-blue;
      transform: scale(1.16);
    }
    & .user-avatar {
      filter: brightness(1.1);
      transform: scale(1.08);
    }
  }

  &:focus {
    outline: 2px solid $color-backlog-blue;
  }

  &:active {
    & > .rest-users,
    & > :not(.rest-users) {
      transform: scale(1);
    }
  }
}

.board-users__my-avatar {
  display: contents;
  margin-left: $margin--small;

  & > button {
    border: none;
    background: none;
    border-radius: 16px;
    cursor: pointer;

    &:focus {
      outline: 2px solid $color-backlog-blue;
    }
  }
}

.board-users__my-avatar .user-avatar {
  transition: all 0.08s ease-out;
  margin: 0;

  &:hover {
    filter: brightness(1.1);
    transform: scale(1.08);
  }

  &:active {
    transform: scale(1);
  }
}

@media screen and (max-width: 768px) {
  .board-users {
    margin-right: $margin--small;
  }
}

@media screen and (max-width: 500px) {
  .board-users {
    margin-right: 0;
  }

  .board-users__other-avatars {
    display: none;
  }

  .board-users__my-avatar {
    margin-right: 0;
  }
}

[theme="dark"] {
  .board-users__other-avatars:hover > .rest-users {
    background-color: $color-planning-pink;
  }

  .board-users__other-avatars:focus {
    outline: 2px solid $color-planning-pink;
  }

  .board-users__my-avatar > button:focus {
    outline: 2px solid $color-planning-pink;
  }
}
