@import "constants/style.scss";

.user-avatar,
.rest-users {
  box-sizing: border-box;
  height: 40px;
  width: 40px;
  box-shadow: 0 0 0 0.1em $color-black;
  border-color: var(--accent-color);
  border-radius: 100px;
  display: inline-block;
  background-color: white;
}

.rest-users,
.user-avatar:not(:last-child) {
  margin-left: -5px;
}

.user__initials,
.rest-users__count {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 95%;
  color: var(--accent-color);
  font-weight: bold;
}

.rest-users__count::before {
  content: "+";
}

@media (prefers-color-scheme: dark) {
  .user-avatar,
  .rest-users {
    box-shadow: 0 0 0 0.1em $color-white;
    background-color: $color-darkest-gray;
  }

  .user__initials,
  .rest-users__count {
    color: white;
    font-weight: bold;
  }
}
