.scrumlr-background {
  background-image: url("../../assets/backgrounds/bg--light.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

[data-theme="dark"] .scrumlr-background {
  background-image: url("../../assets/backgrounds/bg--dark.svg");
}
