@import '../../constants/style';

.add-card {
    flex: 1;
    display: flex;
}

.add-card__button {
    cursor: pointer;
    box-sizing: border-box;
    align-self: center;

    width: 32px;
    height: 32px;
    line-height: 28px;

    font-weight: bold;

    border: 2px solid currentColor;
    color: currentColor;
    border-radius: 50%;
    outline: none;
    background: none;

    transition: background 0.15s ease-in-out;

    margin: 0;
    padding: 0;
}

.add-card__button * {
    fill: currentColor !important;
    transition: fill 0.25s ease-in-out;
}

.add-card__button svg {
    height: 16px;
}

.add-card__button > span {
    display: block;
    width: auto;
    height: 24px;
    line-height: 32px;
}

.add-card__button:hover,
.add-card__button:focus,
.add-card__button:active {
    background: currentColor;
}

.add-card.add-card--theme-light > .add-card__button:hover *,
.add-card.add-card--theme-light > .add-card__button:focus *,
.add-card.add-card--theme-light > .add-card__button:active * {
    color: $color-white;
}

.add-card.add-card--theme-dark > .add-card__button:hover *,
.add-card.add-card--theme-dark > .add-card__button:focus *,
.add-card.add-card--theme-dark > .add-card__button:active * {
    color: $color-dark-gray;
}

.add-card.add-card--theme-mint > .add-card__button:hover *,
.add-card.add-card--theme-mint > .add-card__button:focus *,
.add-card.add-card--theme-mint > .add-card__button:active * {
    color: $color-mint;
}

.add-card.add-card--theme-light {
    color: $color-dark-gray;
    background: $color-white;
}

.add-card.add-card--theme-dark {
    color: $color-white;
    background: $color-dark-gray;
}

.add-card.add-card--theme-mint {
    color: $color-white;
    background: $color-mint;
}
