@use "constants/styles";

.portal {
  height: 100%;
  width: 100%;
}
.portal--darkBackground {
  top: 0;
  left: 0;
}

.cookie-policy__title {
  color: styles.$navy--900;
  background-color: styles.$gray--000;
  padding: styles.$spacing--xs styles.$spacing--base styles.$spacing--xs styles.$spacing--base;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.cookie-policy__body {
  color: styles.$navy--900;
  background-color: styles.$gray--000;
  padding: styles.$spacing--base;
  height: 375px;
  overflow: auto;
}

.cookie-policy__footer {
  background-color: styles.$gray--000;
  padding: styles.$spacing--base;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  display: flex;
}

.cookie-policy__button {
  border: none;
  padding: styles.$spacing--xs styles.$spacing--base;
  border-radius: 5px;
  font-size: styles.$text-size--medium;
  cursor: pointer;

  &-accept {
    @extend .cookie-policy__button;
    background: styles.$blue--500;
    color: styles.$gray--000;
    margin: 0 0 styles.$spacing--base styles.$spacing--base;
  }

  &-decline {
    @extend .cookie-policy__button;
    background: styles.$gray--300;
    color: styles.$navy--700;
    margin: 0 0 styles.$spacing--base auto;
  }
}

.cookie-policy__button:focus-visible,
.cookie-policy__button:hover {
  transform: scale(1.05);
}
