@use "constants/style";

.portal {
  height: 100%;
  width: 100%;
}
.portal--darkBackground {
  top: 0;
  left: 0;
}

.cookie-policy__title {
  color: style.$navy--900;
  background-color: style.$gray--000;
  padding: style.$spacing--xs style.$spacing--base style.$spacing--xs style.$spacing--base;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.cookie-policy__body {
  color: style.$navy--900;
  background-color: style.$gray--000;
  padding: style.$spacing--base;
  height: 375px;
  overflow: auto;
}

.cookie-policy__footer {
  background-color: style.$gray--000;
  padding: style.$spacing--base;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  display: flex;
}

.cookie-policy__button {
  border: none;
  padding: style.$spacing--xs style.$spacing--base;
  border-radius: 5px;
  font-size: style.$text-size--medium;
  cursor: pointer;

  &-accept {
    @extend .cookie-policy__button;
    background: style.$blue--500;
    color: style.$gray--000;
    margin: 0 0 style.$spacing--base style.$spacing--base;
  }

  &-decline {
    @extend .cookie-policy__button;
    background: style.$gray--300;
    color: style.$navy--700;
    margin: 0 0 style.$spacing--base auto;
  }
}

.cookie-policy__button:focus-visible,
.cookie-policy__button:hover {
  transform: scale(1.05);
}
