@import "constants/style.scss";

$cookie-consent-width: 100%;
$cookie-consent-top: 100%;
$cookie-consent-position: sticky;
$cookie-consent-decline-button: #dadada;
$cookie-consent-decline-text: #4d4d4d;
$cookie-consent-button-text-size: 18px;

.cookie-notice--show {
  background: $color-light-gray;
  color: $color-black;
  position: $cookie-consent-position;
  top: $cookie-consent-top;
  width: $cookie-consent-width;
  padding: $padding--small;
  display: block;
}

.cookie-notice--hidden {
  display: none;
}

.cookie-notice__buttons {
  display: flex;
}

.cookie-notice__button-accept {
  background: $color-backlog-blue;
  color: $color-white;
  margin: 0 0 $margin--default $margin--default;
  border: none;
  padding: 5px 15px;
  border-radius: 5px;
  font-family: inherit;
  font-size: $cookie-consent-button-text-size;
}
.cookie-notice__button-accept:hover {
  opacity: 0.5;
}

.cookie-notice__button-decline {
  background: $cookie-consent-decline-button;
  color: $cookie-consent-decline-text;
  margin: 0 0 $margin--default $margin--default;
  border: none;
  padding: 8px 15px;
  border-radius: 5px;
  font-family: inherit;
  font-size: $cookie-consent-button-text-size;
}
.cookie-notice__button-decline:hover {
  opacity: 0.5;
}

.cookie-notice__button-cookie-policy {
  background: $cookie-consent-decline-button;
  color: $cookie-consent-decline-text;
  margin: 0 auto $margin--default 0;
  border: none;
  padding: 8px 15px;
  border-radius: 5px;
  font-family: inherit;
  font-size: $cookie-consent-button-text-size;
}
.cookie-notice__button-cookie-policy:hover {
  opacity: 0.5;
}
