@use "constants/styles";

.cookie-notice {
  background: styles.$gray--000;
  color: styles.$navy--900;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  padding: styles.$spacing--base;
  box-shadow: 0 -4px 16px rgba(styles.$blue--500, 0.16);
}

.cookie-notice__buttons {
  display: flex;
  flex-wrap: wrap;
  gap: styles.$spacing--xs;
  margin-top: styles.$spacing--base;

  @media (max-width: 768px) {
    flex-direction: column-reverse;
  }
}

.cookie-notice__button {
  border: none;
  padding: styles.$spacing--xs styles.$spacing--base;
  border-radius: 5px;
  font-size: styles.$text-size--medium;
  cursor: pointer;

  &-accept {
    @extend .cookie-notice__button;
    background: styles.$blue--500;
    color: styles.$gray--000;
  }
  &-decline {
    @extend .cookie-notice__button;
    background: styles.$gray--300;
    color: styles.$navy--700;
  }
  &-cookie-policy {
    @extend .cookie-notice__button;
    background: styles.$gray--300;
    color: styles.$navy--700;
    flex: 1;

    @media (max-width: 768px) {
      flex: none;
    }
  }
}

.cookie-notice__button:focus-visible,
.cookie-notice__button:hover {
  transform: scale(1.05);
}

[data-theme="dark"] {
  .cookie-notice {
    box-shadow: 0 -4px 16px rgba(styles.$navy--900, 0.48);
  }
}
